<style>
    .btn-de {
        background: #fff !important;
        border: 1px solid #d4d4d4;
        width: auto;
        min-width: 50px;
        color: #000 !important
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    .glyphicon-plus {
        color: #000
    }

    .fa-save {
        color: #000
    }

    .disabled-element {
        pointer-events: none;
        opacity: 0.6;
    }

    td.bold.thang {
        font-size: 13px !important;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="portlet light bordered input-search mb5">
            <div class="portlet-body">
                <div class="row pt5 mb5">
                    <div class="col-lg-4" ng-class="{ 'has-error': errorPayScaleCode}">
                        <i class="fa fa-joomla"></i>

                        <label class="control-label">{{'SALARYS_WAGE' | translate}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" style="font-weight:bold;" ng-disabled="true" ng-model="modelp.PayScaleCode" name="PayScaleCode" placeholder="{{'SALARYS_WAGE' | translate}}..." />

                            <span class="input-group-btn">
                                <button type="button" ng-click="modelp.PayScaleCode=''" ng-disabled="true" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>

                        </div>
                        <span ng-show="errorPayScaleCode" class="label-color validation-message">
                            {{'SALARYS_CODE_WAGE_NOT_BLANK' | translate}}
                        </span>
                    </div>
                    <div class="col-lg-4" ng-class="{ 'has-error': errorCareerCode}">
                        <i class="fa fa-joomla"></i>

                        <label class="control-label">{{'SALARYS_JOB' | translate}}</label>
                        <div class="input-group">
                            <ui-select ng-model="modelp.CareerCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'SALARYS_TYPE_JOB' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstCareer | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelp.CareerCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>

                        </div>
                        <span ng-show="errorCareerCode" class="label-color validation-message">
                            {{'SALARYS_JOB_NOT_BLANK' | translate}}
                        </span>
                    </div>
                    <div class="col-lg-4" ng-class="{ 'has-error': errorTitle}">
                        <i class="fa fa-joomla"></i>

                        <label class="control-label">{{'SALARYS_TITLE' | translate}}</label>
                        <div class="input-group">
                            <ui-select ng-model="modelp.CareerTitle" theme="bootstrap">
                                <ui-select-match placeholder="{{'SALARYS_TEXT_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstTitle | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelp.CareerTitle=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>

                        </div>
                        <span ng-show="errorTitle" class="label-color validation-message">
                            {{'SALARYS_TITLE_NOT_BLANK' | translate}}
                        </span>
                    </div>
                    <div class="col-lg-4" ng-class="{ 'has-error': errorCertificate}">
                        <i class="fa fa-joomla"></i>

                        <label class="control-label">{{'SALARYS_LEVEL_IM' | translate}}</label>
                        <div class="input-group">
                            <ui-select ng-model="modelp.Certificate" theme="bootstrap">
                                <ui-select-match placeholder="{{'SALARYS_LEVEL_IM' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstCertificate | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelp.Certificate=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorCertificate" class="label-color validation-message">
                            {{'SALARYS_LEVEL_IM_NOT_BLANK' | translate}}
                        </span>
                    </div>
                    <div class="col-lg-4" ng-class="{ 'has-error': errorMajor}">
                        <i class="fa fa-joomla"></i>

                        <label class="control-label">{{'SALARYS_SPECIALIZE' | translate}}</label>
                        <div class="input-group">
                            <ui-select ng-model="modelp.Major" theme="bootstrap">
                                <ui-select-match placeholder="{{'SALARYS_SPECIALIZE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstMajor | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelp.Major=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>

                        </div>
                        <span ng-show="errorMajor" class="label-color validation-message">
                            {{'SALARYS_SPECIALIZE_NOT_BLANK' | translate}}
                        </span>
                    </div>


                    <div class="col-md-2 d-flex">
                        <div class="btn-group pt20 actions d-flex" style="float:left;">
                            <div class="text-center" style="margin-right:20px">
                                <a class="btn btn-icon-only  btn-outline btn-de" ng-click="EditPayScale()">
                                    <span><i class="fa fa-plus fs16"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                        <div class="btn-group pt20 actions d-flex" style="float:left;">
                            <div class="text-center" style="margin-right:20px">
                                <a class="btn btn-icon-only  btn-outline btn-de" ng-click="reload()">
                                    <span><i class="fa fa-search fs16"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData">
        </table>
    </div>
    <div class="col-md-4">
        <form name="addData" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="portlet light bordered input-search mb5">
                <div class="portlet-body disabled-element">
                    <div class="row pt5 mb5">
                        <div class="col-lg-4">
                            <div class="form-group pl15">
                                <i class="fa fa-safari"></i>
                                <label class="control-label">{{'SALARYS_LEVEL_WAGE' | translate}}</label>
                                <input type="number" min="0" class="form-control" style="font-weight:bold;" ng-model="modelScaleDetail.Ranges" name="Ranges" placeholder="{{'SALARYS_LEVEL_WAGE' | translate}}..." />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group pl15">
                                <i class="fa fa-dollar-sign"></i>
                                <label class="control-label">{{'SALARYS_COEFFICIENT' | translate}}</label>
                                <input type="number" min="0" class="form-control" style="font-weight:bold;" ng-model="modelScaleDetail.Coeff" name="Coeff" placeholder="{{'SALARYS_COEFFICIENT' | translate}}..." />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group pt23 actions d-flex pl10" style="float:left;">
                                <div class="text-center" style="margin-right:20px">
                                    <a class="btn btn-icon-only  btn-outline btn-de" ng-click="EditPayScaleDetail()">
                                        <span><i class="fa fa-save fs16"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions1"
               dt-columns="dtColumns1"
               dt-instance="dtInstance1"
               id="tblDataCertifi">
        </table>
    </div>
</div>
