@*@page*@
@*@model IdentityDemo.Models.AccountViewModels.ForgotPasswordConfirmationViewModel*@
@{
    ViewData["Title"] = "Thông báo xác nhận";
}

<h2>@ViewData["Title"]</h2>
<p>
    Vui lòng vào email để xác nhận đổi mật khẩu
</p>
