    <div class="view-routes">
        <div class="box-register">
            <div class="justify-content-center row">
                <div class="col" style="flex: 1 1 0%;">
                    <h2 class="text-center text-register">
                        <span>Đăng ký</span>
                    </h2>
                </div>
            </div>

            <form id="register-form" method="get" class="av-invalid pb-10">
                <div class="form-group">
                    <label for="UserName">
                        <span>Tên đăng nhập</span>
                    </label>
                    <input placeholder="Nhập tên đăng nhập" required="" ng-model="model.UserName" type="text" class="form-control" value="">

                </div>
                <div class="form-group">
                    <label for="FullName">
                        <span>Họ tên</span>
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            <input name="GivenName" placeholder="Nhập họ và tên" required="" maxlength="250" 
                            ng-model="model.GivenName" type="text" class="form-control" value="">
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">
                        <span>Số điện thoại</span>
                    </label>
                    <input name="PhoneNumber" placeholder="Nhập số điện thoại" required="true" 
                    minlength="10" maxlength="11" ng-model="model.PhoneNumber" type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label for="Gender">
                        <span>Giới tính</span>
                    </label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="radio" name="gender" ng-model="Gender" value="Nữ" id="female">
                            <label for="female">Nữ</label><br><br>
                        </div>
                        <div class="col-md-6">
                            <input type="radio" name="gender" ng-model="Gender" value="Nam" id="male">
                            <label for="male">Nam</label><br><br>
                        </div>
                    </div>
                    

                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input name="Email" placeholder="Nhập email của bạn" ng-model="model.Email" type="Email" autocomplete="off"
                     class="form-control" value="">
                </div>

                <div class="form-group">
                    <label for="Password">
                        <span>Mật khẩu <span>
                    </label>
                    <input placeholder="Nhập mật khẩu" required="true" ng-model="model.Password" type="password" class="form-control"
                     autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="ConfrimPassword">
                        <span>Xác Nhận Mật khẩu <span>
                    </label>
                    <input name="ConfrimPassword" required="true" placeholder="Nhập mật khẩu" required="" 
                    ng-model="model.ConfrimPassword" type="password" class="form-control rounded-input">
                </div>
                <label class="lbl-term">
                    <span>Bằng cách nhấp vào Đăng ký, bạn đồng ý với </span>
                    <a href="https://dichvucong.gov.vn/p/home/dvc-dieu-khoan-su-dung.html" target="_blank">
                        <span>Điều khoản, Chính sách chia sẻ thông tin </span>
                    </a><span>của chúng tôi.</span>
                </label>
                <button class="btn-register btn btn-secondary btn-block" ng-click="Register()">
                    <span>Đăng ký</span>
                </button>
                <div style="margin-top: 10px;">
                    <div>
                        <div class="col" style="flex: 1 1 0%; text-align: center;">
                            <label style="margin-right: 5px;">Đã có tài khoản? </label>
                            <label style="color: rgb(206, 122, 88);"><a style="color: rgb(206, 122, 88);" href="/UserProfile/Login">Đăng nhập</a></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>