


<style>
    #modal-title {
        font-size: 25px;
    }
</style>
<div class="modal-header no-color">
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-plus-circle black icon-insert "></i>
    <span class="modal-title black" id="modal-title"> {{'DNM_NEW_REGIST' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-body pt-0 pb-0">
        <div class="row mt-action-5">
            <form name="addforms" class="form-horizontal" method="post" ng-validate="validationOptions">
                <div class="col-md-12 pt-0 pl-0 pr-0" style=" text-align: center;">
                    <div class="table-toolbar table_body">
                        <div ng-repeat="x in listRegist">
                            <div >
                                <div class=" btn-group actions  pull-left pr15" ng-if="x.GroupCode==='REGIST_MEAL_COMPANY'">
                                    <div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_REGISTER'" ng-click="registMeal(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i style="--fa-primary-color: green;" class="fa-solid fa-square-pen fs30"></i>
                                            </a>
                                        </div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_SURVEY'" ng-click="registMeal(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i class="fas fa-poll-h fs30"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-underline btn-name mb5 pt3 ng-binding" style="white-space: nowrap;">{{x.Title}}</p>
                                </div>
                            </div>
                            <div >
                                <div class="btn-group actions  pull-left pr15" ng-if="x.GroupCode==='REGIST_TRAVEL_COMPANY'">
                                    <div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_REGISTER'" ng-click="registTravel(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i style="--fa-primary-color: green;" class="fa-solid fa-square-pen fs30"></i>
                                            </a>
                                        </div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_SURVEY'" ng-click="registTravel(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i class="fas fa-poll-h fs30"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-underline btn-name mb5 pt3 ng-binding" style="white-space: nowrap;">{{x.Title}}</p>
                                </div>
                            </div>
                            <div >
                                <div class="btn-group actions  pull-left pr15" ng-if="x.GroupCode==='REGIST_SPORT_COMPANY'">
                                    <div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_REGISTER'" ng-click="registSport(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i style="--fa-primary-color: green;" class="fa-solid fa-square-pen fs30"></i>
                                            </a>
                                        </div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_SURVEY'" ng-click="registSport(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i class="fas fa-poll-h fs30"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-underline btn-name mb5 pt3 ng-binding" style="white-space: nowrap;">{{x.Title}}</p>
                                </div>
                            </div>
                            <div >
                                <div class="btn-group actions  pull-left pr15" ng-if="x.GroupCode==='REGIST_STUDY_COMPANY'">
                                    <div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_REGISTER'" ng-click="registStudy(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i style="--fa-primary-color: green;" class="fa-solid fa-square-pen fs30"></i>
                                            </a>
                                        </div>
                                        <div class="text-center pl10 margin-right-10 next" ng-if="x.Type ==='DYNAMIC_TYPE_SURVEY'" ng-click="registStudy(x)">
                                            <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                <i class="fas fa-poll-h fs30"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-underline btn-name mb5 pt3 ng-binding" style="white-space: nowrap;">{{x.Title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
