<style>
    .font-in-tab {
        /* border-radius: 4px !important; */
        border: 1px solid #e7ecf1;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
    }
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header white-custom height-50">
    <i class="fa fa-plus-circle icon-insert " style="line-height: 30px"></i>
    <span class="modal-title pt15" id="modal-title "> {{'MPAS_CURD_TITLE_ADD_MPA' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt5">
                <!--<div class="form-group">
            <div class="col-md-4">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <label class="control-label ">{{'MPAS_CURD_LBL_MPA_FATHER_GROUP' | translate}}</label>
            </div>
            <div class="col-md-8">
                <ui-select tagging ng-model="model.ParentID" ng-change="reload()" theme="bootstrap">
                    <ui-select-match placeholder="{{'MPAS_CURD_COMBO_MPA_FATHER_GROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Id as x in treedataCoursetype | filter:$select.Id| filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>-->
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'MPAS_CURD_LBL_MPA_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control  br24" ng-model="model.Code" name="Code" placeholder="{{'MPAS_CURD_TXT_MPA_CODE' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'MPAS_CURD_LBL_MPA_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control br24" ng-model="model.Name" name="Name" placeholder="{{'MPAS_CURD_TXT_MPA_NAME' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label">{{'MPAS_LBL_PROPERTY_PARENT' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.Parent" ng-change="reload()" theme="bootstrap">
                                <ui-select-match placeholder="{{'MPAS_LBL_PROPERTY_PARENT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listParent | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label">{{'MPAS_LBL_UNIT' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.Unit" ng-change="reload()" theme="bootstrap">
                                <ui-select-match placeholder="{{'MPAS_LBL_UNIT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listUnit | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addUnit()" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <label class="control-label">{{'MPAS_LBL_DATA_TYPE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.DataType" ng-change="reload()" theme="bootstrap">
                                <ui-select-match placeholder="{{'MPAS_LBL_DATA_TYPE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listDataType | filter:$select.Id| filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addDataType()" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <label class="control-label">{{'MPAS_LBL_GROUP' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.Group" ng-change="reload()" theme="bootstrap">
                                <ui-select-match placeholder="{{'MPAS_LBL_GROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listGroup | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addGroup()" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label">{{'MPAS_CURD_LBL_MPA_DESCRIPTION' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control br12" ng-model="model.Note" rows="3" placeholder="{{'MPAS_CURD_TXT_MPA_DESCRIPTION' | translate}}" name="Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="pull-right actions d-flex">
                <div class="fs30 pr20 pb20" ng-click="cancel()" style="margin-right: 10px; margin-top: 18px;">
                    <a>
                        <span><i class="fas fa-times pull-right h28 w28" style="--fa-primary-color: red;"></i></span>
                    </a>
                    <p class="text-underline mb-0 fs9 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                </div>
                <div class="fs30" ng-click="submit()">
                    <a style="background-color: white !important;border-radius: 0 !important; border: 0px solid #4b9bd2 !important">
                        <span><i class="fa-solid fa-plus"></i></span>
                    </a>
                    <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                </div>
            </div>
        </form>
        <div class="row mt10">
            <!--<div class="col-lg-12">
                <uib-tabset active="active" class="mb20">
                    <uib-tab index="3" heading="{{'Thuộc tính con' | translate}}" disable="ParentCode == '' || ParentCode==undefined" ng-click="chkProductAttrMain()">
                        <div ng-include="'../views/admin/materialProductAsset/tabAttribute.html'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>-->
        </div>
    </div>
</div>

