<style>
    html body.fixed-navbar {
        padding-top: 0rem !important;
    }

    .form {
        display: none;
    }

    .container {
        width: 100%;
    }


    @media (min-width : 1200px) {
        .container {
            max-width: 100%;
        }
    }

    .highcharts-title {
        font-size: 13px !important;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }


    .sytem-log-info {
        color: #060606;
        font-weight: 600;
        font-size: 12px;
    }

    .text-create {
        color: #3498db;
    }

    .text-edit {
        color: #e67e22;
    }

    .text-delete {
        color: #e74c3c;
    }

    .font-green {
        color: #27ae60 !important;
    }

    .text-number {
        font-weight: 600;
        font-size: 10px;
        color: red;
        position: absolute;
        padding-left: 15px;
        padding-top: 3px;
    }

    .input-group-addon {
        border-radius: 0 4px 4px 0px !important;
    }

    .c3 {
        height: 300px;
    }

    .custom-icon-chart {
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 30px;
        padding-top: 8px;
        background: #f77c55;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .pb-35 {
        padding-bottom: 35px !important;
    }

    .padding-right-dashboard {
        padding-right: 0px !important;
    }

    .padding-left-dashboard {
        padding-left: 0px !important;
    }

    .padding-left-dashboard-15 {
        padding-left: 15px !important;
    }

    .padding-left-dashboard-10 {
        padding-right: 15px !important;
    }

    /* .box-info-dashboard {
            opacity: 0.2;
            font-size: 65px;
            position: absolute;
            z-index: -1;
            color: lime;
            margin-top: 25px
        }
    */


    #home-contact {
        margin-top: -15px;
        height: 40px;
        line-height: 40px;
        /*background: #4caf5008;*/
        margin-bottom: 15px;
        /*margin-bottom: 10px;*/
    }

        #home-contact .title {
            background: #1a7900;
            float: left;
            color: lime;
            font-weight: bold;
            font-size: 14px;
            padding: 0 15px;
            position: relative;
            padding-right: 5px;
        }

        #home-contact .marquee {
            margin-left: 250px;
            height: 40px;
        }

    :host {
        display: inline-block;
        overflow: hidden;
        text-align: initial;
        white-space: nowrap;
    }

    /*.page-content,
    .portlet.light.bordered,
    .main-menu-content,*/
    .content-wrapper {
        background-image: url(/images/workflowActivity/background.png);
    }

    /*.app-content.content.container-fluid {
        background-image: url(/images/workflowActivity/bg.png);
    }*/

    .dashboard-stat2 {
        opacity: 1 !important;
        height: 350px !important;
        margin: 0px 0px;
        width: 100%;
    }

    .portlet.light.bordered > .portlet-title {
        border-bottom: none;
    }

    .font-green {
        color: lime !important;
    }

    rect.highcharts-background {
        fill: none;
        box-shadow: 1px 1px 3px #22464c;
    }

    svg {
        position: absolute;
    }

    .row {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .title1 {
        color: #00ADEF;
        padding-left: 10px;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    .spani {
        display: flex;
        /*border-bottom: 0.3px solid #01adef;*/
        justify-content: space-between;
        font-size: 15px;
    }

    .spani1 {
        width: 50%;
        display: flex;
        padding: 6px 10px;
        justify-content: space-between;
    }

        .spani1 i {
            color: #138EEF;
            margin-right: 15px;
            padding-top: 10px;
            padding-left: 10px;
        }

        .spani1 h4 {
            color: lime;
            font-size: 16px;
        }

    .spani3 {
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

    .spani2 {
        width: 50%;
        display: flex;
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

        .spani2 i {
            color: #138EEF;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 15px;
        }

        .spani2 h4, .spani3 h4 {
            color: lime;
            font-size: 16px;
            padding-left: 10px
        }

    h4 {
        padding-bottom: 5px;
        /*font-family: Tahoma;*/
        font-size: 15px;
    }

    h3 {
        font-size: 75%;
    }

    h0 {
        /*border-bottom: 1px solid;*/
    }

    .dashboard-stat2 {
        box-shadow: 0px 0px 2px 0px #fff;
        /*border: solid 0.1px #01adef;*/
    }

    .download {
        cursor: pointer;
    }

    .report {
        color: #00ADEF;
        display: flex;
        cursor: pointer;
    }

        .report:hover {
            color: red;
        }

    .c3-legend-item text {
        fill: white;
        font-size: 14px;
    }


    text.draw2d_shape_basic_Label.txt1 {
        fill: #fff;
    }

    text.draw2d_shape_basic_Label.txt2 {
        fill: lime;
    }

    text.draw2d_shape_basic_Label.txt3 {
        fill: red;
    }

    text.draw2d_shape_basic_Label.txt5 {
        fill: grey;
    }

    text.draw2d_shape_basic_Label.txt6 {
        fill: #00adef;
    }

    .draw2d_ResizeHandle {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .color-text-cms {
        color: lime;
    }

    .app-content {
        width: 100%;
    }

    .border-box-dashboard {
        display: block;
        width: 95%;
        height: 600px;
        box-shadow: 0px 0px 1px 0px #fff;
        border: solid 0.01px #01adef;
        background: rgb(26, 26, 26);
    }

    .icon {
        width: 21px;
        height: 18px;
        margin-right: 5px;
    }

    .d-f {
        display: flex;
    }

    .f-nw {
        flex-direction: column;
    }

    .j-ar {
        justify-content: space-around;
    }

    .over-hi {
        overflow: hidden;
    }

    .a-center {
        align-items: center;
    }

    .mar-top {
        margin-top: 10px;
    }

    .box {
        box-shadow: 0px 0px 5px 0px #fff;
        background-image: url('../../../lib/iot/img/bg.png');
        height: 350px;
        margin-top: 0px !important;
    }

        .box:hover,
        .box-big:hover {
            box-shadow: 0px 0px 10px 0px #fff;
            transition: .3s;
        }

    .box-big {
        box-shadow: 0px 0px 5px 0px #fff;
        background-color: #000;
        height: 350px;
    }

    .box-top {
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
        height: 85%;
    }

    .bottom {
        overflow: hidden;
        background-image: url('../../../lib/iot/img/bg.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 15%;
        background-color: red;
    }

    .j-space {
        justify-content: space-between;
    }

    .box-name {
        color: #00FF00;
        font-size: 14px;
        /*font-family: 'Tahoma';*/
    }

    .box-number {
        color: #00FF00;
        font-size: 14px;
        /*font-family: 'Tahoma';*/
    }

    .box-time {
        color: #00FF00;
        font-size: 14px;
        /*font-family: 'Tahoma';*/
    }

    .box-name i {
        margin-right: 5px;
        color: #01adef;
        font-size: 17px;
    }

    .box-time i {
        margin-right: 5px;
        color: #01adef;
        font-size: 17px;
    }

    .canvasjs-chart-credit {
        display: none;
    }

    .iframe1 {
        width: 61%;
        padding: 0.3rem;
        position: absolute;
        height: 195px;
        top: 14%;
        background-color: black;
    }

    .svg2 {
        top: 24%;
        height: 170px;
    }

    .content-box {
        background-image: url('../../../lib/inout/img/bg.png');
        background-position: center;
        background-size: cover;
        border: solid 0.5px #01adef;
        box-shadow: 0 0 10px 0 #00b9d6;
        width: 300px;
        height: 85%;
        position: absolute;
        left: 64%;
        top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-box2 {
        background-image: url('../../../lib/inout/img/bg.png');
        background-position: center;
        background-size: cover;
        border: solid 0.5px #01adef;
        box-shadow: 0 0 10px 0 #00b9d6;
        width: 150px;
        height: 85%;
        position: absolute;
        left: 87%;
        top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-3 {
        width: 150px;
        height: 95%;
        top: 6%;
        left: 60%;
    }

    .box-4 {
        left: 74%;
        top: 15%;
        width: 150px;
        height: 89%;
    }

    .content2 {
        height: 230px;
    }

    .iframe2 {
        width: 52%;
        margin-top: 1rem;
        height: 190px;
        background-color: black;
    }

    .iframe4 {
        width: 566px;
        position: absolute;
        left: -12%;
        top: 15%;
        height: 190px;
        background-color: black;
    }

    text {
        font-size: 16px;
        /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    }

    .clock {
        position: absolute;
        right: 23%;
        top: 15px;
        font-size: 35px;
        text-align: center;
        /*font-family: digital;*/
        letter-spacing: 5px;
        color: #00FF00;
        font-weight: bold;
    }

    .content2 {
        margin-top: 10px;
    }

    h3.title {
        margin: 0 0 0 10px;
        color: #fff;
        font-size: 16px;
    }

    .content-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        padding: 0 2rem;
        justify-content: space-between;
    }

        .content-item h4, .content-item span {
            color: #00ADEF;
            font-weight: 400;
        }

        .content-item span {
            color: #00FF00;
            font-size: 18px;
        }

        .content-item i {
            font-size: 18px;
            color: #fff;
            padding-right: 10px;
        }

    @media (max-width : 414px) {
        .dashboard-stat2 {
        }

        .spani {
            padding: 6px 0 13px 0px !important;
        }

        .spani1 {
            width: 100% !important;
            padding: 6px 15px !important;
        }

        .spani2 {
            width: 100% !important;
            padding: 6px 15px !important;
        }
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 100% !important;
    }

    .fs16 {
        font-size: 16px !important;
    }

    h4 {
        font-size: 14px !important;
        font-weight: 500
    }

    .fas {
        font-size: 15px !important;
    }

    .fs14 {
        margin-top: -5px;
        font-size: 15px !important;
        font-weight: 700;
    }

    .row {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .col-lg-3.col-md-3.col-sm-12.col-xs-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    @font-face {
        font-family: 'robotomono-regular';
        src: url('../../../lib/mobile/font/robotomono-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: robotomono-regular !important;
    }
</style>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style="width: 100% !important">
        <div class="dashboard-stat2 " style="background:none ">
            <div class="title1">
                <div>
                    <h0 class="fs14">BÁN RA</h0>
                </div>

              
            </div>
            <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrolldelay="150">

                <div class="box1-content" id="muaban">
                    <div class="spani">
                        <div class="spani1" style="width:50%">
                            <div style="display:flex;justify-content:space-between !important;width:80%">
                                <div style="display:flex">
                                    <i class="fas fa-box-open"></i>
                                    <h4>Tổng số :</h4>
                                </div>
                                <h4>{{SumSale}}</h4>
                            </div>
                        </div>
                        

                    </div>

                    <div class="spani">
                        <div class="spani1">
                            <div style="display:flex;justify-content:space-between !important;width:80%">
                                <div style="display:flex">
                                    <i class="fas fa-spinner"></i>

                                    <h4>Đang triển khai :</h4>
                                </div>
                                <h4>{{SalePending}}</h4>
                            </div>
                        </div>
                        



                    </div>
                    <div class="spani">
                        <div class="spani1">
                            <div style="display:flex;justify-content:space-between !important;width:80%">
                                <div style="display:flex">
                                    <i class="fas fa-check"></i>
                                    <h4>Hoàn thành :</h4>
                                </div>
                                <h4>{{SaleSuccess}}</h4>
                            </div>
                        </div>
                        




                    </div>
                    <div class="spani">
                        <div class="spani1">
                            <div style="display:flex;justify-content:space-between !important;width:80%">
                                <div style="display:flex">
                                    <i class="fas fa-undo-alt"></i>
                                    <h4>Hủy bỏ :</h4>
                                </div>
                                <h4>{{SaleCancel}}</h4>

                            </div>
                        </div>
                    </div>

                </div>

            </marquee>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style="width: 100% !important">
        <div class="dashboard-stat2 " style="background:none ">
            <div class="title1">
                <div>
                    <h0 class="fs14">BÁN RA</h0>
                </div>

               
            </div>

            <!--<marquee onmouseover="stop()" onmouseout="start()" direction="up">-->
            <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrolldelay="150">

                <div class="box1-content" id="muaban">
                    <div class="spani">
                       
                        <div class="spani2" style="justify-content:space-between !important;width:50%">
                            <h4>Tổng tiền:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SaleMoney}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>
                       
                    </div>

                    <div class="spani">
                        
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>Tổng tiền:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SaleMonrydepending}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>
                   


                    </div>
                    <div class="spani">
                      
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>
                                Tổng tiền:
                            </h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SaleMoneySucess}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>
                



                    </div>
                    <div class="spani">
                       
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>Tổng tiền:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SaleMoneyCancel}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>
                        </div>
                  


                    </div>

                </div>

            </marquee>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style="width: 100% !important">
        <div class="dashboard-stat2 " style="background:none ">
            <div class="title1">
                <div>
                    <h0 class="fs14">BÁN RA</h0>
                </div>

               
            </div>

            <!--<marquee onmouseover="stop()" onmouseout="start()" direction="up">-->
            <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrolldelay="150">

                <div class="box1-content" id="muaban">
                    <div class="spani">
                        
                        <div class="spani2" style="justify-content:space-between !important;width:50%">
                            <h4>Đã thanh toán:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SummoneyIn}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>

                    </div>

                    <div class="spani">
                        
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>Đã thanh toán:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SummoneydependIn}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>



                    </div>
                    <div class="spani">
                       
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>Đã thanh toán:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SummoneysucessIn}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>

                        </div>




                    </div>
                    <div class="spani">
                       
                        <div class="spani2" style="justify-content:space-between !important;width:50%">

                            <h4>Đã thanh toán:</h4>
                            <div style="display:flex;justify-content:space-between;width:60%">
                                <h4>{{SummoneycancelIn}}</h4>
                                <h4 class="vnd">VNĐ</h4>
                            </div>
                        </div>



                    </div>

                </div>

            </marquee>

        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style="width: 100% !important">
        <div class="dashboard-stat2 " style="background-color:#2e323b75; ">
            <div class="title1">
                <div>
                    <h0 class="fs14">BÁN RA</h0>
                </div>
               
            </div>
            <div class="content-row">
                <div class="inline-chart chart-internalids" style="max-height:80%;">
                    <div id="sale" class="c3" style="max-height:280px !important;position:relative"></div>
                </div>
            </div>
        </div>
    </div>



</div>


