<style>
    .width_90 {
        width: 90px;
    }

    .tab-content {
        width: 100%;
        min-height: 270px;
        /*overflow-y: scroll;
        overflow-x: hidden;*/
    }

    .text-box-important {
        background-color: #27ae60 !important;
        color: #fcfdfd !important;
        font-weight: bold;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .border-qrcode .box-file {
        overflow: auto;
        height: 130px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

        .border-qrcode .box-file .header {
            justify-content: center;
            display: flex;
        }

            .border-qrcode .box-file .header label {
                margin-top: -25px;
                position: absolute;
                background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
                border: 1px solid #cccccc;
                border-radius: 4px;
                font-size: 11px;
                padding: 3px 10px !important;
            }


    #tblFileRequest {
        max-height: 60px;
    }

        #tblFileRequest tbody tr td {
            max-width: 115px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    @media(min-width:992px) and (max-width:1200px) {
        .modal-60 {
            width: 85% !important;
        }
    }

    @media(min-width:1200px) and (max-width:1300px) {
        .modal-60 {
            width: 70% !important;
        }
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    #payment:after {
        height: 0px;
    }

    .border-black {
        border: 1px solid #000;
    }

    .name {
        top: 12%;
        margin-left: 60%;
        font-size: 10px;
        position: absolute;
    }

    .dateapr {
        position: absolute;
        margin-left: 60%;
        top: 32%;
        font-size: 10px;
    }
</style>
<style>
    #info {
        border: 1px solid #ffdede;
        box-shadow: 0px 1px 0px 1px rgb(197, 214, 224) !important;
    }

    .font-in-tab {
        /* border-radius: 4px !important; */
        border: 1px solid #e7ecf1;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    tags-input .tags {
        height: 60px;
        max-height: 60px;
        border-radius: 24px;
    }

    .nav-tabs {
        margin-bottom: 0px !important;
    }


    @media (max-width:1200px) {
        .modal-60 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-60 {
            width: 60% !important;
        }
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .tab-content {
        border: 1px solid #d3d3d3;
        padding: 15px;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }
</style>
<link rel="stylesheet" href="../../../css/admin/workflowActivity/workflow-ticket.css" />
<!--<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title text-limit" id="modal-title">{{'ASSET_RC_EDIT' | translate}}  <span>{{model.RcTicketCode}}</span></span>
</div>-->
<div class="modal-body font-in-tab" id="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addForm" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt10 pl-0 pr-0">
                <div class="row ">
                    <div class="col-lg-12 mb10">
                        <div ng-include="'../views/admin/workflowPlugin/wf-plugin.html'"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label bold ">{{'ASSET_RC_LBL_VOUCHER_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" name="TicketCode" class="form-control text-box-asset" ng-model="model.TicketCode" placeholder="{{'ASSET_RC_LBL_VOUCHER_CODE' | translate}}" ng-readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-comment"></i>
                                <label class="control-label require bold">{{'ASSET_RC_LBL_TITLE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" class="form-control text-box-asset" ng-model="model.Title" name="Title" placeholder="{{'ASSET_RC_TXT_TITLE' | translate}}" />
                            </div>
                        </div>
                        <div class="form-group" ng-class=" {'has-error': errorBranchRecalled}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RC_COL_BRANCH_TH' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.BranchRecalled" theme="bootstrap" on-select="changeSelect('BranchRecalled')">
                                        <ui-select-match placeholder="{{'ASSET_RC_TXT_CHANCH_ENTER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in model.listBranch | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorBranchRecalled" class="label-color validation-message">
                                    {{'ASSET_VALIDATE_BRANCH'| translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorUserRecalled}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{ 'ASSET_RC_LBL_PERSON_TH' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.UserRecalled" theme="bootstrap" on-select="changeSelect('UserRecalled')">
                                        <ui-select-match placeholder="{{'ASSET_RC_LBL_PERSON_TH1' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in model.listEmp | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <span ng-show="errorUserRecalled" class="label-color validation-message">
                                    {{'ASSET_VALIDATE_PESON_TH' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RC_LBL_DATE_TH' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class='input-group date br24' id='recalledTime'>
                                    <input type='text' class="form-control input-date" name="sRecalledTime" ng-model="model.sRecalledTime" placeholder="{{'ASSET_RC_LBL_DATE_TH1' | translate}}..." />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <label class="control-label require"> &nbsp;{{'ASSET_RC_LBL_LOCAL' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" class="form-control" ng-model="model.LocationRecalled" name="LocationRecalled" placeholder="{{'ASSET_RC_LBL_LOACTION_ENTER' | translate}}..." />
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorStoreCode}">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'ASSET_RC_CRUD_WF_CAT' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.WorkflowCat" theme="bootstrap" ng-change="loadDiagramWF(model.WorkflowCat)">
                                        <ui-select-match placeholder="{{'ASSET_RC_CRUD_WF_CAT' | translate}}..."><b class="text-brown">{{$select.selected.Name}}</b></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in lstWorkflow | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'ASSET_RC_LBL_STATUS' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.StatusTemp" theme="bootstrap" ng-change="changeStatus()">
                                        <ui-select-match placeholder="{{'ASSET_RC_LBL_STATUS' | translate}}..."><p><span>{{$select.selected.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{$select.selected.Name}}</span> cho hoạt động <span class="fw600 text-green">{{$select.selected.ObjectRelative}}</span><span class="fw600 text-green">[{{$select.selected.CreatedTime}}]</span></p></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listStatusLog | filter: $select.search" ui-disable-choice="true">
                                            <span>{{x.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{x.Name}}</span> cho hoạt động <span class="fw600 text-green">{{x.ObjectRelative}} [{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}]</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label require"> &nbsp;{{'ASSET_RC_LBL_PERSON_SUCCESS1' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" class="form-control" ng-model="model.UserConfirm" name="UserConfirm" placeholder="{{'ASSET_RC_LBL_PERSON_SUCCESS1' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-comment"></i>
                                <label class="control-label">&nbsp;{{'ASSET_RC_LBL_NOTE2' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <textarea name="Description" rows="5" class="form-control" ng-model="model.Description" type="text" placeholder=" {{'ASSET_RC_LBL_NOTE2' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="d-flex pull-right mr15">
                <div class="text-center pr20">
                    <a data-dismiss="modal" ng-click="refresh()" class="fs30">
                        <span><i class="fas fa-times" style="--fa-primary-color: red;"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_DELETE' | translate}}</p>
                </div>
                <div class="text-center pr20">
                    <a ng-click="print()" class="fs30" style="background: #fff;">
                        <span><i class="fas fa-print black"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3"> {{'ASSET_RC_LBL_PRINT' | translate}}</p>
                </div>
                <div class="text-center mr10 pr-0">
                    <a class=" fs30 p-0" ng-click="submit()">

                        <span><i class="fa-solid fa-plus"></i></span>

                    </a>

                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>
            </div>
            <div class="col-lg-12 ">

                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div href="#1" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASSET_RC_LBL_DETAIL' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#2" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASSET_RC_LBL_FILE' | translate}}</div>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="1">
                            <div disable="tests" ng-include="'../views/admin/assetRecalled/assetDetail.html'"></div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="2">
                            <div ng-include="'../views/admin/filePlugin/file-plugin.html'"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
