<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-80 {
            width: 80%;
        }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .modal-80 {
            width: 70%;
        }
    }

    @media (min-width:1400px) {
        .modal-80 {
            width: 60%;
        }
    }


    /*CSS form Tab*/
    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
            border-top-right-radius: 5px;
        }

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                border-bottom: none;
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: green;
        background: white;
        border-top: 2px solid #e7505a;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }

    .top-corner {
        right: 0px;
        position: absolute;
    }

    .cke_bottom {
        background-color: white !important;
    }

    .close-modal-mini {
        z-index: 9990;
        position: absolute;
        padding: 0px;
        border-radius: 25px;
    }

    .close-modal-mini {
        position: absolute;
        top: -12.5px;
        right: -12.5px;
        display: block;
        width: 25px;
        height: 25px;
        border-color: #ff5ca1;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/XKHq6urW1tb////w8PDV1dXp6elDeZ9WAAAAEHRSTlMACkZ5FnA+QUAZSXMHFT8XTiEbVAAAAAFiS0dEEwy7XJYAAAAHdElNRQflDAEGMgLw4uMaAAAAAW9yTlQBz6J3mgAAATNJREFUSMe1l9tygzAMRM21kAtdMO3/f2ohTDpQJFn1Jvtmxmdk2UZehSCqKCv8qiqL4Fbd4KSmdqEtFLVJ9AOGOhPtkVCvs5cUC1w09ppmgauI3jzoqtuZvXtZ4J4dV4r9HxbI2Ctl1xxndNTuxJJ346w+M+Fj2l0O3BGBn6GHPHggAm+h61x4rS1CzcE4HcfTKExq5FWPMc778RyjRC91Uvg6xQO9sHESphWhlNKZ9/Qc/yzkqTJUSNAqiyoANq2zS9KwaYvV4Q0zWQN+0CZrwRttsG+DmWUzG8Ycle+SUNeT+jGcv+SXMK3wFoNvKWWyDFEFMOTCtvGy1fLPjW3cNHWveGK5x52yFZyh4awUZ+Io+8gZV84y+05MNetcm5AydHaDYtqyIYmu+sxvyh7ytYM/qPe1AtpYDhcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMTItMDFUMDY6NTA6MDIrMDA6MDDiIsyiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTEyLTAxVDA2OjUwOjAyKzAwOjAwk390HgAAAABJRU5ErkJggg==);
    }

    .border-media {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #ccc;
    }
    /*CSS form Tab*/
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header white-custom height-50">
    <i class="fa fa-plus-circle icon-insert " style="line-height: 30px"></i>
    <span class="modal-title pt15" id="modal-title"> {{title}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form" ng-show="!isExpand">
        <form name="addformQuiz" class="form-horizontal" method="post" ng-validate="validationOptionsQuiz">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-mdf-25 pr-0" ng-class="{ 'h-100': (errorCode || errorType || errorDuration), 'h-70': !(errorCode || errorType || errorDuration), 'has-error': errorCode}">
                        <label class="col-md-12 pl-0 fw400 require text-underline">{{'LMS_QUIZ_CODE' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24">
                            <input class="form-control text-important" ng-change="changeData('Code')" name="Code" ng-model="model.Code" type="text"
                                   placeholder="{{'Mã câu hỏi' | translate}}..." />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Code='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorCode" class="label-color validation-message">
                            {{'LMS_VALIDATE_QUIZ_CODE' | translate}}
                        </span>
                    </div>
                    <div class="col-mdf-15 h-70 pr-0" ng-class="{ 'h-100': (errorCode || errorType || errorDuration), 'h-70': !(errorCode || errorType || errorDuration)}">
                        <label class="col-md-12 pl-0 fw400 text-underline">{{'LMS_DIFFICULT_LEVEL' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorLevel}">
                            <ui-select tagging ng-model="model.Level" theme="bootstrap"
                                       ng-change="changeType(); errorType = false">
                                <ui-select-match placeholder="{{'LMS_DIFFICULT_LEVEL' | translate}}...">
                                    {{
                                    $select.selected.Name |
                                    translate
                                    }}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listLevel | filter: $select.search">
                                    <span class="bold fs11">{{x.Name | translate}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Level='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-mdf-15 h-70 pr-0" ng-class="{ 'h-100': (errorCode || errorType || errorDuration), 'h-70': !(errorCode || errorType || errorDuration), 'has-error': errorDuration}">
                        <label class="col-md-12 pl-0 fw400 require text-underline">
                            {{
'LMS_DURATION' |
                            translate
                            }}
                        </label>
                        <div class="col-md-12 input-group search-group br24">
                            <input class="form-control text-important" ng-change="changeData('Duration')" name="Duration" ng-model="model.Duration"
                                   type="text" placeholder="{{'LMS_DURATION' | translate}}..." />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Duration='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorDuration" class="label-color validation-message">
                            {{'LMS_VALIDATE_DURATION' | translate}}
                        </span>
                    </div>
                    <div class="col-mdf-15 h-70 pr-0" ng-class="{ 'h-100': (errorCode || errorType || errorDuration), 'h-70': !(errorCode || errorType || errorDuration)}">
                        <label class="col-md-12 pl-0 fw400 text-underline">{{'LMS_UNIT' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24">
                            <ui-select tagging ng-model="model.Unit" theme="bootstrap">
                                <ui-select-match placeholder="{{'LMS_UNIT' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listUnit | filter: $select.search">
                                    <span class="bold fs11">{{x.Name}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Unit='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-mdf-20 pr-0" ng-class="{ 'h-100': (errorCode || errorType || errorDuration), 'h-70': !(errorCode || errorType || errorDuration), 'has-error': errorType}">
                        <label class="col-md-12 pl-0 fw400 text-underline require">{{'LMS_TYPE' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorType}">
                            <ui-select tagging ng-model="model.Type" theme="bootstrap"
                                       ng-change="changeData('Type')">
                                <ui-select-match placeholder="{{'LMS_TYPE' | translate}}...">
                                    {{
                                    $select.selected.Name |
                                    translate
                                    }}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listTypeQuiz | filter: $select.search">
                                    <span class="bold fs11">{{x.Name | translate}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Type='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorType" class="label-color validation-message">
                            {{'LMS_TYPE_NOT_EMPTY' | translate}}
                        </span>
                    </div>
                    <div class="col-mdf-10">
                        <div class="pull-right mt30">
                            <div class="btn-group actions d-flex">
                                <div class="text-center" ng-if="model.Type == 'QUIZ_GAME' && model.Code != ''">
                                    <a ng-click="createQuizGame()">
                                        <i class="fas fa-game-board fs30" style="--fa-primary-color: green; --fa-secondary-color: orange; --fa-secondary-opacity: 1"></i>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3 ng-binding">{{'LMS_CREATED_QUIZ' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mdf-45 pr-0">
                        <label class="col-md-12 pl-0 fw400 text-underline require">{{'LMS_PRACTICE_TEST_LBL_SUBJECTS' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorSubject}">
                            <ui-select tagging ng-model="model.SubjectCode" theme="bootstrap"
                                       ng-disabled="SubjectCode != '' && SubjectCode != null && SubjectCode != undefined"
                                       on-select="changeData('SubjectCode', $item)">
                                <ui-select-match placeholder="{{'LMS_PRACTICE_TEST_LBL_SUBJECTS' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listSubject | filter: $select.search">
                                    <span class="bold fs11">{{x.Name}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.SubjectCode=''"
                                        class="btn btn-default no-shadow start-date"
                                        ng-disabled="SubjectCode != '' && SubjectCode != null && SubjectCode != undefined">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorSubject" class="label-color validation-message">
                            {{'LMS_SUBJECT_NOT_EMPTY' | translate}}
                        </span>
                    </div>
                    <div class="col-mdf-45 pr-0">
                        <label class="col-md-12 pl-0 fw400 text-underline">{{'LMS_LECTURE' | translate}}</label>
                        <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorLecture}">
                            <ui-select tagging ng-model="model.LectureCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'LMS_LECTURE' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listLecture | filter: $select.search">
                                    <span class="bold fs11">{{x.Name}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.LectureCode='';"
                                        class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-mdf-10">
                        <div class="pull-right mt10">
                            <div class="btn-group actions d-flex">
                                <div class="text-center" ng-if="isEdit != true">
                                    <a ng-click="submit()"
                                       class="fs30">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3 ng-binding">{{'COM_BTN_ADD' | translate}}</p>
                                </div>
                                <div class="text-center" ng-if="isEdit == true">
                                    <a ng-click="submit()"
                                       class="fs30">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3 ng-binding">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                                <div class="text-center pl-2" ng-if="!(idQuiz == null || idQuiz == '' || idQuiz == -1) && isEdit != true">
                                    <a ng-click="save()"
                                       class="fs30">
                                        <span><i class="fas fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3 ng-binding">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 tab mb10" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <div href="#Section1" aria-controls="location" role="button" data-toggle="tab">
                        <!--{{'CMS_CAT_LBL_DESCRIPTION' | translate}}-->Nội dung câu hỏi
                    </div>
                </li>
                <li role="presentation">
                    <div href="#Section2" aria-controls="route" role="button" data-toggle="tab">
                        <!--{{'CMS_CAT_LBL_IMAGE' | translate}}-->Phương án trả lời
                    </div>
                </li>
                <li role="presentation">
                    <div href="#Section3" aria-controls="route" role="button" data-toggle="tab">
                        <!--{{'CMS_CAT_LBL_IMAGE' | translate}}-->Tài liệu tham khảo
                    </div>
                </li>
                <!--<li role="presentation">
                    <div href="#Section4" aria-controls="route" role="button" data-toggle="tab">-->
                <!--{{'CMS_CAT_LBL_IMAGE' | translate}}-->
                <!--Khóa học
                    </div>
                </li>-->
                <!--<div class="text-center pull-right" style=" margin-right:7px" ng-click="expand()">
                <a class="no-color" class1="btn btn-icon-only btn-circle btn-outline green-custom" style1="width:40px !important; height:40px !important" ng-if="!isExpand">
                    <i class="fa fa-chevron-up fs25 color-dark" style1="width:30px !important; height:30px !important; margin-top:5px"></i>-->
                <!--<span><i class="fa fa-save fs14" style="width:30px !important; height:30px !important; margin-top:5px"></i></span>-->
                <!--</a>
                <a class="no-color" class1="btn btn-icon-only btn-circle btn-outline green-custom" style1="width:40px !important; height:40px !important" ng-if="isExpand">
                    <i class="fa fa-chevron-down fs25 color-dark" style1="width:30px !important; height:30px !important; margin-top:5px"></i>-->
                <!--<span><i class="fa fa-save fs14" style="width:30px !important; height:30px !important; margin-top:5px"></i></span>-->
                <!--</a>-->
                <!--<p class="text-underline fs12 mb5 pt3">Lưu</p>-->
                <!--</div>-->
            </ul>

            <div class="tab-content pt10">
                <div role="tabpanel" class="tab-pane h-400 fade in active" id="Section1">
                    <textarea ng-model="model.Content" id="ckEditorItem" watch-canvas-json=""></textarea>
                    <div class="col-md-12 d-flex justify-content-ct">
                        <div class="width-30-per d-flex justify-content-sa pr-0 mt10">
                              <!--<label class="col-md-12 pl-0 fw400 text-underline require">{{'Media đi kèm' | translate}}</label>-->
                            <div class="wpercent25" ng-repeat="x in listMediaType">
                                <div class="border-media bg-white" style="position: relative"
                                     ng-class="{'disabled-element' : x.Check == false && mediaChecked == true }">
                                    <button type="button" class="close-modal-mini" data-dismiss="modal" aria-hidden="true" ng-click="deleteMedia(x)" ng-if="x.Check">
                                    </button>
                                    <!--<button ng-click="deleteMedia(x)" class="top-corner" ng-if="x.Check">
                                        <span><i class="fa fa-times black fs8"></i></span>
                                    </button>-->
                                    <div class="text-center h-100 d-flex"
                                         style="flex-direction: column; justify-content: center; align-content: center;">
                                        <a class="fs50" ng-click="addMedia($index)"
                                           onclick="$(this).parent().find('input[type=file]').click();" ng-if="!x.Check">
                                            <span><i class="fas fa-{{x.Icon}}"></i></span>
                                        </a>
                                        <a class="fs50" ng-click="viewFile(x.Url, x.Code)" ng-if="x.Check">
                                            <span><i class="fas fa-{{x.Icon}}"></i></span>
                                        </a>
                                        <input class="form-control" custom-on-change-lms="loadFileQuiz"
                                               style="display: none;" type="file" />
                                        <p class="text-underline mb5 pt3 ng-binding" ng-if="!x.Check">{{x.Name}}</p>
                                        <p class="text-underline fs8 mb5 pt3 ng-binding" ng-if="x.Check">{{x.Url.length > 20 ? x.Url.slice(-20) : x.Url}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    <div class="table-responsive">
                        <div ng-include="'../views/admin/lmsDashBoard/manage-answer.html'"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    <div class="table-responsive">
                        <div ng-include="'../views/admin/lmsDashBoard/manage-ref.html'"></div>
                    </div>
                </div>

                <!--<div role="tabpanel" class="tab-pane fade" id="Section4">
                    <div ng-class="{'cursor-not-allowed': idQuiz == null || idQuiz == ''}">
                        <div class="table-responsive"  ng-class="{'disabled-element': idQuiz == null || idQuiz == ''}">
                            <div class="col-lg-6 p-0">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label require bold">
                                            <i class="fa fa-barcode"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_SUBJECTS' | translate}}
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group br24" ng-class="{ 'has-error': errorQuestion}">
                                            <ui-select class="" tagging ng-model="modelCourse.Code" theme="bootstrap"
                                                       ng-change="changeSelect('QuestionCode')" ng-disabled="id< 0">
                                                <ui-select-match placeholder="{{'LMS_COURSE_LBL_SELECT_SUBJECT' | translate}}...">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="x.Code as x  in listCourse | filter: $select.search">
                                                    <span class="bold fs11">{{x.Name}}</span>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="addCourse()"
                                                        class="btn btn-default no-shadow">
                                                    <span class="fa fa-arrow-down"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorQuestion" class="label-color validation-message">
                                            {{'LMS_PRACTICE_TEST_LBL_QUESTION_NOT_EXIST' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb15 mt15">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center col-md-1" style="width: 5%;">
                                                        {{
'LMS_PRACTICE_TEST_LBL_ORDER' |
                                                translate
                                                        }}
                                                    </th>
                                                    <th class="text-center col-md-2 nowrap">
                                                        {{'LMS_COURSE_LBL_NAME_COURSE' | translate}}
                                                    </th>-->
                                                    <!--LMS_COURSE_SUBJECT_NAME-->
                                                    <!--<th class="text-center col-md-6 nowrap">
                                                        {{'LMS_PRACTICE_TEST_LBL_DESCRIPTION' | translate}}
                                                    </th>-->
                                                    <!--LMS_COURSE_SUBJECT_DESCRIPTION-->
                                                    <!--<th class="text-center col-md-1 nowrap">
                                                        {{
'LMS_PRACTICE_TEST_LBL_OPERATION' |
                                                translate
                                                        }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in listLectureCourse">
                                                    <td class="text-center pt15 bold">{{$index+1}}</td>
                                                    <td class="text-left pl20 text-green">{{x.CourseName}}</td>
                                                    <td class="text-left pl20 text-green">{{x.CourseNote}}</td>
                                                    <td class="text-center nowrap">
                                                        <a title="Xóa" ng-click="deleteCourse(x)"
                                                           style="width: 25px; height: 25px; padding: 0px"
                                                           class="fs25"><i class="fas fa-trash" style="--fa-primary-color: red;"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>