<style>
    .title2 {
        color: #00ADEF;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        margin-left: 0px;
    }

    .gach {
        border-bottom: 1px solid #000;
    }

    .text-header-box {
        color: black;
        text-transform: uppercase;
        font-weight: 600;
    }

    .app-content {
        width: 100%;
    }

    .breadcrumb>li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>
<!--<ol class="breadcrumb"><li class="breadcrumb-item"><a href="/DashBoard"><i class="fa fa-home"></i> Trang chủ</a></li><li class="breadcrumb-item"><a href="/Admin/LmsDashBoard">LMS</a></li><li class="breadcrumb-item">Bảng số liệu</li></ol>-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pl-0 pr-0" style="width: 50% !important">
        <div class="dashboard-stat2 boxdeu notice2">
            <div class="title2">
                <div>
                    <h0 class="fs14 text-header-box gach">
                        <!--{{'DB_LBL_CHART_CARD_WORK' | translate}}--> {{'LMS_EXERCISE_CHART' | translate}}
                    </h0>
                </div>
            </div>
            <div class="content-row">
                <div class="inline-chart chart-internalids" style="max-height:80%;">
                    <div id="chart_do_exercise" class="c3" style="max-height:280px !important;position:relative"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-0 pl-0" style="width: 47.8% !important;margin-left:0.5%">
        <div class="dashboard-stat2 boxdeu notice2">
            <div class="title2">
                <div>
                    <h0 class="fs14 text-header-box gach">
                        <!--{{'DB_LBL_CHART_CUSTOMER' | translate}}--> {{'LMS_LECTURE_VIEW_CHART' | translate}}
                    </h0>
                </div>
            </div>
            <div class="content-row">
                <div class="inline-chart chart-internalids" style="max-height:80%;">
                    <div id="chart_learn_subject" class="c3" style="max-height:280px !important;position:relative">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>