<style>
    .video {
        width: 100%
    }

    .audio {
        width: 100%;
        margin-top: 20px;
    }
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header" style="background-color: white !important;">
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-play-circle black icon-insert"></i>
    <span class="modal-title black" id="modal-title">{{'LMS_VIEW_IMAGE' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <img ng-src="{{imageForView}}">
    </div>
</div>