@using ESEIM.Utils;
@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Quản lý sơ yếu lý lịch";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
<style>
/* #contentMain{
    display: flex;
} */
</style>
<div class="row" id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">

    @{
        var userSession = HttpContextAccessor.HttpContext.Session.Get<SessionUserLogin>
        ("UserSession");
        if (userSession != null)
        {
            <div ng-hide="true" ng-init="UserName='@userSession.UserName'"></div>
        }
    }
    <div class="col-12" ng-view></div>
</div>
<script src="~/views/front-end/User/controller.js" type="text/javascript"></script>
