<style>
    .modal-body {
        padding-top: 5px !important;
        padding-bottom: 5px;
    }

    .modal-footer {
        min-height: 500px;
    }

    .input-group-btn {
        vertical-align: top;
    }

    .portlet.light.bordered {
        margin-right: 15px;
        border: 1px solid #e7ecf1 !important;
        background: #f8f9f9 !important
    }

    .table > thead > tr > th {
        vertical-align: middle;
        height: 20px !important;
        border-bottom: 2px solid #e7ecf1;
    }

    .btn {
        cursor: pointer
    }

    .txt {
        text-align: initial;
    }

    .txt-special {
        height: 40px !important;
    }

    .table-scrollable {
        min-height: unset !important
    }

    .table-custom {
        min-height: unset !important;
        border: none
    }

    .portlet.light.bordered {
        border: none !important
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        height: 40px
    }

    button.btn.btn-default.no-shadow {
        height: 40px
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        font-weight: 700;
        padding-top: 10px;
    }

    .cl {
        color: #000
    }

    .name {
        top: 12%;
        margin-left: 55px;
        font-size: 10px;
        position: absolute;
    }

    .input-custom {
        display: none;
    }

    .no-line-break {
        white-space: nowrap;
    }

    .save {
        color: red;
        font-family: Arial;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .dataTables_scrollBody {
        position: relative;
        overflow: auto;
        width: 100%;
        max-height: 350px;
    }

    #tblData {
        border: solid 0.01px;
        border-color: #d4cdcd;
        max-height: 500px;
    }

    /*.col {
        border-right: solid 0.01px;
        border-color: #d4cdcd;
    }*/

    .col-5 {
        width: 5%;
    }

    .col-10 {
        width: 10%;
    }

    .col-15 {
        width: 15%;
    }

    .col-20 {
        width: 15%;
    }

    .table .btn {
        margin-right: 0px !important;
    }

    .custom-title {
        margin-left: 20px;
    }

    .input-group > .form-control {
        height: 34px !important;
    }

    #Decisiondate {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 0px !important;
        height: 40px !important;
    }

    .input-custom-decision {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 16px;
        margin: 0 0 8px 0;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: box-shadow .3s, border .3s;
    }

    .detail input {
        height: 40px;
    }

    .input-file input {
        border-radius: 0px !important;
    }
</style>
<div class="modal-header" style="background-color:white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <div class="modal-title custom-title " id="modal-title" style="color: black"> {{"ECD_BTN_IMPORT_LIST_END" | translate}}</div>
    <i class="fa fa-file-excel vtc" style="color: black"></i>
</div>
<div class="modal-body" style="padding-top: 5px !important" id="modal-body">
    <div class="portlet-body form">
        <form name="addData" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row mt-action-5">
                    <div class="col-lg-4 pl-0 mt10 no-line-break">
                        <label>{{'ECD_BTN_TEMPLATE_FILE' | translate}} : <a href="/files/Template/TCLD/import/import-cham-dut-hop-dong.xlsx" download="">import-cham-dut-hop-dong.xlsx</a></label>
                    </div>
                    <div class="col-lg-4 pl-0 no-line-break">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label require fs11"><i class="fa fa-file fs16"></i>&nbsp;&nbsp;{{"ECD_BTN_SELECT_FILE"|translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group input-file br24">
                                    <i class="fa fa-upload"></i>
                                    <input class="form-control border-top-left-4radius border-bottom-left-4radius inputFile pl30" style="height: 34px !important" placeholder="{{'ECD_BTN_SELECT_FILE' | translate}} ..." readonly></>
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Browser</span>
                                        <input class="form-control hidden input-custom" id="FileItem" custom-on-change="FileItem" name="FileItem" onchange="$('.inputFile').val($(this).val().split('\\').pop()); angular.element(this).scope().fileNameChanged(this)" type="file">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 pl-0">
                        <div class="btn-group pt5 pb-1 pull-right actions d-flex">
                            <div class="btn-group actions d-flex" ng-show="showCheck">
                                <div class="text-center  pl10 margin-right-10" ng-click="checkloop()">
                                    <a class="btn btn-icon-only btn-outline btnn">
                                        <span><i class="fa fa-check vtc"></i></span>
                                    </a>
                                    <p class="text-underline mb-0 btn-name pt3">{{'ECD_BTN_EXAM' | translate}}</p>
                                </div>
                            </div>
                            <div class="btn-group actions d-flex">
                                <div class="text-center  pl10 margin-right-10 openExcel hidden" ng-click="uploadFile()">
                                    <a class="btn btn-icon-only btn-outline btnn">
                                        <span><i class="fa fa-file-excel vtc"></i></span>
                                    </a>
                                    <p class="text-underline mb-0 btn-name pt3">{{'ECD_BTN_IMPORT_EXCEL' | translate}}</p>
                                </div>
                            </div>
                            <div class="btn-group actions d-flex" ng-show="showSubmit">
                                <div class="text-center pl10 margin-right-10 save " ng-click="submit()">
                                    <a class="btn btn-icon-only btn-outline btnn">
                                        <span><i class="fa fa-save vtc"></i></span>
                                    </a>
                                    <p class="text-underline mb-0 btn-name pt3">{{'ECD_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light bordered input-search mb5 detail" ng-show="IsEdit==true">
    <div class="portlet-body">
        <div class="row pt5 mb5">
            <div class="row">
                <div class="col-lg-3 pl30 txt">
                    <i class="fa-solid fa-building fs16 pr5"></i>
                    <label class="fw600 text-underline">{{'ECD_LBL_CRUD_DEPARTMENT' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.DepartmentCode" theme="bootstrap" ng-change="changeUnit(model.DepartmentCode)">
                            <ui-select-match placeholder="{{'ECD_LBL_CRUD_DEPARTMENT' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="x.DepartmentCode as x in treeDataunit | filter:$select.search">
                                {{x.Title}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.DepartmentCode=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 txt">
                    <i class="fas fa-users fs16 pr5"></i>
                    <label class="fw600 text-underline">{{'ECD_LBL_CRUD_EMPOYEE'| translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.EmployeeCode" ng-disabled="model.DepartmentCode==''" theme="bootstrap" ng-change="changeEmployee(model.EmployeeCode)">
                            <ui-select-match placeholder="{{'ECD_LBL_CRUD_EMPOYEE' | translate}}...">{{$select.selected.Name}} - {{$select.selected.CodeName}}</ui-select-match>
                            <ui-select-choices repeat="x.CodeName as x in lstUserinDpt | filter:$select.search">
                                {{x.Name}} - {{x.CodeName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.EmployeeCode=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 txt" ng-class="{ 'has-error': errorNewRole}">
                    <i class="fas fa-file-signature fs16 pr5"></i>
                    <label class="fw600 text-underline require">{{'ECD_LBL_POSITION'| translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.NewRole" ng-disabled="true" theme="bootstrap">
                            <ui-select-match placeholder="{{'ECD_LBL_POSITION' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listRole | filter:$select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.NewRole=''" ng-disabled="true" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                    <span ng-show="errorNewRole" class="label-color validation-message">
                        {{'ECD_LBL_POSITION_NOT_BLANK' | translate}}
                    </span>
                </div>
            </div>
            <div class="row pt20">
                <div class="col-md-3 pl30 txt txt-special">
                    <label class="fw600 text-underline">{{'ECD_LIST_COL_DATE_DECISTION'| translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.SessionDate" class="form-control" type="text" placeholder="{{'ECD_LBL_CRUD_APPLICABLE_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='Decisiondate' autocomplete="off" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.SessionDate=''" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 txt txt-special">
                    <i class="fas fa-comments fs16 pr5"></i>
                    <label class="fw600 text-underline">{{'ECD_LIST_COL_REASON_END' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Reason" theme="bootstrap">
                            <ui-select-match placeholder="{{'ECD_LIST_COL_REASON_END' | translate}}...">{{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listReason | filter:$select.search">
                                {{x.Value}}
                            </ui-select-choices>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Reason=''" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 txt pull-right pt23">
                    <div class="btn-group actions d-flex pull-right pr15">
                        <div class="text-center pl10 margin-right-10 next" ng-click="cancelEdit()">
                            <a class="btn btn-icon-only btn-outline btnn" name="next">
                                <i class="fa-solid fa-xmark fs30 vtc" aria-hidden="true"></i>
                            </a>
                            <p class="text-underline btn-name mb5 pt3 cl">{{'ECD_BTN_CANCLE' | translate}}</p>
                        </div>
                        <div class="text-center pl10 margin-right-10 next" ng-click="submitEdit()">
                            <a class="btn btn-icon-only btn-outline btnn" name="next">
                                <i class="fas fa-save fs30 vtc" aria-hidden="true"></i>
                            </a>
                            <p class="text-underline btn-name mb5 pt3 cl">{{'ECD_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" ng-show="IsEdit==false">
    <div class="text-center">
        <h4 class="fs15 bold">
            {{'ECD_LBL_CRUD_DATE_DEC_NUM' | translate}}: <input class="text-center w125 input-custom-decision" ng-model="header.DecisionNumber" type="text"> /QĐ-VQHC
        </h4>
        <input class="input-custom-decision w150 text-center" name="PlanDate" ng-model="header.DecisionDate" autocomplete="off" type="text" placeholder="{{'ECD_LBL_CRUD_DATE_DEC' | translate}}" id="planDate" />
    </div>
    <div class="save hidden text-underline">{{'ECD_LBL_CRUD_SUM_FILE' | translate}} {{count}}</div>
    <div class="dataTables_scrollBody">
        <table class="table dataTable table-hover table-striped " id="tblData">
            <thead>
                <tr class="text-center">
                    <th class="text-center col col-5">
                        {{'ECD_LBL_CRUD_STT' | translate}}
                    </th>
                    <th class="text-center col col-10">
                        {{'ECD_LBL_CRUD_NUM_CARD' | translate}}
                    </th>
                    <th class="text-center col col-10">
                        {{'ECD_LBL_CRUD_NAME' | translate}}
                    </th>
                    <th class="text-center col col-20">
                        {{'ECD_LBL_CRUD_DEPARTMENT' | translate}}
                    </th>
                    <th class="text-center col col-20">
                        {{'ECD_LBL_POSITION' | translate}}
                    </th>
                    <th class="text-center col col-10">
                        {{'ECD_LIST_COL_DATE_DECISTION' | translate}}
                    </th>
                    <th class="text-center col col-20">
                        {{'ECD_LIST_COL_REASON_END' | translate}}
                    </th>
                    <th class="text-center col col-5">
                        {{'ECD_LIST_COL_MANIPULATION' | translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Listdata">
                    <td class="text-center"><div>{{$index+1}}</div></td>
                    <td class="text-center"><div>{{item.EmployeeCode}}</div></td>
                    <td class="text-left"><div>{{item.EmployeeName}}</div></td>
                    <td class="text-left"><div>{{item.DepartmentName}}</div></td>
                    <td class="text-left"><div>{{item.NewRoleName}}</div></td>
                    <td class="text-center"><div>{{item.SessionDate}}</div></td>
                    <td class="text-left"><div>{{item.ReasonValue}}</div></td>
                    <td class="nowrap text-center">
                        <button ng-click="editDetails(item)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(85,168,253,0.45);" class="btn btn-icon-only btn-circle btn-outline blue"><i class="fa fa-edit"></i></button>
                        <button title="Xoá" ng-click="delete(item)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45);" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button>
                    </td>
</tbody>
        </table>
    </div>
</div>
