<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: white !important;
        font-weight: 700;
        background: #FF8000;
        font-size: 12px;
    }

    .nav-tabs .nav-link, .nav-tabs a {
        background: #428bca;
        transition: 0.5s;
        background-size: 200% auto;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
        font-size: 12px;
        color: white;
        padding: 6px;
    }

    .search {
        width: 100%;
    }

    .app-content {
        width: 100%;
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(90% - 50px);
        right: 50px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<div class="btn-group pt5 pb-1 pull-right actions d-flex" style="margin-top: -50px;">
    <div class="pr30 text-center mt10" ng-show1="!isSearch">
        <a ng-click="showSearch()" class1="btn btn-icon-only btn-circle btn-outline gold-custom">
            <span><i class="fas fa-search fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="pr30 text-center mt10">
        <a ng-click="add()" class1="btn btn-icon-only btn-circle btn-outline green-custom">
            <span><i class="fa-solid fa-plus fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question fs30 " aria-hidden="true"></i></span>
        </a>
    </div>
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="portlet light bordered mb5 mt10">
        <div class="portlet-body pb-2">
            <div class="row">
                <div class="col-md-12" style="height:20px">
                    <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times pull-right h28 w28 close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                </div>

                <div class="row pt5 mb5">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="fw600 text-underline">{{'ECD_LBL_CRUD_NUM_OR_NAME' | translate}}</label>
                            <input ng-model="model.DecisionNum" name="DecisionNum" class="form-control br24" type="text" placeholder="{{'Số hoặc Tên quyết định' | translate}}..." />
                        </div>
                        <div class="col-md-2">
                            <label class="fw600 text-underline">{{'ECD_LBL_CRUD_DEPARTMENT'| translate}}</label>
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.DepartmentCode" theme="bootstrap">
                                    <ui-select-match placeholder="{{'ECD_LBL_CRUD_DEPARTMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listDepartment | filter:$select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.DepartmentCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="fw600 text-underline">{{'ECD_LBL_CRUD_STAFF'| translate}}</label>
                            <div class="input-group br24">
                                <ui-select rows="2" ng-model="model.CodeEmployee" theme="bootstrap">
                                    <ui-select-match placeholder="{{'ECD_LBL_CRUD_STAFF' | translate}}...">{{$select.selected.Name}}&nbsp;-&nbsp;{{$select.selected.CodeName}}</ui-select-match>
                                    <ui-select-choices repeat="x.CodeName as x in dataEmployee | filter:$select.search" refresh="reloadEmployee($select.search)">
                                        <div>{{x.Name}}&nbsp;-&nbsp;{{x.CodeName}}</div>
                                        <div class="row mt15" ng-if="$index == dataEmployee.length-1">
                                            <button class="btn btn-xs btn-success"
                                                    style="width: 100%;"
                                                    ng-click="loadMore($select, $event);"
                                                    ng-disabled="loading">
                                                Xem thêm...
                                            </button>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.CodeEmployee=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="fw600 text-underline">{{'ECD_LBL_CRUD_FROM_DATE' | translate}}</label>
                            <div class="input-group br24">
                                <input ng-model="model.FromDate" class="form-control" type="text" placeholder="{{'ECD_LBL_CRUD_FROM_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='datefrom' autocomplete="off" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="fw600 text-underline">{{'ECD_LBL_CRUD_TO_DATE' | translate}}</label>
                            <div class="input-group br24">
                                <input ng-model="model.ToDate" class="form-control" type="text" placeholder="{{'ECD_LBL_CRUD_TO_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='dateto' autocomplete="off" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-1 d-flex pt20 pull-right">
                            <div class="text-center mt10 pr10">
                                <a class1="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                    <span><i class="fas fa-search fs25 color-dark"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb10 pt10">
    <div style="text-align: right;width: 98%;font-weight: bold;color: #048204;"><span>{{'ECD_LBL_CRUD_STAFF_END' | translate}} : {{CountEmployeeNotWork}}</span></div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblDataEndContract"></table>
    </div>
</div>