@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Thiết lập trạng thái";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_script {
    
}
@section plugin_style{
    
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/settingStatusObject/controller.js" type="text/javascript"></script>
