<style>
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group actions pt5 pb-1 pull-right d-flex mr5" style="margin-top: -50px;">
    <div class="text-center pr-2" ng-show="!isSearch">
        <a class="btn btn-icon-only btn-circle btn-outline gold-custom" ng-click="showSearch()">
            <span><i class="fa fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
            <span><i class="fa fa-plus"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
</div>
<div class="table-toolbar">
    <div class="portlet light bordered input-search mb5 mt10" ng-show="isSearch">
        <div class="portlet-body">
            <!--<img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />-->
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADA_CURD_LBL_CODE' | translate}}</label>
                    <div class="input-group">
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{'ADA_CURD_TXT_CODE' | translate}}..." ng-model="model.Code">
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Code='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADA_CURD_LBL_NAME' | translate}}</label>
                    <div class='input-group '>
                        <input type='text' autocomplete="off" class="form-control " ng-model="model.Title" placeholder="{{'ADA_CURD_TXT_NAME' | translate}}..." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Title='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADA_CURD_LBL_DAY' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Date" class="form-control" type="text" placeholder="{{'ADA_CURD_TXT_DAY' | translate}}..." id="date" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Date='';" class="btn btn-default no-shadow ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center pr10">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm"></i>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
