@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/front-end/Home/controller.js" type="text/javascript"></script>
