<div ng-controller="manageNotWork">
    <form name="form.addformNotWorkInYear" class="form-horizontal" method="post" ng-validate="validationOptionsNwiy">
        <div class="form-body pt-0 pb10">
            <div class="row mt-5">
                <div class=" col-md-6">
                    <div class="col-lg-3 mb10">
                        <div class="form-group">
                            <div class="col-md-12 pl-0">
                                <label class="control-label fs12 bold require">{{'HR_HR_LBL_TXT_NUM_NOT_WORK_ALLOW' | translate}}</label>
                            </div>
                            <div class="col-md-12 pl-0 pr-1">
                                <input type="text" class="form-control br24" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="modelNwiy.NumNotWorkAllow" name="numNotWorkAllow" placeholder="{{'HR_HR_LBL_TXT_NUM_NOT_WORK_ALLOW' | translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="col-md-12 pl-0">
                                <label class="control-label fs12 bold require">{{'HR_HR_LBL_TXT_NOT_WORK_YEAR' | translate}}</label>
                            </div>
                            <div class="col-md-12 pl-0">
                                <div class="input-group br24">
                                    <input type="text" class="form-control fs13 bold" ng-model="modelNwiy.Year" name="year" placeholder="{{'HR_HR_LBL_TXT_NOT_WORK_YEAR' | translate}}" autocomplete="off" id="notWorkYear" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="modelNwiy.Year='';" class="btn btn-default no-shadow start-date" style="border: 1px solid #908a8a;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center pull-left mt40">
                            <a class1="btn btn-icon-only btn-circle btn-outline green-custom" type="button" ng-click="addNotWork()" ng-disabled="model.Id == undefined || model.Id == null || model.Id <= 0">
                                <span><i class="fa-solid fa-plus fs30"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th class="text-center wpercent5" style="width: 5%;">{{'COM_LIST_COL_NO' | translate}}</th>
                                    <th class="text-center width-45-per nowrap">{{'HR_HR_LIST_COL_NOT_WORK_YEAR' | translate}}</th>
                                    <th class="text-center width-45-per nowrap">{{'HR_HR_LIST_COL_NOT_WORK_ALLOW' | translate}}</th>
                                    <th class="text-center wpercent5 nowrap">{{'COM_LIST_COL_ACTION' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listNotWork track by x.Code">
                                    <td class="text-center pt15 bold">{{$index+1}}</td>
                                    <td class="text-center">
                                        <span class="fs16">{{x.Year}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="fs16">{{x.NumNotWorkAllow}}</span>
                                    </td>
                                    <td class="text-center nowrap">
                                        <a title="{{'COM_BTN_DELETE' | translate}}" type="button" ng-click="deleteNotWork(x)" class="mt10"
                                           style1="width: 25px; height: 25px; padding: 0px"
                                           class1="btn btn-icon-only btn-circle btn-outline red">
                                            <i class="fas fa-trash-alt fs25 text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>