<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <style>
        text {
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        tspan {
            font-weight: 900;
        }
    </style>
</head>
<body>
    <svg id="svg-hold" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="170" version="1.1" width="350" style="overflow: hidden; position: absolute;">

        <rect x="7" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;" />
        <rect x="7" y="0" width="170" height="140" rx="0" ry="0" fill="#1A1A1A" stroke="#1b1b1b" class="draw2d_shape_basic_Rectangle" stroke-opacity="1" stroke-width="1" fill-opacity="1" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: move;" />
        <rect x="53.765625" y="142" width="76.46875" height="23.5" rx="0" ry="0" fill="#000000" stroke="#1b1b1b" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;" class="draw2d_shape_basic_Label" stroke-opacity="1" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" />
        <text x="5" y="11.671875" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,53.7656,142)">
            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">VP A(302TP)</tspan>
        </text>
        <image x="19" y="28" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;" />
        <image x="96" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;" />
        <rect x="185" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;" />
        <rect x="185" y="0" width="170" height="140" rx="0" ry="0" fill="#1A1A1A" stroke="#1b1b1b" class="draw2d_shape_basic_Rectangle" stroke-opacity="1" stroke-width="1" fill-opacity="1" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: move;" />
        <rect x="233.90625" y="142" width="72.1875" height="23.5" rx="0" ry="0" fill="#000000" stroke="#1b1b1b" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;" class="draw2d_shape_basic_Label" stroke-opacity="1" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" />
        <text x="5" y="11.671875" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,233.9063,142)">
            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">VP B(389TP)</tspan>
        </text>
        <image x="198" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;" />
        <image x="275" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;" />
        <rect x="364" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;" />

        <text x="5" y="11.671875" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,414.0156,142)"></text>

        <text id="vpain" x="48" y="20" fill="#00FF00">01</text>
        <text id="vpaout" x="123" y="20" fill="#00FF00">01</text>

        <text x="48" y="140" fill="#00FF00">In</text>
        <text x="118" y="140" fill="#00FF00">Out</text>
        <text x="230" y="140" fill="#00FF00">In</text>
        <text x="300" y="140" fill="#00FF00">Out</text>
        <text x="5" y="11.671875" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,602.6641,142)">

        </text>
        <text id="vpbin" x="225" y="20" fill="#00FF00">01</text>

        <text id="vpbout" x="305" y="20" fill="#00FF00">01</text>

        <rect x="726" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;" />

        <text x="5" y="11.671875" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,793,142)">

        </text>

        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" />
    </svg>
    <!--<script src="~/lib/inOut/js/main.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $('#svg-hold').draggable();
    </script>
</body>
</html>