@using Microsoft.AspNetCore.Http.Features
@{
    ViewData["Title"] = "InOut Mobile";
}
@section plugin_script{
    <script src="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>
    @*<script src="~/lib/inOut/js/main.js"></script>*@
@*    <script src="~/lib/inOut/js/clock.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js" integrity="sha512-xeQFOWENzkyJSDlwwlX5lsFHfFL3Y3idnpBZYF/SCRxZz03HW/fpd5Lpd78SzjAzp/iBeWJ4PQRKlxWeYqQlHA==" crossorigin="anonymous"></script>
}
@section plugin_style{
    <link href="~/lib/inOut//style/grid.css" rel="stylesheet" />
    <link href="~/lib/inOut/style/responsive.css" rel="stylesheet" />
    <link href="~/lib/inOut/style/style.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/mobile/inOutApp/controller.js" type="text/javascript"></script>