@media only screen and (max-width: 414px) {
    #json {
        display: none;
    }
    .main-menu-top {
        left: 1rem;
    }
    #gfx_holder {
        width: 2000px!important;
        height: 1500px!important;
    }
    svg {
        width: auto;
        height: auto;
    }
    .menu-2 {
        width: 340px;
    }
    .area {
        background: none;
    }
    .main-menu-top {
        top: 5px;
    }
    .menu-bottom {
        bottom: 2.5rem;
    }
    .menu-right {
        right: 3px;
    }
}