* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.body {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.d-f {
    display: flex;
}

.j-arr {
    justify-content: space-around;
}

.j-betwen {
    justify-content: space-between;
}

.main-menu-top {
    position: absolute;
    top: 1rem;
    left: 0px;
    display: flex;
}

@media only screen and (width : 1366px) {
    .main-menu-top {
        position: absolute;
        top: 2rem;
        left: 0px;
        display: flex;
    }
    .wfl-instance{
        margin-top: 18px !important;
    }
}

.menu-top {
    height: 50px;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 1);
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-3 {
    padding: 0 10px;
    width: auto;
}

.menu-top i {
    margin: 0 .6rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    transition: .3s;
    line-height: 30px;
    position: relative;
}

    .menu-top i:hover {
        /*background-color: #999;
    box-shadow: 0 0 5px 0 rgba(255, 204, 0, 1);*/
    }

.create-box i {
    font-size: 16px;
}

.create-box {
    position: relative;
}

.create-box__hover {
    position: absolute;
    width: 90px;
    font-size: 12px;
    left: -30%;
    top: 135%;
    background: #656565;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    height: 30px;
    line-height: 30px;
}

    .create-box__hover:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: #656565;
        left: 45%;
        transform: translateY(-55%)rotate(45deg);
    }

.create-box:hover .create-box__hover {
    opacity: 1;
    visibility: visible;
}

.menu {
    position: relative;
}

.main-menu-wf .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
/*.overlay{
    width: 100%;
    height: 100%;
    background-color: #999;
    opacity: 0;
    position: absolute;
    transition: .3s;

}
.overlay-show{
    opacity: .5;
}*/

svg {
    transition: 1s ease-in-out;
    background: transparent url(https://d4.violet.vn/uploads/blogs/735961/layout/forum_10.gif) repeat center top;
}


/* menu-right */

.menu-right {
    position: fixed;
    width: 50px;
    height: 250px;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 1);
    border-radius: 5px;
    right: 90px;
    top: 40%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-box__hover--r {
    transform: rotate(90deg);
    text-align: center;
    left: -500%;
    top: 0;
}


/*end-menu-right */


/* menu-bottom */

.menu-bottom {
    position: fixed;
    right: 90px;
    bottom: 2rem;
    width: 300px;
    height: 50px;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 1);
    border-radius: 5px;
    background: #fff;
}


/* menu-bottom */


/* combobox */

.combobox {
    display: flex;
    align-items: center;
    width: 250px;
}

.chosen {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 8px 0 8px;
    height: 40px;
    background-clip: padding-box;
    box-shadow: 0px 0px 5px 0px rgba(255, 204, 0, 1);
    border: 2px solid rgba(255, 204, 0, 1);
    white-space: nowrap;
    line-height: 36px;
    background: #fff;
    font-size: 13px;
}

.chosen-container {
    width: 350px !important;
}

.draw2d_ResizeHandle {
    display: none;
}

.lbicon {
    padding-top: 20px;
    width: 140px;
}

.abc {
    position: absolute;
}

text.draw2d_shape_basic_Label.txt1 {
    fill: #fff;
}

text.draw2d_shape_basic_Label.txtCmd {
    fill: #e7505a;
    font-weight: 700 !important;
}

text.draw2d_shape_basic_Label.txt2 {
    fill: #fff;
}

text.draw2d_shape_basic_Label.txt3 {
    fill: #fff;
}

#inplaceeditor {
    width: 20px;
}


.main-menu-top,
.main-menu-wf {
    transition: .3s;
}

.fullscreen_none {
    display: none;
}

.fullscreensvg {
    top: -1rem !important;
    left: -2rem !important;
    transition: 1s ease-in-out;
}

.item-form3 {
    width: 30% !important;
}

.item-form3__value {
    width: 65% !important;
}

.textarea {
    width: 100%;
}

.textarea1 {
    width: 100% !important;
    border-color: gray;
}

.btn-save4 {
    color: white;
    background: #656565;
}

.create {
    font-size: 30px !important;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.fields {
    margin: 0 1rem;
    display: flex;
    padding: 1rem 0;
}

.form-message {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.status {
    margin-left: 4rem;
}

/*#status {
    font-size: 16px;
    padding: 5px;
    width: 230px;
}*/

.activity__time,
.activity__unit {
    width: 45%;
}

.activity__paint {
    width: 20%;
}

.activity__add {
    width: 75%;
}

.json span {
    background: #f24d00;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
}

    .json span:hover {
        background: #a93803;
    }

.turn_on_of {
    display: none;
}

@keyframes red-ball1 {
    from {
        offset-distance: 0%;
    }

    to {
        offset-distance: 95%;
    }
}

@keyframes red-ball2 {
    from {
        offset-distance: 95%;
    }

    to {
        offset-distance: 0%;
    }
}


/* act-sidebar */
.act-sidebar {
    position: fixed;
    left: 50px;
    max-width: 0px;
    width: 100%;
    top: 0px;
    z-index: 100;
    background: #fff;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    height: 100vh;
}

.act-sidebar__show-hidd {
    max-width: 300px;
    opacity: 1;
    visibility: visible;
}

.act-sidebar__title {
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

    .act-sidebar__title h3 {
        font-size: 22px;
        margin-bottom: 0;
        padding: 10px 5px;
        position: relative;
        color: #000000;
        transition: .3s;
        font-family: sans-serif;
    }

.act-sidebar__item {
    padding: 0 10px;
    margin: 20px 0 10px 0;
    flex-wrap: wrap;
    align-items: center;
}

.item__act {
    width: 45%;
    height: 60px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    justify-content: center;
    margin-bottom: 10px;
    background: #ffffff;
}

.item__act--name {
    font-size: 14px;
}

.item__act:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    transform: scale(1.05);
}

.item__act i {
    margin-right: 5px;
    color: #858585;
}

.item__act img {
    width: 100%;
    display: block;
    cursor: pointer;
    height: 100%;
}

.title-bottom {
    margin-top: 10px;
}

.act-sidebar__tran {
    text-align: center;
    cursor: pointer;
    transition: .3s;
    width: 50%;
    margin: 20px auto;
    height: 30px;
    display: flex;
    align-items: center;
}

    .act-sidebar__tran:hover {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    }

.tran2 {
    height: 1px;
    background: #000;
    width: 90%;
    position: relative;
}

    .tran2:after {
        content: '';
        position: absolute;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #000;
        left: 100%;
        top: -8px;
    }

.tran3 {
    position: relative;
}

    .tran3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #000;
        left: 86%;
        top: 37%;
    }

.tran4 {
    height: 1px;
    background: #000;
    width: 90%;
    position: relative;
}

    .tran4:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 10px;
        background: #000;
        left: 95%;
        top: -4px;
    }

.act-sidebar__close {
    position: absolute;
    right: 10px;
    font-size: 30px;
    top: 8px;
    color: #727070;
    cursor: pointer;
    transition: .3s;
}

    .act-sidebar__close:hover {
        transform: rotate(90deg);
    }

.act-sidebar__content {
    max-height: 500px;
    padding: 10px 0 2px;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.act-truot {
    max-height: 0;
    transition: 0.3s ease-out;
}

.act-truot2 {
    max-height: 0;
    transition: 0.3s ease-out;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    font-size: 12px;
    position: relative;
}

    .item1::after, .item2::after, .item3::after, .item4::after, .item5::after, .item6::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 5px;
        background: #37d62c;
        top: 39%;
        left: -8px;
    }

    .item1::before, .item2::before, .item3::before, .item4::before, .item5::before, .item6::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 5px;
        background: #37d62c;
        top: 39%;
        right: -8px;
    }

.item2 {
    border-radius: 45%;
}

.item3 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item4 {
    border-radius: 25px;
}

.item5 {
    border-radius: 10px;
}

.item6 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    border: 1px solid #000000;
}

.item6, .item7, .item8 {
    position: relative;
    box-shadow: none;
}

.item__act--content {
    position: absolute;
    left: 25%;
    top: 30%;
    align-items: center;
}
/* end act-sidebar */
/* start wfl-instance */

.wfl-instance {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 5px;
    max-width: 415px;
    width: 100%;
    top: 0px;
    z-index: 100;
    background: #fff;
    transition: .5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
    height: 100vh;
    padding: 10px;
}

.wfl-instance__hiden {
    visibility: visible;
    opacity: 1;
}

.wfl-instance__search {
    position: relative;
}

    .wfl-instance__search i {
        position: absolute;
        font-size: 31px;
        border: 2px solid #8888a8;
        right: 5px;
        border-radius: 3px;
        top: 1px;
        padding: 2px;
        cursor: pointer;
    }

    .wfl-instance__search input {
        width: 90%;
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 2px solid #8888a8;
    }

    .wfl-instance__search span {
        position: absolute;
        right: 5px;
        cursor: pointer;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
    }

        .wfl-instance__search span i {
            font-size: 25px;
        }

.wfl-instance__list {
    margin-top: 10px;
}

    .wfl-instance__list li a {
        font-size: 25px;
        color: black;
        display: block;
        text-align: center;
        margin: 10px;
    }

        .wfl-instance__list li a:hover {
            color: #656565;
            transition: .3s;
        }

.wfl-instance__table {
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid;
}


/* .wfl-instance__menu{
    height: 60px;
    align-items: center;
    margin-top: 10px;
}
.wfl-instance__item{
    width: 20%;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */

#tblDataWfInstance th,
#tblDataWfInstance td {
    padding: 10px !important;
    font-size: 18px;
}


/* .ribbon {
    display: grid;
    font-size: 15px;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr) 1em;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem 0;
    width: 100%;
}

.ribbon__element {
    margin-right: 5px;
    background-color: #11d295;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.333em;
    padding: 0.667em 0.667em 0.667em 1.333em;
    position: relative;
    text-decoration: none;
}

.ribbon__element:nth-child(1) {
    background-color: #11d295;
    z-index: 3;
}

.ribbon__element:nth-child(2) {
    background-color: #11d295;
    z-index: 2;
}

.ribbon__element:nth-child(3) {
    background-color: #11d295;
    z-index: 1;
}

.ribbon--alpha .ribbon__element:before {
    border-bottom: 1.333em solid transparent;
    border-left: 0.667em solid #fff;
    border-top: 1.333em solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.ribbon--alpha .ribbon__element:after {
    border-bottom: 1.333em solid transparent;
    border-left: 14px solid;
    border-top: 1.333em solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(0.667em);
    transform: translateX(0.667em);
    width: 0;
}

.ribbon--alpha .ribbon__element:nth-child(1):after {
    border-left-color: #11d295;
}

.ribbon--alpha .ribbon__element:nth-child(2):after {
    border-left-color: #11d295;
}

.ribbon--alpha .ribbon__element:nth-child(3):after {
    border-left-color: #11d295;
}

.ribbon--alpha .ribbon__element:nth-child(1) .abc:after {
    border-left-color: red;
}

.ribbon__element:hover,
.ribbon__element:active {
    color: inherit;
    text-decoration: underline;
}

.ribbon__element:focus {
    box-shadow: 0 -3px 0 0 #343435 inset;
    outline: none;
}

.ribbon__element:visited {
    color: #fff;
} */

tr.acti th {
    font-weight: 400;
    font-size: 15px;
}

#orangeUI {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

ul {
    list-style: none;
}


/****************************
	Breadcrumb
****************************/

.breadcrumbs {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

    .breadcrumbs li {
        position: relative;
        float: left;
        margin: 0.5em 0 1em;
    }

    .breadcrumbs a {
        font-size: 15px;
        height: 45px;
        width: 117px;
        position: relative;
        z-index: 3;
        padding: 0.65em 1em;
        margin-right: 25px;
        float: left;
        text-decoration: none;
        color: #7a7a7a;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        position: relative;
        background-image: -moz-linear-gradient(left, #f9f9f9 0%, #dedede 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #f9f9f9), color-stop(100%, #dedede));
        background-image: -webkit-linear-gradient(left, #f9f9f9 0%, #dedede 100%);
        background-image: -o-linear-gradient(left, #f9f9f9 0%, #dedede 100%);
        background-image: -ms-linear-gradient(left, #f9f9f9 0%, #dedede 100%);
        background-image: linear-gradient(to right, #f9f9f9 0%, #dedede 100%);
    }

        .breadcrumbs a:hover {
            background-image: -moz-linear-gradient(left, #efefef 0%, #d6d6d6 100%);
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #efefef), color-stop(100%, #d6d6d6));
            background-image: -webkit-linear-gradient(left, #efefef 0%, #d6d6d6 100%);
            background-image: -o-linear-gradient(left, #efefef 0%, #d6d6d6 100%);
            background-image: -ms-linear-gradient(left, #efefef 0%, #d6d6d6 100%);
            background-image: linear-gradient(to right, #efefef 0%, #d6d6d6 100%);
        }

        .breadcrumbs a::before {
            content: "";
            position: absolute;
            z-index: 3;
            top: 50%;
            margin-top: -1.7em;
            border-width: 2em 0 1.3em 1.3em;
            border-style: solid;
            border-color: #f9f9f9 #f9f9f9 #f9f9f9 transparent;
            left: -1.25em;
        }

        .breadcrumbs a:hover::before {
            border-color: #efefef #efefef #efefef transparent;
        }

        .breadcrumbs a::after {
            content: "";
            position: absolute;
            z-index: 3;
            top: 50%;
            margin-top: -2.1em;
            border-top: 2em solid transparent;
            border-bottom: 2em solid transparent;
            border-left: 1em solid #dedede;
            right: -1.009em;
        }

        .breadcrumbs a:hover::after {
            border-left-color: #d6d6d6;
        }

    .breadcrumbs .current,
    .breadcrumbs .current:hover {
        color: #fff;
        text-shadow: 0 -1px 0 #b65228;
        background-image: -moz-linear-gradient(left, #f1a154 0%, #e47327 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #f1a154), color-stop(100%, #e47327));
        background-image: -webkit-linear-gradient(left, #f1a154 0%, #e47327 100%);
        background-image: -o-linear-gradient(left, #f1a154 0%, #e47327 100%);
        background-image: -ms-linear-gradient(left, #f1a154 0%, #e47327 100%);
        background-image: linear-gradient(to right, #f1a154 0%, #e47327 100%);
    }

    .breadcrumbs a.current::before,
    .breadcrumbs a.current:hover::before {
        border-color: #f1a154 #f1a154 #f1a154 transparent;
    }

    .breadcrumbs a.current::after,
    .breadcrumbs a.current:hover::after {
        border-left: 1.3em solid #e47327;
    }

.bread-shadow {
    position: absolute;
    top: 1px;
    z-index: 2;
    padding: 0.675em 1em;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

    .bread-shadow::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -1.35em;
        border-width: 2em 0 1.5em 1.5em;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent;
        left: -1.4em;
    }

    .bread-shadow::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -1.25em;
        border-top: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1.5em solid rgba(0, 0, 0, 0.2);
        right: -1.29em;
    }
