#progressbar {
    overflow: hidden;
    color: #4868aa;
    padding-left: 2%;
    background: #f3f3f3;
    margin-bottom: 10px;
    border-radius: 5px;
}

    #progressbar .active {
        color: #009432;
    }

    #progressbar .active2 {
        color: deeppink;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: calc(100%/5);
        float: left;
        position: relative;
        font-weight: 400;
    }

    #progressbar li {
        padding-top: 10px;
    }

        #progressbar li > p {
            margin-bottom: 0px !important;
        }

    #progressbar > #payment {
        list-style-type: none;
        font-size: 15px;
        width: 0;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar > .check:last-of-type {
        list-style-type: none;
        font-size: 15px;
        float: left;
        position: relative;
        font-weight: 400
    }

        #progressbar > .check:last-of-type::after {
            width: 0%;
        }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f040"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f00c";
        justify-content: center;
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 0px auto;
        /*padding-left: 12.5px;*/
        /*margin-left: 0*/
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 55%;
        top: 30px;
        z-index: 0;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #009432;
    }

    #progressbar li.active2:before,
    #progressbar li.active2:after {
        background: deeppink;
    }

.btnn {
    background-color: #ffffff !important;
    height: 40px !important;
    width: 40px !important;
    color: #131212 !important;
    box-shadow: 0px 0px 7px 0px grey !important;
}

    .btnn i {
        font-size: 20px !important;
        padding-top: 3px;
    }

.name {
    top: 22% !important;
    margin-left: 65% !important;
    font-size: 9px !important;
    position: absolute !important;
    white-space: nowrap;
}

.dateapr {
    position: absolute !important;
    margin-left: 65% !important;
    top: 45% !important;
    font-size: 9px !important;
    white-space: nowrap;
}

.step-name {
    font-size: 12px;
    color: #4868aa;
}

.btn-name {
    font-size: 10px !important;
    white-space: nowrap;
}

.breadcrumb > li {
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}