<style>
    @media (min-width:992px) and (max-width:1200px) {
        .modal-registration .modal-50 {
            width: 75%;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-registration .modal-50 {
            width: 70%;
        }
    }

    @media (min-width:1501px) {
        .modal-registration .modal-50 {
            width: 60%;
        }
    }

    .portlet.light > .portlet-title > .caption {
        padding: 0px 0;
    }

    .ui-select-choices-group-label {
        font-weight: bold;
        padding-left: 10px !important;
        color: #515354 !important;
    }

    .table-responsive {
        overflow: unset;
    }

    .text-custom {
        font-weight: 700;
        color: brown !important;
    }
        .text-custom .ui-select-match-text {
            font-weight: 700;
            color: brown !important;
        }

        .tags-custom {
            margin: 2px;
            padding: 0 5px;
            display: inline-block;
            float: left;
            font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
            /*height: 26px;*/
            height: auto;
            line-height: 25px;
            border: 1px solid #acacac;
            border-radius: 3px;
            background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
            background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
        }

    .h-95-srcoll {
        overflow: auto;
        max-height: 95px !important;
        height: 95px !important;
    }

    .boder-box-custom-scroll {
        padding: 1px;
        word-wrap: break-word;
        cursor: text;
        background-color: #fff;
        border: 1px solid #ccc;
        height: 100%;
        border-radius: 4px;
        max-height: 200px;
        height: 150px;
        width: 97%;
        margin-left: 15px;
    }

    .check-box-custom {
        height: 25px;
        width: 25px;
    }

    .close {
        background-image: none !important;
    }


    ._3dza {
        margin-right: 5px;
        padding: 2px;
    }

    ._6kld {
        border-radius: 25px;
        height: 40px;
        width: 40px;
    }

    .check-color {
        display: inline;
        top: 12px;
        left: 12px;
        /*color: white;*/
        font-size: 15px;
        position: relative;
    }

    .close-modal {
        z-index: 9990;
        position: absolute;
        padding: 0px;
        border-radius: 50px;
    }

    .close-modal {
        position: absolute;
        top: -25px;
        right: -25px;
        display: block;
        width: 50px;
        height: 50px;
        border-color: #ff5ca1;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/XKHq6urW1tb////w8PDV1dXp6elDeZ9WAAAAEHRSTlMACkZ5FnA+QUAZSXMHFT8XTiEbVAAAAAFiS0dEEwy7XJYAAAAHdElNRQflDAEGMgLw4uMaAAAAAW9yTlQBz6J3mgAAATNJREFUSMe1l9tygzAMRM21kAtdMO3/f2ohTDpQJFn1Jvtmxmdk2UZehSCqKCv8qiqL4Fbd4KSmdqEtFLVJ9AOGOhPtkVCvs5cUC1w09ppmgauI3jzoqtuZvXtZ4J4dV4r9HxbI2Ctl1xxndNTuxJJ346w+M+Fj2l0O3BGBn6GHPHggAm+h61x4rS1CzcE4HcfTKExq5FWPMc778RyjRC91Uvg6xQO9sHESphWhlNKZ9/Qc/yzkqTJUSNAqiyoANq2zS9KwaYvV4Q0zWQN+0CZrwRttsG+DmWUzG8Ycle+SUNeT+jGcv+SXMK3wFoNvKWWyDFEFMOTCtvGy1fLPjW3cNHWveGK5x52yFZyh4awUZ+Io+8gZV84y+05MNetcm5AydHaDYtqyIYmu+sxvyh7ytYM/qPe1AtpYDhcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMTItMDFUMDY6NTA6MDIrMDA6MDDiIsyiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTEyLTAxVDA2OjUwOjAyKzAwOjAwk390HgAAAABJRU5ErkJggg==);
    }
</style>
<div class="modal-header no-color h-30" style1="background: rgb(241, 241, 241);">
    <span class="modal-title black fas fa-users fs15">&nbsp;&nbsp;{{title}}</span>
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
</div>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt5 pb20">
                <div class="row mb-0">
                    <div class="col-md-3 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'LMS_TEACHER' | translate}}</label>
                            <div class="input-group br24" ng-class="{'has-error': errorTeacher}">
                                <ui-select class="text-custom" ng-model="model.ManagerTeacher" theme="bootstrap" ng-change="changeSelect('Teacher')">
                                    <ui-select-match placeholder="{{'LMS_TEACHER' | translate}}...">{{$select.selected.GivenName}}</ui-select-match>
                                    <ui-select-choices repeat="x.UserName as x in listUserTeacher | filter: $select.search">
                                        <span class="bold fs13">{{x.GivenName}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.Teacher=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorTeacher" class="label-color validation-message">
                                {{'LMS_PLEASE_SELECT_TEACHER' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'LMS_CLASS_CODE' | translate}}</label>
                            <input ng-model="model.ClassCode" class="form-control br24 text-custom" name="ClassCode" placeholder="{{'LMS_CLASS_CODE' | translate}}..." />
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TITLE' | translate}}</label>
                            <input ng-model="model.ClassName" class="form-control br24 text-custom" name="Title" placeholder="{{'MS_CRUD_TITLE' | translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TIME_START' | translate}}</label>
                            <div class='input-group br24 date'>
                                <input ng-model="model.StartTime" type='text' class="form-control text-custom" placeholder="{{'MS_CRUD_TIME_START' | translate}}" id="datefrom" name="StartTime" autocomplete="off" />
                                <span class="input-group-addon start-date" ng-click="model.StartTime = ''">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TIME_END' | translate}}</label>
                            <div class='input-group br24 date'>
                                <input ng-model="model.EndTime" type='text' class="form-control text-custom" placeholder="{{'MS_CRUD_TIME_END' | translate}}" id="dateto" name="EndTime" autocomplete="off" />
                                <span class="input-group-addon end-date" ng-click="model.EndTime = ''">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <label class="">
                                {{
                                'MS_CRUD_STATUS' |
                                translate
                                }}
                            </label>
                            <div class="input-group search-group br24">
                                <ui-select tagging ng-model="model.Status" ng-change="changeSelect('Status')" theme="bootstrap">
                                    <ui-select-match placeholder="{{'MS_CRUD_STATUS' | translate}}...">
                                        {{$select.selected.Name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="x.Code as x  in listStatus | filter: $select.search">
                                        <span class="bold fs11">{{x.Name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.Status='';"
                                            class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorStatus" class="label-color validation-message">
                                {{'MS_VALIDATE_STATUS' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pr-0">
                        <div class="form-group col-md-12 p-0">
                            <div class="col-md-12 p-0" ng-class="{ 'has-error': errorUserId}">
                                <label class="require">{{'LMS_STUDENT' | translate}}</label>
                                <ui-select ng-model="model1.ListUser" multiple theme="bootstrap" class="h-70 br12" on-select="addUser($item)" on-remove="removeUser($item)">
                                    <ui-select-match placeholder="{{'LMS_STUDENT' | translate}}...">{{$item.GivenName}}</ui-select-match>
                                    <ui-select-choices repeat="x.UserName as x in listUser | filter:$select.search">
                                        {{x.GivenName}}
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="errorUserId" class="label-color validation-message">
                                    {{'LMS_VALIDATE_STUDENT' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-grow-full">
                        <div class="form-group col-md-12 p-0">
                            <label> {{'LMS_NOTED' | translate}}</label>
                            <textarea class="form-control br12" placeholder="{{'LMS_NOTED' | translate}}.." rows="5" ng-model="model.Noted" name="Noted"></textarea>
                        </div>
                    </div>
                    <div class="btn-group pt20 actions d-flex pull-right" style="height: 240px; align-items: flex-end">
                        <div class="text-center w50">
                            <a ng-click="submit()" class="fs30">
                                <span><i class="fa-solid fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3 ng-binding">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
