<style>
    .scroll-y {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .app-content {
        width: 100%;
    }

    .nav {
        margin-bottom: 8px !important;
        padding-left: 0;
        list-style: none;
    }

    #tab-content-map {
        margin-top: 40px;
    }

    .nav-tabs>li>a {
        border: none;
    }

    .breadcrumb {
        margin-top: 10px;
    }

    .userFormAreaHeader {
        border-radius: 4px !important;
        border: 0px solid #e7ecf1 !important;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
        background: none;
    }
</style>

<div class="col-md-4 h-40 pl-0">
    <div class="col-md-10 p1">
        <input type="text" placeholder="{{'MS_TXT_SEARCH' | translate}}..." id="autocomplete" class="form-control br24"
            autocapitalize="off" autocomplete="off">
    </div>
    <div class="col-md-2 p2">
        <!--<button class="btn btn-primary" id="TimKiem">
         <i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}
        </button>-->
        <div class="text-center pt10">
            <a class="" id="TimKiem">
                <span><i class="fas fs30 fa-search"></i></span>
            </a>
            <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
        </div>
    </div>
</div>
<style>
    .nav-tabs {
        margin-bottom: 0px;
    }

    .rightPanel .nav-tabs li.active>div,
    .rightPanel .nav-tabs>li.active>div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .rightPanel .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

    .rightPanel .nav-tabs li {
        border-right: 1px solid #ddd;
    }

    .rightPanel .nav-tabs li div {
        color: black;
        background: white;
        border-radius: 0;
        margin-right: -1px;
        padding: 5.5px 20px;
        /*border-bottom: 1px solid #d3d3d3;*/
        font-weight: 600;
    }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    .font-in-tab {
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        background: white;
    }

    .rightPanel .tab-content {
        border: 1px solid #d3d3d3;
        padding: 5px;
    }

    #map {
        height: calc(100vh - 180px);
        width: 99%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .modal-position {
        position: absolute;
    }
</style>
<div class="col-md-4 h-40 d-flex align-item-ct">
    <div class="col-md-3 p-0 pl5">
        <input type="checkbox" name="show-hide" id="hide-poi" class="selector-control form-checkbox">
        <label for="hide-poi">Hide</label>
    </div>
    <div class="col-md-3 p-0 pl5">
        <input type="checkbox" name="show-hide" id="show-poi" class="selector-control form-checkbox" checked="checked">
        <label for="show-poi">Show</label>
    </div>
    <div class="col-md-3 p-0 pl5">
        <input type="checkbox" name="show-Map" id="show-OSM" class="selector-control form-checkbox">
        <label for="show-poi">OSM</label>
    </div>
    <div class="col-md-3 p-0 pl5">
        <input type="checkbox" name="show-Map" id="show-gg" class="selector-control form-checkbox" checked="checked">
        <label for="show-poi">GoogleMap</label>
    </div>
    <!-- <div class="col-md-12 p-0 pl5">
        <input type="checkbox" name="show-Map" id="route-Urenco"
               class="selector-control" checked="checked">
        <label for="show-poi">Tuyến đường</label>
    </div>
    <div class="col-md-12 p-0 pl5">
        <input type="checkbox" name="show-Map" id="car-Urenco"
               class="selector-control" checked="checked">
        <label for="show-poi">Phương tiện</label>
    </div>
    <div class="col-md-12 p-0 pl5">
        <input type="checkbox" name="show-Map" id="park-Urenco"
               class="selector-control" checked="checked">
        <label for="show-poi">Điểm tập kết</label>
    </div>
    <div class="col-md-12 p-0 pl5">
        <input type="checkbox" name="show-Map" id="Change-Icon"
               class="selector-control" checked="checked">
        <label for="Change-Icon">ChangeIcon</label>
    </div> -->
</div>
<div class="col-md-4">
    <div class="rightPanel" id="pnSearch" style="z-index:999;">
        <div class="col-md-12" style="padding:0">
            <ul class="nav nav-tabs pull-right">
                <!-- <li class="text-center tab-header" ng-show="IsMapCustomer">
                    <div class="tablinks fs13" data-toggle="tab" data-target="#customerMap">
                        {{'MS_TAB_CUSTOMER' | translate}}</div>
                </li>
                <li class="text-center tab-header" ng-show="IsMapSupplier">
                    <div class="tablinks fs13" data-toggle="tab" data-target="#supplierMap">
                        {{'MS_TAB_SUPPLIER' | translate}}</div>
                </li>
                <li class="text-center tab-header" ng-show="IsMapStore">
                    <div class="tablinks fs13" data-toggle="tab" data-target="#storeMap">
                        {{'MS_TAB_STORE' | translate}}</div>
                </li> -->
                <li class="text-center tab-header" style="">
                    <div class="tablinks fs13" data-toggle="tab" data-target="#productMap">
                        {{'Vật tư thiết bị' | translate}}</div>
                </li>
                <li class="text-center tab-header active" style="">
                    <div class="tablinks fs13" data-toggle="tab" data-target="#parkingMap">
                        {{'MS_TAB_PARKING' | translate}}</div>
                </li>
                <li class="mini-submenu pull-right">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="tab-content-map">
            <!--store-->
            <div class="tab-pane " id="productMap">
                <div class="table-toolbar">
                    <div class="form-bordered"
                        style="border-radius: 4px !important; border: 0px solid #e7ecf1 !important; box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important; padding-top: 5px; margin-bottom: 5px; background: none;">
                        <div class="row pt5 mb5">
                            <div class="col-md-6">
                                <label class="fw600">
                                    {{'Mã / tên sp' | translate}}</label>
                                <div class="input-group br24">
                                    <input ng-model="ProductKey" class="form-control fs11" type="text"
                                        placeholder="{{'Mã / tên sp' | translate}}..."
                                        ng-keydown="($event.keyCode == 13) && reload()" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="ProductKey='';"
                                            class="btn btn-default no-shadow start-date">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!--<div class="col-md-6 pull-right mt25">
                                <button ng-click="searchCustomer()" class="btn btn-accent">
                                    <i class="fa fa-search"></i>
                                    {{'COM_BTN_SEARCH' | translate}}
                                </button>
                            </div>-->
                            <div class="col-lg-2">
                                <div class="btn-group actions pt20 d-flex pt35">
                                    <div class="text-center">
                                        <a class="" id="productSearch">
                                            <span><i class="fas fs30 fa-search"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table dataTable table-hover table-striped"
                        datatable
                        dt-options="dtOptions"
                        dt-columns="dtColumns"
                        dt-instance="dtInstance"
                        id="tblData"></table>
                </div>
            </div>
            <!--end store-->
            <!--Start_drag-->
            <div class="tab-pane active" id="parkingMap">
                <div class="table-toolbar">
                    <form class="form-inline" hidden>
                        <label>{{'MS_CURD_TAB_PARKING_LBL_SELECT_TYPE_PAINT' | translate}} &nbsp;</label>
                        <select id="type">
                            <option id="o2" value="Polygon">
                                {{'MS_CURD_TAB_PARKING_COMBO_POLYGON' | translate}}</option>
                            <option id="o1" value="None">
                                {{'MS_CURD_TAB_PARKING_COMBO_NOT_SELECT' | translate}}</option>
                        </select>
                    </form>
                    <div id="divstyle">
                        <form class="form-horizontal">
                            <div class="form-bordered"
                                style="border-radius: 4px !important; border: 0px solid #e7ecf1 !important; box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important; padding-top: 5px; margin-bottom: 5px; background: none;">
                                <div class="form-group br24-nobtn">
                                    <div class="col-md-6">
                                        <label class="col-md-9 bold text-left pl-0">
                                            {{'MS_CURD_TAB_PARKING_LBL_BACKGROUND_COLOR' | translate}} &nbsp;</label>
                                        <div class="col-md-3 pl-0">
                                            <input type="color" name="favcolor" value="#64C936" id="cl1"
                                                class="w75 h-35">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-6 text-left bold pt5 pr-0">
                                            {{'MS_CURD_TAB_PARKING_LBL_SIZE' | translate}}&nbsp;</label>
                                        <div class="col-md-6 pr-0 pl-0">
                                            <input type="number" class="form-control br24" name="points" step="1"
                                                min="8" max="20" value="12" id="nb4">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 text-left bold">
                                        {{IsMapCustomer ? 'MS_TAB_CUSTOMER' : IsMapSupplier ? 'MS_TAB_SUPPLIER':
                                        'MS_TAB_STORE' | translate}}</label>
                                    <div class="col-md-8">
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.ObjCode" theme="bootstrap">
                                                <ui-select-match
                                                    placeholder="{{IsMapCustomer ? 'MS_TAB_CUSTOMER_COMB' : IsMapSupplier ? 'MS_TAB_SUPPLIER_COMB':'MS_TAB_STORE_COMB' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices
                                                    repeat="x.Code as x in objType | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.ObjCode='';"
                                                    class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 text-left bold">
                                        {{'MS_CURD_TAB_PARKING_LBL_PICTURE' | translate}}</label>
                                    <div class="col-md-8">
                                        <div class="input-group br24">
                                            <ui-select ng-model="model.Picture" theme="bootstrap">
                                                <ui-select-match
                                                    placeholder="{{'MS_CURD_TAB_PARKING_COMBO_PICTURE' | translate}}..."><img
                                                        class="h-20" ng-src="{{ $select.selected.url }}" />&nbsp;
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="x.url as x in lisPicture ">
                                                    <img ng-src="{{ x.url }}" />
                                                    <div ng-bind-html="x.name | highlight: $select.search"
                                                        style="display: inline"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Picture='';"
                                                    class="btn btn-default no-shadow start-date">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 bold text-left">
                                        {{'MS_CURD_TAB_PARKING_LBL_NAME' | translate}} &nbsp;</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control br24"
                                            placeholder="{{'MS_CURD_TAB_PARKING_TXT_NAME' | translate}}"
                                            ng-model="model.Name" id="tx1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 bold text-left">
                                        {{'MS_CURD_TAB_PARKING_LBL_NOTE' | translate}} &nbsp;</label>
                                    <div class="col-md-8">
                                        <textarea type="text" rows="3" class="form-control br12" ng-model="model.Note"
                                            placeholder="{{'MS_CURD_TAB_PARKING_TXT_NOTE' | translate}}" id="tx2" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 bold text-left">
                                        {{'MS_CURD_TAB_PARKING_LBL_IMAGES' | translate}} &nbsp;</label>
                                    <div class="col-md-8">
                                        <div class="pt10">
                                            <div class="fileupload-new pull-left thumbnail mb5" role="button">
                                                <input id="file" accept=".png,.jpg,.jpeg,.gif,.tif" type="file"
                                                    style="display:none" />
                                                <img ng-click="selectImage()" id="Profile_picture" class="h-100 w100"
                                                    alt="holder" src="../../../images/default/no_image.png" />
                                            </div>
                                            <div class="fileupload-new  pull-left thumbnail ml10 mb5" role="button">
                                                <img class="h-100 w100" alt="holder"
                                                    src="../../../images/default/no_image.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="col-md-4 bold text-left">{{'MS_CURD_TAB_PARKING_LBL_PAINT' | translate}} &nbsp;</label>
                                    <div class="col-md-8">
                                        <div class="col-md-6 pl-0">
                                            <a><img src="../../../images/map/drawing.png" class="w50 h50" id="draw" /></a>
                                            <label class="col-md-12 pl-0 fs10">{{'MS_CURD_TAB_PARKING_LBL_START_PAINT' | translate}}</label>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <a><img src="../../../images/map/Eraser.png" id="refresh" class="w50 h50" /></a>
                                            <label class="col-md-12 fs10">{{'MS_CURD_TAB_PARKING_LBL_DELETE_PAINT' | translate}}</label>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="form-group">

                                    <div class="col-md-12 pt10">
                                        <div class="col-md-3 p-0 text-center">
                                            <a><img src="../../../images/map/drawing.png" class="mw35 h-35"
                                                    id="draw" /></a>
                                            <p class="text-underline fs9 mb5 pt3">
                                                {{'MS_CURD_TAB_PARKING_LBL_START_PAINT' | translate}}</p>

                                            <!--<label class="col-md-12 pl-0 fs10">{{'MS_CURD_TAB_PARKING_LBL_START_PAINT' | translate}}</label>-->
                                        </div>
                                        <div class="col-md-3 p-0 text-center">
                                            <a><img src="../../../images/map/Eraser.png" id="refresh"
                                                    class="mw35 h-35" /></a>
                                            <p class="text-underline fs9 mb5 pt3">
                                                {{'MS_CURD_TAB_PARKING_LBL_DELETE_PAINT' | translate}}</p>
                                            <!--<label class="col-md-12 p-0 fs10"></label>-->
                                        </div>
                                        <div class="text-center col-md-3 pt10 pl20">
                                            <a class="" id="addToParkingTemp">
                                                <span><i class="fas fs30 fa-plus"></i></span>
                                            </a>
                                            <p class="text-underline fs9 mb5 pt3">
                                                {{'COM_BTN_ADD' | translate}}</p>
                                        </div>
                                        <div class="text-center col-md-3 pt10 pl20">
                                            <a class="" id="save">
                                                <span><i class="fa-solid fa-plus fs30"></i></span>
                                            </a>
                                            <p class="text-underline fs9 mb5 pt3">
                                                {{'COM_BTN_SAVE' | translate}}</p>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="form-group">
                                    <label class="col-md-4 bold text-left"></label>
                                    <div class="col-md-8">
                                        <div id="divsave">
                                            <button class="btn btn-primary" id="addToParkingTemp">{{'MS_CURD_TAB_PARKING_BTN_ADD_PARKING' | translate}}</button>
                                            <button class="btn btn-primary pull-right" id="save">{{'COM_BTN_SAVE' | translate}}</button>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="form-group" ng-show="listParkingTemp.length>0">
                                    <label class="col-md-4 bold">
                                        {{'MS_CURD_TAB_PARKING_LBL_LIST_PARK' | translate}}</label>
                                    <div class="col-md-8">
                                        <div>
                                            <table class="table-bordered" style="max-height:20px; overflow:auto">
                                                <thead>
                                                    <tr>
                                                        <th class="bold" style="width:150px"><u>
                                                                {{'MS_CURD_TAB_PARKING_COL_NAME_PARK' | translate}}</u>
                                                        </th>
                                                        <th class="bold" style="width:150px"><u>
                                                                {{'MS_CURD_TAB_PARKING_COL_IMAGES_PARK' |
                                                                translate}}</u></th>
                                                        <th class="bold" style="width:100px"><u>
                                                                {{'MS_CURD_TAB_PARKING_COL_ACTION' | translate}}</u>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in listParkingTemp">
                                                        <td>{{x.title}}</td>
                                                        <td><img class="h-25" ng-src="{{x.Icon}}" /></td>
                                                        <!-- <td>{{x.Description}}</td>-->
                                                        <td><a ng-click="deleteParkingTempItem($index)">
                                                                {{'COM_BTN_DELETE' | translate}}</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End_drag-->
        </div>
    </div>
</div>
<div id="map" class="col-md-12 pl-0 pr-0">
    <div id="popup" title="" style="align-content:center"></div>
</div>