<div id="contact-main" ng-controller="contactCustomer">
    <div class="table-toolbar">
        <form name="searchform" class="form-horizontal" method="post">
            <div class="col-lg-3  form-group mr5 mb5">
                <label class="control-label">{{'CUS_CURD_TAB_CONTACT_LBL_CONTACTNAME' | translate}}</label>
                <div class='input-group br24'>
                    <input ng-model="model.ContactName" class="form-control" type="text" placeholder="{{'CUS_CURD_TAB_CONTACT_TXT_CONTACTNAME' | translate}}..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ContactName=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-3  form-group mr5 mb5">
                <label class="control-label">{{'CUS_CURD_TAB_CONTACT_LBL_CONTACTEMAIL' | translate}}</label>
                <div class='input-group br24'>
                    <input ng-model="model.ContactEmail" class="form-control" type="text" placeholder="{{'CUS_CURD_TAB_CONTACT_TXT_CONTACTEMAIL' | translate}}..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ContactEmail=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 pr-0">
                <div class="btn-group pt25 actions d-flex justify-content-sb">
                    <div class="mr10 pr-0 h-40 d-flex align-item-ct">
                        <a class="fs30" ng-click="search()" style="border-radius: 0px !important">
                            <i class="fas fa-search"></i>
                        </a>
                        <!--<p>{{'COM_BTN_SEARCH' | translate}}</p>-->
                    </div>
                    <div class="pr-0 h-40 d-flex align-item-ct">
                        <a class="fs30" ng-click="add()" style="border-radius: 0px !important">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <!--<p>{{'COM_BTN_ADD' | translate}}</p>-->
                    </div>

                    <!--<div class="text-center pr10">
                        <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>-->
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataCustomerContract"></table>
</div>
