<style>
    @media (min-width:992px) and (max-width:1200px) {
        .modal-70 {
            width: 75%;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-70 {
            width: 70%;
        }
    }

    @media (min-width:1501px) {
        .modal-70 {
            width: 60%;
        }
    }

    .btn-border-black {
        border: 1px solid #000;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .color-white {
        color: white;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }

    .tab .tab-content {
        border: 1px solid #d3d3d3;
        padding: 15px;
    }

    .userFormAreaHeader {
        border-radius: 4px !important;
        border: 0px solid #e7ecf1 !important;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
        background: none;
    }
</style>
<div class="actions d-flex pull-right" style="margin-top: -45px;">
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question " aria-hidden="true"></i></span>
        </a>
    </div>

    <div class="text-center" ng-show="isShowHeader">
        <a ng-click="hideHeader()" class="fs35">
            <span><i class="fas fa-chevron-up" aria-hidden="true"></i></span>
        </a>
    </div>
    <div class="text-center" ng-show="!isShowHeader">
        <a ng-click="showHeaderCard()" class="fs35">
            <span><i class="fas fa-chevron-down" aria-hidden="true"></i></span>
        </a>
    </div>
</div>
<div class="portlet-body form">
    <form ng-show="isShowHeader" name="addForm" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptionsCustomer">
        <div class="form-body pt-0">
            <div class="row mt-action-5">
                <div class="col-lg-6" ng-show="isShowHeader">
                    <div class="form-group">
                        <div class="col-md-4 pr-0">
                            <i class="fa fa-barcode"></i>
                            <label class="control-label require custom-title-code-bold">{{'CUS_CURD_LBL_CUS_CUSCODE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24 custom-title-code-bold" name="CusCode" ng-model="model.CusCode" type="text" placeholder="{{'CUS_CURD_TXT_CUS_CUSCODE' | translate}}..." ng-readonly="CustomerId !=''" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-user"></i>
                            <label class="control-label require custom-title-code-bold">{{'CUS_CURD_LBL_CUS_CUSNAME' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24 custom-title-code-bold" name="CusName" ng-model="model.CusName" type="text" placeholder="{{'CUS_CURD_TXT_CUS_CUSNAME' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-user"></i>
                            <label class="control-label ">{{'CUS_CURD_LBL_CUS_PERSONINCHARGE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24" name="PersonInCharge" ng-model="model.PersonInCharge" type="text" placeholder="{{'CUS_CURD_TXT_CUS_PERSONINCHARGE' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-map-marker"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_GOOGLEMAP' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-icon" style="margin-bottom: 0px">
                                <i ng-click="openMap()" class="cursor fa fa-map-marker"></i>
                                <input ng-click="openMap()" id="locationGPS" class="form-control br24" ng-model="model.GoogleMap" name="key" type="text" style="padding-left: 30px; width: 100%" onkeypress="return false;" onkeydown="return false;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-home"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_ADDRESS' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <textarea style="height: 73px" name="Address" id="textAreaAddress" class="form-control br24" ng-model="model.Address" type="text" placeholder="{{'CUS_CURD_TXT_CUS_ADDRESS' | translate}}..."></textarea>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': errorTaxCode}">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-barcode"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_TAXCODE' | translate}}</label>
                        </div>
                        <div class="col-md-8 ">
                            <input class="form-control br24" ng-model="model.TaxCode" name="TaxCode" type="text" placeholder="{{'CUS_CURD_TXT_CUS_TAXCODE' | translate}}..." ng-blur="taxCodeChange(model.TaxCode)" ng-keydown="($event.keyCode == 13) && taxCodeChange(model.TaxCode)" ng-change="changleSelect('TaxCode')" />
                            <span ng-show="errorTaxCode" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_TAXCODE' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorIdentification}">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa-solid fa-credit-card"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_IDENTIFICATION' | translate}}</label>
                        </div>
                        <div class="col-md-8 ">
                            <input class="form-control br24" ng-model="model.Identification" name="Identification" type="text" placeholder="{{'CUS_CURD_TXT_CUS_IDENTIFICATION' | translate}}..." ng-change="changleSelect('Identification')" />
                            <span ng-show="errorIdentification" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_IDENTIFICATION' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class=" form-group" ng-class="{ 'has-error': errorFax}">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-fax"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_FAX' | translate}}</label>
                        </div>
                        <div class="col-md-8 ">
                            <input class="form-control br24" ng-model="model.Fax" type="text" placeholder="{{'CUS_CURD_TXT_CUS_FAX' | translate}}..." ng-change="changleSelect('Fax')" />
                            <span ng-show="errorFax" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_FAX' | translate}}!
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-cube"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_ICONLEVEL' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select ng-model="model.IconLevel" theme="bootstrap">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_ICONLEVEL' | translate}}..."><img class="h-20" ng-src="{{ $select.selected.Path }}" />&nbsp; {{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in iconLevels ">
                                        <img ng-src="{{ x.Path }}" height="50" width="50" />
                                        <div ng-bind-html="x.Name | highlight: $select.search" style="display: inline">{{x.Name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.IconLevel='';" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" ng-class="{'col-lg-12' : !isShowHeader}">
                    <div class="form-group" ng-class="{ 'has-error': errorArea}">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-map-marker"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_AREA' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.Area" theme="bootstrap" on-select="changleSelect('Area')">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_AREA' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CustomerAreas | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="addCommonSettingArea()" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorArea" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_AREA' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorCusGroup}" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-users"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_CUSGROUP' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.CusGroup" theme="bootstrap" on-select="changleSelect('CusGroup')">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_CUSGROUP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CustomerGroup | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="addCommonSettingCustomerGroup()" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorCusGroup" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_CUSGROUP' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-award"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_CUSROLE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select ng-model="model.Role" theme="bootstrap">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_CUSROLE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CustomerRoles | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.Role='';" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorRole" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_CUSROLE' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorCusType}" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-info-circle"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_CUSTYPE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.CusType" theme="bootstrap" on-select="changleSelect('CusType')">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_CUSTYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CustomerTypes | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="addCommonSettingCustomerTyle()" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorCusType" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_CUSTYPE' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorActivityStatus}" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-flag"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_STATUS' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.ActivityStatus" theme="bootstrap" on-select="changleSelect('ActivityStatus')">
                                    <ui-select-match placeholder="{{'CUS_CURD_COMBO_CUS_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CustomerStatusData | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="addCommonSettingCustomerStatus()" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorActivityStatus" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_STATUS' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-envelope"></i>
                            <label class="control-label ">{{'CUS_CURD_LBL_CUS_EMAIL' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24" type="text" name="Email" ng-model="model.Email" placeholder="{{'CUS_CURD_TXT_CUS_EMAIL' | translate}}" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorMobilePhone}" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-phone"></i>
                            <label class="control-label require">{{'CUS_CURD_LBL_CUS_MOBIEPHONE' | translate}}</label>
                        </div>
                        <div class="col-md-8 ">
                            <input class="form-control br24" name="Mobile" ng-model="model.MobilePhone" type="text" placeholder="{{'CUS_CURD_TXT_CUS_MOBIEPHONE' | translate}}..." ng-change="changleSelect('MobilePhone')" />
                            <!--<span ng-show="errorMobilePhone" class="label-color validation-message">
                                {{'CUS_CURD_VALIDATE_MOBIEPHONE' | translate}}!
                            </span>-->
                        </div>
                    </div>
                    <div class=" form-group" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fas fa-user-circle"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_ACCOUNTBANK' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24" ng-model="model.AccountBank" type="text" placeholder="{{'CUS_CURD_TXT_CUS_ACCOUNTBANK' | translate}}..." />
                        </div>
                    </div>
                    <div class=" form-group" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa-solid fa-address-book"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_ADDRESSBANK' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24" ng-model="model.AddressBank" type="text" placeholder="{{'CUS_CURD_TXT_CUS_ADDRESSBANK' | translate}}..." />
                        </div>
                    </div>
                    <div class=" form-group" ng-show="isShowHeader">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa-solid fa-address-book"></i>
                            <label class="control-label">{{'CUS_CURD_LBL_CUS_ZIPCODE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control br24" ng-model="model.ZipCode" type="text" placeholder="{{'CUS_CURD_TXT_CUS_ZIPCODE' | translate}}..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pull-right mr15" ng-show="isShowHeader">
        <div class="btn-group actions d-flex">
            <!--<div class="text-center pl20" ng-click="addCardJob()">
                <div class="btn btn-icon-only btn-circle btn-outline red-custom">
                    <span class="fa fa-trello"></span>
                </div>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD_CAR' | translate}}</p>
            </div>-->
            <div class="text-center pr25" ng-click="submit()">
                <a class="">
                    <span><i class="fa-solid fa-plus fs30"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
            </div>
        </div>
    </div>
</div>
<style>
    .nav-tabs {
        margin-bottom: 0px;
    }
</style>
<div class="row ">
    <div class="col-md-12" ng-class="{'disabled-element' :CustomerId =='' }">
        <div class="tab" role="tabpanel" style="width:100%">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <div href="#1" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TINYMCE_CUS_NOTE' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#2" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TAB_CONTACT' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#3" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TAB_FILE' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#4" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TAB_MORE' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#5" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TAB_CONTRACT' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#6" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'CUS_CURD_TAB_CARD_JOB' | translate}}</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#7" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'Sự kiện' | translate}}</div>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="1">
                    <textarea ng-model="model.Description" id="ckEditorItemSubject"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="2">
                    <div ng-include="'../views/admin/customer/contact.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="3">
                    <div ng-include="'../views/admin/filePlugin/file-plugin.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="4">
                    <div ng-include="'../views/admin/customer/contract.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="5">
                    <div ng-include="'../views/admin/customer/project.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="6">
                    <div ng-include="'../views/admin/customer/work.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="7">
                    <div ng-include="'../views/admin/customer/customerTabEvent.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>