<style>
    @media (max-width:992px) {
        .modal-30 {
            width: 40%;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-30 {
            width: 35%;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-30 {
            width: 30%;
        }
    }

    @media (min-width:1501px) {
        .modal-30 {
            width: 25%;
        }
    }
</style>
<div class="modal-header no-color">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-edit icon-edit black"></i>
    <span class="modal-title black" id="modal-title">{{'CUS_CURD_TAB_REMINDER_LBL_EDIT'|translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal" method="post" ng-validate="validationOptionsReminderCustomer">
            <div class="form-body">
                <div class="form-group" ng-class="{ 'has-error': errorReminderCode}">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'CUS_CURD_TAB_REMINDER_CURD_LBL_REMINDERNAME'|translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.ReminderCode" theme="bootstrap" on-select="changleSelect('ReminderCode')">
                                <ui-select-match placeholder="{{'CUS_CURD_TAB_REMINDER_CURD_COMB_REMINDERNAME'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in reminderData | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ReminderCode=''" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorReminderCode" class="label-color validation-message">
                            {{'CUS_CURD_TAB_REMINDER_CURD_VALIDATE_COMB_REMINDER'|translate}}!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa-solid fa-calendar"></i>
                        <label class="control-label require">{{'CUS_CURD_TAB_REMINDER_CURD_LBL_REMINDERTIME'|translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group br24'>
                            <input type='text' autocomplete="off" class="form-control " ng-model="model.ReminderTimeView" name="ReminderTime" placeholder="{{'CUS_CURD_TAB_REMINDER_CURD_TXT_REMINDERTIME'|translate}} ..." id='RemindeTime' />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ReminderTimeView='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-pen"></i>
                        <label class="control-label require">{{'CUS_CURD_TAB_REMINDER_CURD_LBL_REMINDERNOTE'|translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" rows="5" class="form-control br24" ng-model="model.Note" name="Note" placeholder="{{'CUS_CURD_TAB_REMINDER_CURD_LBL_REMINDERNOTE'|translate}}..." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pt10 actions d-flex pull-right pr25">
        <div class="text-center pr10">
            <a class="fs30" ng-click="cancel()">
                <span><i class="fas fa-times" style="color: red"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="fs30" ng-click="submit()" href="javascript:;">
                <span><i class="fa-solid fa-plus"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
