<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    /*CSS form Tab*/
    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
            border-top-right-radius: 5px;
        }

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                border-bottom: none;
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
    }

    .tab .nav-tabs li.active > div, .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: green;
        background: white;
        border-top: 2px solid #e7505a;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }
    /*CSS form Tab*/
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    .col-md-12.col-lg-12.box-item.mb-5.border-right.aos-init.aos-animate {
        margin-top: -40px
    }

    .title1 {
        color: #00ADEF;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .spani {
        display: flex;
        /*border-bottom: 0.3px solid #01adef;*/
        justify-content: space-between;
        font-size: 15px;
        padding: 13px
    }

    .spani1 {
        width: 100%;
        display: flex;
        padding: 6px 10px;
        justify-content: space-between;
    }

        .spani1 i {
            color: #0000FF;
            margin-right: 15px;
            padding-top: 5px;
        }

        .spani1 span {
            font-size: 16px;
        }

    .spani3 {
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

    .spani2 {
        width: 50%;
        display: flex;
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

        .spani2 i {
            color: #0000FF;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 15px;
        }

        .spani2 span,
        .spani3 span {
            font-size: 16px;
        }

    .dashboard-stat2 {
        box-shadow: 0px 0px 10px 0px grey;
        border: solid 0.01px grey;
        height: 375px;
        background: transparent url(https://d4.violet.vn/uploads/blogs/735961/layout/forum_10.gif) repeat center top;
    }

    .report {
        color: #00ADEF;
        display: flex;
        cursor: pointer;
    }

        .report:hover {
            color: red;
        }

    .border-box-dashboard {
        height: 375px !important;
        width: 50% !important;
        margin: 0 0.5% 0 1.5%;
    }

    .color-text-cms {
        color: #000;
    }

    .text-header-box {
    }

    .text-header-box-act-employee {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    .text-content-box-act-emp {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    label {
        font-weight: 600;
        font-size: 13px;
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    rect.Object_Label {
        fill: #fff;
    }

    rect.draw2d_ResizeHandle {
        display: none;
    }

    .nameMenu {
        font-family: " Oswald", arial, sans-serif;
        text-decoration: underline;
        text-align: center;
        /*margin: 20px;*/
        font-size: 16px;
        color: #000;
        font-weight: 600;
        line-height: 1.2;
        margin-top: -30px;
    }

    body {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    /*::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }*/

    .row {
        margin-left: 0;
        margin-right: 0
    }


    .report span {
        font-size: 15px;
        font-weight: 100;
        color: #000
    }

    .report i {
        margin-top: 4px;
    }

    .title1 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        font-weight: 600
    }

    .gach {
        border-bottom: 1px solid grey;
    }

    .title2 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        margin-left: -25px;
        font-weight: 600
    }

    .scroll_content_custom {
        top: 0
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .box-title {
        border-radius: 20px;
        background: #e8f8fe;
        padding: 10px;
    }

    .boxNumber {
        color: white;
        height: 25px;
        width: 25px;
        padding-top: 5px;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        background: #FF9900;
    }

    .text-course {
        padding-top: 7px;
    }

    .table-responsive tbody tr:hover {
        background: #eef1f5;
    }

    .a23428017 {
        margin-bottom: 0;
        margin-top: 0;
        height: 150px;
        background-color: rgba(209, 223, 228,0.2);
    }

    .a67177610 {
        font-size: 17px !important;
        color: #505050 !important;
        margin-left: 5rem;
        padding-top: 25px;
        font-weight: 600;
    }

    .a92228050 {
        width: 30px;
        left: 6rem;
        position: absolute;
        height: 30px;
    }

    .a493837 {
        color: #707070;
        margin-left: 105px;
        font-size: 12px;
        padding-right: 200px;
    }

    .a72856419 {
        position: absolute;
        height: 110px;
        right: 40px;
        top: 15px;
    }

    .box-course {
        height: 160px;
        overflow-x: auto;
    }
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    .title1 {
        color: #00ADEF;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .spani {
        display: flex;
        /*border-bottom: 0.3px solid #01adef;*/
        justify-content: space-between;
        font-size: 15px;
        padding: 13px
    }

    .spani1 {
        width: 100%;
        display: flex;
        padding: 6px 10px;
        justify-content: space-between;
    }

        .spani1 i {
            color: #0000FF;
            margin-right: 15px;
            padding-top: 5px;
        }

        .spani1 span {
            font-size: 16px;
        }

    .spani3 {
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

    .spani2 {
        width: 50%;
        display: flex;
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

        .spani2 i {
            color: #0000FF;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 15px;
        }

        .spani2 span,
        .spani3 span {
            font-size: 16px;
        }

    .dashboard-stat2 {
        box-shadow: 0px 0px 10px 0px grey;
        border: solid 0.01px grey;
        height: 375px;
        background: transparent url(https://d4.violet.vn/uploads/blogs/735961/layout/forum_10.gif) repeat center top;
    }

    .graph {
        box-shadow: 0px 0px 10px 0px grey;
        border: solid 0.01px grey;
    }

    .report {
        color: #00ADEF;
        display: flex;
        cursor: pointer;
    }

        .report:hover {
            color: red;
        }

    .border-box-dashboard {
        height: 375px !important;
        width: 50% !important;
        margin: 0 0.5% 0 1.5%;
    }

    .color-text-cms {
        color: #000;
    }

    .text-header-box {
    }

    .text-header-box-act-employee {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    .text-content-box-act-emp {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    label {
        font-weight: 600;
        font-size: 13px;
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    rect.Object_Label {
        fill: #fff;
    }

    rect.draw2d_ResizeHandle {
        display: none;
    }

    .nameMenu {
        font-family: " Oswald", arial, sans-serif;
        text-decoration: underline;
        text-align: center;
        /*margin: 20px;*/
        font-size: 16px;
        color: #000;
        font-weight: 600;
        line-height: 1.2;
        margin-top: -30px;
    }

    body {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .row {
        margin-left: 0;
        margin-right: 0
    }

    .app-content {
        width: 100%
    }

    .report span {
        font-size: 15px;
        font-weight: 100;
        color: #000
    }

    .report i {
        margin-top: 4px;
    }

    .title1 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        font-weight: 600;
    }

    .gach {
        border-bottom: 1px solid grey;
    }

    .title2 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        margin-left: -25px;
        font-weight: 600
    }

    .scroll_content_custom {
        top: 0
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .app-content {
        width: 100%;
    }

    .content-wrapper {
        margin-top: 40px;
    }
</style>
<style>
    .row-sumary {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

    .row-chil {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333%;
    }

    .card-sumary {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        box-shadow: var(--falcon-box-shadow);
    }

    .card-body-sumary {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border: 1px;
        padding: 1.25rem 1.25rem;
        background-color: #fff;
    }

    .d-flex-sumary {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .flex-1-sumary {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .overflow-hidden-sumary {
        overflow: hidden !important;
    }


    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .text-truncate-sumary {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-sumary {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
        box-shadow: 0 -1px 4px #999;
    }

    h4.mb-0 {
        font-size: 21.6px;
        font-weight: 500;
        font-family: Inter,sans-serif;
    }

    .border-top {
        border-top: 1px solid #eff2f7 !important;
    }
</style>
<!--<style>
    .card {
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #d0d1d1;
        background-clip: border-box;
        border: 0 solid #f1f5f7;
        border-radius: 0.25rem;
    }
</style>-->
<div class="row border-responsive ohzoho-soft" id="contentMainSubjectManage">
    <div class="col-md-12">
        <div class="box-title h-50">
            <span class="pl15 bold t-center" style="font-family: Open Sans, sans-serif; font-size:16px"><img src="../../../images/icons/CrawlerRunning.png" height="30" width="30" />&nbsp;&nbsp;{{'Summary Report' | translate}}</span>
        </div>
    </div>
    <div class="row mt-3" style="padding-bottom: 25px;">
        <div class="col-md-2 pt10">
            <div class="form-group col-md-12 p-0">
                <label class="require"> {{'From' | translate}}</label>
                <div class='input-group date br24'>
                    <input ng-model="model.StartTime" type='text' class="form-control text-custom" placeholder="{{'From' | translate}}" id="datefrom" name="StartTime" autocomplete="off" />
                    <span class="input-group-addon start-date" ng-click="model.StartTime = ''">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 pt10">
            <div class="form-group col-md-12 p-0">
                <label class="require"> {{'To' | translate}}</label>
                <div class='input-group date br24'>
                    <input ng-model="model.EndTime" type='text' class="form-control text-custom" placeholder="{{'To' | translate}}" id="dateto" name="EndTime" autocomplete="off" />
                    <span class="input-group-addon end-date" ng-click="model.EndTime = ''">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt10">
            <div class="form-group">
                <label class="mb5 require">{{'Domain' | translate}}</label>
                <div class="input-group br24">
                    <div ng-dropdown-multiselect=""
                         options="ListSummaryDomain"
                         selected-model="selectedSummaryDomain"
                         events="eventTimeType"
                         extra-settings="stringSettings"
                         translation-texts="translateTimeType">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 pt10">
            <label class="">{{'Social' | translate}}</label>
            <div class="form-group col-md-12 p-0">
                <div class="input-group br24-nobtn">
                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Social" theme="bootstrap">
                        <ui-select-match placeholder1="{{'' | translate}}..." placeholder="{{'Domain' | translate}}"><b>{{$select.selected.Name}}</b></ui-select-match>
                        <ui-select-choices repeat="x.Code as x in listbotcode | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="btn-group pull-right pt50 pb-1 actions d-flex" style="margin-top: -50px;">
            <div class="text-center pr-2" ng-show="!isSearch">
                <a class="fs30" ng-click="Search()">
                    <span><i class="fas fa-search"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
            </div>
        </div>
    </div>


</div>

<div class="row-sumary">
    <div class="col-xl-12">
        <div class="row-chil">
            <div class="wpercent20 pr10 pl5">
                <div class="card-sumary br5">
                    <div class="card-body-sumary">
                        <div class="d-flex-sumary">
                            <div class="flex-1-sumary overflow-hidden-sumary">
                               
                                <p class="text-truncate-sumary text-success font-size-14-sumary mb-2"> <i class="fas fa-solid fa-link  pr10"></i>URL</p>
                            </div>
                            <!--<div class="text-primary ms-auto">
                                <i class="ri-stack-line fs20"></i>
                            </div>-->
                        </div>
                    </div>
                    <div class="card-body-sumary border-top py-3">
                        <div class="flex-1-sumary overflow-hidden-sumary">
                            <h4 class="mb-0">{{urlNum}}</h4>
                        </div>
                        <!--<div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> 2.4% </span>
                            <span class="text-muted ms-2">From previous period</span>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="wpercent20 pr10">
                <div class="card-sumary br5" >
                    <div class="card-body-sumary">
                        <div class="d-flex-sumary">
                            <div class="flex-1-sumary overflow-hidden-sumary">
                                <p class="text-truncate-sumary  text-info font-size-14-sumary mb-2"><i class="fas fa-alarm-clock fs16 pr10"></i>Time Scan</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-sumary border-top py-3">
                        <div class="flex-1-sumary overflow-hidden-sumary">
                            <h4 class="mb-0">{{timeScan}}s</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpercent20 pr10">
                <div class="card-sumary">
                    <div class="card-body-sumary">
                        <div class="d-flex-sumary">
                            <div class="flex-1-sumary overflow-hidden-sumary">
                                <p class="text-truncate-sumary text-warning font-size-14-sumary mb-2"><i class="fas fa-solid fa-download pr10" ></i>Download File</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-sumary border-top py-3">
                        <div class="flex-1-sumary overflow-hidden-sumary">
                            <h4 class="mb-0">{{fileNum}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpercent20 pr10">
                <div class="card-sumary br5">
                    <div class="card-body-sumary">
                        <div class="d-flex-sumary">
                            <div class="flex-1-sumary overflow-hidden-sumary">
                                <p class="text-truncate-sumary text-primary font-size-14-sumary mb-2"><i class="fas fa-solid fa-file-code pr10"></i>File Size</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-sumary border-top py-3">
                        <div class="flex-1-sumary overflow-hidden-sumary">
                            <h4 class="mb-0">2.435kb</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpercent20 pr10">
                <div class="card-sumary br5">
                    <div class="card-body-sumary">
                        <div class="d-flex-sumary">
                            <div class="flex-1-sumary overflow-hidden-sumary">
                                <p class="text-truncate-sumary text-danger font-size-14-sumary mb-2"><i class="fas fa-abacus fs16 pr10"></i>Captcha Num</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-sumary border-top py-3">
                        <div class="flex-1-sumary overflow-hidden-sumary">
                            <h4 class="mb-0">{{capcharNum}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>


<div class="fluid-width">
    <h4 class="card-title mb-4">Revenue Analytics</h4>
    <div apex-chart="" id="line_chart_datalabel" class="apex-charts" dir="ltr" ng-model="optionLineChart"></div>
</div>

<div class="fluid-width">
    <h4 class="card-title mb-4">Revenue Analytics</h4>
    <div apex-chart="" id="pie_chart" class="apex-charts" dir="ltr" ng-model="optionPieChart"></div>
</div>