<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }


    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 20px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .line {
        width: 50px;
        border: 2px solid #ccc;
    }


    /*CSS form Tab*/
    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
            border-top-right-radius: 5px;
        }

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                border-bottom: none;
                font-weight: 600;
            }

    @media only screen and (max-width: 1366px) {
        .tab .nav-tabs li div {
            color: black;
            background: white;
            border-radius: 0;
            margin-right: -1px;
            padding: 5.5px 10px;
            border-bottom: none;
            font-weight: 600;
        }
    }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
    }

    .tab .nav-tabs li.active > div, .tab .nav-tabs > li.active > div:focus {
        border: none;
        /*color: green;*/
        background: white;
        border-top: 2px solid #e7505a;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }
    /*CSS form Tab*/

    .form .form-body, .portlet-form .form-body {
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    #cke_description .cke_inner {
        min-height: 430px !important;
    }

        #cke_description .cke_inner div {
            min-height: 310px !important;
        }

    /*.btn-custom-tab-color {
        background: #cecbcb;
    }

    .nav-pills, .nav-tabs {
        margin-bottom: 0px !important;
    }

    .tab .tab-content {
        border: none !important;
    }*/

    .btn-border-black {
        border: 1px solid #000;
    }

    .share-object > span:after {
        left: 8px;
        top: 4px;
        border: solid #000 !important;
        border-width: 0 2px 2px 0 !important;
    }

    .btn-border-grey {
        border: 1px solid #cac0c0;
    }

    .mt1 {
        margin-top: 1px !important;
    }

    .width-100 {
        width: 98.25% !important;
    }
    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }

    /*.custom-button-in-tab {
        background: #fff !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }*/
    /*.green {
        color: green;
    }*/
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-edit black icon-insert  "></i>
    <span class="modal-title black custom-title " id="modal-title">{{'WFAI_TITLE_EDIT_WF'|translate}}</span>
</div>
<div class="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addwfinstance" class="form-horizontal " method="post" ng-validate="validationOptionsWF">
            <div class="form-body pt-0 pl-0 pr-0">
                <div class="row">
                    <div class="col-md-10 pl25">
                        <div class="form-group">
                            <label class="control-label require fw600">{{'WFAI_VALIDATE_NAME_STREAM_INSTANCE' | translate}}</label>
                            <input data-ng-model="model.WfInstName" class="form-control br24" name="WfInstName" placeholder=" {{'WFAI_VALIDATE_NAME_STREAM_INSTANCE' | translate}}..." />
                        </div>
                    </div>
                    <!--<button class="btn green-custom pull-right mr15" style="margin-top:23px;" ng-click="submit()">
                        <span class="fa fa-save"></span>
                        {{'Lưu lại' | translate}}
                    </button>-->
                    <div class="col-md-1 pr-0">
                        <div class="text-center mt30 pl-0 pr-0" style="width: 100%;" ng-click="submit()">
                            <a class1="btn btn-icon-only btn-circle btn-outline green-custom mt25">
                                <span><i class="fa-solid fa-plus fs30"></i></span>
                            </a>
                            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="isShowHeader">
                    <div class="col-md-8">
                        <div class="form-group pr-1 pl-1" ng-class="{'has-error' : errorWorkflowCode}">
                            <label class="control-label require">{{'WFAI_CRUD_WF' | translate}}</label>
                            <div class="input-group br24-nobtn">
                                <ui-select tagging ng-model="model.WorkflowCode" theme="bootstrap" ng-change="changeSelect('WorkflowCode')" ng-disabled="true">
                                    <ui-select-match placeholder="{{'WFAI_CRUD_WF' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                    <ui-select-choices repeat=" x.Code as x in lstWF | filter: $select.search">
                                        <b>{{x.Name}}</b>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span ng-show="errorWorkflowCode" class="label-color validation-message">
                                {{'WFAI_VALIDATE_WF' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="col-md-4 pr30">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error' : errorStatus}">
                                    <label class="control-label require">{{'WFAI_CRUD_STATUS' | translate}}</label>
                                    <div class="input-group br24-nobtn">
                                        <ui-select tagging ng-model="model.Status" theme="bootstrap" ng-change="changeSelect('Status')">
                                            <ui-select-match placeholder="{{'WFAI_CRUD_STATUS' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in listStatusWF | filter: $select.search">
                                                <b>{{x.Name}}</b>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <span ng-show="errorStatus" class="label-color validation-message">
                                        {{'Trạng thái không được bỏ trống' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isShowHeader">
                    <div class="col-md-5" ng-show="isShowHeader">
                        <div class="form-group pl-1 pr-1" ng-class="{'has-error' : errorObjectType}">
                            <label class="control-label">{{'WFAI_TAB_OBJ_OPERATION' | translate}}</label>
                            <div class="input-group br24-nobtn search-group">
                                <ui-select tagging ng-model="model.ObjectType" theme="bootstrap" ng-change="changeSelect('ObjectType')" ng-disabled="true">
                                    <ui-select-match placeholder="{{'WFAI_TAB_OBJ_OPERATION' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                    <ui-select-choices repeat=" x.Code as x in lstObjectType | filter: $select.search">
                                        <b>{{x.Name}}</b>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span ng-show="errorObjectType" class="label-color validation-message">
                                {{'Dữ liệu hành chính không được bỏ trống' | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="col-md-7 pr30">
                        <div class="form-group" ng-class="{'has-error' : errorObjectInst}">
                            <label class="control-label">{{'WFAI_CRUD_DETAIL' | translate}}</label>
                            <div class="input-group br24-nobtn search-group">
                                <ui-select tagging ng-model="model.ObjectInst" theme="bootstrap" ng-disabled="true">
                                    <ui-select-match placeholder="{{'WFAI_CRUD_DETAIL' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                    <ui-select-choices repeat=" x.Code as x in lstObjectInst | filter: $select.search">
                                        <b>{{x.Name}}</b>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span ng-show="errorObjectInst" class="label-color validation-message">
                                {{'WFAI_VALIDATE_OBJ' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isShowHeader">
                    <div class="col-md-4" ng-show="isShowHeader">
                        <div class="form-group pl-1 pr-1">
                            <label class="control-label">{{'WFAI_CRUD_GROUP' | translate}}</label>
                            <div class="input-group br24-nobtn search-group">
                                <ui-select tagging ng-model="model.WfGroup" theme="bootstrap" ng-change="changeSelect('WfGroup')">
                                    <ui-select-match placeholder="{{'WFAI_CRUD_GROUP' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                    <ui-select-choices repeat=" x.Code as x in listWfGroup | filter: $select.search">
                                        <b>{{x.Name}}</b>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group pr-1">
                            <label class="control-label">{{'WFAI_CRUD_TIME_START' | translate}}</label>
                            <input type="text" class="form-control br24 text-box-asset" ng-model="model.StartTime" placeholder="{{'WFAI_CRUD_TIME_START'|translate}}..." readonly />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group pr-2">
                            <label class="control-label">{{'WFAI_CRUD_TIME_END' | translate}}</label>
                            <input type="text" class="form-control br24 text-box-asset" ng-model="model.EndTime" placeholder="{{'WFAI_CRUD_TIME_END'|translate}}..." readonly />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 mt10">
                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div href="#FileHistory" aria-controls="home" role="button" data-toggle="tab">{{'WFAI_TAB_HISTORY_FILE' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#CmdTo" aria-controls="profile" role="button" data-toggle="tab" style="padding-left: 35px; padding-right: 35px;">
                                {{'WFAI_TAB_COMMAND_TO' | translate}}
                            </div>
                        </li>
                        <!--<li role="presentation" class="disabled stepNext">
                            <div href="#CmdResult" aria-controls="messages" role="button" data-toggle="tab">{{'WFAI_TAB_REPONSE' | translate}}</div>
                        </li>-->
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Employee" aria-controls="messages" role="button" data-toggle="tab">{{'WFAI_TAB_ASSIGN_WF' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Object" aria-controls="messages" role="button" data-toggle="tab">{{'WFAI_TAB_OBJECT_OPERATION' | translate}}</div>
                        </li>
                        <div class="pull-right">
                            <div class="text-center ml10" ng-show="!isShowHeader">
                                <a ng-click="showHeaderCard()" class="btn btn-icon-only btn-outline btn-border-grey custom-button-in-tab">
                                    <i class="fa fa-chevron-down black fs20 mt1" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </ul>
                    <div class="tab-content pl20 p10 h-450" style="padding-top: 10px !important; overflow-y: auto; overflow-x: hidden">
                        <div role="tabpanel" class="tab-pane fade in active" id="FileHistory">
                            <div ng-include="'../views/admin/workflowActivity/file-version.html'"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="CmdTo">
                            <div class="col-md-12 pl-0 pr-0">
                                <div class="form-group br24-nobtn">
                                    <ui-select ng-model="modelCmd.LstAct" multiple theme="bootstrap" limit="100" style="width: 100%; height: 65px;">
                                        <ui-select-match placeholder="{{'WFAI_CRUD_SELECT_ACT' | translate}}...">
                                            <span>{{$item.Name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="x in lstActInstCmd |  filter:$select.search">
                                            <div class="p5">{{x.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2 pl-0">
                                <div class="form-group br24-nobtn">
                                    <label class="control-label">{{'WFAI_CRUD_COMMAND' | translate}}</label>
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelCmd.CommandSymbol" theme="bootstrap">
                                        <ui-select-match placeholder="{{'WFAI_CRUD_COMMAND' | translate}}..."><p class="{{$select.selected.Color}} bold">{{$select.selected.Name}}</p></ui-select-match>
                                        <ui-select-choices style="height: auto" repeat="x.Code as x in lstCommandCommon | filter: $select.search">
                                            <span class="{{x.Color}} bold">{{x.Name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-9 pl-0">
                                <label class="control-label">{{'COM_CRUMB_WF_NOTE' | translate}}</label>
                                <textarea name="Note" rows="3" class="form-control br12" ng-model="modelCmd.Message" type="text" placeholder=" {{'COM_CRUMB_WF_NOTE' | translate}}..."></textarea>
                            </div>
                            <div class="col-md-1 mt15 pr-0">
                                <div class="text-center mt25 pull-right">
                                    <!--<div class="text-center pl-0 pr-0" style="width: 100%;" ng-click="add()">
                                        <div class="btn btn-icon-only btn-circle btn-outline green-custom mt25">
                                            <span><i class="fa fa-plus"></i></span>
                                        </div>
                                        <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_ADD' | translate}}</p>
                                    </div>-->
                                    <!--<a class="btn btn-icon-only btn-outline" ng-click="sendCommand()" style="border: 1px solid #000;">
                                        <span><i class="fa fa-plus black"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pl5 pt5 ng-binding">{{'COM_BTN_ADD' | translate}}</p>-->
                                </div>
                            </div>
                            <div class="col-md-12 pr-0 pl-0 mt10" style="margin-bottom: 0; height: 250px; overflow-y: scroll;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-md-3 text-center">{{'COM_CRUMB_WF_COMMAND_TAKING' | translate}}</th>
                                            <th class="col-md-2 text-center">{{'WFAI_LIST_COL_COMMAND' | translate}}</th>
                                            <th class="col-md-2 text-center">{{'WFAI_LIST_COL_CONFIRM' | translate}}</th>
                                            <th class="col-md-4 text-center">{{'COM_CRUMB_WF_NOTE' | translate}}</th>
                                            <th class="col-md-1 text-center">{{'COM_LIST_COL_ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in lstCmdResult">
                                            <td><span class="bold">{{x.ActName}}</span></td>
                                            <td>
                                                <span class="bold green">{{x.Command}}</span>
                                                <br /><span>Người gửi: {{x.UserSend}}</span>
                                                <br /><span>Lúc: {{x.CmdTime}}</span>
                                            </td>
                                            <td>
                                                <span class="bold green">{{x.Confirmloca}}</span>
                                                <br /><span ng-show="x.UserConfirm !=''">Xác nhận bởi: {{x.UserConfirm}}</span>
                                                <br /><span ng-show="x.UserConfirm !=''">Lúc: {{x.ConfirmTime}}</span>
                                            </td>
                                            <td>{{x.Note}}</td>
                                            <td class="text-center pt15">
                                                <a ng-click="deleteCmdLeader(x.Id)" class1="pull-right pr15 btn btn-icon-only btn-border-black black" style1="width: 26px; height: 26px; padding-top: 3px;padding-left: 7.3px; margin-right:5px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45)"><i class="fa fa-trash-alt fs25 text-danger"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Employee">
                            <div class="row mt10">
                                <!--<div class="col-md-3">
                                    <label class="control-label bold">{{'WFAI_CRUD_BRANCH' | translate}}</label>
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelAssign.Branch" on-select="changeSelectAssign('Branch', modelAssign.Branch)" theme="bootstrap" ng-disabled="IsLock || !isPerAssignWF">
                                        <ui-select-match placeholder="{{'WFAI_CRUD_BRANCH' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                        <ui-select-choices style="height: auto" repeat="x.Code as x in lstBranch | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label bold">{{'WFAI_CRUD_DEPARTMENT_GROUP' | translate}}</label>
                                    <div class="d-flex">
                                        <ui-select style="width:100%" class="ui-select-bootstrap-right-radius" ng-model="modelAssign.Object" on-select="departmentOrGroupSelect(modelAssign.Object)" theme="bootstrap" ng-disabled="IsLock || !isPerAssignWF">
                                            <ui-select-match placeholder="{{'WFAI_CRUD_DEPARTMENT_GROUP' | translate}}..."><b>{{$select.selected.Name}}(<span class="text-danger">{{$select.selected.CountUser}}</span>)</b></ui-select-match>
                                            <ui-select-choices group-by="'Group'" repeat="x in listGroupUserAndDepartment | filter: $select.search">
                                                {{x.Name}}(<span class="text-danger">{{x.CountUser}}</span>)
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label bold">{{'WFAI_CRUD_EMPLOYEE' | translate}}(<span class="text-danger">{{listUser.length}}</span>)</label>
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelAssign.UserId" on-select="assign()" theme="bootstrap" ng-disabled="IsLock || !isPerAssignWF">
                                        <ui-select-match placeholder="{{'WFAI_CRUD_EMPLOYEE' | translate}}..."><b>{{$select.selected.GivenName}}</b></ui-select-match>
                                        <ui-select-choices style="height: auto" repeat="x.UserId as x in listUser | filter: $select.search">
                                            {{x.GivenName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>-->
                                <div class="col-md-12 mt5">
                                    <style>
                                        .portlet.light > .portlet-title > .caption {
                                            padding: 0px 0;
                                        }

                                        .ui-select-choices-group-label {
                                            font-weight: bold;
                                            padding-left: 10px !important;
                                            color: #515354 !important;
                                        }

                                        .table-responsive {
                                            overflow: unset;
                                        }
                                    </style>
                                    <div class="bordered mb5">
                                        <div class="portlet-title mnh25">
                                            <div class="caption">
                                                <span class="caption-subject bold fs12">{{'WFAI_LBL_LIST_DEPARTMENT_GROUP_EMPL' | translate}}</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body todo-project-list-content">
                                            <div class="">
                                                <div class="table-responsive" style="height: 350px; overflow-y: scroll; overflow-x: hidden">
                                                    <table class="table table-bordered" style="margin-bottom: 0;">
                                                        <thead>
                                                            <tr>
                                                                <th class="pl25 col-md-6">{{'WFAI_LIST_COL_DEPARTMENT_GROUP' | translate}}</th>
                                                                <th class="text-center nowrap col-md-3">{{'WFAI_CRUD_ACT_INST' | translate}}</th>
                                                                <th class="text-center nowrap col-md-3">{{'WFAI_LIST_COL_ROLE' | translate}}</th>
                                                                <!--<th class="text-center col-md-1">{{'COM_BTN_DELETE' | translate}}</th>-->
                                                            </tr>
                                                        </thead>
                                                        <!--Người được giao-->
                                                        <!--<tbody>
                                                            <tr>
                                                                <td ng-if="lstMemberAssign.length!=0" colspan="3" class="pl25">
                                                                    <i class="fa fa-user"></i>
                                                                    <span class="groupValue"><b>{{'WFAI_LIST_COL_ASSGINEE' | translate}}</b></span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="x in lstMemberAssign">
                                                                <td class="text-left">
                                                                    <span class="fs14">{{x.GivenName}}</span>  &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge-customer badge-customer-warning"> {{x.RoleSys}}</span> ,&nbsp;<span class="badge-customer badge-customer-success" ng-if="x.DepartmentName != ''">{{x.DepartmentName}}</span>
                                                                </td>

                                                                <td class="text-center">
                                                                    <div class="input-group">
                                                                        <ui-select class="ui-select-bootstrap-right-radius" ng-model="x.Role" theme="bootstrap" on-select="changeRole(x.Role, x.UserId)">
                                                                            <ui-select-match placeholder="{{'WFAI_CRUD_ROLE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                                            <ui-select-choices repeat="x.Code as x in lstRole | filter: $select.search">
                                                                                {{x.Name}}
                                                                            </ui-select-choices>
                                                                        </ui-select>
                                                                    </div>
                                                                </td>
                                                                <td></td>
                                                                <td class="text-center"><i role="button" class="fa fa-minus-circle pt5 ng-scope" ng-click="delete(x.UserId)" title="{{'COM_BTN_DELETE' | translate}}" style="color:red !important;font-size: 25px"></i></td>
                                                            </tr>
                                                        </tbody>-->
                                                        <tbody>
                                                            <tr ng-repeat-start="g in lstAssignWF" ng-show="false">
                                                                <td ng-if="g.ActivityRole.length!=0" colspan="2" class="pl25">
                                                                    <i class="fa fa-user"></i>
                                                                    <!--<span class="fs14">{{g.GivenName}}</span>  &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge-customer badge-customer-warning"> {{g.RoleSys}}</span> ,&nbsp;<span class="badge-customer badge-customer-success" ng-if="g.DepartmentName != ''">{{g.DepartmentName}}</span>-->
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="x in g.ActivityRole">
                                                                <td><span class="fs14">{{x.GivenName}}</span>  &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge-customer badge-customer-warning"> {{x.RoleSys}}</span> ,&nbsp;<span class="badge-customer badge-customer-success" ng-if="x.DepartmentName != ''">{{x.DepartmentName}}</span></td>
                                                                <td class="bold">{{x.ActInstName}}</td>
                                                                <td class="text-center">
                                                                    <div class="input-group br24-nobtn">
                                                                        <ui-select class="ui-select-bootstrap-right-radius" ng-model="x.Role" theme="bootstrap" on-select="changeRoleAct(x.Id, x.Role)" ng-disabled="true">
                                                                            <ui-select-match placeholder="{{'WFAI_CRUD_ROLE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                                            <ui-select-choices repeat="x.Code as x in lstRole | filter: $select.search">
                                                                                {{x.Name}}
                                                                            </ui-select-choices>
                                                                        </ui-select>
                                                                    </div>
                                                                </td>
                                                                <!--<td class="text-center"><i role="button" class="fa fa-minus-circle pt5 ng-scope" ng-click="deleteAssignAct(x.Id)" title="{{'COM_BTN_DELETE' | translate}}" style="color:red !important;font-size: 25px"></i></td>-->
                                                            </tr>
                                                            <tr ng-repeat-end="" ng-show="false"></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Object">
                            <div class="row">
                                <form name="formObjectOperation" class="form-horizontal" method="post">
                                    <div class="col-md-12 pr-0">
                                        <div class="col-md-12 pl-0 pr-0">
                                            <div class="col-md-3 pl-0 br24-nobtn">
                                                <label class="control-label">{{'WFAI_CRUD_OBJ_TYPE' | translate}}</label>
                                                <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelObj.ObjectType" on-select="objTypeChange(modelObj.ObjectType)" theme="bootstrap" ng-disabled="IsLock">
                                                    <ui-select-match placeholder="{{'WFAI_CRUD_OBJ_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices style="height: auto" repeat="x.Code as x in lstObjType | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col-md-4 pl-0">
                                                <label class="control-label">{{'WFAI_CRUD_OBJECT' | translate}}</label>
                                                <div class="input-group br24-nobtn">
                                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelObj.ObjectInst" theme="bootstrap" ng-disabled="IsLock">
                                                        <ui-select-match placeholder="{{'WFAI_CRUD_OBJECT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices style="height: auto" repeat="x.Code as x in lstObj | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pr-0">
                                                <label class="control-label">{{'WFAI_CRUD_ACT_INST' | translate}}</label>
                                                <div class="input-group br24-nobtn">
                                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelObj.ActInstCode" theme="bootstrap" ng-disabled="IsLock">
                                                        <ui-select-match placeholder="{{'WFAI_CRUD_ACT_INST' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                        <ui-select-choices style="height: auto" repeat="x.ActInstCode as x in lstActInst | filter: $select.search">
                                                            {{x.Title}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 pr10" style="padding-top: 35px;">
                                                <a title="Chia sẻ" class1="btn btn-border-black pull-right ml5" ng-click="shareObj()"><i class="fas fa-share-alt-square fs30 pr20"></i></a>
                                                <a title="Thêm mới" class1="btn btn-border-black pull-right" ng-click="addObject()"><i class="fa-solid fa-plus fs30"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive pt10" style="height: 340px; overflow-y: scroll;">
                                    <table class="table table-bordered" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1 text-center" style="width: 3%;">{{'WFAI_LIST_COL_INDEX' | translate}}</th>
                                                <th class="col-md-6 text-center">{{'WFAI_LIST_COL_OBJ_PROCESSING' | translate}}</th>
                                                <th class="col-md-3 text-center">{{'WFAI_CRUD_OBJ_NAME' | translate}}</th>
                                                <th class="col-md-1 text-center">{{'WFAI_LIST_COL_SHARE_OBJECT' | translate}}</th>
                                                <th class="col-md-1 text-center">{{'COM_BTN_DELETE' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in lstObjectProcess">
                                                <td class="text-center">{{$index + 1}}</td>
                                                <td class="" ng-show="x.ObjType != 'CARD_JOB'">
                                                    <span class="bold text-underline" style="color:#ab7474;">{{x.ObjectCode}}</span> -- <span class="bold">{{x.ObjectName}}</span><br />
                                                    <span>{{'WFAI_CRUD_OBJ_TYPE_WF' | translate}}: {{x.ObjTypeText}}</span><br />
                                                    <span>{{x.Status}}</span>, &nbsp;
                                                    <span>{{x.CreatedBy}}</span>, &nbsp;
                                                    <span>{{x.CreatedTime}}</span>
                                                    <span class="pull-right text-underline" ng-click="viewShareObj(x.ObjectCode, x.ObjType, x.ActInst)">{{'Xem chia sẻ' | translate}}</span>
                                                </td>

                                                <td ng-show="x.ObjType == 'CARD_JOB'">
                                                    <span class="bold text-underline" style="color:#ab7474">#{{x.ObjectCode}}: </span>
                                                    <span class="bold">{{x.ObjectName}}</span><br />
                                                    <span class="badge-customer badge-customer-danger" ng-if="x.Status == 'Thẻ rác' || x.Status == 'Đóng' || x.Status == 'Đang triển khai'">{{x.Status}}</span>
                                                    <span class="badge-customer badge-customer-success" ng-if="x.Status == 'Mới tạo' || x.Status == 'Hoàn thành'">{{x.Status}}</span>
                                                    <span class="badge-customer badge-customer-success">{{x.CreatedBy}}</span>, &nbsp;
                                                    <span class="badge-customer badge-customer-black">{{x.CreatedTime}}</span>
                                                    <span class="pull-right text-underline" ng-click="viewShareObj(x.ObjectCode, x.ObjType, x.ActInst)">{{'Xem chia sẻ' | translate}}</span>
                                                </td>

                                                <td class="text-center">
                                                    {{x.ActTitle}}
                                                </td>
                                                <td class="text-center pt15">
                                                    <label class="mt-checkbox share-object" style="margin-bottom: 0; width: 30px;display:inline; font-size:13px">
                                                        <!--<input type="checkbox" ng-model="x.IsCheck" ng-checked="x.IsCheck" ng-change="checkObject(x.IsCheck, x.ObjectCode, x.ObjType, x.ActInst)">-->
                                                        <i class="fas fa-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="x.IsCheck != true" ng-click="checkObject(true, x.ObjectCode, x.ObjType, x.ActInst)"></i>

                                                        <i class="fas fa-check-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="x.IsCheck == true" ng-click="checkObject(false, x.ObjectCode, x.ObjType, x.ActInst)"></i>
                                                        <!--<span style="padding: 10px;background: #fff !important;border: 1px solid #b9b6b6;"></span>-->
                                                    </label>
                                                </td>
                                                <td class="text-center pt15">
                                                    <a class1="pull-right pr15 btn btn-icon-only btn-border-black black" style1="width: 26px; height: 26px; padding-top: 3px;padding-left: 7.3px; margin-right:5px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45)" ng-click="deleteObject(x.Id)"><i class="fas fa-trash-alt fs25 text-danger"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>
