<style>
    .app-content {
        width: 100%;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    .sharp {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5%;
        margin-left: 15%;
    }

    .p0 {
        padding: 0px
    }

    .text-label-command {
        color: white;
    }

    @keyframes blinker-one {
        0% {
            opacity: 0;
        }
    }

    .borderless td,
    .borderless th {
        border-top: none !important;
        border-bottom: 1px solid #e7ecf1;
    }

    .act-sidebar {
        position: fixed;
        left: 1%;
        max-width: 0px;
        width: 100%;
        top: 20%;
        z-index: 100;
        background: #fff;
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
        height: 100vh;
    }

    svg {
        top: 0 !important;
    }

    .btn-border-black {
        border: 1px solid #000;
        background: #fff;
    }

    .panel-padding-left {
        padding-left: 420px;
    }

    .svg-margin-left {
        margin-left: 350px;
    }

    body.modal-open {
        overflow: hidden !important;
    }

    .breadcrumb>li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .numberStep {
        color: white;
        height: 25px;
        width: 25px;
        padding-top: 5px;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }

    #obj-data-table>thead>tr>th {
        font-size: 13px !important;
    }

    #obj-data-table>tbody>tr>td {
        font-size: 13px !important;
    }

    .board-selected {
        color: white !important;
        background-color: #428bca !important;
        box-shadow: 3px 3px 3px #428bca6e;
    }

    .td-act {
        width: 440px;
        max-width: 440px;
    }

    .count-wf {
        top: 0px !important;
        font-weight: 400 !important;
    }

    @-webkit-keyframes blinkerAct {
        from {
            opacity: 0;
        }

        to {
            color: blue;
        }
    }

    .blink-act {
        text-decoration: blink;
        -webkit-animation-name: blinkerAct;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }
    .actName {
        font-weight: bold;
        color: black;
    }

    /*.datepicker, .table-condensed {
        height: 200px !important;
        width: 200px !important;
    }*/

    .v-scroll::-webkit-scrollbar {
        height: 5px;
        background: #f1f1f1;
    }

    .v-scroll::-webkit-scrollbar-thumb {
        background: #dee2e6;
        border-radius: 5px;
    }

    .dw-310 {
        width: 310px;
    }

    .dp-335 {
        padding-left: 335px;
    }

    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 1032 !important;
    }


    @media only screen and (min-width : 1800px) {
        .dw-310 {
            width: calc(100% / 6) !important;
        }

        .dp-335 {
            padding-left: calc(100% / 6 - 15px) !important;
        }
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 1032;
        width: calc(65% - 70px);
        right: 70px;
    }

    #searchBox .bordered {
        border: 1px solid #80808057 !important;
        box-shadow: 1px 3px 8px 0px #888888c2;
    }

    .main-menu-editWorkflow {
        position: absolute;
        right: -20px;
        display: flex;
    }

    .main-right-editWorkflow {
        position: absolute;
        right: -20px;
        display: flex;
    }

    .label-lg {
        font-size: 14px;
        /* Điều chỉnh kích thước chữ theo ý muốn */
        font-weight: bold;
        /* Điều chỉnh độ đậm của chữ nếu cần */
    }

    .label-lg-content {
        font-size: 14px;
        /* Điều chỉnh kích thước chữ theo ý muốn */
    }

    .toggle-content {
        display: none;
    }

    .toggle-header {
        cursor: pointer;
        background-color: #EEEEEE;
        padding-left: 10px;
    }
    tr.active {
        background-color: #44d9ec; /* Màu nền khi hàng được chọn */
        font-size: large;  
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<link href="/lib/robust/css/core/menu/menu-types/vertical-menu.css"
<div ng-show="isShowDiagram" class="parent_svg" onselectstart="javascript:return false" id="gfx_holder"
    style="width: 2000px; height:1500px; position: relative;">
    <div ng-if="isShowDiagram" class="milestone" style="width:1500px;height:2000px ;display:flex"></div>
</div>

<div class="main-menu-top" ng-show="!isShowListWf">
    <div class="menu-top ">
        <div class="create-box pl5 pt15" ng-click="showGrid()">
            <i class="fa fa-home create-line fs28"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_HOME' | translate}}
            </div>
        </div>
        <div class="create-box pl5 pt15">
            <i class="fas fa-long-arrow-alt-left undo fs28"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_UNDO' | translate}}
            </div>
        </div>
        <div class="create-box pl5 pt15">
            <i class="fas fa-long-arrow-alt-right redo fs28"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_REDO' | translate}}

            </div>
        </div>
        <div class="create-box pl5 pt15">
            <i class="fas fa-list-alt list-activity fs24"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_LIST_ACT' | translate}}

            </div>
        </div>
        <div class="create-box pl5 pt15 pr10" ng-click="createActivity()">
            <i class="fab fa-buromobelexperte create-activity fs24"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_CREATE_ACT' | translate}}
            </div>
        </div>

    </div>
    <div id="canvas">
    </div>
    <div class="menu-top menu-3">
        <div class="create-box pl10 pt15">
            <i class="fab fa-buromobelexperte create-activity fs24"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_CREAE_LINE' | translate}}

            </div>
        </div>
        <div class="create-box pl10 pt15">
            <i class="fab fa-gg create-line fs24"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_CREAE_LINE' | translate}}

            </div>
        </div>
        <div class="create-box pl10 pt15" ng-click="library()">
            <i class="fa-solid fa-map fs28"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_CREAE_LINE' | translate}}
            </div>
        </div>
        <div class="create-box pl10 pt15 pr10">
            <i class="fab fa-gg create-line autoarange fs28"></i>
            <div class="create-box__hover">
                {{'WFAI_BTN_AUTO_RANGE' | translate}}
            </div>
        </div>
        <div class="" style="width: 355px; line-height: 15px !important;">
            <div class="col-md-12">
                <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Code" theme="bootstrap"
                    ng-change="wfInstanceClick(model.Code)">
                    <ui-select-match placeholder="{{'Luồng xử lý' | translate}}..."><b
                            class="bold">#{{$select.selected.Code}}:</b><b>
                            {{$select.selected.WfName}}</b></ui-select-match>
                    <ui-select-choices repeat="x.Code as x in lstWfInst | filter: $select.search">
                        #{{x.Code}}: {{x.WfName}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="create-box" ng-click="createWfInstance()">
            <button class="btn btn-border-black ml5">
                <span class="fa fa-plus"></span>
                {{'WFAI_BTN_CREATE_WFLI' | translate}}
            </button>
        </div>
        <div class="create-box">
            <button class="btn btn-border-black ml5" ng-click="showJson()">
                <span class="fa fa-bullseye"></span>
                {{'WFAI_BTN_SHOW_JSON' | translate}}
            </button>
        </div>
        <!--<div class="create-box">
            <button class="btn btn-border-black ml5" ng-click="showCard()">
                <span class="fa fa-trello"></span>
                {{'WFAI_BTN_JOB_CARD' | translate}}
            </button>
        </div>-->
        <div class="create-box">
            <button class="btn btn-border-black ml5" ng-click="showDiagram()">
                <img style="width:15px" src="../../../images/workflowActivity/icon-wf-black.png" />
                {{'WFAI_BTN_WFL_GRAPH' | translate}}
            </button>
        </div>
        <div class="create-box">
            <button class="btn btn-border-black ml5" ng-click="showGrid()">
                <span class="fa fa-trello"></span>
                {{'Danh sách' | translate}}
            </button>
        </div>

        <div class="create-box">
            <button class="btn btn-border-black ml5" ng-click="saveDiagram()">
                <span class="fa fa-save"></span>
                {{'WFAI_BTN_SAVE_WFL_GRAPH' | translate}}
            </button>
        </div>

    </div>
</div>

<div class="menu-right" id="zoom" ng-show="!isShowListWf">
    <div class="create-box create-box-r">
        <i class="fas fa-expand-arrows-alt move"></i>
        <div class="create-box__hover create-box__hover--r">
            {{'WFAI_BTN_MOVE_GRAPH' | translate}}
        </div>
    </div>
    <div class="create-box create-box-r">
        <i class="fas fa-expand-alt fullscreen"></i>
        <div class="create-box__hover create-box__hover--r">
            {{'WFAI_BTN_FULL_SCREEN' | translate}}
        </div>
    </div>
    <div class="create-box create-box-r" ng-click="zoomDefault()">
        <i class="fas fa-search-minus zoomdefault"></i>
        <div class="create-box__hover create-box__hover--r">
            {{'WFAI_BTN_DEFAULT_SCREEN' | translate}}
        </div>
    </div>
    <div class="create-box create-box-r">
        <i class="fas fa-plus zoomin" ng-click="zoomIn()"></i>
        <div class="create-box__hover create-box__hover--r">
            {{'WFAI_BTN_ZOOMIN' | translate}}
        </div>
    </div>
    <div class="create-box create-box-r" ng-click="zoomOut()">
        <i class="fas fa-minus zoomout"></i>
        <div class="create-box__hover create-box__hover--r">
            {{'WFAI_BTN_ZOOMOUT' | translate}}
        </div>
    </div>
</div>

<div class="menu-top menu-bottom" ng-show="!isShowListWf">
    <div class="create-box">
        <i class="fas fa-long-arrow-alt-left"></i>
        <div class="create-box__hover">
            {{'WFAI_BTN_UNDO' | translate}}

        </div>
    </div>
    <div class="create-box">
        <i class="fas fa-long-arrow-alt-right"></i>
        <div class="create-box__hover">
            {{'WFAI_BTN_REDO' | translate}}

        </div>
    </div>
    <div class="create-box">
        <i class="fab fa-buromobelexperte create-activity"></i>
        <div class="create-box__hover">
            {{'WFAI_BTN_UNDO' | translate}}

        </div>
    </div>
    <div class="create-box">
        <i class="fab fa-gg create-line"></i>
        <div class="create-box__hover">
            {{'WFAI_BTN_UNDO' | translate}}

        </div>
    </div>
</div>

<div class="act-sidebar" ng-show="!isShowListWf">
    <div class="act-sidebar__title ">
        <h3 class="act-sidebar__title--h3 accordion1">
            <i class="fas fa-sort-amount-down"></i> Symbols
        </h3>
        <i class="fa-solid fa-xmark act-sidebar__close"></i>
    </div>
    <div class="act-sidebar__content act__content1" ng-repeat="x in lstLibSharp">
        <!--<b class="text-underline" ng-if="x.ListSharpLib.length > 0">{{x.TypeName}}</b>-->
        <div class="" ng-repeat="k in x.ListSharpLib">
            <div ng-click="creatActByLib(k.SharpCode)" id="{{k.SharpCode}}" class="sharp fs16"
                style="font-weight: 600;cursor: pointer;width:60%;"><i
                    class="{{k.SharpPath}} sharpicon"></i>/i&nbsp;&nbsp;{{k.SharpName}}</div>
        </div>
    </div>
    <div class="act-sidebar__content act__content2">
    </div>
</div>

<!--end menu activity-left -->
<pre id="json" ng-show="isShowJson && !isShowListWf" class="json_div"
    style="overflow:auto;position:absolute; top:6.5rem; right:10px; width:350px; height:500px;background:white;border:1px solid gray"></pre>

<div class="row pr-2" ng-show="isShowListWf" style="margin-top: -15px;">
    <div id="breadcrumb-container"></div>
    <div class="btn-group actions pt5 pb-1 pull-right d-flex mr5" style="margin-top: -50px;">
        <div class="text-center pr-2">
            <a ng-click="showSearch()" class1="btn btn-icon-only btn-circle btn-outline gold-custom">
                <i class="fas fa-search fs25"></i>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
        </div>
        <div class="pr-2 text-center">
            <a class1="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="createWfInstance()">
                <i class="fa-solid fa-plus fs25"></i>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
        </div>
        <div class="text-center pr-2" style="margin-top: -10px;">
            <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
                <span><i class="fas fa-question " aria-hidden="true"></i></span>
            </a>
        </div>

    </div>
    <div id="searchBox" ng-show="isSearch">
        <div class="table-toolbar">
            <div class="portlet light bordered mb5 mt10">
                <div class="row">
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()"
                            style="margin-top:9px !important; margin-right:5px !important; font-size:25px"
                            class="fas fa-times pull-right h28 w28 close-input-search" role="button"
                            title="Ẩn tìm kiếm"></i>
                    </div>
                    <div class="col-md-12 pl-0">
                        <!--<div class="col-md-6">
                        <label class="fw600 text-underline">{{'Nhóm luồng' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelSearch.WfGroup" theme="bootstrap">
                                <ui-select-match placeholder="{{'Nhóm luồng' | translate}}..."><b class="bold">{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstWfGroup | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelSearch.WfGroup=''" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-lg-content text-underline">{{'WFAI_MSG_STREAM_NAME_INSTANCE_CODE' |
                                    translate}}</label>
                                <input data-ng-model="modelSearch.WfInstName" class="form-control br24"
                                    name="WfInstName"
                                    placeholder=" {{'WFAI_MSG_STREAM_NAME_INSTANCE_CODE' | translate}}..." />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="fw600 text-underline">{{'WFAI_CRUD_STATUS' | translate}}</label>
                            <div class="input-group br24 search-group">
                                <ui-select ng-model="modelSearch.Status" theme="bootstrap">
                                    <ui-select-match
                                        placeholder="{{'WFAI_CRUD_STATUS' | translate}}"><b>{{$select.selected.Name}}</b></ui-select-match>
                                    <ui-select-choices
                                        repeat="x.Code as x in listStatusWF | filter:$select.Name| filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelSearch.Status=''"
                                        class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11 pl-0">
                        <div class="col-md-6">
                            <label class="fw600 text-underline">{{'WFAI_SEARCH_FROM_DATE'| translate}}</label>
                            <div class='input-group br24 date'>
                                <input type='text' class="form-control input-date" ng-model="modelSearch.FromDate"
                                    placeholder="{{'WFAI_SEARCH_FROM_DATE' | translate}}..." id='fromDate' />
                                <span class="input-group-btn ">
                                    <button type="button" ng-click="modelSearch.FromDate='';"
                                        class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove "></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="fw600 text-underline">{{'WFAI_SEARCH_TO_DATE'| translate}}</label>
                            <div class='input-group br24 date'>
                                <input type='text' class="form-control input-date" ng-model="modelSearch.ToDate"
                                    placeholder="{{'WFAI_SEARCH_TO_DATE' | translate}}..." id='toDate' />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelSearch.ToDate='';"
                                        class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 h-70 pl-0 pr-0" style="">
                        <div class="btn-group actions d-flex pull-left">
                            <div class="text-center mt30">
                                <a class1="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                    <span><i class="fas fa-search fs30 color-dark"></i></span>
                                </a>
                                <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="dw-310" style="position: absolute; z-index: 10;">
        <div class="col-md-12 pl-0 boards">
            <div class="col-md-12 pl-0" style="padding-right: 41px">
                <div class="col-xs-12 pt10 p0" style="line-height: 30px;">
                    <div class="col-xs-12 pr-0" ng-class1="{'board-selected' : x.Code == groupSelect}"
                        style="border-radius: 5px;background-color: #d6d5d55e; box-shadow: 3px 3px 3px #d6d5d5bd;">
                        <div class="col-xs-12 ml0 pl-0 pr-0 cursor" style="height: 100%" ng-click="searchByGroup(null)">
                            <span class="pr-1"><i class="fa fa-bars"
                                    ng-class1="{'board-selected' : x.Code == groupSelect}"
                                    style="color: green;"></i></span>
                            <b>{{'CJ_BOARD_ALL' | translate}}</b>
                            <div class="actions pull-right">
                                <span class="tag bg-white border count-wf black tag-pill tag-default tag-up"
                                    style="border-color: black !important">{{statiscalWf.SumWf}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 pl-0 boards" ng-repeat="x in infoGroupWf"
            ng-if="x.Name != '' && x.Name != null && x.Name != undefined">
            <div class="col-md-12 pl-0" style="padding-right: 41px">
                <div class="col-xs-12 pt10 p0" style="line-height: 30px;">
                    <div class="col-xs-12 pr-0" ng-class1="{'board-selected' : x.Code == groupSelect}"
                        style="border-radius: 5px;background-color: #d6d5d55e; box-shadow: 3px 3px 3px #d6d5d5bd;">
                        <div class="col-xs-12 ml0 pl-0 pr-0 cursor" style="height: 100%"
                            ng-click="searchByGroup(x.Code)">
                            <span class="pr-1"><i class="fa fa-bars"
                                    ng-class1="{'board-selected' : x.Code == groupSelect}"
                                    style="color: green;"></i></span>
                            <b>{{x.Name}}</b>
                            <div class="actions pull-right">
                                <span class="tag bg-white border count-wf black tag-pill tag-default tag-up"
                                    style="border-color: black !important">{{x.Total}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-12 pr-0 pt5 p-114" id="main-table">
        <div class="row pl-2">
            <span class="bold">* {{'WFAI_LBL_ALL_WF' | translate}}: {{statiscalWf.SumWf}},</span>
            <span class="text-danger bold">&nbsp; {{'WFAI_LBL_WF_PENDING' | translate}}:
                {{statiscalWf.PendingWf}},</span>
            <span class="text-green bold">&nbsp; {{'WFAI_LBL_WF_SUCCED' | translate}}: {{statiscalWf.SuccedWf}}</span>
        </div>
        <div class="v-scroll" style="height: 80vh;overflow-y: auto; overflow-x: hidden;">
            <table class="table dataTable table-hover table-striped-double" datatable dt-options="dtOptionsList"
            dt-columns="dtColumnsList" dt-instance="dt.dtInstanceList" id="tblDataWfInstance"></table>
        </div>
    </div>

    <div class="main-menu-editWorkflow"
        style="top:24px;width:50%;height:80vh; display:flex; 
        background-color: #fff; box-shadow: -3px -2px 5px 0px rgb(0 0 0 / 30%)"
        ng-if="isEditWorkflow">
        <div class="portlet-body form baolo" style="width:100%; position:absolute; background:#fff;">
            <div class="modal-header" style="background-color: #ffffff;padding: 5px;">
                <div class="col-md-10 pl-0">
                    <i class="fa fa-edit black icon-insert fs20"></i>
                    <span class="label-lg" id="modal-title"
                        style="vertical-align: 5px; color: black;">{{'WFAI_TITLE_EDIT_WF'|translate}}</span>
                </div>
                <!-- <div class="col-md-2 text-right">
                    <i class="fa-solid fa-caret-right icon-scalet fs20 mt5" ng-click="editWorkflow()"></i>
                </div> -->
            </div>
            <div class="modal-body" style="padding-bottom: 0px;">
                <div class="row" ng-repeat="act in listActs">
                    <div class="col-md-12 pl-0 pr-0" style="margin: 1px;">
                        <div class="toggle-header" ng-click="CloseAll(act);" style="display: flex;  min-height: 40px;">
                            <i ng-show="act.checkHiddenActWf" class="fa-solid fa-caret-down icon-scalet fs30 mt10"></i>
                            <i ng-show="!act.checkHiddenActWf" class="fa-solid fa-caret-right icon-scalet fs30 mt10"></i>
                            <label class="label-lg" style="vertical-align: 7px;display: flex; align-items: center;">
                                <div>
                                    <div class="d-flex">
                                        
                                        <div style="display: inline-block; margin-left: 5px; font-weight: 500">
                                            <div ng-if="act.ActStatus == 'Đã xử lý'">
                                                <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                    <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div> 
                                                </a>
                                                
                                                <span class="badge-customer badge-customer-success">{{ act.ActStatus }}</span>
                                                <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                            </div>
                                            <div ng-if="act.ActStatus == 'Đang xử lý' || act.ActStatus == 'Chưa xử lý' || act.ActStatus == 'Kích hoạt'">
                                                <div ng-if="act.ActStatus != 'Chưa xử lý'">
                                                    <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                        <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div>
                                                    </a>
                                                    
                                                    <span class="badge-customer badge-customer-warning">{{ act.ActStatus }}</span>
                                                    <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                                </div>
                                                <div ng-if="act.ActStatus == 'Chưa xử lý'">
                                                    <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                        <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div>
                                                    </a>
                                                    
                                                    <span class="badge-customer badge-customer-lock">{{ act.ActStatus }}</span>
                                                    <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                                </div>
                                            </div>

                                            <div ng-if="act.ActStatus == 'Hủy'">
                                                <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                    <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div>
                                                </a>
                                                
                                                <span class="badge-customer badge-customer-danger">{{ act.ActStatus }}</span>
                                                <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                            </div>
                                            <div ng-if="act.ActStatus == 'Dừng lại'">
                                                <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                    <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div> 
                                                </a>
                                                
                                                <span class="badge-customer badge-customer-pause">{{ act.ActStatus }}</span>
                                                <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                            </div>
                                            <div ng-if="act.ActStatus != 'Hủy' && act.ActStatus != 'Dừng lại' && act.ActStatus != 'Đã xử lý' && act.ActStatus != 'Đang xử lý' && act.ActStatus != 'Chưa xử lý' && act.ActStatus != 'Kích hoạt'">
                                                <a class="actName" title="{{ act.ActName }}" ng-click="editInstAct(act.Id, full.ObjectCode)">
                                                    <div class="numberStep1"  style="display: inline"><span>{{ act.ActName }}</span></div> 
                                                </a>
                                                <img ng-if="act.IsApprovable" class="blink-act" src="/images/default/green-blink.png" style="width: 17px;height: 17px;margin-top: -5px;" />
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <span ng-if="act.ActStatus == 'Đã xử lý' && act.Log" class="fs10">
                                        <span class="bold fs12">{{ act.Log.CreatedBy }}</span><br/>
                                        [{{ act.Log.sCreatedTime }}]
                                    </span>
                                </div>
                            </label>
                            <div style="display: flex;align-items: center;margin-left: auto;margin-right: 20px;">
                                <a title="Xét duyệt" type="button" ng-click="approve(act.ActivityInstCode, act.ActStatus)" style="width: 28px; height: 28px" class="btn btn-icon-only btn-circle btn-outline">
                                    <i ng-if="(act.ActType == 'Bắt đầu' && act.ActStatus == 'Kích hoạt') || act.ActStatus == 'Đã xử lý'" class="fas fa-check-circle" style="--fa-secondary-color:green; --fa-secondary-opacity: 1; --fa-primary-color: white; font-size: 25px;margin-right: 10px;"></i>
                                    <i ng-if="act.ActStatus == 'Hủy' || act.ActStatus == 'Dừng lại'" class="fas fa-circle" style="color:orange;font-size: 25px;margin-right: 10px;"></i>
                                    <i ng-if="act.ActStatus == 'Đang xử lý'" class="fas fa-circle" style="color:green;font-size: 25px;margin-right: 10px;"></i>
                                    <i ng-if="act.ActStatus != 'Hủy' && act.ActStatus != 'Dừng lại' && act.ActStatus != 'Đã xử lý' && act.ActType != 'Bắt đầu'" class="fas fa-circle" style="color:grey;font-size: 25px;margin-right: 10px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 0px;" ng-if="act.checkHiddenActWf">
                        <div ng-include="'../views/admin/workflowActivity/edit-activity-instance.html'"
                         ng-controller="edit-activity-instance" ng-init="initEdit(act.Id, full.ObjectCode)"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main-right-editWorkflow" ng-show="isEditWorkflow" 
        style="top:24px;width:35px;height:40px; display:flex; background-color: #cccccc;">
        <div class="create-box create-box-r" ng-click="isEditWorkflow = false; editWorkflow()">
            <!-- <img src="/images/notepad/notepad/activity/left.png" ng-show="!isEditWorkflow" style="border: 2px solid gray;"/>
            <img src="/images/notepad/notepad/activity/right.png" ng-show="isEditWorkflow" style="border: 2px solid gray;"/> -->
            <i class="fa-solid fa-caret-right icon-scalet fs25 mt10" style="margin-left: 12px;"
                ng-show="isEditWorkflow"></i>
            <i class="fa-solid fa-caret-left icon-scalet fs25 mt10" style="margin-left: 12px;"
                ng-show="!isEditWorkflow"></i>
        </div>
    </div>
</div>