<div class="modal-header" style="background-color:white">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit pt5 fs16 black"></i>
    <span class="modal-title black" id="modal-title">
        {{'WFAI_TITLE_LOG_SIGN' | translate}}
    </span>
</div>
<div class="pl-2" style="overflow-y: scroll; height: 300px;">
    <div class="col-md-12" ng-if="lstLogSign.length == 0">
        {{'WFAI_LBL_NO_USER_SIGN' | translate}}
    </div>
    <div class="pt5" ng-repeat="x in lstLogSign" style="border-bottom: 1px solid #d6dadc;margin-bottom: 5px;">
        <div class="active-title" ng-if="x.Picture=='/images/default/no_user.png'">
            <span class="member-initials">
                <span>{{x.GivenName.charAt(0)}}</span>
            </span>
        </div>
        <div class="active-title" ng-if="x.Picture!='/images/default/no_user.png'">
            <img class="img-circle" height="32" width="32" src="{{x.Picture}}" onerror="this.src='../../../images/default/no_user.png'" />
        </div>
        <div class="active-time">
            <b class="ng-binding">{{x.GivenName}} <span class="text-success">{{'WFAI_LBL_SIGNED' | translate}}</span></b>
        </div>
        <div class="active-body">
            <span class="fs12">Lúc {{x.CreatedTime}}</span>
        </div>
    </div>
</div>