<style>
    .message-center{
        top: 12%;
    }
    .modal-header{
        background-color: #fff;
        color:#000000;
    }
</style>
<div class="modal-header" ng-show="IsOpenModal">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-file" style="padding-top: 7px;"></i>
    <span id="modal-title" style="font-weight: bold;">{{'Danh sách tệp tin' | translate}}</span>
</div>
<div class="modal-body pt-0" id="modal-body">
    <div class="row mt10">
        <div class="col-md-12 pl-0 pr-0 mt5" style="max-height: 350px; overflow-y: scroll;">
            <table class="table table-bordered" style="margin-bottom: 0; ">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center">{{'STT' | translate}}</th>
                        <th class="text-center col-md-5">{{'Tệp tin' | translate}}</th>
                        <th class="text-center col-md-5">{{'Hoạt động' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" ng-repeat="x in lstFile">
                        <td class="text-center ">{{$index + 1}}</td>
                        <td class=""><a ng-click="viewFile(x.Id, x.FileTypePhysic, x.CloudFileId)">
                            <span ng-bind-html="x.icon"></span>
                            {{x.FileName}}
                        </a></td>
                        <td class="text-center">{{x.ActName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>