<div class="modal-header" style="background-color: white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-plus-circle icon-insert fs14" style="color:black"></i>
    <span class="modal-title custom-title fs14" style="color:black" id="modal-title">{{'Theo dõi trạng thái'|translate}}</span>
</div>
<div class="modal-body" style="padding-bottom: 0px;">
    <div class="table-responsive pt10" style="height: 250px; overflow-y: scroll;">
        <table class="table table-bordered" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="col-md-1 text-center" style="width: 3%;">STT</th>
                    <th class="col-md-4 text-center">{{'Người cập nhật' | translate}}</th>
                    <th class="col-md-3 text-center">{{'Trạng thái' | translate}}</th>
                    <th class="col-md-3 text-center">{{'Thời gian' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in lstStatus">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{x.CreatedBy}}</td>
                    <td>{{x.Status}}</td>
                    <td>{{x.CreatedTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">

</div>
