<style>
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(60% - 50px);
        right: 85px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<div class="btn-group actions d-flex pull-right pt5 pb-1 mt-btn-index" style="margin-top: -45px;">
    <div class="text-center pr-2">
        <a ng-click="cancel()" class="fs30">
            <span class=""><i class="fa fa-arrow-left"></i></span>
        </a>
        <p>Quay lại</p>
    </div>
    <div class="text-center pr-2" ng-show="!isSearch">
        <a ng-click="showSearch()" class="fs30">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">Tìm kiếm</p>
    </div>
    <div class="text-center pr-2">
        <a ng-click="add()" class="fs30">
            <span class=""><i class="fa-solid fa-plus"></i></span>
        </a>
        <p>Thêm mới</p>
    </div>
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="row pt5 mb5">
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group br24">
                            <input type="text" class="form-control" placeholder="Từ ngày..." ng-model="model.FromDate" name="FromDate" ng-keydown="($event.keyCode == 13) && reload()" autocomplete="off" id="FromDate" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.FromDate=''" class="btn btn-default start-date no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group br24">
                            <input type="text" class="form-control" placeholder="Đến ngày..." ng-model="model.ToDate" name="ToDate" ng-keydown="($event.keyCode == 13) && reload()" autocomplete="off" id="ToDate" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ToDate=''" class="btn btn-default end-date no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3" style="margin-left: 10px;">
                        <a class="fs30" ng-click="reload()">
                            <i class="fas fa-search"></i>
                        </a>
                        <p>Tìm kiếm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
