<style>
    * {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        /*text-align: center;*/
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative;
            text-align: initial
        }

    .form-card {
        text-align: left;
        padding: 0 10px;
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform textarea {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 8px 15px 8px 15px;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        color: #000;
        background-color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        border: 1px solid #ccc;
    }

    #msform input {
        padding: 8px 15px 8px 15px;
        width: 100%;
        /*height: 40px;*/
        box-sizing: border-box;
        color: #000;
        background-color: #fff;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #ccc;
            outline-width: 0
        }

    #msform .action-button {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        /*width: 40px;*/
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        /*width: 40px;*/
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative;
        background-color: #ffffff;
    }

    .fs-title {
        font-size: 25px;
        color: #4868aa;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #4868aa;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .app-content.content.container-fluid.scroll_content_custom {
        width: 100%
    }

    .card {
        width: 100%
    }

    .form-card > .row {
        padding-left: 15px;
        padding-right: 30px;
    }

    #msform input {
        background-color: #fff
    }

    strong {
        margin-left: -75%;
        white-space: nowrap;
        font-size: 13px
    }

    .input-group-addon, .input-group-btn {
        vertical-align: top;
    }

    input#datefrom, input#dateto {
        margin-top: 0
    }

    .portlet.light.bordered {
        margin-right: 15px;
        border: 1px solid #e7ecf1 !important;
        background: #f8f9f9 !important
    }

    .table > thead > tr > th {
        vertical-align: middle;
        height: 60px;
        border-bottom: 2px solid #e7ecf1;
    }

    #left1 {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .btn {
        cursor: pointer
    }

    .pt2 {
        padding-top: 2px
    }

    .div-disabled {
        pointer-events: none;
        opacity: 0.5;
        background: #CCC;
    }

    .undiv-disabled {
        pointer-events: initial;
        opacity: 1;
        background: #CCC;
    }

    .txt {
        text-align: initial
    }

    .dis {
        pointer-events: none;
        opacity: 0.5;
    }

    .dis2 {
        pointer-events: none;
    }

    .btnn {
        background-color: #ffffff !important;
        height: 50px;
        width: 70px;
        color: #131212 !important;
        box-shadow: 0px 0px 7px 0px grey !important;
    }

    .vtc {
        vertical-align: middle;
        padding-top: 8px;
    }

    .log {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        height: 50px;
        border: 1px solid;
        border-color: #ccc;
    }

    .table-scrollable {
        min-height: unset !important
    }

    .table-custom {
        min-height: unset !important;
        border: none
    }

    .portlet.light.bordered {
        border: none !important
    }

    /*span.btn.btn-default.form-control.ui-select-toggle {
        height: 40px
    }*/

    button.btn.btn-default.no-shadow {
        /*height: 40px*/
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        font-weight: 700;
        /*padding-top: 10px;*/
    }

    .cl {
        color: #000
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 52%;
        top: 30px;
        z-index: 0;
    }

    .name {
        top: 22% !important;
        margin-left: 86% !important;
        font-size: 9px !important;
        position: absolute !important;
        white-space: nowrap;
    }

    .dateapr {
        position: absolute !important;
        margin-left: 86% !important;
        top: 45% !important;
        font-size: 9px !important;
        white-space: nowrap;
    }

    .badge-customer {
        float: left;
        margin-left: -100px;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12" style="padding-left:0">
            <div class="card px-0 pb-0 mb-3">
                <div id="msform">
                    <div class="row ml-0">
                        <div class="col-md-8 mb5 p10">
                            <div class="wf-step" ng-include="'../views/admin/workflowPlugin/wf-plugin.html'"></div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="btn-group actions d-flex pull-right pr15 mt15">
                                <div class="text-center pl10 margin-right-10 next" ng-click="importExcel()" ng-if="showExcel">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fas fa-upload fs30" aria-hidden="true"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_IMPORT_EXCEL' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10  add dis" ng-click="add()">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fa-solid fa-plus fs30"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_ADD' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 edit dis" ng-click="edit()">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fas fa-edit fs30 "></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_EDIT' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 cancel" ng-click="cancel()">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fas fa-times fs30"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_CANCLE' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 save" ng-click="addHeader()" ng-show="addtab">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fa-solid fa-plus fs30"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_SAVE' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 save" ng-click="editHeader()" ng-show="edittab">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fa-solid fa-plus fs30"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_SAVE' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 export dis" ng-click="export()">
                                    <a class1="btn btn-icon-only btn-outline btnn">
                                        <i class="fas fa-file-word fs30"></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_EXPORT_WORD' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 save" ng-click="isShowHeader=false" ng-show="isShowHeader">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fas fa-chevron-down fs30 "></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_HIDE_SHOW' | translate}}</p>
                                </div>
                                <div class="text-center pl10 margin-right-10 save" ng-click="isShowHeader=true" ng-show="!isShowHeader">
                                    <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                        <i class="fas fa-chevron-up fs30 "></i>
                                    </a>
                                    <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_HIDE_SHOW' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptionsPay" ng-show="isShowHeader">
                        <div class="portlet light bordered input-search mb5">
                            <div class="portlet-body">
                                <div class="row pt5 mb5">
                                    <div class="row mb5">
                                        <div class="col-lg-3 pl30 numdes" ng-class="{ 'has-error': errorDecisionNum}">
                                            <div class="form-group">
                                                <div class="col-md-12 txt">
                                                    <i class="fas fa-calculator fs16 pr5"></i>
                                                    <label class="fw600 text-underline require">{{'PDC_CRUD_NUM_DEC' | translate}}</label>
                                                    <div class="input-group">
                                                        <input ng-model="modelHeader.DecisionNum" class="form-control br24" name="DecisionNum" ng-disabled="onlyedit" type="text" placeholder="{{'Số quyết định' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                                    </div>
                                                    <span ng-show="errorDecisionNum" class="label-color validation-message">
                                                        {{'PDC_VALIDATE_NUM_DEC' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" ng-class="{ 'has-error': errorTitle}">
                                            <div class="form-group">
                                                <div class="col-md-12 txt">
                                                    <i class="fas fa-file-signature fs16 pr5"></i>
                                                    <label class="fw600 text-underline require">{{'PDC_VALIDATE_NAME' | translate}}</label>
                                                    <div class="input-group">
                                                        <input ng-model="modelHeader.Title" class="form-control br24" name="Title" type="text" placeholder="{{'Tên quyết định' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                                    </div>
                                                    <span ng-show="errorTitle" class="label-color validation-message">
                                                        {{'PDC_VALIDATE_NAME_DEC' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 wf" ng-class="{ 'has-error': errorWorkflowCat}">
                                            <i class="fas fa-stream fs16 pr5"></i>
                                            <label class="fw600 text-underline require">{{'PDC_CRUD_WF'| translate}}</label>
                                            <div class="input-group br24">
                                                <ui-select tagging ng-model="modelHeader.WorkflowCat" theme="bootstrap" ng-disabled="onlyedit" ng-change="loadDiagramWF(modelHeader.WorkflowCat)">
                                                    <ui-select-match placeholder="{{'PDC_CRUD_WF' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in lstWorkflow | filter:$select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button ng-disabled="onlyedit" type="button" ng-click="modelHeader.WorkflowCat=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <span ng-show="errorWorkflowCat" class="label-color validation-message">
                                                {{'PDC_VALIDATE_WF' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb5">
                                        <div class="col-md-7 pl30" ng-class="{ 'has-error': errorStatus}">
                                            <i class="fas fa-key fs16 pr5"></i>
                                            <label class="fw600 text-underline">{{'PDC_LIST_COL_STATUS' | translate}}</label>
                                            <div class="input-group br24-nobtn">
                                                <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelHeader.StatusTemp" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'PDC_LIST_COL_STATUS' | translate}}..."><p><span>{{$select.selected.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{$select.selected.Name}}</span> cho hoạt động <span class="fw600 text-green">{{$select.selected.ObjectRelative}}</span><span class="fw600 text-green">[{{$select.selected.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}]</span></p></ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listStatusLog | filter: $select.search" ui-disable-choice="true">
                                                        <span>{{x.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{x.Name}}</span> cho hoạt động <span class="fw600 text-green">{{x.ObjectRelative}} [{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}]</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <span ng-show="errorStatus" class="label-color validation-message">
                                                {{'PDC_VALIDATE_STATUS' | translate}}
                                            </span>
                                        </div>
                                        <!--<div class="col-md-4 pt23">
                                            <div class="log d-flex ">
                                                <div class="p5 width-80-per">
                                                    <div ng-repeat="x in loghis">
                                                        <span class="nowrap">
                                                            -
                                                            <span class="bold pr3 text-green">{{x.CreatedBy}}</span><span class="pr3"> đã cập nhật trạng thái </span>
                                                            <span class="bold pr3 text-green">{{x.Name}}</span><br />
                                                        </span>
                                                        <span class=" pr3">- Thời gian : </span><span class="bold pr3">{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                                    </div>
                                                </div>
                                                <span class="width-20-per text-green text-right text-underline bold fs11 pull-right pt30 pr10" role="button" ng-click="showLog()">Xem log</span>
                                            </div>
                                        </div>-->
                                        <div class="col-md-4">
                                            <i class="fas fa-comments fs16 pr5"></i>
                                            <label class="fw600 text-underline ">{{'PDC_NOTE' | translate}}</label>
                                            <textarea id="w3review" class="br12" ng-model="modelHeader.Noted" name="w3review" rows="4" cols="50" style="background-color:#fff"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb5" ng-show="showAct">
                                        <div class="col-md-3 pl30">
                                            <i class="fas fa-key fs16 pr5"></i>
                                            <label class="fw600 text-underline">{{'PDC_ACTIVITY_REDO' | translate}}</label>
                                            <div class="input-group br24">
                                                <ui-select tagging ng-model="modelHeader.ActRepeat" theme="bootstrap" ng-change="changeStatus()">
                                                    <ui-select-match placeholder="{{'PDC_ACTIVITY_REDO' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.IntsCode as x in lstActRepeat | filter:$select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="modelHeader.ActRepeat=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="portlet light bordered input-search mb5 detail">
                        <div class="portlet-body">
                            <div class="row pt5 mb5">
                                <div class="row mb5">
                                    <div class="col-lg-3 pl30 txt" ng-class="{ 'has-error': errorUnit}">
                                        <i class="fa-solid fa-building fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_CATEGORY' | translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.Unit" theme="bootstrap" ng-change="changeUnit(model.Unit)">
                                                <ui-select-match placeholder="{{'PDC_CATEGORY' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                <ui-select-choices repeat="x.DepartmentCode as x in treeDataunit | filter:$select.search">
                                                    {{x.Title}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Unit=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorUnit" class="label-color validation-message">
                                            {{'PDC_CATEGORY_NOT_BLANK' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-3 txt" ng-class="{ 'has-error': errorCareerCode}">
                                        <i class="fas fa-users fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_PERSONNEL'| translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.UserinDepart" theme="bootstrap" ng-change="changUser()">
                                                <ui-select-match placeholder="{{'PDC_PERSONNEL' | translate}}...">{{$select.selected.Name}}&nbsp;-&nbsp;{{$select.selected.CodeName}}</ui-select-match>
                                                <ui-select-choices repeat="x.CodeName as x in lstUserinDpt | filter:$select.search">
                                                    {{x.Name}}&nbsp;-&nbsp;{{x.CodeName}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.UserinDepart=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 txt" ng-class="{ 'has-error': errorCareer}">
                                        <i class="fas fa-laptop-house fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_CRUD_CAREER'| translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.Career" theme="bootstrap" ng-change="changePayScale(model.Career, model.PayScale)">
                                                <ui-select-match placeholder="{{'PDC_CRUD_CAREER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstCareer | filter:$select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Career=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorCareer" class="label-color validation-message">
                                            {{'PDC_VALIDATE_CAREER' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-2 txt" ng-class="{ 'has-error': errorChucDanh}">
                                        <i class="fas fa-file-signature fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_CRUD_ROLE'| translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.ChucDanh" theme="bootstrap">
                                                <ui-select-match placeholder="{{'PDC_CRUD_ROLE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstPayTitle | filter:$select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.ChucDanh=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorChucDanh" class="label-color validation-message">
                                            {{'PDC_VALIDATE_ROLE' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb5">
                                    <div class="col-md-2 txt pl30" ng-class="{ 'has-error': errorPayScaleCode}">
                                        <i class="fas fa-balance-scale fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_CRUD_SCALE_SALARY' | translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.PayScale" theme="bootstrap" ng-change="changePayScale(model.Career, model.PayScale)">
                                                <ui-select-match placeholder="{{'PDC_CRUD_SCALE_SALARY' | translate}}...">{{$select.selected.Code}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstPayScale | filter:$select.search">
                                                    {{x.Code}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.PayScale=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorPayScaleCode" class="label-color validation-message">
                                            {{'PDC_VALIDATE_SCALE_SALARY' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-lg-2 txt" ng-class="{ 'has-error': errorPayRanges}">
                                        <i class="fas fa-money-bill-wave fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PDC_LIST_COL_RANGE_SALARY' | translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.PayRanges" theme="bootstrap" ng-change="changePayRanges(model.Career, model.PayScale, model.PayRanges)">
                                                <ui-select-match placeholder="{{'PDC_LIST_COL_RANGE_SALARY' | translate}}...">{{$select.selected.Ranges}}</ui-select-match>
                                                <ui-select-choices repeat="x.Ranges as x in lstRange | filter:$select.search">
                                                    {{x.Ranges}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.PayRanges=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorPayRanges" class="label-color validation-message">
                                            {{'PDC_VALIDATE_RANGE_SALARY' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-2 txt pull-right pt23">
                                        <div class="btn-group actions d-flex pull-right pr15">
                                            <!--<div class="text-center pl10 margin-right-10 next" ng-click="ImportExcel()">
                                                <a class="btn btn-icon-only btn-outline btnn" name="next">
                                                    <i class="fa fa-upload fs25" aria-hidden="true"></i>
                                                </a>
                                                <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_IMPORT_EXCEL' | translate}}</p>
                                            </div>-->
                                            <div class="text-center pl10 margin-right-10 next" ng-click="removeDetail()">
                                                <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                    <i class="fas fa-times fs30"></i>
                                                </a>
                                                <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_DELETE' | translate}}</p>
                                            </div>
                                            <div class="text-center pl10 margin-right-10 next" ng-click="addDetail()">
                                                <a class1="btn btn-icon-only btn-outline btnn" name="next">
                                                    <i class="fa-solid fa-plus fs30"></i>
                                                </a>
                                                <p class="text-underline btn-name mb5 pt3">{{'PDC_BTN_SAVE' | translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-card">
                                    <div class="row">
                                        <table class="table dataTable table-hover table-striped"
                                               datatable
                                               dt-options="dtOptions"
                                               dt-columns="dtColumns"
                                               dt-instance="dtInstance"
                                               id="tblDataIndex"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
