<style>
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>

<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="text-center pr-2" style="float: right; margin-top: -42px;">
    <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
        <span><i class="fas fa-question fs24 " aria-hidden="true"></i></span>
    </a>
</div>
<div class="col-md-6">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-12">
                <h6 class="bold pb10"> {{'FW_CURD_LBL_PAY_SLIP' | translate}} <span class="text-danger bold">({{countExpense}})</span></h6>
            </div>
        </div>
    </div>
    <div ng-include="'../views/admin/fundWarning/fundEntryExpense.html'"></div>
</div>
<div class="col-md-6">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-12">
                <h6 class="bold pb10"> {{'FW_CURD_LBL_RECEIPTS' | translate}} <span class="text-danger bold">({{countReceipt}})</span></h6>
            </div>
        </div>
    </div>
    <div ng-include="'../views/admin/fundWarning/fundEntryReceipt.html'"></div>
</div>
    
<script>
    setTimeout(function () {
        let isDown = false;
        let startX;
        let scrollLeft;

        $('.table-scrollable').mousedown(function (e) {
            isDown = true;
            startX = e.pageX - $('.table-scrollable').offset().left;
            scrollLeft = $('.table-scrollable').scrollLeft();
        });
        $('.table-scrollable').mouseleave(function () {
            isDown = false;
        });
        $('.table-scrollable').mouseup(function () {
            isDown = false;
        });
        $('.table-scrollable').mousemove(function (e) {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - $('.table-scrollable').offset().left;
            const walk = (x - startX) * 1; //scroll-fast
            $('.table-scrollable').scrollLeft(scrollLeft - walk);
            console.log(walk);
        });
    }, 1000);

</script>

