<div class="modal-header no-color pb10">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-plus-circle icon-insert black"></i>
    <span class="modal-title black" id="modal-title">{{'PROJECT_CURD_TITLE_ADD_PROJECT' | translate}}</span>
</div>

<div id="modal-body">
    <div ng-include="'/views/admin/project/add.html'" style="float: left;height: 100%; width: 100%;"></div>
</div>
<div class="modal-footer">

</div>
