<div ng-controller="contractTabMembers">
    <div class="row">
        <form name="addformTabMember" method="post" ng-validate="validationOptionsTabMember">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3 form-group" ng-class="{ 'has-error': errorAssignee}">
                        <label class="fw600 text-underline require">{{'CONTRACT_CURD_TAB_MEMBER_ASSIGNEE' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select ng-model="model.Assignee" theme="bootstrap" on-select="changleSelect('Assignee')">
                                <ui-select-match placeholder="{{'CONTRACT_CURD_TAB_MEMBER_ASSIGNEE' | translate}}"><span>{{$select.selected.GivenName}}</span></ui-select-match>
                                <ui-select-choices repeat="x.UserId as x in listUser  | filter: $select.search">
                                    {{x.GivenName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Assignee=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorAssignee" class="label-color validation-message">
                            {{'CONTRACT_CURD_TAB_MEMBER_CURD_VALIDATE_ASSIGNEE' | translate}}
                        </span>
                    </div>
                    <div class="col-md-6">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_TAB_MEMBER_NOTE' | translate}}</label>
                        <div class="input-group br24">
                            <input class="form-control" name="Note" ng-model="model.Note" placeholder="{{'CONTRACT_CURD_TAB_MEMBER_NOTE' | translate}}..."></>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Note=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class=" fs30 p-0" ng-click="add()">

                                    <span><i class="fa-solid fa-plus"></i></span>

                                </a>

                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataContractMember"></table>
</div>