<style>
    .table-scrollable > .table > tbody > tr > th, .table-scrollable > .table > tfoot > tr > td, .table-scrollable > .table > tfoot > tr > th, .table-scrollable > .table > thead > tr > th {
        white-space: normal;
    }
    .table-scrollable {
        scrollbar-width: 3px;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(75% - 50px);
        right: 75px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group pull-right pt5 pb-1 actions d-flex" style="margin-top: -50px;">
    <div class="text-center pr-2" ng-show="!isSearch">
        <a ng-click="showSearch()" class="fs30">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class="fs30" ng-click="showSchedule()">
            <i class="fas fa-calendar"></i>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CALENDAR' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class="fs30" ng-click="add()">
            <span><i class="fa-solid fa-plus"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
    <!--<div class="text-center pr-2">
        <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="addCardJob()">
            <span><i class="fa fa-trello"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD_CAR' | translate}}</p>
    </div>-->
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('PHQTHDDH_HDB')" class="fs30">
            <span><i class="fas fa-question fs24 " aria-hidden="true"></i></span>
        </a>
    </div>
</div>

<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar pt10">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="row pt5 mb5">
                    
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>
                </div>
                <div class="row pt5 mb5">

                    <div class="col-md-2 ">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_LBL_FROM_DATE' | translate}}</label>
                        <div class="">
                            <input ng-model="model.FromDate"class="form-control br24 ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="{{'CONTRACT_CURD_TXT_FROM_DATE' | translate}}..." autocomplete="off" ng-keydown="($event.keyCode == 13) && reload()" id='datefrom' />                                  
                       </div>
                    </div>
                    <div class="col-md-2 ">
                        <label class="fw600 text-underline">{{'CONTRACT_LBL_SEARCH_TO_DATE' | translate}}</label>
                        <div class="">
                            <input ng-model="model.ToDate" class="form-control br24 ng-pristine ng-untouched ng-valid ng-empty" type="text" autocomplete="off" placeholder="{{'CONTRACT_TXT_SEARCH_TO_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='dateto' />
                            <!--<span class="input-group-btn">
                    <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>-->
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_LBL_CONTRACT_CODE' | translate}}/{{'CONTRACT_CURD_LBL_CONTRACT_NAME' | translate}}</label>
                        <div class="input-group br24">
                            <input ng-model="model.ContractCode" class="form-control" type="text" placeholder="{{'CONTRACT_CURD_TXT_CONTRACT_CODE' | translate}}/{{'CONTRACT_CURD_LBL_CONTRACT_NAME' | translate}}.." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ContractCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_LBL_STATUS' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select ng-model="model.Status" theme="bootstrap">
                                <ui-select-match placeholder="{{'CONTRACT_CURD_COMBO_STATUS' | translate}}"><p><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</p></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in ListCommon | filter:{Group:'CONTRACT_STATUS_PO_CUS'} | filter: $select.search">
                                    <i class="{{x.Icon}}"></i>{{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" style="padding: 8px !important;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <label class="fw600 text-underline">{{'CONTRACT_LBL_ORGANIZATION' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select tagging ng-model="model.BranchId" theme="bootstrap">
                                <ui-select-match placeholder="{{'CONTRACT_TXT_ORGANIZATION' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.BranchId='';" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row pt5 mb5">
                    <div class="col-md-2 ">
                        <label class="fw600 text-underline">{{'CONTRACT_LBL_SEARCH_BUDGET_F' | translate}}</label>
                        <div class="">
                            <input ng-model="model.BudgetF" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'CONTRACT_TXT_SEARCH_BUDGET_F' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                            <!--<span class="input-group-btn">
                    <button type="button" ng-click="model.BudgetF=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>-->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'CONTRACT_LBL_SEARCH_BUDGET_T' | translate}}</label>
                        <div class="">
                            <input ng-model="model.BudgetT" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'CONTRACT_TXT_SEARCH_BUDGET_T' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                            <!--<span class="input-group-btn">
                    <button type="button" ng-click="model.BudgetT=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>-->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_LBL_CURRENCY' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select ng-model="model.Currency" theme="bootstrap">
                                <ui-select-match placeholder="{{'CONTRACT_CURD_LBL_CURRENCY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in ListCommon | filter:{Group:'CURRENCY_TYPE'}  | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Currency=''" class="btn btn-default no-shadow" style="padding: 8px !important;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'CONTRACT_CURD_LBL_CUSTOMER_CODE' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select tagging ng-model="model.CusCode" theme="bootstrap" on-select="changleSelect('CusCode')" ng-change="changeCustomer()">
                                <ui-select-match placeholder="{{'CONTRACT_CURD_COMBO_CUSTOMER_CODE' | translate}}...">{{$select.selected.Code}} - {{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in Customers | filter: $select.search">
                                    {{x.Code}} - {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.CusCode=''" class="btn btn-default no-shadow" style="">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class="fs30" ng-click="search()">
                                    <span><i class="fas fa-search"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label style="color:red">{{'CONTRACT_TITLE_INSTRUCTIONS' | translate}}</label>
    </div>
</div>
<style>
    #tblDataContract_wrapper > .dataTable > tbody > tr {
        height: fit-content;
    }
</style>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblDataContract"></table>
<script>
    setTimeout(function () {
        let isDown = false;
        let startX;
        let scrollLeft;

        $('.table-scrollable').mousedown(function (e) {
            isDown = true;
            startX = e.pageX - $('.table-scrollable').offset().left;
            scrollLeft = $('.table-scrollable').scrollLeft();
        });
        $('.table-scrollable').mouseleave(function () {
            isDown = false;
        });
        $('.table-scrollable').mouseup(function () {
            isDown = false;
        });
        $('.table-scrollable').mousemove(function (e) {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - $('.table-scrollable').offset().left;
            const walk = (x - startX) * 1; //scroll-fast
            $('.table-scrollable').scrollLeft(scrollLeft - walk);
            console.log(walk);
        });
    }, 1000);

</script>