<div class="modal-header" style="background-color:white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-edit pt5 fs16 black"></i>
    <span class="modal-title black" id="modal-title">
        {{'COM_BTN_CALENDAR' | translate}}
    </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <style>
            .fc-time {
                display: none;
            }
        </style>
        <div class="calendar-wrap pt10" ng-if="IsTranslate">
            <div id="calendarContractSale"></div>
        </div>
    </div>
</div>