@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Điều động nhân sự";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    var userName = session.UserName;
    var pictureUser = session.Picture;
    var fullName = session.FullName;
}
<script>
     var userName = "@(userName)";
    var pictureUser = "@(pictureUser)";
    var fullName = "@(fullName)";
</script>
@section plugin_script {
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
}
@section plugin_style{
    <link href="~/css/admin/cardJob/board.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}
    <div id="contentMain" ng-app="App_ESEIM_CUSTOMER" ng-controller="Ctrl_ESEIM_CUSTOMER">
        <div ng-view></div>
    </div>
<script src="~/views/admin/hrEmployeeMobilization/controller.js" type="text/javascript"></script>
