<div class="modal-header no-color">
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-edit black icon-insert "></i>
    <span class="modal-title black" id="modal-title"> {{'ATTR_SETUP_LBL_EDIT_UNIT' | translate}}</span>
</div>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-body" id="modal-body">
    <div class="form-body pt-0 pb-0">
        <div class="row mt-action-5">
            <form name="editforms" class="form-horizontal" method="post" ng-validate="validationOptions">
                <div class="col-md-12 pt-0 pl-0 pr-0">
                    <div class="table-toolbar table_body">
                        <div class="col-md-12 p-0">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        <label class="control-label require bold">{{'ACT_CRUD_ATTR_CODE'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="AttrCode" class="form-control br24" data-ng-model="modelAttr.AttrCode" placeholder="{{'ACT_CRUD_ATTR_CODE'|translate}}..." ng-disabled="isUpdate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-0 pr-0">
                                <div class="form-group ">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list" aria-hidden="true"></i>
                                        <label class="control-label require bold">{{'ACT_CRUD_ATTR_NAME'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control br24" ng-model="modelAttr.AttrName" name="AttrName" placeholder="{{'ACT_CRUD_ATTR_NAME'|translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class=" {'has-error': errorAttrDataType}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list" aria-hidden="true"></i>
                                        <label class="control-label require bold">{{'ACT_CRUD_DATA_TYPE'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="modelAttr.AttrDataType" theme="bootstrap" on-select="changleSelect('AttrDataType')">
                                                <ui-select-match placeholder="{{'ACT_CRUD_DATA_TYPE'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListATTRTYPE | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="addCommonSettingAttrType()" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorAttrDataType" class="label-color validation-message">
                                            {{'ATTR_SETUP_LBL_DATA_TYPE_EMPTY'|translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-0">
                                <div class="form-group" ng-class=" {'has-error': errorAttrUnit}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list" aria-hidden="true"></i>
                                        <label class="control-label bold">{{'ACT_CRUD_UNIT'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="modelAttr.AttrUnit" theme="bootstrap" on-select="changleSelect('AttrUnit')" ng-disabled="isDisabledUnit">
                                                <ui-select-match placeholder="{{'ACT_CRUD_UNIT'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListATTRUNIT | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="addCommonSettingAttrUnit()" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <!--<span ng-show="errorAttrUnit" class="label-color validation-message">
                                            {{'ATTR_SETUP_LBL_UNIT_EMPTY'|translate}}
                                        </span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="col-md-5">
                                <div class="form-group" ng-class=" {'has-error': errorAttrGroup}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list" aria-hidden="true"></i>
                                        <label class="control-label require bold">{{'ATTR_SETUP_LBL_DOCUMENT_TYPE'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="modelAttr.AttrGroup" theme="bootstrap" on-select="changleSelect('AttrGroup')" ng-disabled="true">
                                                <ui-select-match placeholder="{{'ATTR_SETUP_TXT_DATASET'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in lstAttrGroup | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="addCommonSettingAttrGroup()" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorAttrGroup" class="label-color validation-message">
                                            {{'ATTR_SETUP_LBL_DATASET_EMPTY'|translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <label class="control-label bold">{{'ACT_CRUD_NOTE'|translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="Note" rows="2" class="form-control br12" ng-model="modelAttr.Note" type="text" placeholder="{{'ACT_CRUD_NOTE'|translate}}..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 nowrap mt25 text-center">
                                <div class="pull-right" ng-show="!isUpdate">
                                    <a class1="btn btn-icon-only btn-outline btn-de btn-boder1" ng-click="submit()">
                                        <span><i class="fa-solid fa-plus fs30"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                                </div>

                                <div class="pull-right" ng-show="isUpdate">
                                    <a class1="btn btn-icon-only btn-outline btn-de btn-boder1" ng-click="submit()">
                                        <span><i class="fa-solid fa-plus fs30"></i></span>
                                    </a>
                                    <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblDataAttr"></table>
    </div>
</div>
