<style>
    /*.table-scrollable {
        height: 600px;
        overflow: auto;
    }*/

    /*.scroll_content_custom {
        position: initial;
    }*/
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    .btn-boder1{
        border: 1px solid #000;
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(70% - 50px);
        right: 50px;
        top: 20px
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }

</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-lg-12">
            <!--<ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;" href="#">{{'HR_HR_MAN_LBL_HR_MAN' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="/Admin/HrEmployee">{{'Thuộc tính hồ sơ' | translate}}</a>
                </li>
            </ul>-->
            <div class="btn-group pb-1 pt5 actions d-flex pull-right" style="margin-top: -50px;">
                <div class="text-center mt25 pr30">
                    <a class="" ng-click="showSearch()">
                        <span><i class="fas fa-search fs30"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                </div>
                <div class="text-center mt25 pr-2">
                    <a class1="btn btn-icon-only btn-outline btn-de btn-boder1" ng-click="add()">
                        <span><i class="fa-solid fa-plus fs30"></i></span> 
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>
                <div class="text-center pr-2" style="margin-top: 13px;">
                    <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
                        <span><i class="fas fa-question " aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="searchBox" ng-show="isSearch">
        <div class="table-toolbar">
            <div class="portlet light bordered mb5">
                <div class="portlet-body">
                    <div class="row pt5 mb5">
                        <div class="col-md-12" style="height:20px">
                            <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times pull-right h28 w28 close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                        </div>
                        <div class="col-md-10 pt5 mb5">
                            <div class="col-lg-3">
                                <label class="fw600 text-underline">{{'ACT_CRUD_ATTR_CODE' | translate}}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control br24" ng-model="modelSearch.AttrCode" placeholder="{{'ACT_CRUD_ATTR_CODE'|translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw600 text-underline">{{'ACT_CRUD_ATTR_NAME' | translate}}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control br24" ng-model="modelSearch.AttrName" placeholder="{{'ACT_CRUD_ATTR_NAME'|translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw600 text-underline">{{'ACT_CRUD_DATA_TYPE' | translate}}</label>
                                <div class="input-group br24 search-group">
                                    <ui-select tagging ng-model="modelSearch.AttrType" theme="bootstrap">
                                        <ui-select-match placeholder="{{'ACT_CRUD_DATA_TYPE'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListATTRTYPE | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="modelSearch.AttrType='';reload();" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw600 text-underline">{{'ATTR_SETUP_LBL_DOCUMENT_TYPE' | translate}}</label>
                                <div class="input-group br24 search-group">
                                    <ui-select tagging ng-model="modelSearch.AttrGroup" theme="bootstrap">
                                        <ui-select-match placeholder="{{'ACT_CRUD_DATA_TYPE'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in lstAttrGroup | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="modelSearch.AttrGroup='';reload();" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="btn-group pt20 actions d-flex">
                                <div class="text-center mt10 pr10">
                                    <a ng-click="reload()" class1="btn btn-icon-only btn-outline btn-de btn-boder1">
                                        <span><i class="fas fa-search fs30 color-dark"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblDataAttr"></table>

