<div class="row">
    <div class="col-md-6" style="padding-left: 15px;">
        <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-user"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Quan hệ</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.Relation" type="text" placeholder="Quan hệ" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-user"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Họ và tên</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.Name" type="text" placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar-o"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Năm sinh</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:'Mất vì tuổi già'">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.BirthYear" type="text" placeholder="Năm sinh" />
                </div>
            </div>
        </div>
        <!-- <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar-o"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Năm mất</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:'Mất vì tuổi già'">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.DeathYear" type="text" placeholder="Năm mất" />
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar-o"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Lý do mất</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:'Mất vì tuổi già'">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.DeathReason" type="text" placeholder="Lý do" />
                </div>
            </div>
        </div> -->
        <div class="form-group row">
            <div class="col-md-4 pr-0">
                <i class="fa fa-map-marker"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Quê quán</label>
            </div>
            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.HomeTown" type="text" placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 pr-0 ">
                <i class="fa fa-user"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Đảng viên</label>
            </div>

            <div class="col-md-8" style="display: flex;">
                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.PartyMember" type="checkbox" placeholder="" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 15px;">
        <div class="form-group row">
            <div class="col-md-4 pr-0 ">
                <i class="fa fa-home"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Nơi cư trú</label>
            </div>

            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.Residence" type="text" placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 pr-0 ">
                <i class="fa fa-users"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Nghề nghiệp</label>
            </div>

            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.Job" type="text" placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-4 pr-0 ">
                <i class="fa fa-user"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Thái độ chính trị</label>
            </div>

            <div class="col-md-8" style="display: flex;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">
                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.PoliticalAttitude" type="text" placeholder="Từ ngày" />
                </div>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 pr-0 ">
                <i class="fa fa-user"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Quá trình công tác</label>
            </div>

            <div class="col-md-8" style="display: flex;">
                <div class="displayInfo br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedFamily.WorkingProgress" type="text" placeholder="Từ ngày" />
                </div>
                
                <!-- <button class="btn" ng-click="updateFamily(x)" style="color:#0dcaf0">
                    <i class="fa fa-plus"></i>
                </button> -->
            </div>
        </div>
        <div class="pull-right">
            <button class="btn" ng-click="addToFamily(x)" style="color:#0dcaf0">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div style="background-color: #fff; border-radius: 5px;">
        <div class="" style="padding-left: 20px; font-size: 13px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quan hệ</th>
                        <th>Họ và tên</th>
                        <th>Năm sinh, mất nếu có và lý do</th>
                        <th>Địa chỉ</th>
                        
                        <th>Nghề nghiệp</th>
                        <th>Quá trình công tác</th>
                        <th>Thái độ chính trị</th>
                        <th>Đảng viên</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr ng-repeat="x in Relationship">
                        <td>
                            {{x.Relation}}
                        </td>
                        <td>{{x.Name}}</td>
                        <td>
                            {{x.BirthYear}}
                            
                        </td>
                        <td>
                            <span>Quê quán: {{x.HomeTown}}</span><br>
                            <span>Nơi cư trú{{x.Residence}}</span>
                        </td>
                        <td>{{x.Job}}</td>
                        <td>{{x.WorkingProgress}}</td>
                        <td>{{x.PoliticalAttitude}}</td>
                        <td>{{x.PartyMember}}</td>
                        
                        
                        <td>
                            <button class="btn" ng-click="deleteFamily(x)" style="color:#0dcaf0">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>