<div>
    <div style="background-color: #fff; border-radius: 5px;">
        <div class="" style="padding-left: 20px; font-size: 13px;">
            <div ng-repeat="x in Relationship">
                <div class="toggle-header" style="display: flex; justify-content: space-between;">
                    <div ng-click="showFamily2=!showFamily2">
                        <i ng-show="showFamily2" class="fa fa-caret-down"></i>
                        <i ng-show="!showFamily2" class="fa fa-caret-right"></i>
                        <label class="fs-18">Thông tin của {{x.Relation}}</label>
                    </div>
                    <div style="font-size: 20px; color: red;"><i class="fa fa-trash"></i></div>
                </div>
                <div class="mt-2" style="padding-left: 15px;" ng-show="showFamily2">
                    <div class="form-group row">
                        <div class="col-md-4 pr-0">
                            <i class="fa fa-user"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Họ và tên</label>
                        </div>
                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.Name" type="text" placeholder="Từ ngày" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0">
                            <i class="fa fa-calendar-o"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Lý do mất</label>
                        </div>
                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:'Mất vì tuổi già'">
                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.DeathReason" type="text" placeholder="Lý do" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0">
                            <i class="fa fa-map-marker"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Quê quán</label>
                        </div>
                        <!--<div class="col-md-8">
                            <input class="form-control br24 custom-title-code-bold" name="CusCode" ng-model="x.HomeTown" type="text" placeholder="Quê quán" ng-readonly="CustomerId !=''" />
                        </div>-->
                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.HomeTown" type="text" placeholder="Từ ngày" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-home"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Nơi cư trú</label>
                        </div>

                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.Residence" type="text" placeholder="Từ ngày" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-users"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Nghề nghiệp</label>
                        </div>

                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.Job" type="text" placeholder="Từ ngày" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-user"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Quá trình công tác</label>
                        </div>

                        <div class="col-md-8" style="display: flex;">
                            <div class="displayInfo br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                                </i>
                                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="x.WorkingProgress" type="text" placeholder="Từ ngày" />
                            </div>
                            <ul>
                                <li>

                                    {{y}}

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-user"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Thái độ chính trị</label>
                        </div>

                        <div class="col-md-8" style="display: flex;">
                            <div class="br24 form-control custom-title-code-bold">
                                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom" data-bs-content="VD:01-01-2024">
                                </i>
                                <input class="displayInfo" style="border: #FFFF; width : 400px" name="CusCode" ng-model="x.PoliticalAttitude" type="text" placeholder="Từ ngày" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 pr-0 ">
                            <i class="fa fa-user"></i>
                            <label class="displayInfo control-label require custom-title-code-bold">Đảng viên</label>
                        </div>

                        <div class="col-md-8" style="display: flex;">
                            <input class="displayInfo" style="border: #FFFF; width : 400px" name="CusCode" ng-model="x.PartyMember" type="checkbox" placeholder="" />
                        </div>
                    </div>

                    <div class="pull-right">
                        <button class="btn" ng-click="updateFamily(x)" style="color:#0dcaf0">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>