<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitGoAboard()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>

<div class="mt-15" style="padding-left: 15px;">
<div class="form-group row">
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-4 pr-0" style="padding-left: 7px;">
            <i class="fa fa-calendar"></i>
            <label
                class="displayInfo control-label require custom-title-code-bold">
                Từ
                ngày
            </label>
        </div>
        <div class="col-md-8" style="display: flex; padding-left: 8px;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover"
                    title="Popover Header" data-bs-placement="bottom"
                    data-bs-content="VD: 01-01-2024">

                </i>
                <input class="displayInfo" style="border: #FFFF;"
                    name="CusCode" ng-model="selectedGoAboard.From"
                    type="text" placeholder="Từ ngày" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-4 pr-0">
            <i class="fa fa-calendar"></i>
            <label
                class="displayInfo control-label require custom-title-code-bold">
                Đến
                ngày
            </label>
        </div>
        <div class="col-md-8"
            style="display: flex; padding-right: 8px;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover"
                    title="Popover Header" data-bs-placement="bottom"
                    data-bs-content="VD: 01-01-2024">

                </i>
                <input class="displayInfo" style="border: #FFFF;"
                    name="CusCode" ng-model="selectedGoAboard.To"
                    type="text" placeholder="Đến ngày" />
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 pr-0">
        <i class="fa fa-pencil-square-o"></i>
        <label
            class="displayInfo control-label require custom-title-code-bold">
            Nội
            dung
            đi
        </label>
    </div>
    <div class="col-md-10" style="display: flex;">
        <div class="br24 form-control custom-title-code-bold">
            <i class="fa fa-info-circle" data-bs-toggle="popover"
                title="Popover Header" data-bs-placement="bottom"
                data-bs-content="Nơi thường trú : phường Minh Khai, quận Bắc Từ Liêm, Hà Nội">

            </i>
            <input class="displayInfo" style="border: #FFFF;"
                name="CusCode" ng-model="selectedGoAboard.Contact"
                type="text" placeholder="Nội dung" />
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 pr-0">
        <i class="fa fa-pencil-square-o"></i>
        <label
            class="displayInfo control-label require custom-title-code-bold">
            Nước
            nào
        </label>
    </div>
    <div class="col-md-10" style="display: flex;">
        <div class="br24 form-control custom-title-code-bold">
            <i class="fa fa-info-circle" data-bs-toggle="popover"
                title="Popover Header" data-bs-placement="bottom"
                data-bs-content="VD:Campuchia">

            </i>
            <input class="displayInfo" style="border: #FFFF;"
                name="CusCode" ng-model="selectedGoAboard.Country"
                type="text" placeholder="Nước nào" />
        </div>
    </div>
</div>
<div class="pull-right">
    <button class="btn" ng-click="addToGoAboard()" style="">

        <i class="fa fa-plus"></i>
        <span>Thêm</span>
    </button>
    <!-- <button class="btn" ng-click="updateGoAboard()" style="color:#0dcaf0">
<i class="fa fa-plus"></i>
<span>Sửa</span>
</button> -->
</div>
<div class="list-item">
    <table>
        <tr>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Nội dung đi</th>
            <th>Đi nước nào</th>
            <th>Xoá bỏ</th>
        </tr>
        <tr ng-repeat="x in GoAboard" ng-click="selectGoAboard(x)">
            <td>{{x.From}}</td>
            <td>{{x.To}}</td>
            <td>{{x.Contact}}</td>
            <td>{{x.Country}}</td>
            <td style="text-align:center">
                <i style="color:red" class="fa fa-trash"
                    ng-click="deleteGoAboard($index)"></i>
            </td>
        </tr>
    </table>
</div>
</div>