<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitIntroducer()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>
<div class="row mt-15" style="padding: 20px;font-size: 13px;">
    <div class="form-group row">
        <div class="col-md-4 pr-0">
            <i class="fa fa-user"></i>
            <label class="displayInfo control-label require custom-title-code-bold">Người giới
                thiệu</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                    data-bs-placement="bottom"
                    data-bs-content="Nơi thường trú : phường Minh Khai, quận Bắc Từ Liêm, Hà Nội">

                </i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PersonIntroduced" type="text"
                    placeholder="Người giới thiệu" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar"></i>
            <label class="displayInfo control-label require custom-title-code-bold">Ngày và nơi
                vào Đoàn</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                    data-bs-placement="bottom"
                    data-bs-content="Nơi thường trú : phường Minh Khai, quận Bắc Từ Liêm, Hà Nội">

                </i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeJoinUnion" type="text"
                    placeholder="Ngày và nơi vào Đoàn" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar"></i>
            <label class="displayInfo require custom-title-code-bold">Ngày và nơi vào Đảng lần
                thứ nhất</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                    data-bs-placement="bottom"
                    data-bs-content="Nơi thường trú : phường Minh Khai, quận Bắc Từ Liêm, Hà Nội">

                </i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeJoinParty" type="text"
                    placeholder="Ngày và nơi vào Đảng lần thứ nhất" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar"></i>
            <label class="displayInfo require custom-title-code-bold">Ngày và nơi công nhận
                chính thức lần thứ nhất</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                    data-bs-placement="bottom"
                    data-bs-content="Nơi thường trú : phường Minh Khai, quận Bắc Từ Liêm, Hà Nội">

                </i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeRecognize" type="text"
                    placeholder="Ngày và nơi công nhận chính thức lần thứ nhất" />
            </div>
        </div>
    </div>
    
</div>