<div class="" style="padding-left: 20px; font-size: 13px;">

    <div style="display:flex ; justify-content:space-between;margin:10px">

        <div ng-click="submitPersonalHistorys()">
            <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
        </div>
    </div>

</div>

<div class="mt-15" style="padding-left: 15px;" ng-show="showWorkingProcess1">
    <div class="form-group row">
        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0" style="padding-left: 7px; ">
                <i class="fa fa-calendar"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Từ ngày</label>
            </div>
            <div class="col-md-8" style="display: flex; padding-left: 8px;">
                <div class="br24 form-control custom-title-code-bold" style="padding-right: 0px;">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                        data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.Begin" type="text"
                        placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="col-md-6 row" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar"></i>
                <label class="displayInfo control-label require custom-title-code-bold">Đến ngày</label>
            </div>
            <div class="col-md-8" style="display: flex;padding-right: 0">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header"
                        data-bs-placement="bottom" data-bs-content="VD:01-01-2024">

                    </i>
                    <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.End" type="text"
                        placeholder="Đến ngày" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o"></i>
            <label class="displayInfo control-label require custom-title-code-bold">Nội dung</label>
        </div>
        <div class="col-md-10" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle" data-bs-toggle="popover" title="Popover Header" data-bs-placement="bottom"
                    data-bs-content="Ví dụ: 'phường Minh Khai, quận Bắc Từ Liêm, Hà Nội'">
                </i>
                <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.Content" type="text"
                    placeholder="Nội dung" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button class="btn" ng-click="addToPersonalHistory()" style="">
                <i class="fa fa-plus"></i>
                <span>Thêm</span>
            </button>
            <!-- <button class="btn" ng-click="UpdatePersonalHistorys()" style="color:#0dcaf0">
                <i class="fa fa-plus"></i>
                <span>Cập nhật</span>
            </button> -->
        </div>
    </div>
    <div class="list-item">
        <table id="PersonalHistorys">
            <thead>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Nội dung</th>
                <th>Xoá bỏ</th>
            </thead>
            <tr ng-repeat="x in PersonalHistory" ng-click="selectPersonHistory(x)">
                <td>{{x.Begin}}</td>
                <td>{{x.End}}</td>
                <td>{{x.Content}}</td>
                <td style="text-align:center">
                    <i style="color:red" class="fa fa-trash" ng-click="deletePesonalHistory($index)"></i>
                </td>
            </tr>
        </table>
    </div>
</div>