<style>
    @media (min-width:992px) and (max-width:1200px) {
        .modal-registration .modal-50 {
            width: 75%;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-registration .modal-50 {
            width: 70%;
        }
    }

    @media (min-width:1501px) {
        .modal-registration .modal-50 {
            width: 60%;
        }
    }

    .portlet.light > .portlet-title > .caption {
        padding: 0px 0;
    }

    .ui-select-choices-group-label {
        font-weight: bold;
        padding-left: 10px !important;
        color: #515354 !important;
    }

    .table-responsive {
        overflow: unset;
    }

    .text-custom {
        font-weight: 700;
        color: brown !important;
    }

    .tags-custom {
        margin: 2px;
        padding: 0 5px;
        display: inline-block;
        float: left;
        font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
        height: auto;
        line-height: 25px;
        border: 1px solid #acacac;
        border-radius: 3px;
        background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
        background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
    }

    .h-95-srcoll {
        overflow: auto;
        max-height: 95px !important;
        height: 95px !important;
    }

    .boder-box-custom-scroll {
        padding: 1px;
        word-wrap: break-word;
        cursor: text;
        background-color: #fff;
        border: 1px solid #ccc;
        height: 100%;
        border-radius: 4px;
        max-height: 200px;
        height: 150px;
        width: 97%;
        margin-left: 15px;
    }

    .check-box-custom {
        height: 25px;
        width: 25px;
    }

    .close {
        background-image: none !important;
    }


    ._3dza {
        margin-right: 5px;
        padding: 2px;
    }

    ._6kld {
        border-radius: 25px;
        height: 40px;
        width: 40px;
    }

    .check-color {
        display: inline;
        top: 12px;
        left: 12px;
        /*color: white;*/
        font-size: 15px;
        position: relative;
    }

    .close-modal {
        z-index: 9990;
        position: absolute;
        padding: 0px;
        border-radius: 50px;
    }

    .close-modal {
        position: absolute;
        top: -25px;
        right: -25px;
        display: block;
        width: 50px;
        height: 50px;
        border-color: #ff5ca1;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/XKHq6urW1tb////w8PDV1dXp6elDeZ9WAAAAEHRSTlMACkZ5FnA+QUAZSXMHFT8XTiEbVAAAAAFiS0dEEwy7XJYAAAAHdElNRQflDAEGMgLw4uMaAAAAAW9yTlQBz6J3mgAAATNJREFUSMe1l9tygzAMRM21kAtdMO3/f2ohTDpQJFn1Jvtmxmdk2UZehSCqKCv8qiqL4Fbd4KSmdqEtFLVJ9AOGOhPtkVCvs5cUC1w09ppmgauI3jzoqtuZvXtZ4J4dV4r9HxbI2Ctl1xxndNTuxJJ346w+M+Fj2l0O3BGBn6GHPHggAm+h61x4rS1CzcE4HcfTKExq5FWPMc778RyjRC91Uvg6xQO9sHESphWhlNKZ9/Qc/yzkqTJUSNAqiyoANq2zS9KwaYvV4Q0zWQN+0CZrwRttsG+DmWUzG8Ycle+SUNeT+jGcv+SXMK3wFoNvKWWyDFEFMOTCtvGy1fLPjW3cNHWveGK5x52yFZyh4awUZ+Io+8gZV84y+05MNetcm5AydHaDYtqyIYmu+sxvyh7ytYM/qPe1AtpYDhcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMTItMDFUMDY6NTA6MDIrMDA6MDDiIsyiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTEyLTAxVDA2OjUwOjAyKzAwOjAwk390HgAAAABJRU5ErkJggg==);
    }
</style>
<div class="modal-header black" style="background: rgb(241, 241, 241);">
    <span class="modal-title fas fa-users fs15">&nbsp;&nbsp;{{'MS_TITLE_EDI_MEETING_SCHE' | translate}}</span>
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pb25 pt5">
                <div class="row mb-0">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TITLE' | translate}}</label>
                            <input ng-model="model.Title" class="form-control br4 text-custom" name="Title" placeholder="{{'MS_CRUD_TITLE' | translate}}..." />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TIME_START' | translate}}</label>
                            <div class='input-group date'>
                                <input ng-model="model.StartTime" type='text' class="form-control text-custom" placeholder="{{'MS_CRUD_TIME_START' | translate}}" id="datefrom" name="StartTime" autocomplete="off" />
                                <span class="input-group-addon start-date" ng-click="model.StartTime = ''">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_TIME_END' | translate}}</label>
                            <div class='input-group date'>
                                <input ng-model="model.EndTime" type='text' class="form-control text-custom" placeholder="{{'MS_CRUD_TIME_END' | translate}}" id="dateto" name="EndTime" autocomplete="off" />
                                <span class="input-group-addon end-date" ng-click="model.EndTime = ''">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require">{{'LMS_EXS_LBL_ZOOM_ID' | translate}}</label>
                            <input ng-model="model.ZoomId" class="form-control br4 text-custom" name="ZoomId" placeholder="{{'LMS_EXS_LBL_ZOOM_ID' | translate}}" placeholder1="{{'MS_CRUD_TITLE' | translate}}..." disabled />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require">{{'LMS_EXS_LBL_ZOOM_PASS' | translate}}</label>
                            <input ng-model="model.Password" class="form-control br4 text-custom" name="Password" placeholder="{{'LMS_EXS_LBL_ZOOM_PASS' | translate}}" placeholder1="{{'MS_CRUD_TITLE' | translate}}..." disabled />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require">{{'LMS_EXS_LBL_TIME_CREATE' | translate}}</label>
                            <input ng-model="model.CreatedTime" class="form-control br4 text-custom" name="CreatedTime" placeholder="{{'LMS_EXS_LBL_TIME_CREATE' | translate}}" placeholder1="{{'MS_CRUD_TITLE' | translate}}..." disabled />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require">{{'LMS_EXS_LBL_CREATOR' | translate}}</label>
                            <input ng-model="model.CreatedBy" class="form-control br4 text-custom" name="CreatedBy" placeholder="{{'LMS_EXS_LBL_CREATOR' | translate}}" placeholder1="{{'MS_CRUD_TITLE' | translate}}..." disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'LMS_EXS_LBL_CHOOSE_ACCOUNT_ZOOM' | translate}}</label>
                            <div class="input-group" ng-class="{'has-error': errorAccountZoom}">
                                <ui-select class="text-custom" ng-model="model.AccountZoom" theme="bootstrap" ng-change="changleSelect('AccountZoom')">
                                    <ui-select-match placeholder="{{'LMS_EXS_LBL_CHOOSE_ACCOUNT_ZOOM' | translate}}...">{{$select.selected.NameDisplay}} ({{$select.selected.Description}})</ui-select-match>
                                    <ui-select-choices repeat="x.Description as x in listAccount | filter: $select.search">
                                        <span class="bold fs13">{{x.NameDisplay}}</span> <br /> <span class="text-brown fs12">({{x.Description}})</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.AccountZoom=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorAccountZoom" class="label-color validation-message">
                                {{'LMS_EXS_LBL_PLEASE_CHOOSE_ACCOUNT_ZOOM' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group col-md-12 p-0">
                            <label> {{'MS_CRUD_NOTE' | translate}}</label>
                            <textarea class="form-control" placeholder="{{'MS_CRUD_NOTE' | translate}}.." rows="2" ng-model="model.Comment" name="Comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col-md-12 p-0">
                            <label> {{'LMS_EXS_LBL_BACKGROUND_COLOR' | translate}}</label>
                            <table cols="6" class="_3dz6 uiGrid _51mz" alignh="center" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr class="_51mx">
                                        <td role="button" tabindex="0" class="_3dz9_51m-hCent" ng-repeat="x in listColor" ng-click="selectColor(x.Id)">
                                            <div class="_3dza">
                                                <div aria-label="Candy" class="_6kld" style="background-color:{{x.BackgroundColor}};background-image:{{x.BackgroundImage}}">
                                                    <span class="check-color" ng-show="x.Check">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group col-md-12 p-0">
                            <div class="col-md-12 p-0" ng-class="{ 'has-error': errorUserId}">
                                <label class="require">{{'MS_CRUD_LIST_EMPLOYEE' | translate}}</label>
                                <ui-select ng-model="model1.ListUser" multiple theme="bootstrap" class="h-70" on-select="addUser($item)" on-remove="removeUser($item)">
                                    <ui-select-match placeholder="{{'MS_CRUD_TEXT_SELECT_EMPLOYEE' | translate}}...">{{$item.GivenName}}</ui-select-match>
                                    <ui-select-choices repeat="x.UserName as x in listUser | filter:$select.search">
                                        {{x.GivenName}}
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="errorUserId" class="label-color validation-message">
                                    {{'MS_VALIDATE_EMPLOYEE' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'MS_CRUD_STATUS' | translate}}</label>
                            <div class="col-md-12 input-group search-group" ng-class="{ 'has-error': errorType}">
                                <ui-select tagging ng-model="model1.Status" theme="bootstrap" ng-disabled="!isUserInList" on-select="changeStatus($item)">
                                    <ui-select-match placeholder="{{'LMS_DASD_BOARD_LBL_LECT_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x  in listStatus | filter: $select.search">
                                        <span class="bold fs11">{{x.Name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model1.Status='';" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="col-md-12 input-group search-group" style="padding-top: 7px;">
                                <span class="check-box-act">
                                    <!--<input style="-webkit-transform: scale(2);" type="checkbox" name="" value="" />-->
                                    <span class="pull-right fs9">
                                        <a class="fs11 pt5 text-underline ng-binding" ng-click="viewLogStatus()">Log người duyệt</a>
                                    </span>
                                    <label style="padding-left: 10px;" for="music">{{countUserApproved}}/{{listUserApproved.length}}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'LMS_SBL_A_DOCUMENT' | translate}}</label>
                            <div class="col-md-12 input-group search-group" ng-class="{ 'has-error': errorType}">
                                <ui-select tagging ng-model="model2.CmsItemCode" on-select="changeCmsItem($item)" theme="bootstrap">
                                    <ui-select-match placeholder="{{'LMS_EXS_LBL_CHOOSE_DOCUMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x  in listCmsItem | filter: $select.search" refresh="reloadCmsItem($select.search)">
                                        <span class="bold fs11">{{x.Name}}</span>
                                        <div class="row mt15" ng-if="$last">
                                            <button class="btn btn-xs btn-success"
                                                    style="width: 100%;"
                                                    ng-click="loadMore($select, $event);"
                                                    ng-disabled="loading">
                                                {{'LMS_EXS_BTN_LOAD_MORE' | translate}}...
                                            </button>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model2.CmsItemCode='';" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button" style="background-color: #339933; color:white" ng-click="addCmsItem(model2)" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="form-group col-md-12 p-0">
                            <label class="require"> {{'LMS_DOCUMENT_LBL_LIST_DOCUMENT' | translate}}</label>
                            <ul>
                                <li ng-repeat="x in listRef">
                                    <div class="col-md-12 pt10">
                                        <div style="display: inline-block"><img class="mr5" style="width: 14px;" src="../../../images/iconDashBoard/icon_Text-Worksheet.png"></div>
                                        <div style="display: inline-block"><a ng-click="viewCms(x.CmsItemCode)">{{x.CmsItemName}}</a></div>
                                        <div class="pull-right"><button title="Xóa" ng-click="deleteCmsItem(x)" style="width: 25px; height: 25px; padding: 0px" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group col-md-12 p-0">
                            <div class="btn-group pt10 actions d-flex pull-right">
                                <div class="text-center">
                                    <a class="btn btn-icon-only btn-outline btn-boder1" ng-click="submit()">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3 nowrap">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
