<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .fc-more-popover {
        max-height: 200px;
        overflow-y: auto;
    }

    .fc-time {
        display: none;
    }

    .fc-content {
        height: 12px;
        padding: 5px;
    }

    .btn-edit-calendar {
        margin-top: -15px !important;
        width: 30%;
        height: 15px;
        margin-left: 74% !important;
        background: none;
        border: none;
    }

        .btn-edit-calendar .fc-content {
            height: 15px !important;
            padding: 0px !important;
            font-size: 10px;
            color: white;
            text-decoration: underline;
        }

    .btn-copy-calendar {
        margin-top: -15px !important;
        width: 30%;
        height: 15px;
        margin-left: 45% !important;
        background: none;
        border: none;
    }

        .btn-copy-calendar .fc-content {
            height: 15px !important;
            padding: 0px !important;
            font-size: 10px;
            color: white;
            text-decoration: underline;
        }

    a.fa-paste-calendar {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        display: block;
        color: #337ab7 !important;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        z-index: 5;
    }

    .fc-day-grid-event {
        margin: 3px 2px 0;
        padding: 0 1px;
    }

    .ui-contextmenu > li > div {
        /*padding: 8px 16px;
        color: #6f6f6f;
        text-decoration: none;
        display: block;
        clear: both;
        font-weight: 300;
        line-height: 18px;
        white-space: nowrap*/
        width: 200px;
    }

    .ui-contextmenu > li:hover > div:hover {
        /*text-decoration: none;
        background-image: none;
        background-color: #e1e5ec;
        color: #555;
        filter: none;*/
        background-color: white;
        font-weight: bold;
        color: #526adc;
    }

    .ui-icon.ui-icon-copy {
        background-image: url(http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png) !important;
    }

    .ui-icon.ui-icon-clipboard {
        background-image: url(http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png) !important;
    }
    /*.ui-contextmenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 1rem;
        color: #373a3c;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.18rem;
    }

    .ui-contextmenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        background-clip: padding-box;
    }

    .ui-contextmenu {
        left: 0;
        min-width: 175px;
        position: absolute;
        z-index: 1000;
        display: none;
        float: left;
        list-style: none;
        text-shadow: none;
        padding: 0;
        background-color: #fff;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }

    .ui-contextmenu {
        border: 0 !important;
        border-radius: 2px !important;
        margin: 0;
    }*/
    .scrollbar {
        background-color: #F5F5F5;
        float: left;
        height: 300px;
        margin-bottom: 25px;
        margin-left: 22px;
        margin-top: 40px;
        width: 65px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #999;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .cus-col-3 {
            width: 45% !important;
        }
    }

    @media only screen and (min-width: 1300px) and (max-width: 1400px) {
        .cus-col-3 {
            width: 42% !important;
        }
    }

    @media only screen and (min-width: 1400px) and (max-width: 1500px) {
        .cus-col-3 {
            width: 45% !important;
        }
    }

    .z-index-btn {
        z-index: 1000;
    }

    .h-70 {
        height: 70px;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div id="breadcrumbIndex" class="ng-scope"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/DashBoard"><i class="fa fa-home"></i>{{'COM_CRUMB_DASH_BOARD' | translate}}</a></li><li class="breadcrumb-item"><a href="/Admin/LmsDashBoard">{{'COM_CRUMB_LMS_DASH_BOARD' | translate}}</a></li><li class="breadcrumb-item">{{'LMS_TITLE_ADD_EXAM' | translate}}</li></ol></div>
<div class="btn-group pt5 pb-1 actions d-flex pull-right" style="margin-top: -50px;">
    <div class="text-center mt10">
        <a ng-click="addExamSchedule()">
            <i class="fa-solid fa-plus fs25"></i>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'LMS_TITLE_ADD_EXAM' | translate}}</p>
    </div>
</div>
<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-md-6">
            <table class="table dataTable table-hover table-striped-double"
                   datatable
                   dt-options="dtOptionsExam"
                   dt-columns="dtColumnsExam"
                   dt-instance="dtInstanceExam"
                   id="tblDataExam"></table>
        </div>
        <div class="col-md-6">
            <style>
                .fc-time {
                    display: none;
                }

                .fc-content {
                    font-size: 10px !important;
                }
            </style>
            <div class="row">
                <div class="col-md-12"> <label class="text-primary">{{'MS_TIP_EDIT_DELETE_EVENT' | translate}}</label></div> <!--MS_TIP_EDIT_DELETE_EVENT-->
            </div>
            <div class="calendar-wrap" ng-if="IsTranslate">
                <div id="calendarExam"></div>
            </div>
        </div>
    </div>
</div>
