<style>
    @media(max-width:992px) {
        .modal-50 {
            width: 75% !important;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-50 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-50 {
            width: 60% !important;
        }
    }

    @media (min-width:1501px) {
        .modal-50 {
            width: 50% !important;
        }
    }

    .status-detail {
        border-radius: 5px;
        padding: 15px;
        background-color: whitesmoke;
    }

    .text-black {
        color: black;
    }
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header white-custom height-50">
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'Thiết lập trạng thái' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form ">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptionsNew">
            <div class="form-body" style="padding: 10px;">

                <div class="row">
                    <div class="col-md-4 pl-0 pr-0">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label require">{{'Mã bộ dữ liệu trạng thái' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control br24" ng-model="model.GroupCode" name="GroupCode" placeholder="{{'Mã bộ trạng thái' | translate}}..." ng-readonly="isAdded" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 pr-0">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fas fa-info-circle" aria-hidden="true"></i>
                                <label class="control-label require">{{'Tên bộ dữ liệu trạng thái' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control br24" ng-model="model.GroupName" name="GroupName" placeholder="{{'Tên bộ trạng thái' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 pr-0 pl-0">
                        <div class=" pull-right">
                            <div class="btn-group pt20 actions d-flex">
                                <div class="text-center" ng-click="submit()">
                                    <a class=" fs30 p-0" ng-click="add()">

                                        <span><i class="fa-solid fa-plus"></i></span>

                                    </a>

                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pr-0 pl-0">
                        <div class="col-md-6 pl-0">
                            <b>Danh sách bộ dữ liệu trạng thái</b>
                            <div class="table-responsive" style="overflow-y: auto; height: 400px; border:1px solid #f1e7e7;">
                                <table class="table table-bordered" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr ng-repeat="x in listStatusGroup">
                                            <td class="col-md-12">
                                                <a ng-click="getListStatusGroup(x.Code)" class="text-black"
                                                   ng-class="{'text-green fw600 fs14' : markGroup == x.Code}">{{x.Name}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <b>Trạng thái</b>
                            <div class="table-responsive" style="overflow-y: auto; height: 400px;border:1px solid #f1e7e7;">
                                <table class="table table-bordered" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr ng-repeat="x in listStatus">
                                            <td class="col-md-12">
                                                <div class="col-md-10">
                                                    <a class="text-black" ng-class="{'text-green fw600 fs14' : x.IsCheck}">{{x.Name}}</a>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="mt-checkbox share-object" style="margin-bottom: 0; width: 30px;display:inline; font-size:13px">
                                                        <input type="checkbox" ng-model="x.IsCheck" ng-checked="x.IsCheck" ng-change="selectStatus(x)">
                                                        <span style="padding: 10px;background: #fff !important;border: 1px solid #b9b6b6;"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">

</div>
