<style>
    .app-content {
        width: 100%;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(100% - 60px);
        right: 70px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group actions d-flex pull-right pt5 pb-1 mt-btn-index">
    <!--<div class="text-center pr-2" ng-show="!isSearch">
        <a class="btn btn-icon-only btn-circle btn-outline gold-custom" ng-click="showSearch()">
            <span><i class="fa fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>-->
    <div class="text-center pr-2" style="margin-top: 30px;">
        <a class="" ng-click="showSearch()">
            <span><i class="fas fa-search p10 fs25"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2" style=" margin-top: 27px;">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question " aria-hidden="true"></i></span>
        </a>
    </div>
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="col-md-12" style="height:20px">
                    <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                </div>
                <div class="row mb5">
                    <div class="col-md-2">
                        <div class="form-group p-0" ng-class="{ 'has-error': errorProjectCode}">
                            <label class="require">{{'PROJECT_PROGRESS_CURD_LBL_PROJECT' | translate}}</label>
                            <div class="input-group br24-nobtn search-group">
                                <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.ProjectCode" theme="bootstrap" on-select="changleSelect('ProjectCode')">
                                    <ui-select-match placeholder="{{'PROJECT_PROGRESS_CURD_TXT_PROJECT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listProject | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="errorProjectCode" class="label-color validation-message">
                                    {{'PROJECT_PROGRESS_RQ_PRO' | translate}}!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group" ng-class="{ 'has-error': errorBoardCode}">
                        <label class="require">{{'PROJECT_PROGRESS_LBL_BOARD' | translate}}</label>
                        <div class="input-group br24 search-group">
                            <ui-select tagging ng-model="model.BoardCode" theme="bootstrap" on-select="changleSelect('BoardCode')">
                                <ui-select-match placeholder="{{'PROJECT_PROGRESS_LBL_BOARD' | translate}}...">{{$select.selected.BoardName}}</ui-select-match>
                                <ui-select-choices repeat="x.BoardCode as x in listBoard | filter: $select.search">
                                    {{x.BoardName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addBoard()" class="btn btn-default no-shadow start-date" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorBoardCode" class="label-color validation-message">
                            {{'PROJECT_PROGRESS_VALIDATE_BOARD' | translate}}!
                        </span>
                    </div>
                    <div class="col-lg-3 form-group" ng-class="{ 'has-error': errorListCode}">
                        <label class="require">{{'PROJECT_PROGRESS_LBL_LIST' | translate}}</label>
                        <div class="input-group br24 search-group">
                            <ui-select ng-model="model.ListCode" theme="bootstrap" on-select="changleSelect('ListCode')">
                                <ui-select-match placeholder="{{'PROJECT_PROGRESS_LBL_LIST' | translate}}...">{{$select.selected.ListName}}</ui-select-match>
                                <ui-select-choices repeat="x.ListCode as x in listLists | filter: $select.search">
                                    {{x.ListName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addList()" class="btn btn-default no-shadow start-date" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorListCode" class="label-color validation-message">
                            {{'PROJECT_PROGRESS_VALIDATE_LIST' | translate}}!
                        </span>
                    </div>
                    <div class="col-lg-3 form-group" ng-class="{ 'has-error': errorCardName}">
                        <label class="require">{{'PROJECT_PROGRESS_LBL_CARD' | translate}}</label>
                        <input class="form-control br24" ng-model="model.CardName" ng-change="changleSelect('CardName')" placeholder="{{'PROJECT_PROGRESS_LBL_CARD' | translate}}" />
                        <span ng-show="errorCardName" class="label-color validation-message">
                            {{'PROJECT_PROGRESS_VALIDATE_JOB' | translate}}!
                        </span>
                    </div>

                    <div class="col-md-1" style="width: 5%;">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class="" ng-click="search()">
                                    <span><i class="fas fa-search pt15 fs30"></i></span>
                                </a>
                                <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="projectGantt" dhx-gantt style='height:600px;'></div>
    </div>
</div>
