<p><strong>Đơn vị:</strong>................................. </p>
<p><strong>Địa chỉ:</strong>................................</p>
<p></p>
<p style="text-align: center;"><strong>PHIẾU THU</strong></p>
<p style="text-align: center;"><em>Ngày .... tháng .... năm 20......</em></p>
<p style="text-align: right;">Quyển số:.......................</p>
<p style="text-align: right;">Số:................................</p>
<p style="text-align: right;">Nợ:................................</p>
<p style="text-align: right;">Có:................................</p>
<p>Người trả:.................................................................................................................</p>
<p>Người nhận:.................................................................................................................</p>
<p>Địa chỉ:.............................................................................................................</p>
<p>Số tiền:.............................. (Viết bằng chữ):.......................................................</p>
<p>Kèm theo:........................................................ Chứng từ gốc:</p>
<p style="text-align: right;"><em>Ngày</em><em> ............ </em><em>tháng </em><em>............ </em><em>năm ....</em><em>.........</em></p>

<table>
    <tbody>
        <tr>
            <td width="137">
                <p><strong>Giám đốc</strong></p>
                <p><em>(Ký, họ tên) </em></p>
            </td>
            <td width="159">
                <p><strong>Kế toán trưởng</strong></p>
                <p><em>(Ký, họ tên) </em></p>
            </td>
            <td width="141">
                <p><strong>Người nộp tiền</strong></p>
                <p><em>(Ký, họ tên) </em></p>
            </td>
            <td width="137">
                <p><strong>Người lập phiếu</strong></p>
                <p><em>(Ký, họ tên) </em></p>
            </td>
            <td width="113">
                <p><strong>Thủ quỹ</strong></p>
                <p><em>(Ký, họ tên)</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p>Đã nhận đủ số tiền (viết bằng chữ):...........................................................................</p>
<p></p>