<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .warehouse > .ui-select-container > .ui-select-match > span {
        background-color: #4dbb4d;
    }

        .warehouse > .ui-select-container > .ui-select-match > span > span {
            color: #fff !important;
        }

    .warehouse-btn {
        background-color: #4dbb4d !important;
        box-shadow: none !important;
    }

    .form-control::placeholder {
        color: brown;
        opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: brown;
    }

    .form-control:-ms-input-placeholder { /* Microsoft Edge */
        color: brown;
    }

    .search-group > .ui-select-container > .ui-select-match > span > .ui-select-placeholder {
        color: brown !important;
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(100% - 80px);
        right: 30px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }

    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 1032 !important;
    }
</style>

<div ng-controller="indexFuel">
    <div class="btn-group pt5 pb-1 pull-right actions d-flex" style="margin-top: -70px;">
        <div class="text-center mt10 pr30">
            <a class="" ng-click="showSearch()">
                <span><i class="fas fa-search fs30"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
        </div>
        <div class="text-center mt10 pr30">
            <a class="" ng-click="exportExcel()">
                <span><i class="fas fa-file-excel text-green  fs30"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_EXCEL' | translate}}</p>
        </div>
        <div class="text-center pr-2">
            <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
                <span><i class="fas fa-question " aria-hidden="true"></i></span>
            </a>
        </div>
    </div>
    
    <div id="searchBox" ng-show="isSearch">
        <div class="table-toolbar">
            <div class="portlet light bordered mb5 mt10">
                <div class="portlet-body">
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>
                    <div class="row mb5">
                        <!--<div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_CURD_LBL_SEARCH_PRODUCT_QR_CODE' | translate}}</label>
                            <div class='input-group br24'>
                                <input ng-model="model.ProductQrCode" class="form-control" type="text" placeholder="{{'IN_CURD_TXT_SEARCH_PRODUCT_QR_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ProductQrCode=''" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>-->
                        <div class="col-lg-2 col-md-4 col-custom-lg-2" style="width: 17%;">
                            <label class="fw600 text-underline ng-binding">{{'IN_LIST_COL_DATE_START' | translate}}</label>
                            <div class="input-group br24">
                                <input ng-model="model.FromDate" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="{{'IN_LIST_COL_DATE_START' | translate}}..." id="FromTo" ng-keydown="($event.keyCode == 13) &amp;&amp; reload()">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-custom-lg-2" style="width: 17%;">
                            <label class="fw600 text-underline ng-binding">{{'IN_LIST_COL_DATE_END' | translate}}</label>
                            <div class="input-group br24">
                                <input ng-model="model.ToDate" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="{{'IN_LIST_COL_DATE_END' | translate}}..." id="DateTo" ng-keydown="($event.keyCode == 13) &amp;&amp; reload()">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <label class="fw600 text-underline">{{'Loại nhiên liệu - vỏ bình - vật tư' | translate}}</label>
                            <div class="input-group br24 search-group">
                                <ui-select tagging ng-model="model.GroupType" theme="bootstrap" ng-change="changeGroupType()">
                                    <ui-select-match placeholder="{{'Chọn loại nhiên liệu - vỏ bình - vật tư' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in Types | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.GroupType=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div> -->
                        <div class="col-md-5">
                            <label class="fw600 text-underline">{{'IN_CURD_LBL_SEARCH_PRODUCT_CODE' | translate}}</label>
                            <div class="input-group br24 search-group">
                                <ui-select tagging ng-model="model.ProductCode" theme="bootstrap" on-select="reload()">
                                    <ui-select-match placeholder="{{'IN_CURD_TXT_SEARCH_PRODUCT_CODE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listProductCode | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ProductCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_CURD_LBL_SEARCH_STORE_CODE' | translate}}</label>
                            <div class="input-group br24 ">
                                <ui-select tagging ng-model="model.StoreCode" theme="bootstrap" ng-change="changeSelect('WAREHOUSE')">
                                    <ui-select-match placeholder="{{'IN_CURD_TXT_SEARCH_STORE_CODE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in stores | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.StoreCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <label class="fw600 text-underline">{{'Vị trí' | translate}}</label>
                            <div class="input-group br24 ">
                                <ui-select tagging ng-model="model.MappingCode" theme="bootstrap" ng-change="changeSelect('MAPPING')">
                                    <ui-select-match placeholder="{{'Vị trí' | translate}}...">
                                        {{$select.selected.Name}} - {{$select.selected.Mapping}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="x.Mapping as x in listMapping | filter: $select.search">
                                        {{x.Name}} - {{x.Mapping}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.MappingCode=''" class="btn btn-default no-shadow " style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div> -->
                        <!--<div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_CURD_LBL_SEARCH_LOT_PRODUCT_CODE' | translate}}</label>
                            <div class="input-group">
                                <ui-select tagging ng-model="model.LotProductCode" theme="bootstrap" on-select="reload()">
                                    <ui-select-match placeholder="{{'IN_CURD_TXT_SEARCH_LOT_PRODUCT_CODE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listLotProductCode | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.LotProductCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>-->
                        <!--<div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Kiểu tồn' | translate}}</label>
                                            <div class="input-group br24 search-group">
                                                <ui-select tagging ng-model="model.InventoryType" theme="bootstrap" on-select="reload()">
                                                    <ui-select-match placeholder="{{'Kiểu tồn' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listType | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.InventoryType=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                        </div>-->
                        <div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_LIST_COL_ENTER_COUPON' | translate}}</label>
                            <div class="input-group br24 search-group">
                                <ui-select tagging ng-model="model.TicketCode" theme="bootstrap" on-select="reload()">
                                    <ui-select-match placeholder="{{'IN_LIST_COL_ENTER_COUPON' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listTicketCode | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.TicketCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="fw600 text-underline">{{'Người tạo chi tiết nhập' | translate}}</label>
                            <div class='input-group br24'>
                                <div class="input-group  search-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.CreatedBy" theme="bootstrap" on-select="reload()">
                                        <ui-select-match placeholder="{{'IN_LIST_COL_STAFF_INPUT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listUserImport | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.CreatedBy=''" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="fw600 text-underline">{{'Nhà cung cấp' | translate}}</label>
                            <div class="input-group br24">
                                <ui-select ng-model="model.SupplierCode" theme="bootstrap" on-select="reload()">
                                    <ui-select-match
                                        placeholder="{{'Nhà cung cấp' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listSupplier | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.SupplierCode=''" class="btn btn-default no-shadow"
                                        style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!--<div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_LIST_COL_STRING' | translate}}</label>
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.LineCode" theme="bootstrap" ng-change="changeSelect('LINE')">
                                    <ui-select-match placeholder="{{'IN_LIST_COL_STRING' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listLine | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.LineCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="fw600 text-underline">{{'IN_LIST_COL_SHELF' | translate}}</label>
                            <div class="input-group br24 ">
                                <ui-select tagging ng-model="model.RackCode" theme="bootstrap">
                                    <ui-select-match placeholder="{{'IN_LIST_COL_STRING' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listRack | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.RackCode=''" class="btn btn-default no-shadow " style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>-->
                        <div class="col-md-1">
                            <div class="btn-group pt20  actions d-flex">
                                <div class="text-center pr10">
                                    <a class="" ng-click="search()">
                                        <span><i class="fas fa-search pt10 fs30"></i></span>
                                    </a>
                                    <!--<p class="text-underline fs9 mb5 pt3 ">{{'COM_BTN_SEARCH' | translate}}</p>-->
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData">
    </table>
</div>
<!--<tfoot ng-if="sumQuantity>0">
    <tr>
        <th colspan="1" class=""></th>
        <th colspan="5" class="text-danger text-center">{{'IN_TXT_SUM' | translate}}</th>
        <th colspan="1" class=""><span class="text-success">{{sumQuantity | number : fractionSize}}</span></th>
        <th colspan="8" class=""></th>
    </tr>
</tfoot>-->


<script>
        setTimeout(function () {
            let isDown = false;
            let startX;
            let scrollLeft;

            $('.table-scrollable').mousedown(function (e) {
                isDown = true;
                startX = e.pageX - $('.table-scrollable').offset().left;
                scrollLeft = $('.table-scrollable').scrollLeft();
            });
            $('.table-scrollable').mouseleave(function () {
                isDown = false;
            });
            $('.table-scrollable').mouseup(function () {
                isDown = false;
            });
            $('.table-scrollable').mousemove(function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $('.table-scrollable').offset().left;
                const walk = (x - startX) * 1; //scroll-fast
                $('.table-scrollable').scrollLeft(scrollLeft - walk);
                console.log(walk);
            });
        }, 1000);

</script>
