<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: white !important;
        font-weight: 700;
        background: #FF8000;
        font-size: 12px;
    }

    .nav-tabs .nav-link, .nav-tabs a {
        background: #428bca;
        transition: 0.5s;
        background-size: 200% auto;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
        font-size: 12px;
        color: white;
        padding: 6px;
    }

    .search {
        width: 100%;
    }

    .app-content {
        width: 100%;
    }
</style>
<div class="table-toolbar">
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'LMS_CURD_LBL_LMS_CODE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="modelsearch.LmsSubjectCodee" class="form-control" type="text" placeholder="{{'LMS_CURD_LBL_LMS_CODE' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="modelsearch.LmsSubjectCodee=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'LMS_CURD_LBL_LMS_NAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="modelsearch.LmsSubjectNamee" class="form-control" type="text" placeholder="{{'LMS_CURD_LBL_LMS_NAME' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="modelsearch.LmsSubjectNamee=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 pull-right">
                    <div class="btn-group pt20 actions d-flex" style="float:left;">
                        <div class="text-center" style="margin-right:20px">
                            <a class="btn btn-icon-only btn-outline btnn" ng-click="reload()">
                                <span><i class="fa fa-search vtc"></i></span>
                            </a>
                            <p class="text-underline fs13 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center pr-2">
                            <a class="btn btn-icon-only btn-outline btnn" ng-click="add()">
                                <span><i class="fa fa-plus vtc"></i></span>
                            </a>
                            <p class="text-underline fs13 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
