<div class="modal-header" style="background-color: white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-plus-circle icon-insert " style="color: black"></i>
    <span class="modal-title" id="modal-title" style="color: black"> {{'MLP_CURD_TITLE_ADD_MPG' | translate}}</span>
</div>

<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt5">
                <div class="form-group br24-nobtn">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_MPG_FATHER_GROUP' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <ui-select tagging ng-model="model.ParentID" ng-change="reload()" theme="bootstrap">
                            <ui-select-match placeholder="{{'MLP_CURD_LBL_MPG_FATHER_GROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in treedataCoursetype | filter:$select.Id| filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_MPG_CODE' | translate}} (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control br24" ng-model="model.Code" name="ProductCode" id="ProductCode" placeholder="{{'MLP_CURD_LBL_MPG_CODE' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_MPG_NAME' | translate}} (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control br24" ng-model="model.Name" name="ProductName" placeholder="{{'MLP_CURD_LBL_MPG_NAME' | translate}}(*)" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_MPG_DESCRIPTION' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control br24" ng-model="model.Description" rows="3" placeholder="{{'MLP_CURD_LBL_MPG_DESCRIPTION' | translate}}" name="Note"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer pt5">
    <div class="btn-group pull-right actions d-flex">
        <div class="text-center pr10" style="margin-right: 10px">
            <a data-dismiss="modal" ng-click="cancel()" class="fs30">
                <span><i class="fas fa-times" style="color: red"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a ng-click="submit()" class="fs30">
                <span><i class="fa-solid fa-plus"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
