<style>
    .h-95-srcoll {
        overflow: auto;
        max-height: 95px !important;
        height: 95px !important;
    }

    .boder-box-custom-scroll {
        padding: 1px;
        /* overflow: hidden; */
        word-wrap: break-word;
        cursor: text;
        background-color: #fff;
        border: 1px solid #ccc;
        height: 100%;
        border-radius: 4px;
        max-height: 200px;
        height: 150px;
    }

    .tags-custom {
        margin: 2px;
        padding: 0 5px;
        display: inline-block;
        float: left;
        font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*height: 26px;*/
        height: auto;
        line-height: 25px;
        border: 1px solid #acacac;
        border-radius: 3px;
        background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
        background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
    }
</style>
<div ng-controller="tabComponent">
    <div class="table-toolbar">
        <div class="row">
            <form name="addform" method="post" ng-validate="validationComponentOptions">
                <div class="col-md-6 " ng-class="{ 'has-error': errorProductCode}">
                    <label class="control-label require">{{'Mã/Tên linh kiện, phụ kiện' | translate}} </label>
                    <div class="d-flex flex-column">
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.Code" theme="bootstrap" ng-change="changeProduct()" ng-disabled="isEditComponent">
                                <ui-select-match placeholder="{{'Mã/Tên linh kiện, phụ kiện' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listProduct | filter: $select.search" refresh="reloadProductCategory($select.search)">
                                    <span>{{x.Name}}</span>
                                    <div class="row mt15" ng-if="$last">
                                        <button class="btn btn-xs btn-success"
                                                style="width: 100%;"
                                                ng-click="loadMoreCategory($select, $event);"
                                                ng-disabled="loading">
                                            Load more...
                                        </button>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="width: 15%;">
                    <div class="form-group">
                        <label class="control-label require">{{'MLP_CURD_LBL_COMPONENT_QUANTITY' | translate}}</label>
                        <input type="text" class="form-control br24" ng-model="model.Quantity" name="Quantity" placeholder="{{'MLP_CURD_TXT_COMPONENT_QUANTITY' | translate}}..." />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group br24-nobtn">
                        <label class="control-label">{{'MLP_CURD_LBL_COMPONENT_UNIT' | translate}}</label>
                        <ui-select tagging ng-model="model.Unit" ng-change="reload()" theme="bootstrap">
                            <ui-select-match placeholder="{{'MLP_CURD_TXT_COMPONENT_UNIT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in productImpType | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-1" style="width: 15%;">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="mr10 pr-0" ng-hide="isEditComponent">
                            <a class="" ng-click="add()" style="border-radius: 0px !important">
                                <i class="fa-solid fa-plus fs30"></i>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>

                        <div class="mr10 pr-0" ng-hide="!isEditComponent">
                            <a class="" ng-click="submit()" style="border-radius: 0px !important">
                                <i class="fa-solid fa-plus fs30"></i>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                        <div class="mr10 pr-0" ng-hide="!isEditComponent">
                            <a class="" ng-click="cancel()" style="border-radius: 0px !important">
                                <i style="--fa-primary-color: red;" class="fas fa-times fs30"></i>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataComponent"></table>
</div>