<style>
    .pos .ui-select-bootstrap .ui-select-toggle {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        padding-left: 5px !important
    }


    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #user .tags {
        max-height: 200px;
        height: 140px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
        model .Title
    }

    .border-qrcode .file-body {
        max-height: 80px;
        height: 80px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    #box-documentType .tags {
        max-height: 200px;
        height: 140px;
    }

    #documentType .tags {
        max-height: 90px;
        height: 90px;
    }

    #box .file-body {
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 58px;
        height: 46px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    @media(min-width:992px) and (max-width:1200px) {
        .modal-65 {
            width: 85% !important;
        }
    }

    @media (min-width:1200px) and (max-width:1300px) {
        .modal-65 {
            width: 70% !important;
        }
    }

    @media(min-width:1300px) and (max-width:1500px) {
        .modal-65 {
            width: 65% !important;
        }
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .color-white {
        color: white;
    }


    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    #payment:after {
        height: 0px;
    }

    .border-black {
        border: 1px solid #000;
    }

    .name {
        top: 12%;
        margin-left: 55px;
        font-size: 10px;
        position: absolute;
    }

    .dateapr {
        position: absolute;
        margin-left: 55px;
        top: 32%;
        font-size: 10px;
    }

    .text-combo-custom span {
        font-size: 14px;
        color: brown;
    }
    .userFormAreaHeader {
        border-radius: 4px !important;
        border: 0px solid #e7ecf1 !important;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
        background: none;
    }
</style>
<link rel="stylesheet" href="../../../css/admin/workflowActivity/workflow-ticket.css" />

<div class="portlet-body form">
    <form name="addform" method="post" ng-validate="validationOptions" class="form-horizontal userFormAreaHeader">
        <div class="form-body">
            <div class="row mtn20">
                <div class="col-lg-12 mb10">
                    <div ng-include="'../views/admin/workflowPlugin/wf-plugin.html'"></div>
                </div>
                <div class="col-lg-12 ">
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorStoreCode}">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'Luồng hoạt động' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.WorkflowCat" theme="bootstrap" ng-change="loadDiagramWF(model.WorkflowCat)" ng-disabled="true">
                                        <ui-select-match placeholder="{{'Luồng hoạt động' | translate}}..."><b class="text-brown">{{$select.selected.Name}}</b></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in lstWorkflow | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorLotProductCode}">
                            <div class="col-md-4">
                                <label class="control-label text-left d-flex">
                                    <i class="fa fa-cube" aria-hidden="true"></i>&nbsp;<span class="nowrap">{{'MES_CURD_EXPORT_PO_RETAIL' | translate}}</span>
                                    <span class="mt-checkbox-list pl20">
                                        <label class="mt-checkbox mt-checkbox-outline mb10">
                                            <input type="checkbox" name="IsEnabled" ng-model="IsEnabledExportLot" ng-change="checkedExportLot(IsEnabledExportLot)" ng-checked="IsEnabledExportLot" disabled />
                                            <span></span>
                                        </label>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select tagging ng-model="model.LotProductCode" theme="bootstrap" on-select="changleSelect('LotProductCode',$item)" ng-disabled="true">
                                        <!--ng-disabled="!IsEnabledExportLot"-->
                                        <ui-select-match placeholder="{{'MES_CURD_CHOSE_BUY' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listLotProduct | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorLotProductCode" class="label-color validation-message">
                                    {{'MES_CURD_LOT_PRODUCT' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-2">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'Trạng thái' | translate}}</label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.StatusTemp" theme="bootstrap" ng-change="changeStatus()">
                                        <ui-select-match placeholder="{{'Trạng thái' | translate}}..."><p><span>{{$select.selected.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{$select.selected.Name}}</span> cho hoạt động <span class="fw600 text-green">{{$select.selected.ObjectRelative}}</span><span class="fw600 text-green">[{{$select.selected.CreatedTime}}]</span></p></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listStatusLog | filter: $select.search" ui-disable-choice="true">
                                            <span>{{x.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{x.Name}}</span> cho hoạt động <span class="fw600 text-green">{{x.ObjectRelative}} [{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}]</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showAct">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label require">{{'MES_LBL_ACT_REPEAT' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.ActRepeat" theme="bootstrap">
                                        <ui-select-match placeholder="{{'MES_LBL_ACT_REPEAT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.IntsCode as x in lstActRepeat | filter:$select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ActRepeat=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label require custom-title-code-bold">{{'MES_CURD_LBL_EXPSTORE_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control custom-title-code-bold br24" ng-model="model.TicketCode" name="TicketCode" placeholder="{{'MES_CURD_TXT_EXPSTORE_CODE' | translate}}..." readonly />
                            </div>
                        </div>
                    </div>
                    <style>
                        @media(min-width:768px) and (max-width:992px) {
                            .col-cmd-4 {
                                float: left;
                                width: 33.33333%;
                            }

                            .col-cmd-8 {
                                float: left;
                                width: 66.66667%;
                            }
                        }
                    </style>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-2 col-cmd-4">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <label class="control-label require custom-title-code-bold">{{'MES_CURD_TITLE_MATERIAL' | translate}}</label>
                            </div>
                            <div class="col-md-4 col-cmd-8">
                                <input type="text" class="form-control custom-title-code-bold br24" ng-model="model.Title" name="Title" placeholder="{{'MES_CURD_TITLE_MATERIAL' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorStoreCode}">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label require">{{'MES_CURD_LBL_CHOSE_WARE_MATERIAL_IMPOSTORE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select tagging ng-model="model.StoreCode" theme="bootstrap" on-select="changleSelect('StoreCode',$item)" ng-disabled="true">
                                        <ui-select-match placeholder="{{'MES_CURD_TXT_CHOSE_WARE_MATERIAL_IMPOSTORE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Mapping as x in listStore | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorStoreCode" class="label-color validation-message">
                                    {{'MES_CURD_TXT_CHOSE_WARE_MATERIAL_IMPOSTORE' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="model.Reason != 'EXP_TO_MOVE_STORE'">
                            <div class="col-md-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label ">{{'MES_CURD_CUSTEMER' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24">
                                    <ui-select tagging ng-model="model.CusCode" theme="bootstrap" on-select="changleSelect('CusCode',$item)" ng-disabled="IsEnabledExportLot">
                                        <ui-select-match placeholder="{{'MES_CURD_CUSTEMER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listCustomer | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addCustomer()" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="model.Reason == 'EXP_TO_MOVE_STORE'" ng-class="{ 'has-error': errorStoreCodeReceipt}">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label ">{{'MES_CURD_WARE_GOTO' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select tagging ng-model="model.StoreCodeReceipt" theme="bootstrap" on-select="changleSelect('StoreCodeReceipt',$item)" ng-disabled="IsEnabledExportLot">
                                        <ui-select-match placeholder="{{'MES_CURD_WARE_GOTO' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listStoreReceipt | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorStoreCodeReceipt" class="label-color validation-message">
                                    {{'MES_CURD_LBL_CHOSE_WARE_HOURE_TO' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorReason}">
                            <div class="col-md-4">
                                <i class="fas fa-question-circle" aria-hidden="true"></i>
                                <label class="control-label require">{{'MES_LIST_COL_REASON' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select tagging ng-model="model.Reason" theme="bootstrap" on-select="changleSelect('Reason',$item)" ng-disabled="IsEnabledExportLot">
                                        <ui-select-match placeholder="{{'MES_LIST_COL_REASON' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listReason | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorReason" class="label-color validation-message">
                                    {{'MES_CURD_TXT_CHOSE_REASON' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label ">{{'MES_PEOPLE_SAVER' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control br24" ng-model="model.UserReceipt" name="UserReceipt" placeholder="{{'MES_PEOPLE_SAVER' | translate}}..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <!--<div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-calendar"></i>
                                <label class="control-label">{{'MES_CURD_LBL_EXPSTORE_TIME_INSURRANCE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class='input-group date' id='InsurantTime'>
                                    <input type='text' class="form-control input-date" autocomplete="off" style="height: 33px;" name="InsurantTime" ng-model="model.InsurantTime" placeholder="{{'MES_CURD_LBL_EXPSTORE_TIME_INSURRANCE' | translate}}..." />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group" ng-class="{ 'has-error': errorUserExport}">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label require">{{'MES_LIST_COL_PEOPLE_EXPORT' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group br24-nobtn">
                                    <ui-select tagging ng-model="model.UserExport" theme="bootstrap" on-select="changleSelect('UserExport',$item)">
                                        <ui-select-match placeholder="{{'MES_LIST_COL_PEOPLE_EXPORT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listUserExport | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorUserExport" class="label-color validation-message">
                                    {{'MES_CHOSE_PEOPLE_EXPORT' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <label class="control-label ">{{'MES_CURD_LBL_EXPSTORE_NOTE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <textarea type="text" class="form-control br12" ng-model="model.Note" rows="3" placeholder="{{'MES_CURD_LBL_EXPSTORE_NOTE' | translate}}..." name="Note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-calendar"></i>
                                <label class="control-label require">{{'MES_CURD_LBL_EXPSTORE_DATE_CREATE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class='input-group br24 date' id='TimeTicketCreate'>
                                    <input type='text' class="form-control input-date" autocomplete="off" style="height: 33px;" name="TimeTicketCreate" ng-model="model.TimeTicketCreate" placeholder="{{'MES_CURD_LBL_EXPSTORE_DATE_CREATE' | translate}}..." readonly />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="text-center pt20 pull-right pl15" ng-click="submit()">
                                    <a class="">
                                        <span><i class="fa-solid fa-plus fs30"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt5">
                                        {{'COM_BTN_SAVE' | translate}}
                                    </p>
                                </div>

                                <div class="text-center pull-right pl15" ng-click="print()">
                                    <a class="">
                                        <span><i class="fas fa-print pt20 fs30"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt5">
                                        {{'In phiếu' | translate}}
                                    </p>
                                </div>
                                <a class="control-label text-primary text-underline pull-right pt35" ng-click="openLog()">{{'MES_LINK_TRACK_LOG' | translate}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" ng-hide="isDisable">
                                <div class="btn-group pull-right actions d-flex">
                                    <!--<div class="text-center pr10">
                                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="export()">
                                            <span><i class="fa fa-file-excel-o"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3">{{'Xuất Excel' | translate}}</p>
                                    </div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row ">
        <div class="col-lg-12">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="table-toolbar formAddDefault" ng-hide="IsEnabledImportLot">
                        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
                            <div class="col-md-12 p-0">
                                <div class="col-md-4 pl-0" ng-class="{ 'has-error': errorProductCode}">
                                    <label class="control-label require">{{'MES_CUD_CATE_PROD' | translate}}</label>
                                    <div class="d-flex">
                                        <div class="input-group br24-nobtn col-md-12">
                                            <ui-select class="ui-select-bootstrap-right-radius text-combo-custom" ng-model="modelList.ProductCode" theme="bootstrap" on-select="changeSelect('ProductCode',$item)" ng-disabled="disableProductCode">
                                                <ui-select-match placeholder="{{'MES_CUD_CATE_PROD' | translate}}...">{{$select.selected.Name}} - {{$select.selected.Position}}<span class="text-danger">({{$select.selected.Quantity}} {{$select.selected.UnitName}})</span></ui-select-match>
                                                <ui-select-choices repeat="x.ProductCode as x in listProduct | filter: $select.search">
                                                    {{x.Name}}-{{x.Position}}<span class="text-danger">({{x.Quantity}} {{x.UnitName}})</span>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-show="errorProductCode" class="label-color validation-message">
                                                {{'MES_VALIDATE_CATE_NOT_BLANK' | translate}}
                                            </span>
                                        </div>
                                        <span class="pt10 ml15 flex-basis-50">
                                            <a class="pr10 color-dark" ng-click="editProd()"><i class="fas fa-pen-to-square fs25"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-0 pr-0">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{'has-error' : errorQuantityExp}">
                                            <label class="control-label require">{{'MES_CUD_LBL_QUANTITY' | translate}}</label>
                                            <div class='mr5'>
                                                <input ng-change="change('QuantityExp')" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty br24" ng-model="modelList.QuantityExp" placeholder="{{'MES_CUD_LBL_QUANTITY' | translate}}..." num-thousand='true' awnum num-int='21' onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                                <span ng-show="errorQuantityExp" class="label-color validation-message">
                                                    {{'MES_VALIDATE_QUANTITY' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 pr-0 pl-0" ng-class="{'has-error' : errorUnit}">
                                        <label class="control-label require">{{'MES_CUD_UNIT' | translate}}</label>
                                        <div class="input-group br24-nobtn">
                                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelList.Unit" theme="bootstrap" on-select="changeSelect('Unit')">
                                                <ui-select-match placeholder="{{'MES_CUD_UNIT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listUnit | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorUnit" class="label-color validation-message">
                                            {{'MES_VALIDATE_UNIT_NOT_BLANK' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-0">
                                    <div class="col-md-9" ng-class="{ 'has-error': errorSalePrice}">
                                        <label class="control-label">{{'MES_CUD_LBL_COST_VALUE' | translate}}</label>
                                        <div class='mr5'>
                                            <input ng-change="change('price')" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty br24" ng-model="modelList.SalePrice" placeholder="{{'MES_CUD_LBL_COST_VALUE' | translate}}..." num-thousand='true' awnum num-int='21' onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                            <span ng-show="errorSalePrice" class="label-color validation-message">
                                                {{'MES_VALIDATE_COST_VALUE' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-0 pr-0">
                                        <div class="form-group" ng-class="{ 'has-error': errorCurrency}">
                                            <label class="control-label">{{'MES_CUD_LBL_TYPE_MONEY' | translate}}</label>
                                            <div class="input-group br24-nobtn">
                                                <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="modelList.Currency" theme="bootstrap" on-select="changeSelect('Currency')">
                                                    <ui-select-match placeholder="{{'MES_CUD_LBL_TYPE_MONEY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listCurrentcy | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <span ng-show="errorCurrency" class="label-color validation-message">
                                                {{'MES_VALIDATE_MONEY_TYPE' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center pull-right pl-2 pt10 pr25" ng-click="addVatCo()" style="margin-right: 45px; margin-top: 13px;">
                                    <a class="">
                                        <span><i style="--fa-primary-color: green; margin-right: 10px;" class="fa-solid fa-arrow-down pl10 fs30"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">
                                        {{'MES_BTN_ADD_BELOW' | translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 p0 fs11">
                                <span>{{'MES_LBL_SIZE' | translate}}: </span>
                                <span class="text-danger">[{{long}} x {{wide}} x {{high}}], </span>

                                <span>{{'MES_LBL_PACKING' | translate}}: </span>
                                <span class="text-danger">{{packing}}, </span>

                                <span>{{'MES_LBL_WEIGHT' | translate}}: </span>
                                <span class="text-danger">{{weight}} {{unitWeight}},</span>

                                <span>{{'MES_LBL_LOT' | translate}}: </span>
                                <span class="text-danger">{{lot}}</span>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblListProduct">
                            <thead>
                                <tr>
                                    <th class="col-md-3 text-center fw600 text-underline">{{'MES_LIS_COL_PRODUCT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MES_LIS_COL_LOCATION' | translate}}</th>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'MES_LIST_COL_QUANTITY' | translate}}</th>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'MES_LIST_COL_DETAIL_EXPSTORE_UNIT' | translate}}</th>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'Giá' | translate}}</th>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'Loại tiền' | translate}}</th>
                                    <th class="col-md-1 text-center fw600 text-underline" ng-hide="IsEnabledExportLot">{{'MES_LIST_COL_ESTORE_ACTION' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in lstProductDetail">
                                    <td class="text-left text-brown bold">{{x.ProductName}}</td>
                                    <td class="text-left">{{x.Position}}</td>
                                    <td class="text-center">{{x.Quantity|number}}</td>
                                    <td class="text-center">{{x.Unit}}</td>
                                    <td class="text-center text-danger">{{x.SalePrice|number}}</td>
                                    <td class="text-center">{{x.UnitMoney}}</td>
                                    <td class="text-center">
                                        <i ng-if="x.IsCustomized" ng-click="viewProdCustom($index)" style="width: 50px; height: 25px; padding-right: 5px;" class="fas fs25 fa-gear cursor color-dark"></i>
                                        <i role="button" class="fa fa-minus-circle" ng-click="deleteDetail(x.Id)" title="{{'COM_BTN_DELETE' | translate}}" style="color:red !important;font-size: 25px;padding-top:5px"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
