@using ESEIM.Utils
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Builder
@inject IHttpContextAccessor HttpContextAccessor
@inject ILanguageService LanguageService
@inject IParameterService ParameterService
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_style{
    <link href="~/css/admin/workflowActivity/plugin-dashboard.css" rel="stylesheet" tppabs="" />
    <link type="text/css" rel="stylesheet" href="~/css/admin/workflowActivity/example.css" />
}
@section plugin_script {
    <script src="~/js/admin/draw2d.js" type="text/javascript"></script>
    <script src="~/lib/workflowActivity/LabeledEnd.js"></script>

    <script src="~/lib/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/js/admin/d3.v3.min.js"></script>

    <script src="~/js/admin/c3.min.js"></script>
    <script src="~/js/admin/core.js"></script>

    <script src="https://az416426.vo.msecnd.net/scripts/b/ai.2.gbl.min.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/ckeditor/ckeditor.js"></script>

    @*<script src="~/lib/iot/js/plot.js"></script>
    <script src="~/lib/iot/js/main.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js" integrity="sha512-xeQFOWENzkyJSDlwwlX5lsFHfFL3Y3idnpBZYF/SCRxZz03HW/fpd5Lpd78SzjAzp/iBeWJ4PQRKlxWeYqQlHA==" crossorigin="anonymous"></script>

    @*<script src="~/lib/inOut/js/main.js"></script>*@
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/gateInOut/controller.js" type="text/javascript"></script>
