<style>
    .box-file-detail {
        overflow: auto;
        max-height: 102px !important;
        height: 102px !important;
    }
</style>
<div>
    <div class="modal-header black" style="background: rgb(241, 241, 241);">
        <span class="modal-title fas fa-users fs15">&nbsp;&nbsp;{{'Danh sách ứng viên' | translate}} {{date}}</span>
        <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    </div>
    <div class="modal-body pb-0" id="modal-body">
        <div class="portlet-body form">
            <table class="table dataTable table-hover table-striped"
                   datatable
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblDataDetail"></table>
        </div>
    </div>
</div>
