<style>

    html body.fixed-navbar {
        padding-top: 0rem !important;
    }

    .form {
        display: none;
    }

    .container {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    button.closeform {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    @media only screen and (max-width: 414px) {
        .modal-content {
            width: 405px;
        }
    }

    @media (max-width: 360px) {
        .modal-content {
            width: 350px;
        }
    }

    .parent_svg {
        position: relative;
        left: 0;
    }

    .modal-title {
        font-weight: bolder;
    }

    text.draw2d_shape_basic_Label.txt1 {
        fill: #000 !important;
    }

    text.draw2d_shape_basic_Label.txt2 {
        display: block;
        fill: #000 !important;
    }

    text.draw2d_shape_basic_Label.txt3 {
        fill: #000 !important;
    }

    text.draw2d_shape_basic_Label.txt5 {
        fill: #000 !important;
    }

    text.draw2d_shape_basic_Label.txt6 {
        fill: #000 !important;
    }

    tspan {
        font-weight: 600;
    }

    body {
        overflow: hidden;
    }

    .menu2 {
        z-index: 100 !important;
        position: fixed !important;
        right: 0px;
        padding: 0px;
        bottom: 0px;
    }

    .fas {
        color: #000;
    }

    .menu-top1 {
        box-shadow: 0px 0px 10px 0px rgb(135 135 135);
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        background: #fff;
        margin-left: 2rem;
        height: 155px;
        width: 50px;
    }

        .menu-top1 i:hover {
            background-color: #fff;
            box-shadow: 0 0 5px 0 rgba(255, 204, 0, 1);
        }
    div#contentMain {
        height: 100%;
        overflow: scroll;
    }
</style>

<div class="col-md-3 pull-right menu2">
    <div class="menu-top1 menu-2">
        <div class="create-box" ng-click="mapSearch()">
            <i style="margin:0px" class="fa fa-search"></i>
            <div class="create-box__hover">
                Search
            </div>
        </div>
        <div class="create-box" ng-click="zoomout()">
            <i style="margin:0px" class="fas fa-search-minus"></i>
            <div class="create-box__hover">
                ZoomOut
            </div>
        </div>
        <div class="create-box" ng-click="zoomin()">
            <i style="margin:0px" class="fas fa-search-plus"></i>
            <div class="create-box__hover">
                ZoomIn
            </div>
        </div>
        <!--<div class="create-box" ng-click="hidejson()">
            <i style="margin:0px" class="fas fa-eye-slash"></i>
            <div class="create-box__hover">
                Hide Json
            </div>
        </div>
        <div class="create-box" ng-click="hidelst()">
            <i style="margin:0px" class="fas fa-eye"></i>
            <div class="create-box__hover">
                Activity Sharp
            </div>
        </div>-->


    </div>
</div>
<!--<div class="parent_svg" onselectstart="javascript:return false" id="gfx_holder" style="justify-content: flex; width: 2000px; height:2500px;">
</div>-->
<div class="parent_svg" onselectstart="javascript:return false" id="gfx_holder" style="overflow: hidden; width: 2500px; height: 2500px; position: relative;">
</div>


