.form-control::placeholder {
    color: brown;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: brown;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: brown;
}

.search-group > .ui-select-container > .ui-select-match > span > .ui-select-placeholder {
    color: brown !important;
}
