<div ng-controller="total">
    <div class="row">
        <div class="col-md-2">
            <label class="">{{'COM_SET_CURD_MSG_CODE_PROPERTY' | translate}}</label>
            <input type="text" class="form-control br24" ng-model="model.SettingCode" name="SettingCode" placeholder="{{'COM_SET_CURD_MSG_CODE_PROPERTY' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
        </div>
        <div class="col-md-2">
            <label class="">{{'COM_SET_CURD_MSG_VALUE' | translate}}</label>
            <input type="text" class="form-control br24" ng-model="model.SettingValue" name="SettingValue" placeholder="{{'COM_SET_CURD_MSG_VALUE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
        </div>
        <div class="col-md-2">
            <label class="">{{'COM_SET_CURD_MSG_GROUP_VALUE' | translate}}</label>
            <div class="input-group br24">
                <ui-select tagging ng-model="model.SettingGroup" theme="bootstrap">
                    <ui-select-match placeholder="{{'COM_SET_CURD_MSG_GROUP_VALUE' | translate}}...">{{$select.selected.Code}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listFunctionGroup | filter: $select.search">
                        {{x.Code}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-addon" ng-click="model.SettingGroup=''">
                    <span class="fa fa-times"></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="text-underline">{{'COM_SET_CURD_MSG_FUNC_GROUP' | translate}}</label>
            <div class="input-group br24">
                <ui-select tagging ng-model="model.SettingGroupMain" theme="bootstrap" ng-change="reload()">
                    <ui-select-match placeholder="{{'COM_SET_CURD_MSG_FUNC_GROUP' | translate}}...">{{$select.selected.Code}} - {{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in groupData | filter: $select.search">
                        {{x.Code}} - {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.SettingGroupMain=''; reload()" class="btn btn-default no-shadow" style="">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3 pt20 pr50">
            <div class="btn-group actions d-flex" style="justify-content: space-between;">
                <div class="text-center">
                    <a class="fs30" ng-click="reload()">
                        <span><i class="fas fa-search"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                </div>
                <div class="text-center">
                    <a class="fs30" ng-click="add()">
                        <span><i class="fa-solid fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <table class="table dataTable table-bordered table-hover table-striped" 
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataTotal"></table>
</div>