<div class="modal-header no-color h-30" style1="background-color: #f1f1f1">
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-plus-circle black icon-insert black"></i>
    <span class="modal-title black" id="modal-title"> {{'CJ_ADD_LIST_WORK' | translate}}</span>
</div>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addformlist" class="form-horizontal" method="post" ng-validate="validationOptionsList">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type='text' autocomplete="off" class="form-control br24" ng-model="model.ListName" name="ListName" placeholder="{{'CJ_LBL_TITLE' | translate}} ..." />
                    </div>
                    <div class="col-md-2">
                        <a ng-click="submit()" class="fs30" href="javascript:;">
                            <i class="fa-solid fa-plus" style="margin-left: 5px;"></i>

                        </a>
                        <p>{{'COM_BTN_SAVE' | translate }}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

