<link href="../../../css/admin/cardJob/card.css" rel="stylesheet" />
<link href="../../../css/admin/cardJob/card-form.css" rel="stylesheet" />
<style>
    .custom-btn-show-info {
        border: 1px solid transparent;
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: -17px;
        background-color: #acb3b9;
        box-shadow: 2px 2px 5px #acb3b9;
        padding-top: 0px;
    }

    .panel-log {
        position: fixed;
        right: -26px;
        transform: rotate( 90deg );
        top: 77px;
        z-index: 100;
    }

    .panel-header {
        position: fixed;
        right: 34%;
        top: 50px;
    }

    .tab-margin {
        margin-top: -20px;
    }

    .purple-btn-info {
        color: purple !important;
    }

    .bg-light {
        background-color: #eaecf3 !important;
    }

    .text-dark {
        color: #171347 !important;
    }

    .text-left {
        text-align: left !important;
    }

    .p-2 {
        padding: 0.5rem !important;
    }

    .mb-2, .my-2 {
        margin-bottom: 0.5rem !important;
    }

    .rounded {
        border-radius: 0.375rem !important;
    }

    .border {
        border: 1px solid #e2e8f0 !important;
    }

    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .lh-100 {
        line-height: 1 !important;
    }

    .mr-1, .mx-1 {
        margin-right: 0.25rem !important;
    }

    svg:not(:root).svg-inline--fa {
        overflow: visible;
    }

    .svg-inline--fa.fa-w-14 {
        width: 0.875em;
    }

    .svg-inline--fa.fa-lg {
        vertical-align: -0.225em !important;
    }

    .fa-lg {
        font-size: 1.3333333333em !important;
        line-height: 0.75em !important;
        vertical-align: -0.0667em;
    }

    .svg-inline--fa {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }

    /*.h6, h6 {
        font-size: 13.6px !important;
        font-weight: 500;
    }*/

    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    /*.orange-tab-custom {
        border-bottom: 6px solid #ff9800 !important;
    }*/

    button.scroll-tab {
        margin-right: 5px;
    }

    .tab .nav-tabs.scroll-nav {
        width: 100%;
        height: 42px;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header header d-flex" style="background:#f1f1f1">
    <div class="col-md-12 pl-0 mt10">
        <div class="col-md-1 text-danger text-underline pl-0">#{{cardCode}}</div>
        <div class="col-md-11">
            <div class="category-detail-header" ng-mouseup="editingCardetailHeaderAuto(model.CardID)" ng-show="!acticeDetailDrag"></div>
            <input class="category-title br24 black pl10 fs18 bg-white" id="card_000000" style="width: 100%" type="text" data-currentvalue="{{cardName}}" value="{{cardName}}" ng-keydown="($event.keyCode == 13) && $event.target.blur()" ng-blur="changeData('CardName', model.CardID)" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard" />
        </div>
        <div class="col-md-12 pl-0 fs12">
            <span class="gray">Board <i class="text-danger">{{completeBoard  | number : fractionSize}}%,</i></span>
            <span class="gray">List <i class="text-danger">{{completeList  | number : fractionSize}}%,</i></span>
            <span class="gray">{{'CJ_LBL_MODAL_HEADER' | translate}} <i class="text-success">{{model.Completed  | number : fractionSize}}%,</i></span>

            <span class="active-time">
                (<b class="ng-binding">{{ActivityData[0].GivenName}}</b>
                <span ng-if="ActivityData[0].Action=='REVIEW'">{{'CJ_STATUS_VIEWED' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='ITEMCHECK'" class="text-success blink">{{'CJ_LBL_LOG_ITEM_CREATE' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='ITEMCHECK'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_ITEM' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='UPDATE' && ActivityData[0].IdObject =='ITEMCHECK'" class="text-success blink">{{'CJ_LBL_LOG_UPDATE' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='CMT'" class="text-success blink">{{'CJ_LBL_LOG_CREATE_CMT' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='CMT'" class="text-danger blink">{{'CL_LBL_LOG_DEL_CMT' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='UPDATE' && ActivityData[0].IdObject =='CMT'" class="text-success blink">{{'CJ_LBL_LOG_UPDATE' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='FILE'" class="text-success blink">{{'CJ_LBL_LOG_UPLOAD_FILE' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='FILE'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_FILE' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='ITEMWORK'" class="text-success blink">{{'CJ_LBL_LOG_RPT_PROGRESS' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='UPDATE' && ActivityData[0].IdObject =='ITEMWORK'" class="text-warning blink">{{'CJ_LBL_LOG_UPDATE' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='ITEMWORK'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_PROGRESS' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='LEADER' && ActivityData[0].IdObject =='ITEMWORK'" class="text-success blink">{{'CJ_LBL_LOG_EVALUATE_PROGRESS' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='SUBITEM'" class="text-danger blink">{{'CL_LBL_DEL_SUB_ITEM' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='SUBITEM'" class="text-success blink">{{'CJ_LBL_LOG_ADD_SUB_ITEM' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='UPDATE' && ActivityData[0].IdObject =='SUBITEM'" class="text-success">{{'CJ_LBL_LOG_UPDATE' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='CARD_OBJ_RELATIVE'" class="text-success blink">{{'CJ_LBL_LOG_ADD_OBJ_RELATIVE' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='CARD_OBJ_RELATIVE'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_OBJ_RELATIVE' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='ATTR_RESULT'" class="text-success blink">{{'CJ_LBL_LOG_ADD_ATTR_RESULT' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='ATTR_RESULT'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_ATTR_RESULT' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='ADDR'" class="text-success blink">{{'CJ_LBL_LOG_ADD_ADDRESS' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='ADDR'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_ADDRESS' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='PROD'" class="text-success blink">{{'CJ_LBL_LOG_ADD_PROD' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='PROD'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_PROD' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='CARDLINK'" class="text-success blink">{{'CJ_LBL_LOG_ADD' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='CARDLINK'" class="text-danger blink">{{'CJ_LBL_LOG_DEL' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='SER'" class="text-success blink">{{'CJ_LBL_LOG_ADD_SER' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DELETE' && ActivityData[0].IdObject =='SER'" class="text-danger blink">{{'CJ_LBL_LOG_DEL_SER' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='ADD' && ActivityData[0].IdObject =='ADD_MEMBER'" class="text-success blink">{{'Đã thêm' | translate}}</span>
                <span ng-if="ActivityData[0].Action=='DEL' && ActivityData[0].IdObject =='DEL_MEMBER'" class="text-danger blink">{{'Đã xóa' | translate}}</span>

                <span ng-if="ActivityData[0].Action=='REJECT'" class="blink" ng-class="{'text-danger': ActivityData[0].IsCheck}">{{ActivityData[0].IsCheck ?'đã từ chối':'đã bỏ từ chối'}}</span>
                <span ng-if="ActivityData[0].Action=='ACCEPT'" class="blink" ng-class="{'text-danger': !ActivityData[0].IsCheck}">{{ActivityData[0].IsCheck ?'đã đồng ý':'đã bỏ đồng ý'}}</span>
            </span>
            <span class="active-body">
                <span class="mb5" ng-if="ActivityData[0].ChangeDetails.length > 60">{{ActivityData[0].ChangeDetails.substr(0, 40)}}...</span>
                <span class="mb5" ng-if="ActivityData[0].ChangeDetails.length <= 60">{{ActivityData[0].ChangeDetails}}</span>
                )
            </span>

            <span class="pull-right"><a ng-click="rollbackCard()" class="text-underline" ng-class="{'disabled-element': IsLock || !isAddedCard}">{{'CJ_CURD_TXT_SEARCH_DATA_RECOVERY' | translate}}</a></span>
        </div>
    </div>
    <!--<div class="mr5">
        <a class="card-close mr5" ng-click="cancel()">
            <img src="/images/default/close.png" class="h-25 w25" />
        </a>
    </div>-->
</div>
<div class="modal-body" id="modal-body" style="overflow: hidden auto;">
    <div class="row" style="padding: 0px 10px 0px 15px; position: relative">
        <div class="col-lg-8 p0 padding-right-dashboard padding-left-dashboard" ng-class="{'col-lg-12' : !showPanelRight}">
            <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptionsCard">
                <div class="col-lg-12 pl-0 pr-0 br4 mt10">
                    <div class="pull-left" style="width: 14%;">
                        <div class="btn-group actions d-flex">
                            <div class="text-center mr15" ng-show="model.IsLock" ng-class="{'disabled-element': !isAddedCard }">
                                <a ng-click="lockCard()" class1="btn btn-icon-only btn-outline btn-border-black" ng-disabled="isUpdate">
                                    <i class="fas fa-lock fs25 black"></i>
                                    <!--<img src="../../../images/default/lock-icon.png" style="width: 20px;" />-->
                                </a>
                                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_OPEN_CARD' | translate}}</p>
                            </div>
                            <div class="text-center mr15" ng-show="!model.IsLock" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                                <a ng-click="lockCard()" class1="btn btn-icon-only btn-outline btn-border-black" ng-disabled="isUpdate">
                                    <i class="fas fa-unlock-alt fs25 black"></i>
                                    <!--<img src="../../../images/default/unlock-icon.png" style="width: 20px;" />-->
                                </a>
                                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_LOCK_CARD' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" style="background-color: #06223f; width: 70%; float: left; border-radius: 6px;">
                        <p class="fs16" ng-show="isSameDate == true" style="margin-bottom: 8px;padding-top: 5px;padding-right: 10px;color: #00FF00;">{{'CJ_LBL_SHIFT_WORK' | translate}} [<span class="bold">In:</span> {{modelShift.In}} {{modelShift.DateInOut}}  <span class="bold">Out:</span> {{modelShift.Out}}]</p>
                        <p class="fs16" ng-show="isSameDate == false" style="margin-bottom: 8px; padding-top:5px; color: #00FF00">{{'CJ_TXT_WORK_SHIFT' | translate}} [<span class="bold">In:</span> {{modelShift.In}} {{modelShift.DateIn}}, {{modelShift.DateOut}}  <span class="bold">Out:</span> {{modelShift.Out}}]</p>
                    </div>
                    <div class="pull-right" style="width: 15%;">
                        <div class=" actions btn-group d-flex" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                            <div class="text-center mr15" style="" ng-if1="!isLockWf">
                                <a ng-click="addMember()" class1="btn btn-icon-only btn-outline btn-border-black btn-circle h-40 w40 pt10" ng-disabled="isUpdate">
                                    <i class="fas fa-user-plus fs25 black"></i>
                                    <!--<span><i class="fa fa-user-plus fs16 black"></i></span>-->
                                </a>
                                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_ADD_PEOPLE' | translate}}</p> <!--CJ_BTN_ADD_MEMBER-->
                            </div>
                            <div class="text-center" ng-click="sendNotifi()">
                                <div class1="circular--portrait w40 h-40">
                                    <i class="fas fa-bell fs25" style="--fa-secondary-color: orange; --fa-secondary-opacity:1; --fa-primary-color: red"></i>
                                    <!--<img src="/images/default/bell-pink.gif" />-->
                                </div>
                                <p class="text-underline fs9 mb5 pt3">
                                    {{'CJ_BTN_SEND_NOTIFI' | translate}}
                                </p>
                            </div>
                            <div class="text-center pr-2" style="margin-left: 13px;">
                                <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
                                    <span><i class="fas fa-question fs24 " aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p0" style="margin-top:-5px;">
                    <div class="col-lg-3">
                        <div class="col-md-12 pl-0 pr-0">
                            <div class="form-group">
                                <label class="control-label mb5 text-underline require">{{'CJ_LBL_START_TIME' | translate}}:</label>
                                <div class="input-group br24 date" id="startDate">
                                    <input ng-model="model.BeginTime" name="BeginTime" class="form-control bold" type="text" placeholder="{{'CJ_LBL_START_TIME' | translate}}..." ng-change="changeData('BeginTime', model.BeginTime)" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label mb5 text-underline require">{{'CJ_LBL_DEADLINE' | translate}}:</label>
                                <div class="input-group br24 date" id="deadline">
                                    <input name="Deadline" ng-model="model.Deadline" class="form-control bold" type="text" placeholder="{{'CJ_LBL_DEADLINE' | translate}}..." ng-change="changeData('Deadline', model.Deadline)" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 h-100">
                        <div class="form-group" ng-class="{'has-error': errorStatus }">
                            <label class="control-label mb5 text-underline require">{{'CJ_CURD_LBL_STATUS' | translate}}:</label>
                            <div class="input-group br24-nobtn">
                                <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Status" on-select="changeData('Status', model.Status)" theme="bootstrap" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard">
                                    <ui-select-match placeholder="{{'CJ_CURD_TXT_STATUS' | translate}}..."><p id="status">{{$select.selected.Value}}</p></ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in CardStatus | filter: $select.search">
                                        {{x.Value}}
                                    </ui-select-choices>
                                </ui-select>
                                <span ng-show="errorStatus" class="label-color validation-message">
                                    Trạng thái không được bỏ trống
                                </span>
                            </div>
                            <span class="pull-right fs9">
                                <a class="fs11 pt5 text-underline" ng-click="viewLogStatus()" ng-class="{'disabled-element': IsLock || !isAddedCard}">{{'CJ_BTN_LOG_STATUS' | translate}}</a>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-2 pl-0 pr-0 pt5" ng-class="{'wpercent12' : !showPanelRight}">
                        <div class="pull-left pt5">
                            <div class="input-group d-flex pl-0 pr-0" style="padding: 12px; margin-top: 2px;">
                                <div class="d-flex pl-0 pt15" style="margin-left: 2px;">
                                    <span ng-repeat="x in activity">
                                        <label class="mt-checkbox check-box-act mt-checkbox-outline fs12 p5 nowrap" style="margin: 6px 0 0 15px !important;display:inline" ng-class="{'text-danger':x.Value==0,'text-danger':x.Value==1,'text-success':x.Value==2}">
                                            <!--<input ng-show="x.Value != 0" type="checkbox" ng-disabled="x.Value==0 || IsLock || !isAddedCard " ng-model="x.IsCheck" ng-change="updateActivity(x.Value, x.IsCheck)" />-->
                                            <i class="fas fa-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="x.IsCheck != true"
                                               ng-click="x.IsCheck = true;updateActivity(x.Value, true)" ng-show="x.Value != 0" ng-class="{'disabled-element': x.Value==0 || IsLock || !isAddedCard }"></i>
                                            <i class="fas fa-check-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="x.IsCheck == true"
                                               ng-click="x.IsCheck = false;updateActivity(x.Value, false)" ng-show="x.Value != 0" ng-class="{'disabled-element': x.Value==0 || IsLock || !isAddedCard }"></i><br />
                                            <a ng-show="x.Value != 0" class="text-center ml10 text-underline" style="font-style:normal;" ng-click="showLogActivity()" ng-if="x.Value==2"
                                                ng-class="{'disabled-element': x.Value==0 || IsLock || !isAddedCard }">{{x.Name}}</a>
                                            <i ng-show="x.Value != 0" class="text-center ml10" style="font-style:normal;" ng-if="x.Value!=2"
                                                ng-class="{'disabled-element': x.Value==0 || IsLock || !isAddedCard }">{{x.Name}}</i><br />
                                            <!--<span ng-show="x.Value != 0" style="background-color: white; padding:12px; margin-top: -5px;"></span>-->
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pr-0 pt5 wpercent15" style="">
                        <div class="pull-right pt20" style="width: 100px">
                            <div class="mb-2 text-left text-dark bg-light p8 rounded border" ng-click="showInfo()">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h3 class="h6 mb-0 mt-0">{{'CJ_CURD_TXT_SEARCH_EXTEND' | translate}}</h3>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="lh-100 mr-1 not-collapsed" aria-expanded="true" aria-controls="attachments-icon" style="overflow-anchor: none;" ng-show="showInfoHeader">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa-lg text-dark svg-inline--fa fa-chevron-down fa-w-14">
                                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                                            </svg>
                                        </a>
                                        <a class="lh-100 mr-1 collapsed" aria-expanded="false" aria-controls="attachments-icon" style="overflow-anchor: none;" ng-show="!showInfoHeader">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa-lg text-dark svg-inline--fa fa-chevron-up fa-w-14">
                                                <path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z" class=""></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="input-group d-flex pl-0 pr-0" style="padding: 12px; margin-top: 2px;">
                                <div class="actions btn-group">
                                    <div class="text-center mt5" style="width: 60px" ng-if="isLockWf">
                                        <a ng-click="addMember()" class="btn btn-icon-only btn-outline btn-border-black" ng-disabled="isUpdate">
                                            <span><i class="fa fa-users black"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_TRANS_WORK' | translate}}</p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p0" style="margin-top: -20px;" ng-show="showInfoHeader">
                    <div class="col-lg-3 pl-0">
                        <label class="control-label mb5 text-underline">{{'CJ_LBL_END_TIME' | translate}}:</label>
                        <div class="input-group br24 date" id="endDate">
                            <input ng-model="model.EndTime" class="form-control bold" type="text" ng-change="changeData('EndTime', model.EndTime)" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-3 pr-0 pl-0 width-level">
                        <label class="control-label mb5 text-underline">{{'CJ_CURD_LBL_PRIORITY' | translate}}:</label>
                        <div class="input-group br24">
                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.CardLevel" on-select="changeData('CardLevel', model.CardLevel)" theme="bootstrap" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard">
                                <ui-select-match placeholder="{{'CJ_CURD_LBL_PRIORITY' | translate}}..."><b id="cardLevel">{{$select.selected.Value}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in CardLevels | filter: $select.search">
                                    {{x.Value}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addCommonSettingCardLevel()" class="btn no-shadow btn-border-black-grey" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-3 padding-left-dashboard-15 width-worktype">
                        <label class="control-label mb5 text-underline">{{'CJ_CURD_LBL_WORK_TYPE' | translate}}:</label>
                        <div class="input-group br24">
                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.WorkType" on-select="changeData('WorkType', model.WorkType)" theme="bootstrap" ng-disabled="IsLock || !isAceptCard   || !permissionHeaderCard">
                                <ui-select-match placeholder="{{'CJ_CURD_LBL_WORK_TYPE' | translate}}..."><b id="workType">{{$select.selected.Value}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in WorkTypes | filter: $select.search">
                                    {{x.Value}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addCommonSettingWorkType()" class="btn no-shadow btn-border-black-grey" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-2" style="width: 13.6%;">
                        <div class="form-group">
                            <label class="control-label mb5 text-underline require nowrap">{{'CJ_LBL_WEIGH_NUM' | translate}}(%):</label>
                            <div class="input-group">
                                <input name="WeightNum" ng-model="model.WeightNum" class="form-control br24" id="weightNum" type="text" placeholder="{{'CJ_LBL_WEIGH_NUM' | translate}}..." ng-keydown="($event.keyCode == 13) && changeData('WeightNum', model.WeightNum)" ng-blur="changeData('WeightNum', model.WeightNum)" ng-disabled="IsLock || !isAceptCard   || !permissionHeaderCard" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-12 p0 d-flex" ng-show="showInfoHeader">
                    <div class="col-lg-4 pl-0 pr-0 flex-basis-320 flex-no-shrink">
                        <div class="col-lg-4 pl-0">
                            <label class="control-label mb5 text-underline">{{'CJ_CURD_LBL_COST' | translate}}:</label>
                            <div class="input-group">
                                <input ng-model="model.Cost" ng-change="changeData('Cost', model.Cost)" num-thousand='true' awnum num-int='21'
                                       class="form-control br24 bold text-danger" type="text" placeholder="{{'CJ_CURD_LBL_COST' | translate}}..."
                                       onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                            </div>
                        </div>
                        <div class="col-lg-3 pl-0">
                            <label class="control-label mb5 text-underline nowrap">{{'CJ_LBL_TYPE_MONEY' | translate}}:</label>
                            <div class="input-group br24-nobtn">
                                <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Currency" ng-change="changeData('Currency', model.Currency)"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="{{'CJ_LBL_TYPE_MONEY' | translate}}..."><p>{{$select.selected.Name}}</p></ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listCurrency | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0">
                            <label class="control-label mb5 text-underline nowrap">{{'CJ_LBL_CYCLE' | translate}}:</label>
                            <div class="input-group br24-nobtn">
                                <ui-select class="ui-select-bootstrap-right-radius pr5" ng-model="model.Cycle" theme="bootstrap" ng-change="changeData('Cycle', model.Cycle)" ng-disabled="IsLock || !isAceptCard   || !permissionHeaderCard">
                                    <ui-select-match placeholder="{{'CJ_LBL_CYCLE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listCycle | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 pl-0 flex-grow-full">
                        <label class="control-label mb5 text-underline">{{'CJ_LBL_WF_CARD' | translate}}:</label>
                        <div class="input-group br24-nobtn">
                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelWF.WfInstCode" theme="bootstrap" ng-change="changeWfInst(modelWF.WfInstCode)" ng-disabled="isWfInstJobCard == true">
                                <ui-select-match placeholder="{{'CJ_LBL_WF_CARD' | translate}}..."><b style="color: #e207e2;">{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstWfInst | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <span><a class="fs11 text-underline pull-right" ng-click="viewLogWF()" ng-class="{'disabled-element': IsLock || !isAddedCard}">{{'CJ_BTN_LOG_WF' | translate}}</a></span>
                    </div>

                    <div class="col-lg-4 pl-0 pr-0 flex-grow-full" ng-disabled="WfInstCode == ''">
                        <label class="control-label mb5 text-underline">{{'CJ_TXT_ACTIVITY' | translate}}:</label>
                        <div class="input-group br24-nobtn">
                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelWF.ActInstCode" theme="bootstrap" on-select="changeActInst($item)" ng-disabled="IsLock || !isAceptCard || isLockWf || !isAddedCard">
                                <ui-select-match placeholder="{{'CJ_TXT_ACTIVITY' | translate}}..."><b style="color: #e207e2">{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstActInstance | filter: $select.search">
                                    <p style="color: red;" ng-class="{'text-green' : x.IsProcess}">{{x.Name}}</p>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn" ng-if="model.ActInstCode != '' && model.ActInstCode != null">
                                <button type="button" ng-click="model.ActInstCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 p0 mt25 flex-basis-50" ng-show="!isAddedCard">
                        <div class="col-md-12 pl-0 pr-0">
                            <div class="btn-group actions d-flex pull-right">
                                <!--<div class="text-center mr15" style="" ng-if="!isLockWf">
                                    <a ng-click="addMember()" class="btn btn-icon-only btn-outline btn-border-black" ng-disabled="isUpdate">
                                        <span><i class="fa fa-users black"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_TRANS_WORK' | translate}}</p>
                                </div>-->

                                <div class="text-center">
                                    <a ng-click="saveBuffer()" class="fs30">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                                </div>

                                <!--<div class="text-center" ng-show="isAddedCard">
                                    <a ng-click="rollbackCard()" class="btn btn-icon-only btn-outline btn-border-black">
                                        <span><i class="fa fa-undo black"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3"> {{'Rollback' | translate}}</p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-lg-12 p0 tab" ng-class="{'tab-margin' : !showInfoHeader}">
                <div class="p-0 col-md-12 nav-tabs" style="border-bottom: #d6dadc 1px solid;">
                    <ul class="col-md-12 pl-0 pr-0 scroll-nav" style="width: 100%;">
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(1)" ng-class="{'active orange-tab-custom': idxViewTab == 1, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-plus"></i>
                                {{'CJ_BTN_TAB_ITEM_CATEGORY' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(7)" ng-class="{'active orange-tab-custom': idxViewTab == 7, 'disabled-element': IsLock }">
                            <div>
                                <i class="fa fa-newspaper-o"></i>
                                {{'CJ_BTN_TAB_ITEM_PROGRESS' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(0)" ng-class="{'active orange-tab-custom': idxViewTab == 0, 'disabled-element': IsLock }">
                            <div>
                                <i class="fa fa-newspaper-o"></i>
                                {{'CJ_BTN_TAB_DESCIPTION' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(2)" ng-class="{'active orange-tab-custom': idxViewTab == 2, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-plus"></i>
                                {{'CJ_BTN_TAB_COMMENT' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(3)" ng-class="{'active orange-tab-custom': idxViewTab == 3, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-plus"></i>
                                {{'CJ_BTN_TAB_OBJECT_RELA' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(4)" ng-class="{'active orange-tab-custom': idxViewTab == 4, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-file-text-o"></i>
                                {{'CJ_BTN_TAB_DOCUMENT' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(5)" ng-class="{'active orange-tab-custom': idxViewTab == 5, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-file-text-o"></i>
                                {{'CJ_TAB_RESULT_DATA' | translate}}
                            </div>
                        </li>
                        <li class="btn1 no-btn-custom-tab-color scroll-tab fs11" ng-click="viewTab(6)" ng-class="{'active orange-tab-custom': idxViewTab == 6, 'disabled-element': IsLock || !isAddedCard }">
                            <div>
                                <i class="fa fa-file-text-o"></i>
                                {{'CJ_BTN_CARD_RELA' | translate}}
                            </div>
                        </li>
                        <!--<div class="pull-right">
        <div class="btn-group actions d-flex pull-right">
            <div class="text-center" style="margin-top: -5px;" ng-if="!isLockWf">
                <a ng-click="addMember()" class="btn btn-icon-only btn-outline btn-border-black" ng-disabled="isUpdate">
                    <span><i class="fa fa-users black"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_TRANS_WORK' | translate}}</p>
            </div>
        </div>
    </div>-->
                    </ul>
                </div>
                <!--Đầu mục và tiến độ-->
                <div class="col-md-12 pl-0 pr-0 pt5" ng-if="idxViewTab == 1" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/card-item-check.html'"></div>
                </div>
                <!--End đầu mục và tiến độ-->
                <!--Tiến độ-->
                <div class="col-md-12 pl-0 pr-0 pt5" ng-if="idxViewTab == 7" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/item-work.html'"></div>
                </div>
                <!--Tiến độ-->
                <!--Mô tả-->
                <div class="col-lg-12 p0 pt-1" ng-show="idxViewTab == 0">
                    <textarea class="form-control fs14" id="description" rows="21" ng-model="model.Description"></textarea>
                </div>
                <!--End mô tả-->
                <!--Thảo luận-->
                <div class="col-md-12 pl-0 pr-0" ng-if="idxViewTab == 2" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/card-comment.html'"></div>
                </div>
                <!--End thảo luận-->
                <!--Đối tượng liên quan-->
                <div class="col-md-12 pl-0 pr-0 mt20" ng-if="idxViewTab ==3" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/card-object-relative.html'"></div>
                </div>
                <!--End đối tượng liên quan-->
                <!--Tệp tin-->
                <div class="col-md-12 pl-0 pr-0" ng-if="idxViewTab == 4" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/file.html'"></div>
                </div>
                <!--End tệp tin-->
                <!--Dữ liệu kết quả-->
                <div class="col-md-12 pl-0 pr-0 pt5" ng-if="idxViewTab == 5" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/card-attr-result-data.html'"></div>
                </div>
                <!--End dữ liệu kết quả-->
                <!--Thẻ liên quan-->
                <div class="col-md-12 pl-0 pr-0 pt5" ng-if="idxViewTab == 6" ng-class="{'disabled-element': IsLock || !isAddedCard }">
                    <div ng-include="'../views/admin/cardJob/add-card-link.html'"></div>
                </div>
                <!--End thẻ liên quan-->
            </div>
        </div>

        <!--<div class="p0 pb5">
            <div class="pull-right pr10 panel-log" ng-click="showPanel()" ng-show="!showPanelRight">
                <button class="custom-btn-show-info">
                    <i class="fa fa-chevron-down fs20 text-white"></i>
                </button>
            </div>
            <div class="pull-right pr10 panel-log" ng-click="showPanel()" ng-show="showPanelRight">
                <button class="custom-btn-show-info">
                    <i class="fa fa-chevron-up fs20 text-white"></i>
                </button>
            </div>
        </div>-->

        <div class="col-lg-4 pr-0 mt10" ng-show="showPanelRight">
            <div class="col-md-12 border br4" style="padding-left:10px;padding-right:10px; padding-bottom:10px;">
                <div class="form-group pt-1 pr30">
                    <div class="d-flex input-group br24">
                        <ui-select ng-model="obj.Board" on-select="boardSelect(obj.Board)" theme="bootstrap" style="width:87%" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard">
                            <ui-select-match placeholder="{{'CJ_TXT_BOARD' | translate}}..."><p class="bold" style="color:#e80b21 !important;">{{$select.selected.BoardName}}</p></ui-select-match>
                            <ui-select-choices repeat="x.BoardCode as x in listBoards | filter: $select.search">
                                {{x.BoardName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="addBoard()" class="btn no-shadow btn-border-black-grey" style="">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group pr30">
                    <div class="d-flex input-group br24">
                        <ui-select ng-model="obj.List" on-select="listSelect(obj.List)" theme="bootstrap" style="width:87%" ng-disabled="IsLock || !isAceptCard  || !permissionHeaderCard">
                            <ui-select-match placeholder="{{'CJ_TXT_LIST' | translate}}..."><p class="bold" style="color:#009432;">{{$select.selected.ListName}}</p></ui-select-match>
                            <ui-select-choices repeat="x.ListCode as x in Lists | filter: $select.search">
                                {{x.ListName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="addList(obj.Board)" class="btn no-shadow btn-border-black-grey" style="">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group pr40">
                    <div ng-include="'../views/admin/cardJob/card-log-activity.html'"></div>
                </div>
                <div class="tab-card" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div href="#Section1" aria-controls="home" role="button" data-toggle="tab">{{'CJ_TAB_PRODUCT' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Section2" aria-controls="profile" role="button" data-toggle="tab">
                                {{'CJ_TAB_SERVICES' | translate}}
                            </div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Section3" aria-controls="messages" role="button" data-toggle="tab">{{'CJ_TAB_DEPARTMENT_GROUP' | translate}}</div>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                            <div ng-include="'../views/admin/cardJob/card-product-relative.html'" ng-class="{'disabled-element': IsLock || !isAddedCard }"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <div ng-include="'../views/admin/cardJob/card-service-relative.html'" ng-class="{'disabled-element': IsLock || !isAddedCard }"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <div class="scroll-tab-card">
                                <div class="" ng-if="lstDpmAssign.length > 0">
                                    <label class="fs14 bold black text-underline">{{'CJ_CURD_BTN_DEPARTMENT' | translate}}</label>
                                    <div ng-repeat="x in lstDpmAssign">
                                        <p class="">&bull; {{x.Title}} - {{x.OrgName}}</p>
                                    </div>
                                </div>
                                <div class="" ng-if="lstGrpAssign.length > 0">
                                    <label class="fs14 fs14 bold black text-underline">{{'CJ_CURD_TXT_TEAM' | translate}}</label>
                                    <div ng-repeat="x in lstGrpAssign">
                                        <p class="">&bull; {{x.Title}} - {{x.OrgName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="lstGrpAssign.length ==0 && lstDpmAssign.length ==0">
                                <span class="text-danger fs11">Không có phòng ban và nhóm được giao việc ...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="isHideMap == false" ng-class="{'disabled-element': IsLock || !isAddedCard}">
                    <div ng-include="'../views/admin/cardJob/card-map.html'"></div>
                    <button class="btn btn-red text-left ng-binding" style="width: 100%" ng-click="pushTrash()" ng-disabled="IsLock || !isAceptCard  || isAllData != 'True'">
                        <span class="fa fa-remove text-white"></span>
                        {{'CJ_CURD_BTN_DELETE_CARD' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <!--expand panel-->
        <div class="" style="position: absolute; right: -30px; top: 40px; transform: rotate( 90deg); width: 100px; " ng-style="">
            <div class="mb-2 text-left text-dark bg-light p8 rounded border" ng-click="showPanel()">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <h3 class="h6 mb-0 mt-0">{{'CJ_BTN_EXTEND' | translate}}</h3>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="lh-100 mr-1 not-collapsed" aria-expanded="true" aria-controls="attachments-icon" style="overflow-anchor: none;" ng-show="showPanelRight">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa-lg text-dark svg-inline--fa fa-chevron-down fa-w-14">
                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                            </svg>
                        </a>
                        <a class="lh-100 mr-1 collapsed" aria-expanded="false" aria-controls="attachments-icon" style="overflow-anchor: none;" ng-show="!showPanelRight">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa-lg text-dark svg-inline--fa fa-chevron-up fa-w-14">
                                <path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z" class=""></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
