<div ng-controller="file">
    <div class="table-toolbar">
        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-group">
                <div class="col-lg-5">
                    <label>{{'EDMSWHPV_CURD_BTN_FILE' | translate}}</label>
                    <div class="input-group input-file br24">
                        <i class="fa fa-upload"></i>
                        <input class="form-control border-left-4radius inputFile pl30" style="pointer-events:none" name="File" placeholder="{{'COM_FILE' | translate}}..."></>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-choose input-group-addon" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                            <input class="form-control" custom-on-change="loadFile" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                        </span>
                    </div>
                    <span class="pull-right">
                        <a class="text-underline text-green" ng-click="extend()">{{'COM_BTN_SETUP_DEFAULT' | translate}}</a>
                    </span>
                    <!--<span class="text-danger">{{'EDMSWHPV_LBL_PATH' | translate}}</span>-->
                </div>
                <div class="col-lg-6">
                    <div class="btn-group pt20 d-flex">
                        <div class="text-center pr20">
                            <a class="fs30" ng-click="add()">
                                <span><i class="fa-solid fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                        <div class="text-center pr10">
                            <a class="fs30" ng-click="extend()">
                                <span><i class="fas fa-expand-arrows-alt"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'EDMSWHPV_CURD_BTN_EXTENT' | translate}}</p>
                        </div>
                        <div class="text-center">
                            <a class="fs30" ng-click="share()">
                                <span><i class="fas fa-link"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SHARE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataFile"></table>
</div>