
<style>
    .checkbox{
        width:25px;
        height:25px
    }
    .checkbox1 {
        width: 30px;
        height: 30px
    }
    div#modal-body{
        min-height:500px;
    }
    .modal-dialog.modal-50.ui-draggable{
        width:30%
    }
    div>.pl30{
        display:flex
    }
    .name {
    }
    .showhide {
        border-bottom: 1px solid #000;
    }
    .ocenter {
        padding-bottom:10px;
        border-bottom: 1px solid #000;
    }
    .bt{margin-left:10px;
        margin-right:10%

    }
</style>

<div class="modal-header" >
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
</div>
<div class="modal-body pb-0" id="modal-body" >
    <div class="portlet-body form">
        <div class="row">
            <div class="row" style="margin-bottom:-7%">
                <div class="col-md-1 mr50 pull-right mt-1 " style="text-align:center">
                    <div class="btn btn-icon-only btn-outline" style="width:50px;background:#fff;" ng-click="redesign(modelcheck)">
                        <span><i class="fas fa-bar-chart fs16" style="color:#000"></i></span>
                    </div>
                    <label class="nowrap fs11 pl-1">{{'EDMSDWC_LBL_REDRAW' | translate}}</label>

                </div>
            </div>
            
            <div class="row pt10">
                <div class="pl30">
                    <div>
                        <input type="checkbox" id="line" class="checkbox1" name="line" value="show" ng-model="modelcheck.showline">

                    </div>
                    <div class="pt10 pl5"><label class="showhide" for="line">{{'EDMSDWC_LBL_SHOW_HIDE' | translate}}</label></div>
                </div>
                <label class="name ml30">{{'EDMSDWC_LBL_RANGE' | translate}}</label>

            </div>
            <div class="row pt10 bt">
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="line" ng-model="modelcheck.line"  value="1"></div>
                    <div class="pt10 pl5"><label for="line">{{'EDMSDWC_LBL_ICON_BIG' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter">
                    <div><input type="radio" id="line" class="checkbox" name="line" ng-model="modelcheck.line"  value="2"></div>
                    <div class="pt10 pl5"><label for="line">{{'EDMSDWC_LBL_ICON_MEDIUM' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter">
                    <div><input type="radio" id="line" class="checkbox" name="line" ng-model="modelcheck.line"  value="3"></div>
                    <div class="pt10 pl5"><label for="line">{{'EDMSDWC_LBL_ICON_SMALL' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="line" ng-model="modelcheck.line"  value="4"></div>
                    <div class="pt10 pl5"><label for="line">{{'EDMSDWC_LBL_BUTTON' | translate}}</label></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row pt10">
                <div class="pl30">
                    <div>
                        <input type="checkbox" id="line" class="checkbox1" name="line" value="show" ng-model="modelcheck.showrack">
                    </div>
                    <div class="pt10 pl5"><label class="showhide">{{'EDMSDWC_LBL_SHOW_HIDE' | translate}}</label></div>
                </div>
                <label class="name ml30">{{'EDMSDWC_LBL_SHELVES' | translate}}</label>

            </div>
            <div class="row pt10 bt">
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="rack" ng-model="modelcheck.rack"  value="1"></div>
                    <div class="pt10 pl5"><label for="rack">{{'EDMSDWC_LBL_ICON_BIG' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter">
                    <div><input type="radio" id="line" class="checkbox" name="rack" ng-model="modelcheck.rack"  value="2"></div>
                    <div class="pt10 pl5"><label for="rack">{{'EDMSDWC_LBL_ICON_MEDIUM' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter">
                    <div><input type="radio" id="line" class="checkbox" name="rack" ng-model="modelcheck.rack"  value="3"></div>
                    <div class="pt10 pl5"><label for="rack">{{'EDMSDWC_LBL_ICON_SMALL' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="rack" ng-model="modelcheck.rack"  value="4"></div>
                    <div class="pt10 pl5"><label for="rack">{{'EDMSDWC_LBL_BUTTON' | translate}}</label></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row pt10">
                <div class="pl30">
                    <div>
                        <input type="checkbox" id="line" class="checkbox1" name="line" value="show" ng-model="modelcheck.showcabin"  >
                    </div>
                    <div class="pt10 pl5"><label class="showhide">{{'EDMSDWC_LBL_SHOW_HIDE' | translate}}</label></div>
                </div>
                <label class="name ml30">{{'EDMSDWC_LBL_CABINET_CARTON' | translate}}</label>

            </div>
            <div class="row pt10 bt">
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="cabin" ng-model="modelcheck.cabin"  value="1"></div>
                    <div class="pt10 pl5"><label for="cabin">{{'EDMSDWC_LBL_ICON_BIG' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter" >
                    <div><input type="radio" id="line" class="checkbox" name="cabin" ng-model="modelcheck.cabin"  value="2"></div>
                    <div class="pt10 pl5"><label for="cabin">{{'EDMSDWC_LBL_ICON_MEDIUM' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30 ocenter">
                    <div><input type="radio" id="line" class="checkbox" name="cabin" ng-model="modelcheck.cabin"  value="3"></div>
                    <div class="pt10 pl5"><label for="cabin">{{'EDMSDWC_LBL_ICON_SMALL' | translate}}</label></div>
                </div>
                <div class="col-md-3 pl30">
                    <div><input type="radio" id="line" class="checkbox" name="cabin" ng-model="modelcheck.cabin"  value="4"></div>
                    <div class="pt10 pl5"><label for="cabin">{{'EDMSDWC_LBL_BUTTON' | translate}}</label></div>
                </div>
            </div>
        </div>


    </div>
</div>



