<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <span class="modal-title" id="modal-title"><i class="fas fa-info-circle"></i>&nbsp;{{'EDMSDWC_LBL_DETAIL' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body-zone">
    <div class="portlet-body form">
        <div class="row mt20">
            <div class="col-md-9 pl-0">
                <div class="col-md-12">
                    <label class="bold">{{'Chi tiết' | translate}}: <span class="text-green"> {{rack.ZoneCode}} - {{rack.ZoneName}}</span></label>
                </div>
                <div class="col-md-12">
                    <label class="bold">{{'Đường dẫn' | translate}}: <span class="text-green"> {{rack.ZoneHierachy}}</span></label>
                </div>
                <div class="col-md-12">
                    <label class="bold">{{'Tổng số đóng gói' | translate}}: <span class="text-green"> {{model.TotalPack}}</span></label>
                </div>
                <div class="col-md-12">
                    <label class="bold">{{'Số tài sản' | translate}}: <span class="text-green"> {{model.TotalFile}}</span></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-qrcode">
                    <div class="text-center">
                        <div class="img-thumbnail">
                            <img data-ng-src="data:image/png;base64,{{QR_Code}}" ng-class="QR_Code==''?'opacityQrCode':'' " onerror="this.src='/images/default/qrCode.png'" class="h-80" /><br />
                        </div>
                        <div class="text-center mt5" ng-click="print(QR_Code)">
                            <a class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="fas fa-print"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'In ấn' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>



