
<style>
    .edit-box {
        width: 50%;
        height: 100%;
        border: 1px solid #ccc;
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 2px;
        margin-left: 20px;
    }

    blockquote {
        background-color: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }

    footer {
        margin-top: 0.5em;
        text-align: right;
        font-style: italic;
    }

    .warning {
        border: 2px solid #f00;
        background-color: #ffe6e6;
        padding: 10px;
        margin-bottom: 20px;
    }

        .warning strong {
            color: #f00;
        }

    ul.checklist {
        list-style-type: none;
        padding-left: 0;
    }

        ul.checklist li {
            margin-bottom: 5px;
        }

            ul.checklist li.checked {
                text-decoration: line-through;
            }

    .tit-page {
        text-align: center;
    }

    .save-btn {
        transform: translateX(670%);
        margin-top: 10px;
    }

    .container {
        max-width: 800px;
        /* Điều chỉnh kích thước container theo ý muốn */
        margin: 0 auto;
        /* Canh giữa container */
    }

    #editorjs-content img {
        max-width: 100%;
        /* Đặt độ rộng tối đa cho ảnh là 100% */
        height: auto;
        /* Cho phép chiều cao tự điều chỉnh để giữ nguyên tỷ lệ */
        display: block;
        /* Đảm bảo hiển thị ảnh là mỗi ảnh trên một dòng */
        margin: 10px auto;
        /* Canh giữa ảnh */
    }
</style>

<div  ng-controller="demoCmsItm">
    <div class="container">
        <div style="display: flex; justify-content: center">
            <div class="edit-box">
                <div id="editorjs"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/marked"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-text-color-plugin@2.0.4/dist/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@calumk/editorjs-nested-checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-header-with-alignment@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-paragraph-with-alignment@latest"></script>

    <script>

        var editor;
        setTimeout(function () {
            editor = new EditorJS({
                holder: "editorjs",
                tools: {
                    paragraph: {
                        class: Paragraph,
                        inlineToolbar: true,
                    },
                    header: {
                        class: Header,
                        inlineToolbar: true,
                        config: {
                            placeholder: "Enter a header",
                            levels: [1, 2, 3, 4, 5],
                            defaultLevel: 2,
                        },
                    },



                    list: {
                        class: List,
                        inlineToolbar: true,
                    },
                    image: {
                        class: ImageTool,

                        config: {
                            uploader: {
                                uploadByFile(file) {
                                    const formData = new FormData();
                                    formData.append('image', file);

                                    return new Promise((resolve, reject) => {
                                        $.ajax({
                                            url: "https://api.imgbb.com/1/upload?key=eda14a1df48578ed2d88d645929b137c", // Thay YOUR_API_KEY bằng API key của bạn
                                            method: 'POST',
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function (response) {
                                                resolve({ success: 1, file: { url: response.data.url } });
                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Error uploading image:', error);
                                                reject(error);
                                            }
                                        });
                                    });
                                },
                            },
                        },
                    },
                    embed: {
                        class: Embed,
                        inlineToolbar: true,
                        config: {
                            services: {
                                youtube: true,
                            },
                            render: (url) => {
                                return `<video src="${url}" controls></video>`;
                            },
                        },
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: 'Enter a quote',
                            captionPlaceholder: 'Quote\'s author',
                        },
                    },
                    delimiter: {
                        class: Delimiter,
                    },
                    warning: {
                        class: Warning,
                    },
                    code: CodeTool,
                    checklist: {
                        class: Checklist,
                    },

                    nestedchecklist: editorjsNestedChecklist,


                    table: Table,



                },
            });
        },3000);
    </script>