<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .fc-icon-left-double-arrow:after {
        top: -17% !important;
    }

    .fc-icon-right-single-arrow:after {
        top: -17% !important;
    }

    .fc button {
        padding: 0px 20px !important;
    }

    /*.fc-state-active {
        background-color: green !important;
    }*/

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(75% - 50px);
        right: 75px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }

    .fc-more-popover {
        max-height: 200px;
        overflow-y: auto;
    }

    .fc-time {
        display: none;
    }

    .fc-content {
        /*height: 12px;*/
        padding: 5px;
    }
</style>
<style>
    .fc-more-popover {
        max-height: 200px;
        overflow-y: auto;
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .cus-col-3 {
            width: 45% !important;
        }
    }

    @media only screen and (min-width: 1300px) and (max-width: 1400px) {
        .cus-col-3 {
            width: 42% !important;
        }
    }

    @media only screen and (min-width: 1400px) and (max-width: 1500px) {
        .cus-col-3 {
            width: 45% !important;
        }
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 pr30">
        <style>
            .fc-time {
                display: none;
            }
        </style>
        <div class="calendar-wrap pt10">
            <div id="calendar"></div>
        </div>
    </div>
</div>
=