<style>
    #contentMainRepository {
        max-height: 575px;
        overflow-x: hidden;
        overflow-y: visible;
        height: 575px;
        border-bottom: 1px solid #ccc;
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(75% - 50px);
        right: 50px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
    /*.dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }*/

    /*.tree-header {
        height: 34px;
    }*/
    .repository {
        margin: -10px -5px 0 0;
    }

    #tblData_wrapper thead tr {
        background: #ebebeb !important;
    }

    .table-toolbar {
        margin-bottom: -15px !important;
    }

    .boder-category {
        border: 1px solid #b3b3b3 !important;
    }

    #tblData_wrapper .table-scrollable {
        border: 1px solid #b3b3b3 !important;
    }

    .mColor {
        color: #56046d;
        font-weight: bold
    }

    .app-content {
        width: 100%;
    }

    .text-guide {
        color: #e7505a;
        font-size: 10px;
        font-weight: 600;
    }

    .dropdown-menu {
        min-width: 125px !important;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 1032 !important;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group pull-right actions pt5 pb-1 d-flex" style="margin-top: -50px;">
    <div class="text-center pr-2">
        <a ng-click="showSearch()" class="fs30">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question fs30 " aria-hidden="true"></i></span>
        </a>
    </div>
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar" ng-if="IsTranslate">
        <div class="portlet light bordered mt5 p10">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times pull-right h28 w28 close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>
                    <div class="col-md-6">
                        <label class="fw600 text-underline">{{'EDMSR_CURD_LBL_SEARCH_TAG' | translate}}/{{'EDMSR_CURD_LBL_SEARCH_CONTENT' | translate}}</label><span class="text-guide">&nbsp;{{'EDMSR_CURD_LBL_SEARCH_GUIDE' | translate}}</span>
                        <div class="input-group br24">
                            <input ng-model="model.Content" class="form-control" type="text" placeholder="{{'EDMSR_CURD_TXT_SEARCH_TAG' | translate}}/{{'EDMSR_CURD_TXT_SEARCH_CONTENT' | translate}}..." ng-keydown="($event.keyCode == 13) && search()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Content=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="fw600 text-underline">{{'EDMST_TITLE_CANDIDATE' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.Candidate" theme="bootstrap" on-select="selectObjectType(model.ObjectType)">
                                <ui-select-match placeholder="{{'EDMST_TITLE_CANDIDATE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listUser | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Candidate='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label class="fw600 text-underline">{{'EDMSR_CURD_LBL_SEARCH_FROM_DATE'| translate}}</label>
                        <div class="input-group br24">
                            <input type="text" autocomplete="off" class="form-control" placeholder="{{'EDMSR_CURD_TXT_SEARCH_FROM_DATE'| translate}}..." ng-model="model.FromDate" id="datefrom">
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label class="fw600 text-underline">{{'EDMSR_CURD_LBL_SEARCH_TO_DATE' | translate}}</label>
                        <div class='input-group br24'>
                            <input type='text' autocomplete="off" class="form-control " ng-model="model.ToDate" placeholder="{{'EDMSR_CURD_TXT_SEARCH_TO_DATE' | translate}}..." id='dateto' />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-1">
                            <div class="btn-group pt20 d-flex">
                                <div class="text-center pr10">
                                    <a class="fs30" ng-click="search()">
                                        <span><i class="fas fa-search"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="IsTranslate == true">
    <div class="col-lg-12" id="dropzone1">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="table.dtInstance"
               id="tblDataFile"></table>
    </div>
</div>
