<style>
    .form-group {
        margin-bottom: 0px !important;
    }

    .thumbnail {
        border: 0px !important;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert white"></i>
    <span class="modal-title  white" id="modal-title">{{'CONTRACT_LBL_ADD_CONTACT' | translate}} </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addForm" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptionsContact">
            <div class="form-body pt-0 pb-0">
                <div class="row mb5" >
                    <div class="col-md-4 pl15">
                        <div class="form-group">
                            <i class="fa fa-paper-plane"></i>
                            <label class="control-label require">{{'CONTRACT_LBL_CONTACT_NAME' | translate}}</label>
                            <input class="form-control" name="ContactName" ng-model="model.ContactName" placeholder="{{'CONTRACT_LBL_CONTACT_NAME_N' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mail-forward"></i>
                            <label class="control-label require">{{'CONTRACT_LBL_MAIL' | translate}}</label>
                            <input class="form-control" type="email" name="Email" ng-model="model.Email" placeholder="{{'CONTRACT_PH_GMAIL_NAME' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paperclip"></i>
                            <label class="control-label">{{'CONTRACT_LBL_POSITION' | translate}}</label>
                            <input class="form-control" ng-model="model.Title" name="Title" placeholder="{{'CONTRACT_PH_POSITION' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paragraph"></i>
                            <label class="control-label">{{'CONTRACT_LBL_CHARGE' | translate}}</label>
                            <input class="form-control" ng-model="model.InChargeOf" name="InChargeOf" placeholder="{{'CONTRACT_PH_CHARGE' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-map-marker"></i>
                            <label class="control-label">{{'CONTRACT_LBL_ADDRESS' | translate}}</label>
                            <input class="form-control" ng-model="model.Address" name="Address" placeholder="{{'CONTRACT_PH_ADDRESS' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>
                            <label class="control-label">{{'CONTRACT_LBL_PHONE' | translate}}</label>
                            <input class="form-control" ng-model="model.Telephone" name="Telephone" placeholder="{{'CONTRACT_PH_NUMBER_DESKS' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mobile-phone"></i>
                            <label class="control-label require">{{'CONTRACT_LBL_PHONE_N' | translate}}</label>
                            <input class="form-control" name="Mobile" ng-model="model.MobilePhone" placeholder="{{'CONTRACT_PH_NUMBER_PHONE' | translate}}" />
                        </div>
                    </div>
                    <div class="col-md-4 pl20">
                        <div class="form-group">
                            <i class="fa fa-fax"></i>
                            <label class="control-label">{{'CONTRACT_LBL_FAX' | translate}}</label>
                            <input class="form-control" ng-model="model.Fax" name="Fax" placeholder="{{'CONTRACT_PH_FAX' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-facebook"></i>
                            <label class="control-label">{{'CONTRACT_LBL_FACEBOOK' | translate}}</label>
                            <input class="form-control" ng-model="model.Facebook" name="Facebook" placeholder="{{'CONTRACT_PH_FACEBOOK' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-google-plus"></i>
                            <label class="control-label">{{'CONTRACT_LBL_GOOGLEPLUS' | translate}}</label>
                            <input class="form-control" ng-model="model.GooglePlus" name="GooglePlus" placeholder="{{'CONTRACT_PH_GOOGLEPLUS' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-twitter"></i>
                            <label class="control-label">{{'CONTRACT_LBL_TWITTER' | translate}}</label>
                            <input class="form-control" ng-model="model.Twitter" name="Twitter" placeholder="{{'CONTRACT_PH_TWITTER' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-skype"></i>
                            <label class="control-label">{{'CONTRACT_LBL_SKYPE' | translate}}</label>
                            <input class="form-control" ng-model="model.Skype" name="Skype" placeholder="{{'CONTRACT_PH_SKYPE' | translate}}" />
                        </div>
                        <div class=" form-group" style="padding-top:7px">
                            <i class="fa fa-code"></i>
                            <label class="control-labl">{{'CONTRACT_LBL_NOTE' | translate}}</label>
                            <textarea class="form-control" ng-model="model.Note" style="margin-top:-5px;height:93px" name="Note" placeholder="{{'CONTRACT_PH_NOTE' | translate}}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group pt25">
                            <div class="thumbnail" style="cursor:pointer">
                                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="image" ng-click="loadImage()" class="img-circle image-default" style="height: 200px; width: 200px;cursor: pointer" alt="Hình ảnh" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center" style="margin-top: -20px;">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <label class="control-label ">{{'CONTRACT_LBL_AVATAR' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'CONTRACT_LBL_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr5" href="javascript:;">
        {{'CONTRACT_LBL_ADD' | translate}}
    </button>
</div>