@{
    ViewData["Title"] = "Create Meeting";
}
@section plugin_script {
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/ui-select/select.css" rel="stylesheet" type="text/css" />
}

<head>
    <style>
        .mfp-content {
            background: #fff;
            width: 60% !important;
        }

        .mfp-close-btn-in .mfp-close {
            color: #33333300;
            width: 29px;
            height: 28px;
        }

        .modal-title {
            font-size: 15px;
            font-weight: bold
        }

        .icon-insert {
            font-size: 15px;
        }

        .mfp-container {
            text-align: center;
            position: absolute;
            width: 60% !important;
            height: 100%;
            left: 20% !important;
            top: -10% !important;
        }

        .tags-custom {
            margin: 2px;
            padding: 0 5px;
            display: inline-block;
            float: left;
            font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
            /*height: 26px;*/
            height: auto;
            line-height: 25px;
            border: 1px solid #acacac;
            border-radius: 3px;
            background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
            background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
        }

        .h-95-srcoll {
            overflow: auto;
            max-height: 95px !important;
            height: 95px !important;
        }

        .boder-box-custom-scroll {
            padding: 1px;
            word-wrap: break-word;
            cursor: text;
            background-color: #fff;
            border: 1px solid #ccc;
            height: 100%;
            border-radius: 4px;
            max-height: 200px;
            height: 150px;
            width: 95%;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="modal-header">
        <img class="icon-remove" title="Close" src="/images/default/close.png" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-dismiss="modal" />
        <i class="fa fa-plus icon-insert"></i>
        <span class="modal-title" id="modal-title">Thêm mới nhóm</span>
    </div>
    <div class="modal-body pb-0" id="modal-body">
        <div class="portlet-body">
            <div class="col-md-12 pt5 mb5 p-0">
                <div class="form-group">
                    <div class="col-md-12">
                        <i class="fa fa-info"></i>
                        <label class="fw600 require">Tên nhóm</label>
                        <div class="input-group">
                            <input id="groupTitle" class="form-control" type="text" placeholder="Tiêu đề cuộc họp..." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" onclick="$('#groupTitle').val('');" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 mt10">
                        <i class="fa fa-list"></i>
                        <label class="fw600">Loại đối tượng liên quan</label>
                        <div class="input-group">
                            <div id="listObjectType"></div>
                            <span class="input-group-btn">
                                <button type="button" onclick="clearObjectType()" class="btn btn-default no-shadow">
                                    <span class="fa fa-times"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 mt10">
                        <i class="fa fa-list"></i>
                        <label class="fw600">Đối tượng liên quan</label>
                        <div class="input-group">
                            <div id="idListObjectCode"></div>
                            <span class="input-group-btn">
                                <button type="button" onclick="addObjectCode()" class="btn btn-default no-shadow">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 boder-box-custom-scroll h-95-srcoll mt10" style="border:1px solid #ccc;">
                    <div id="listObjectCode"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 mt10">
                        <i class="fa fa-list"></i>
                        <label class="fw600 require">Danh sách thành viên trong nhóm</label>
                        <div class="input-group">
                            <div id="listUserSystemn"></div>
                            <span class="input-group-btn">
                                <button type="button" onclick="addUserMeeting()" class="btn btn-default no-shadow">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 mt40 p-0">
                        <input type="checkbox" id="checkAll" onclick="checkAll()" />&nbsp;&nbsp; <span class="fw600">Tất cả</span>
                    </div>
                </div>
                <div class="col-md-12 boder-box-custom-scroll h-95-srcoll mt10" style="border:1px solid #ccc;">
                    <div id="listUserMeeting"></div>
                </div>
                <div class="col-md-12 mt10">
                    <div class="form-group pull-right text-center">
                        <button onclick="addGroup()" class="btn btn-primary"><span class="fa fa-plus"></span>&nbsp;Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var htmlUserZoom = "";
    var htmlObjectType = "";
    var htmlObjectCode = "";
    var listUserZoom = [];
    var listObjectType = [];
    var listObjectCode = [];
    var listObjectCodeAdd = [];

    var htmlUserSystem = "";
    var listUserSystem = [];

    var listUserJoinMeeting = [];

    function loadUserZoom() {
        jQuery.ajax({
            type: "POST",
            url: "/Admin/Meeting/GetListUserZoom",
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "#contentMain",
                    boxed: true,
                    message: 'loading...'
                });
            },
            success: function (data) {
                listUserZoom = data;
                htmlUserZoom = htmlUserZoom + '<select id="idUserZoom" class="form-control""><option value="">-- Chọn tất cả --</option >';
                for (var y in data) {
                    htmlUserZoom = htmlUserZoom + "<option value=" + data[y].UserId + ">" + data[y].AccountName + "</option >"
                }
                htmlUserZoom = htmlUserZoom + '</select>';
                $('#listUserZoom').append(htmlUserZoom);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
    function loadUser() {
        jQuery.ajax({
            type: "POST",
            url: "/Admin/User/GetListUser",
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "#contentMain",
                    boxed: true,
                    message: 'loading...'
                });
            },
            success: function (data) {
                listUserSystem = data;
                htmlUserSystem = htmlUserSystem + '<select id="idUser" class="form-control""><option value="">-- Chọn tất cả --</option >';
                for (var y in data) {
                    htmlUserSystem = htmlUserSystem + "<option value=" + data[y].UserId + ">" + data[y].GivenName + "</option >"
                }
                htmlUserSystem = htmlUserSystem + '</select>';
                $('#listUserSystemn').append(htmlUserSystem);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
    function loadObjectType() {
        jQuery.ajax({
            type: "POST",
            url: "/Admin/Chat/GetListObjectType",
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "#contentMain",
                    boxed: true,
                    message: 'loading...'
                });
            },
            success: function (data) {
                listObjectType = data;
                htmlObjectType = htmlObjectType + '<select id="idObjectType" class="form-control" onchange="changeObjectType();"><option value="">-- Chọn --</option >';
                for (var y in data) {
                    htmlObjectType = htmlObjectType + "<option value=" + data[y].Code + ">" + data[y].Name + "</option >"
                }
                htmlObjectType = htmlObjectType + '</select>';
                $('#listObjectType').append(htmlObjectType);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
    function loadObjectCode(code) {
        htmlObjectCode = '';
        $("#idListObjectCode").empty();

        jQuery.ajax({
            type: "POST",
            url: "/Admin/Chat/GetListObjectCode?code=" + code,
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "#contentMain",
                    boxed: true,
                    message: 'loading...'
                });
            },
            success: function (data) {
                listObjectCode = data;
                htmlObjectCode = htmlObjectCode + '<select id="idObjectCode" class="form-control"><option value="">-- Chọn --</option >';
                for (var y in data) {
                    htmlObjectCode = htmlObjectCode + "<option value=" + data[y].Code + ">" + data[y].Name + "</option >"
                }
                htmlObjectCode = htmlObjectCode + '</select>';
                $('#idListObjectCode').append(htmlObjectCode);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
    function deleteUserZoom() {
        $('#listUserZoom').empty();
        $('#listUserZoom').append(htmlUserZoom);
    }

    function addUserMeeting() {
        var checkAll = listUserJoinMeeting.find(function (element) {
            if (element.UserId == 0) return true;
        });

        if (checkAll != null && checkAll != null) {
            App.toastrError('Đã chọn tất cả thành viên');
            return;
        }

        var userId = $('#idUser').val();
        var user = listUserSystem.find(function (element) {
            if (element.UserId == userId) return true;
        });

        if (user !== null && user !== undefined) {
            var obj = {
                UserId: user.UserId,
                UserName: user.UserName,
                GivenName: user.GivenName
            };

            var check = listUserJoinMeeting.find(function (element) {
                if (element.UserId == userId) return true;
            });

            if (check === null || check === undefined) {
                listUserJoinMeeting.push(obj);
                initTableUser();
            } else {
                App.toastrError('Người dùng đã có trong danh sách');
            }
        }
    }

    function addObjectCode() {
        var objectType = $('#idObjectType').val();
        var objectCode = $('#idObjectCode').val();
        var objCode = listObjectCode.find(function (element) {
            if (element.Code == objectCode) return true;
        });

        if (objCode !== null && objCode !== undefined) {
            var obj = {
                Code: objCode.Code,
                Name: objCode.Name,
                ObjType: objectType,
            };

            var check = listObjectCodeAdd.find(function (element) {
                if (element.Code == objectCode && element.ObjType == objectType) return true;
            });

            if (check === null || check === undefined) {
                listObjectCodeAdd.push(obj);
                initTableObjCode();
            } else {
                App.toastrError('Đối tượng liên quan đã có trong danh sách');
            }
        }
    }

    function checkAll() {
        if ($('#checkAll').is(":checked")) {
            $('#listUserMeeting').html('');
            var obj = {
                UserId: 0,
                UserName: 'ALL',
                GivenName: 'Tất cả'
            };

            listUserJoinMeeting = [];
            listUserJoinMeeting.push(obj);
            initTableUser();
        } else {
            $('#listUserMeeting').html('');
            listUserJoinMeeting = [];
        }
    }
    function initTableUser() {
        var table = "";
        if (listUserJoinMeeting.length > 0) {
            for (var i = 0; i < listUserJoinMeeting.length; i++) {
                table += "<button type='button' class='tags-custom'>";
                table += "<i class='fa fa-times pull-right ic-remove' aria-hidden='true' onclick='removeUser(" + i + ")'></i><span>" + listUserJoinMeeting[i].GivenName + "</span>";
                table += "</button>";
            }
            $('#listUserMeeting').html('');
            $('#listUserMeeting').append(table);
        } else {
            $('#listUserMeeting').html('');
        }
    }

    function initTableObjCode() {
        var table = "";
        if (listObjectCodeAdd.length > 0) {
            for (var i = 0; i < listObjectCodeAdd.length; i++) {
                table += "<button type='button' class='tags-custom'>";
                table += "<i class='fa fa-times pull-right ic-remove' aria-hidden='true' onclick='removeObjectCode(" + i + ")'></i><span>" + listObjectCode[i].Name + "</span>";
                table += "</button>";
            }
            $('#listObjectCode').html('');
            $('#listObjectCode').append(table);
        } else {
            $('#listObjectCode').html('');
        }
    }
    function removeUser(index) {
        if (index >= 0) {
            if (listUserJoinMeeting[index].UserId === 0) {
                $("#checkAll").prop("checked", false);
            }

            listUserJoinMeeting.splice(index, 1);
            initTableUser();
        }
    }

    function removeObjectCode(index) {
        if (index >= 0) {
            listObjectCodeAdd.splice(index, 1);
            initTableObjCode();
        }
    }

    function addGroup() {
        var title = $('#groupTitle').val();

        var obj = {
            GroupName: title,
            ObjectRelative: JSON.stringify(listObjectCodeAdd),
            JsonData: JSON.stringify(listUserJoinMeeting)
        };

        if (title == '' || title == undefined || title == null) {
            App.toastrError('Vui lòng nhập tên nhóm');
            return;
        }

        if (listUserJoinMeeting.length === 0) {
            App.toastrError('Danh sách thành viên trong nhóm trống');
            return;
        }

        jQuery.ajax({
            type: "POST",
            url: "/Admin/Chat/InsertGroup",
            contentType: "application/json",
            dataType: "JSON",
            data: JSON.stringify(obj),
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "#contentMain",
                    boxed: true,
                    message: 'loading...'
                });
            },
            success: function (rs) {
                App.unblockUI("#contentMain");
                if (rs.Error) {
                    App.toastrError(rs.Title);
                } else {
                    App.toastrSuccess(rs.Title);
                }
            },
            failure: function (errMsg) {
                App.unblockUI("#contentMain");
                alert(errMsg);
            }
        });
    };

    function changeObjectType() {
        var selectBox = document.getElementById("idObjectType");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        loadObjectCode(selectedValue);
    }


    function init() {
        loadUserZoom();
        loadUser();
        loadObjectType();
        loadObjectCode('');
    };
    init();
</script>