
<div class="col-md-12 p-0 pull-left">
    <table class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataBotRunning"></table>
    <div class="col-lg-12">
            <div class="btn-group actions d-flex">
                <div class="text-center">
                    <a ng-click="clear()" class="fs25">
                        <span><i class="fas fa-broom"></i></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3 ng-binding">{{'BOT_RUNNING_CLEAR' | translate}}</p>
                </div>
            </div>
    </div>
    <div class="col-lg-12 p-0 mt20">
        <div class="form-group">
            <div class="col-md-12 p-0">
                <!--<i class="fa fa-barcode"></i>-->
                <label class="control-label require text-important1">{{'BOT_RUNNING_MONITOR' | translate}}</label>
                <textarea rows="8" class="form-control br12 bold" style="background: black !important; color: green !important" name="Credentials" web-socket="" ng-model="model.Monitor" type="text" placeholder1="{{'BOT_RUNNING_LOGS' | translate}}..." />
            </div>
        </div>
    </div>
</div>
