@*<h4>STAFF ONBOARDING</h4>
    <hr />*@
@using Microsoft.AspNetCore.Http.Features
@{
    ViewData["Title"] = "Bảng điện chung";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}
<style>
    #myTabContent {
        height: calc(100vh - 92px);
    }
    .tab-pane {
        height: 100%;
    }
</style>
<div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="DashboardCardJob"
               href="#DashboardCardJob">Bảng điện luồng việc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="DepartmentApp"
               href="#DepartmentApp">Bảng điện phòng ban</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="GroupUserApp"
               href="#GroupUserApp">Bảng điện nhóm làm việc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="InOutApp"
               href="#InOutApp">Bảng điện cổng vào ra</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="DashboardCardJob" role="tabpanel" aria-labelledby="cj-tab">
        <iframe style="width: 100%; height: 100%" src="/DashboardCardJob"></iframe>
    </div>
    <div class="tab-pane fade" id="DepartmentApp" role="tabpanel" aria-labelledby="depart-tab">
        <iframe style="width: 100%; height: 100%" src="/DepartmentApp"></iframe>
    </div>
    <div class="tab-pane fade" id="GroupUserApp" role="tabpanel" aria-labelledby="group-tab">
        <iframe style="width: 100%; height: 100%" src="/GroupUserApp"></iframe>
    </div>
    <div class="tab-pane fade" id="InOutApp" role="tabpanel" aria-labelledby="inout-tab">
        <iframe style="width: 100%; height: 100%" src="/InOutApp"></iframe>
    </div>
    @*<script>
        $(function () {
            $.ajax({
                url: "/DashboardCardJob",
                type: "get",
                success: function (result) {
                    $("#DashboardCardJob").html(result);
                }
            })

            $.ajax({
                url: "/DepartmentApp",
                type: "get",
                success: function (result) {
                    $("#DepartmentApp").html(result);
                }
            })

            $.ajax({
                url: "/GroupUserApp",
                type: "get",
                success: function (result) {
                    $("#GroupUserApp").html(result);
                }
            })

            $.ajax({
                url: "/InOutApp",
                type: "get",
                success: function (result) {
                    $("#InOutApp").html(result);
                }
            })
        })
    </script>*@
</div>