@using ESEIM.Utils
@{
    ViewData["Title"] = "Lịch họp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_script {
    @*datepicker*@
    <script src="~/lib/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>
}
@section plugin_style{
    @*datepicker*@
    <link href="/lib/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" type="text/css" rel="stylesheet" />
}
<script>
    history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function (event) {
        history.pushState(null, document.title, location.href);
    });
</script>
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div  ng-view></div>
</div>
<script src="~/views/admin/workingSchedule/controller.js" type="text/javascript"></script>