@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = ViewData["CrumbStaffLate"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    var isAllData = session.IsAllData;
    var roleCode = session.RoleCode;
    var departmentCode = session.DepartmentCode;
}
<script>
    var idObject = 0;
    var isAllData = "@(isAllData)";
    var roleCode = "@(roleCode)";
    var departmentCode = "@(departmentCode)";
</script>
@section plugin_script{
    <script src="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/lib/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet">
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/material-calender.min.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM_STAFF_LATE" ng-controller="Ctrl_ESEIM_STAFF_LATE">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/admin/staffLate/controller.js" type="text/javascript"></script>
<script src="~/views/admin/cardJob/controller.js" type="text/javascript"></script>
<script src="~/views/admin/project/controller.js" type="text/javascript"></script>
<script src="~/views/admin/customer/controller.js" type="text/javascript"></script>
<script src="~/views/admin/supplier/controller.js" type="text/javascript"></script>
<script src="~/views/admin/edmsRepository/controller.js" type="text/javascript"></script>
<script src="~/views/admin/filePlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/attributeManager/controller.js" type="text/javascript"></script>
<script src="~/views/admin/materialProduct/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contract/controller.js" type="text/javascript"></script>
<script src="~/views/admin/sendRequestWorkPrice/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contractPo/controller.js" type="text/javascript"></script>

<script src="~/views/admin/workflowActivity/controller.js" type="text/javascript"></script>
<script src="~/views/admin/workflowPlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/payDecision/controller.js" type="text/javascript"></script>
