<style>
    .app-content {
        width: 100%;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(90% - 50px);
        right: 75px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<style>
    /*.modal-header {
        background: #f1f1f1;
        color: black;
    }*/
    .width_90 {
        width: 90px;
    }

    .tab-content {
        width: 100%;
        min-height: 270px;
        /*overflow-y: scroll;
        overflow-x: hidden;*/
    }

    .boxGreen {
        width: 20px;
        height: 20px;
        background: #2ecc71;
        margin-right: 5px;
    }

    .boxRed {
        width: 20px;
        height: 20px;
        background: #e74c3c;
        margin-right: 5px;
    }

    .boxYellow {
        width: 20px;
        height: 20px;
        background: #f1c40f;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 0px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mt23 {
        margin-top: 23px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #fff;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .font-in-tab {
        /* border-radius: 4px !important; */
        border: 1px solid #e7ecf1;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    .border-qrcode .file-header {
        z-index: 1;
        margin-left: 10%;
        margin-top: 2px;
        position: absolute;
        /* background: linear-gradient(to bottom,#f1f1f1,#FBFCFC ); */
        /* border: 1px solid #cccccc; */
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        overflow: auto;
        max-height: 120px;
        height: 120px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 25px;
        background: #fffdfd;
    }

    #box .file-body {
        overflow: auto;
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        z-index: 1;
        margin-left: 15px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }


    #tblFileRequest {
        max-height: 60px;
    }

        #tblFileRequest tbody tr td {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    #tblFileBox tbody tr td {
        max-width: 115px;
        white-space: nowrap;
        overflow: auto;
        text-overflow: ellipsis;
    }

    @media(max-width:992px) {
        .modal-60 {
            width: 75% !important;
        }
    }

    @media(min-width:992px) and (max-width:1200px) {
        .modal-60 {
            width: 70% !important;
        }
    }

    @media(min-width:1201px) and (max-width:1500px) {
        .modal-60 {
            width: 60% !important;
        }
    }

    .h-60 {
        height: 60px;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    #payment:after {
        height: 0px;
    }

    .border-black {
        border: 1px solid #000;
    }

    .name {
        top: 12%;
        margin-left: 60%;
        font-size: 10px;
        position: absolute;
    }

    .dateapr {
        position: absolute;
        margin-left: 60%;
        top: 32%;
        font-size: 10px;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .tab-content {
        border: 1px solid #d3d3d3;
        padding: 15px;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group actions pt5 pb-1 pull-right d-flex mr5" style="margin-top: -50px;">
    <div class="text-center pr-2">
        <a class="fs30" ng-click="showSearch()">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class="fs30" ng-click="add()">
            <span><i class="fa-solid fa-plus"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question" aria-hidden="true"></i></span>
        </a>
    </div>
</div>

<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar pt10">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="row pt5 mb5">
                    <div class="col-md-12" style="height:20px">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>
                </div>
                <div class="row mb5">
                    <div class="col-md-12 pl-0">
                        <div class="col-md-2">
                            <label class="fw600 text-underline ">{{'ASLQDT_CURD_LBL_TICKET_CODE' | translate}}</label>
                            <div class='input-group br24'>
                                <input ng-model="modelsearch.TicketCode" class="form-control" type="text" placeholder="{{'ASLQDT_CURD_TXT_TICKET_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reloadTabTicket()" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.TicketCode=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 pl-0 pr-0">
                            <label class="fw600 text-underline ">{{'ASLQDT_COL_KEY_WORD' | translate}}</label>
                            <div class='input-group br24'>
                                <input ng-model="modelsearch.Title" name="Title" class="form-control" type="text" placeholder="{{'ASLQDT_COL_KEY_WORD' | translate}}.." ng-keydown="($event.keyCode == 13) && reloadTabTicket()" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.Title=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 pr-0">
                            <div class="col-md-6 pl-0">
                                <label class="fw600 text-underline ">{{'ASLQDT_CURD_LBL_DATE_FROM' | translate}}</label>
                                <div class='input-group br24'>
                                    <input ng-model="modelsearch.FromDate" class="form-control" type="text" placeholder="{{'ASLQDT_CURD_TXT_DATE_FROM' | translate}}..." id='datefrom' ng-keydown="($event.keyCode == 13) && reloadTabTicket()" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="modelsearch.FromDate=''" class="btn btn-default no-shadow end-date">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 pl-0">
                                <label class="fw600 text-underline ">{{'ASLQDT_CURD_LBL_DATE_TO' | translate}}</label>
                                <div class='input-group br24'>
                                    <input ng-model="modelsearch.ToDate" class="form-control" type="text" placeholder="{{'ASLQDT_CURD_TXT_DATE_TO' | translate}}..." id='dateto' ng-keydown="($event.keyCode == 13) && reloadTabTicket()" />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="modelsearch.ToDate=''" class="btn btn-default no-shadow end-date">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 pl-0 pr-0" style="width: 14%;">
                            <label class="fw600 text-underline ">{{'ASLQDT_CURD_LBL_BRANCH' | translate}}</label>
                            <div class='input-group search-group br24'>
                                <ui-select tagging ng-model="modelsearch.BranchLiquidation">
                                    <ui-select-match placeholder="{{'ASLQDT_CURD_TXT_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in modelsearch.listBranch | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.BranchLiquidation='';" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="fw600 text-underline ">{{'ASLQDT_CURD_LBL_USER_LQDT' | translate}}</label>
                            <div class='input-group search-group br24'>
                                <ui-select tagging ng-model="modelsearch.UserLiquidation">
                                    <ui-select-match placeholder="{{'ASLQDT_CURD_TXT_USER_LQDT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in modelsearch.listEmp | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.UserLiquidation=''" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 pr-0 pl-0 pt20">
                            <div class="btn-group actions d-flex mr5">
                                <div class="text-center pr10 pl10">
                                    <a data-dismiss="modal" ng-click="searchTicket()" class="fs30">
                                        <span><i class="fas fa-search"></i></span>
                                    </a>
                                    <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                                </div>
                            </div>
                        </div>
                        <!--<i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>-->
                        <!--<div class="row pt10 mb15">
                <div class="col-md-3">
                    <div class="btn-group actions d-flex mr25">
                        <div class="pr10">
                        <a ng-click="searchTicket()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="text-center pr10">
                        <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                        <div class="text-center">
                        <a ng-click="export()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-file-excel-o"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_EXCEL' | translate}}</p>
                    </div>
                    </div>
                </div>
            </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">

            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <div href="#1" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASLQDT_TITLE_TAB_TICKET_ASLQDT' | translate}}</div>
                    </li>
                    <li role="presentation" class="disabled stepNext">
                        <div href="#2" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASLQDT_TITLE_TAB_ASSET_ASLQDT' | translate}}</div>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="1">
                        <div disable="tests" ng-include="'../views/admin/assetLiquidation/tabAssetLiquidationTicket.html'"></div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="2">
                        <div ng-include="'../views/admin/assetLiquidation/tabAssetLiquidation.html'"></div>

                    </div>


                </div>
                <!--<div class="tabbable">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="{{'COM_TICKET_TRANSFER' | translate}}">
                        <div ng-include="'../views/admin/assetTransfer/TicketTransfer.html'"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="{{'ASSET_TRANSFER_TITLE' | translate}}">
                        <div ng-include="'../views/admin/assetTransfer/AssetTransfer.html'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>-->
            </div>
        </div>
    </div>
    <script>
        setTimeout(function () {
            let isDown = false;
            let startX;
            let scrollLeft;

            $('.table-scrollable').mousedown(function (e) {
                isDown = true;
                startX = e.pageX - $('.table-scrollable').offset().left;
                scrollLeft = $('.table-scrollable').scrollLeft();
            });
            $('.table-scrollable').mouseleave(function () {
                isDown = false;
            });
            $('.table-scrollable').mouseup(function () {
                isDown = false;
            });
            $('.table-scrollable').mousemove(function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $('.table-scrollable').offset().left;
                const walk = (x - startX) * 1; //scroll-fast
                $('.table-scrollable').scrollLeft(scrollLeft - walk);
                console.log(walk);
            });
        }, 1000);

    </script>
