<style>
    * {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative;
            text-align:initial
        }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border-radius: 0px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #673AB7;
            outline-width: 0
        }

    #msform .action-button {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        width: 40px;
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        width: 40px;
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative;
        background-color: #ffffff;
    }

    .fs-title {
        font-size: 25px;
        color: #4868aa;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #4868aa;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        overflow: hidden;
        color: #4868aa;
    }

        #progressbar .active {
            color: #009432;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: calc(100%/3);
            float: left;
            position: relative;
            font-weight: 400
        }
    
        #progressbar > #payment {
            list-style-type: none;
            font-size: 15px;
            width: 0;
            float: left;
            position: relative;
            font-weight: 400
        }
        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f040"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f00c"
        }



        #progressbar li:before {
            width: 56px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 0px auto;
            padding: 2px;
            margin-left:0
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #009432;
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
    .app-content.content.container-fluid.scroll_content_custom{
        width:100%
    }
    .card{
        width:100%
    }
    .form-card > .row {
        padding-left: 15px;
        padding-right: 30px;
    }
    #msform input {
        background-color: #fff
    }
    strong {
        margin-left: -86%;
        white-space:nowrap;
        font-size:13px
    }
    .input-group-addon, .input-group-btn {
        vertical-align: top;
    }
    input#datefrom, input#dateto {
        margin-top: 0
    }
    .portlet.light.bordered {
        margin-right: 15px;
        border: 1px solid #e7ecf1 !important;
        background: #f8f9f9 !important
    }
    .table > thead > tr > th {
        vertical-align: middle;
        height: 60px;
        border-bottom: 2px solid #e7ecf1;
    }
    #left1 {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    .btn{
        cursor:pointer
    }
    .pt2{
        padding-top:2px
    }
    .div-disabled {
        pointer-events: none;
        opacity: 0.5;
        background: #CCC;
    }
    .undiv-disabled {
        pointer-events: initial;
        opacity: 1;
        background: #CCC;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>

<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;" href="TCLDVIEW">{{'Tổ chức lao động' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="/Admin/hrEmployeeTermination">{{'Điều động nhân sự' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li ng-show="tab1">

                    <a class=" bold text-underline" style="color:black;" href="/Admin/hrEmployeeTermination">{{'Chọn nhân viên' | translate}}</a>
                </li>
                <li ng-show="tab2">

                    <a class=" bold text-underline" style="color:black;" href="/Admin/hrEmployeeTermination">{{'Nhập thông tin điều động' | translate}}</a>
                </li>
                <li ng-show="tab3">

                    <a class=" bold text-underline" style="color:black;" href="/Admin/hrEmployeeTermination">{{'Xác nhận điều động' | translate}}</a>
                </li>
            </ul>

        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-md-12" style="padding-left:0">
            <div class="card px-0 pb-0 mb-3">

                <form id="msform">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <ul id="progressbar" style="padding-left:10%">
                                <li class="active" id="account"><strong>Chọn nhân viên</strong></li>
                                <li id="personal"><strong>Nhập thông tin điều động</strong></li>
                                <li id="payment"><strong>Xác nhận</strong></li>
                            </ul>
                        </div>
                        <div class="col-md-1" style="width: 4.33333%;">
                            <div class="btn-group actions d-flex">
                                <div class="text-center pl10 margin-right-10 previous" ng-click="previous()" ng-show="previoust">
                                    <a class="btn btn-icon-only btn-outline " style="background-color:#ffffff !important;width:50px;border:0.1px solid #121312;color: #131212 !important;">
                                        <i class="fas fa-running fs18" id="left1" aria-hidden="true"></i>
                                    </a>
                                    <p class="text-underline fs11 mb5 pt3">{{'Quay lại' | translate}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1" >
                            <div class="btn-group actions d-flex">
                                <div class="text-center pl10 margin-right-10 next" ng-click="next1()" ng-show="tab1">
                                    <a class="btn btn-icon-only btn-outline " name="next" style="background-color:#ffffff !important;width:50px;border:0.1px solid #121312;color: #131212 !important;">
                                        <i class="fas fa-running fs18   " aria-hidden="true"></i>
                                    </a>
                                    <p class="text-underline fs11 mb5 pt3">{{'Đi tiếp' | translate}}</p>

                                </div>
                                <div class="text-center pl10 margin-right-10 next" ng-click="next2(modeldes,arrtab2)" ng-show="tab2">
                                    <a class="btn btn-icon-only btn-outline " name="next" style="background-color:#ffffff !important;width:50px;border:0.1px solid #121312;color: #131212 !important;">
                                        <i class="fas fa-running fs18   " aria-hidden="true"></i>
                                    </a>
                                    <p class="text-underline fs11 mb5 pt3">{{'Đi tiếp' | translate}}</p>

                                </div>
                                <div class="text-center pl10 margin-right-10 next" ng-click="next3(modeldes,arrtab2)" ng-show="tab3">
                                    <a class="btn btn-icon-only btn-outline " name="next" style="background-color:#ffffff !important;width:50px;border:0.1px solid #121312;color: #131212 !important;">
                                        <i class="fas fa-running fs18   " aria-hidden="true"></i>
                                    </a>
                                    <p class="text-underline fs11 mb5 pt3">{{'Xác nhận' | translate}}</p>

                                </div>


                            </div>
                        </div>
                    </div>
                    <fieldset class="fieldset" ng-show="tab1">
                        <div class="portlet light bordered input-search mb5" >
                            <div class="portlet-body">
                                <div class="row pt5 mb5">
                                    <div class="row">
                                        <div class="col-lg-2 pl30">
                                            <label class="fw600 text-underline">{{'Họ và tên' | translate}}</label>
                                            <div class="input-group">
                                                <input ng-model="model.FullName" class="form-control br4" type="text" placeholder="{{'Họ và tên' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Đơn vị/Chi nhánh' | translate}}</label>
                                            <div class="input-group search-group">
                                                <ui-select tagging ng-model="model.BranchId" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'Đơn vị/Chi nhánh' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.BranchId='';" class="btn btn-default no-shadow start-date">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="fw600 text-underline">{{'Kiểu nhân viên' | translate}}</label>
                                            <div class="input-group search-group">
                                                <ui-select tagging ng-model="model.EmployeeType" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'Kiểu nhân viên' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in employeeStyleData | filter:$select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.EmployeeType=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Phòng ban'| translate}}</label>
                                            <div class="input-group search-group">
                                                <ui-select tagging ng-model="model.Unit" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'Phòng ban' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                    <ui-select-choices repeat="x.DepartmentCode as x in treeDataunit | filter:$select.search">
                                                        {{x.Title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Unit=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Giới tính'| translate}}</label>
                                            <div class="input-group search-group">
                                                <ui-select tagging ng-model="model.Gender" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'Giới tính' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listGender | filter:$select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Gender=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="width: 14%;">
                                            <label class="fw600 text-underline">{{'Chức vụ'| translate}}</label>
                                            <div class="input-group search-group">
                                                <ui-select tagging ng-model="model.Position" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'Chức vụ' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in positionData | filter:$select.search">
                                                        {{x.Title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Position=''" class="btn btn-default no-shadow" style="">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2 pl30">
                                            <label class="fw600 text-underline">{{'Độ tuổi' | translate}}</label>
                                            <div class="input-group">
                                                <input ng-model="model.NumberOfYears" type="number" class="form-control br4" placeholder="{{'Độ tuổi' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Số năm công tác' | translate}}</label>
                                            <div class="input-group">
                                                <input ng-model="model.YearsOfWork" type="number" class="form-control br4" placeholder="{{'Số năm công tác' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="fw600 text-underline">{{'Trình độ' | translate}}</label>
                                            <div class="input-group">
                                                <input ng-model="model.EducationalLevel" class="form-control br4" type="text" placeholder="{{'Trình độ' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="fw600 text-underline">{{'Từ ngày' | translate}}</label>
                                            <div class="input-group ">
                                                <input ng-model="model.FromDate" class="form-control" type="text" placeholder="{{'Từ ngày' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='datefrom' autocomplete="off" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="fw600 text-underline">{{'Đến ngày' | translate}}</label>
                                            <div class="input-group ">
                                                <input ng-model="model.ToDate" class="form-control" type="text" placeholder="{{'Đến ngày' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='dateto' autocomplete="off" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-1">

                                            <div class="text-center pr10 pt25" style="margin-left:-50px">
                                                <a class="btn btn-icon-only btn-outline btn-add "style=";background: #fff;width:50px" ng-click="reload()">
                                                    <span><i class="fa fa-search" style="color:#000"> </i></span>
                                                </a>
                                                <p class="text-underline fs9 mb5 pt3 ">{{'Tìm kiếm' | translate}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


              
                        <div class="form-card">
                            <div class="row">
                                <table class="table dataTable table-hover table-striped"
                                       datatable
                                       dt-options="dtOptions"
                                       dt-columns="dtColumns"
                                       dt-instance="dtInstance"
                                       id="tblDataIndex"></table>
                            </div>
                        </div>
                    </fieldset>
                    <div class="fieldset" ng-show="tab2">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-lg-3 pl15 " ng-class="{'has-error': errorDecideNum}">
                                    <i class="fas fa-calculator" aria-hidden="true"></i>

                                    <label class="fw600 text-underline">{{'Số quyết định' | translate}}</label>
                                    <div class="input-group">
                                        <input ng-model="modeldes.DecideNum" class="form-control br4" type="text" placeholder="{{'Số quyết định' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                    </div>
                                    <span ng-show="errorDecideNum" class="label-color validation-message">
                                        {{'Trường này không được bỏ trống' | translate}}
                                    </span>
                                </div>
                                <div class="col-lg-3" ng-class="{ 'has-error': errorDecideDate}">
                                    <i class="fas fa-calendar" aria-hidden="true"></i>

                                    <label class="fw600 text-underline">{{'Ngày quyết định' | translate}}</label>
                                    <div class="input-group ">
                                        <input ng-model="modeldes.DecideDate" class="form-control" type="text" placeholder="{{'Ngày quyết định' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='datedecision' autocomplete="off" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modeldes.DecideDate=''" class="btn btn-default no-shadow end-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorDecideDate" class="label-color validation-message">
                                        {{'Trường này không được bỏ trống' | translate}}
                                    </span>
                                </div>

                                <div class="col-lg-2" ng-class="{ 'has-error': errorFromTime}">
                                    <i class="fas fa-calendar" aria-hidden="true"></i>

                                    <label class="fw600 text-underline">{{'Áp dụng từ ngày' | translate}}</label>
                                    <div class="input-group ">
                                        <input ng-model="modeldes.FromTime" class="form-control" type="text" placeholder="{{'Áp dụng từ ngày' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='appfrom' autocomplete="off" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modeldes.FromTime=''" class="btn btn-default no-shadow end-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorFromTime" class="label-color validation-message">
                                        {{'Trường này không được bỏ trống' | translate}}
                                    </span>
                                </div>

                                <div class="col-lg-2" ng-class="{ 'has-error': errorToTime}">
                                    <i class="fas fa-calendar" aria-hidden="true"></i>

                                    <label class="fw600 text-underline">{{'Áp dụng đến ngày ' | translate}}</label>
                                    <div class="input-group ">
                                        <input ng-model="modeldes.ToTime" class="form-control" type="text" placeholder="{{'Áp dụng đến ngày' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='appto' autocomplete="off" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modeldes.ToTime=''" class="btn btn-default no-shadow end-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorToTime" class="label-color validation-message">
                                        {{'Trường này không được bỏ trống' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col x12 s12 m12 l12">
                                    
                                    <div class="table_container pl15 pr15">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%" scope="col">STT</th>
                                                    <th style="width:10%" scope="col">Mã nhân viên</th>
                                                    <th style="width:10%" scope="col">Họ và Tên</th>
                                                    <th style="width:10%" scope="col">Đơn vị hiện tại</th>
                                                    <th style="width:10%" scope="col">Chức vụ hiện tại</th>
                                                    <th style="width:10%" scope="col">Đơn vị điều động</th>
                                                    <th style="width:10%" scope="col">Chức vụ điều động</th>
                                                    <th style="width:10%" scope="col">Thang lương</th>
                                                    <th style="width:10%"scope="col">Bậc lương</th>
                                                    <th style="width:10%"scope="col">Lý do điều động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in arrtab2">
                                                    <th scope="row">{{$index + 1}}</th>
                                                    <td style="font-weight: bold">{{x.Id}}</td>
                                                    <td>{{x.fullname}}</td>
                                                    <td>{{x.unitName}}</td>
                                                    <td>{{x.positionName}}</td>
                                                    <td>
                                                        <div class="input-group" ng-class="{ 'has-error': unitNameLate}">
                                                            <ui-select tagging ng-model="x.unitNameLate" theme="bootstrap">
                                                                <ui-select-match placeholder="{{'Đơn vị điều động' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                                <ui-select-choices repeat="x.DepartmentCode as x in treeDataunit | filter: $select.search">
                                                                    {{x.Title}}
                                                                </ui-select-choices>
                                                            </ui-select>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group" ng-class="{ 'has-error': errorpositionNameLate}">
                                                            <ui-select tagging ng-model="x.positionNameLate" theme="bootstrap">
                                                                <ui-select-match placeholder="{{'Chức vụ điều động' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                                <ui-select-choices repeat="x.Code as x in positionData | filter:$select.search">
                                                                    {{x.Title}}
                                                                </ui-select-choices>
                                                            </ui-select>

                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="input-group" ng-class="{ 'has-error': errorPayScaleCode}">
                                                            <ui-select tagging ng-model="x.PayScaleCode" theme="bootstrap" ng-change="ChangPayScale(x.PayScaleCode)">
                                                                <ui-select-match placeholder="{{'Thang lương' | translate}}...">{{$select.selected.Code}}</ui-select-match>
                                                                <ui-select-choices repeat="x.Code as x in lstPayScale | filter:$select.search">
                                                                    {{x.Code}}
                                                                </ui-select-choices>
                                                            </ui-select>

                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="input-group div-disabled" ng-class="{ 'undiv-disabled': x.PayScaleCode}">
                                                            <ui-select tagging ng-model="x.Ranges" theme="bootstrap" ng-change="ChangPayScaleRanges(x.PayScaleCode,x.Ranges)">
                                                                <ui-select-match placeholder="{{'Bậc lương' | translate}}...">{{$select.selected.Code}}</ui-select-match>
                                                                <ui-select-choices repeat="x.Code as x in lstRanges | filter:$select.search">
                                                                    {{x.Code}}
                                                                </ui-select-choices>
                                                            </ui-select>

                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input ng-model="x.Reason" type="text" class="form-control br4" />
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="col m12">
                                            <div class=" div-center custom-divider"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="fieldset" ng-show="tab3">
                        <div class="form-card">
                            
                            <div class="row">
                                <div>
                                    <div class="col-md-12 pl5"  style="display:flex;padding-bottom:5px">
                                        <i class="fas fa-pen-nib fs15 pr5 pl5 pt2" aria-hidden="true"></i>
                                        <label class="fs14">Số quyết định : </label>
                                        <label style="font-size:15px;font-weight:700">&nbsp;&nbsp;{{decisionNum}}</label>

                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3 pl5" style="display:flex;padding-bottom:5px">
                                        <i class="fas fa-calendar fs15 pr5 pl5 pt2" aria-hidden="true"></i>

                                        <label class="fs14">Ngày quyết định : </label>
                                        <label style="font-size:15px;font-weight:700">&nbsp;&nbsp;{{decisionDate}}</label>

                                    </div>

                                    <div class="col-md-3" style="display:flex;padding-bottom:5px">
                                        <i class="fas fa-calendar fs15 pr5 pl5 pt2" aria-hidden="true"></i>

                                        <label class="fs14">Áp dụng từ : </label>
                                        <label style="font-size:15px;font-weight:700">&nbsp;&nbsp;{{decisionFromTime}}</label>

                                    </div>
                                    <div class="col-md-3" style="display:flex;padding-bottom:5px">
                                        <i class="fas fa-calendar fs15 pr5 pl5 pt2" aria-hidden="true"></i>

                                        <label class="fs14">Ngày hết hạn : </label>
                                        <label style="font-size:15px;font-weight:700">&nbsp;&nbsp;{{decisionToTime}}</label>

                                    </div>
                                </div>
                                <div class="input-field col x12 s12 m12 l12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" scope="col">STT</th>
                                                <th style="width:10%" scope="col">Mã nhân viên</th>
                                                <th style="width:10%" scope="col">Họ và Tên</th>
                                                <th style="width:10%" scope="col">Đơn vị hiện tại</th>
                                                <th style="width:15%" scope="col">Chức vụ hiện tại</th>
                                                <th style="width:10%" scope="col">Đơn vị điều động</th>
                                                <th style="width:15%" scope="col">Chức vụ điều động</th>
                                                <th style="width:6%" scope="col">Thang lương</th>
                                                <th style="width:5%" scope="col">Bậc lương</th>
                                                <th style="width:10%" scope="col">Lý do điều động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in arrtab2">
                                                <th scope="row">{{$index + 1}}</th>
                                                <td style="font-weight: bold">{{x.Id}}</td>
                                                <td>{{x.fullname}}</td>
                                                <td>{{x.unitName}}</td>
                                                <td>{{x.positionName}}</td>
                                                <td>
                                                    {{x.unitNameLate}}
                                                </td>
                                                <td>
                                                    {{x.positionNameLate}}

                                                </td>
                                                <td>
                                                    {{x.PayScaleCode}}

                                                </td>
                                                <td>
                                                    {{x.Ranges}}

                                                </td>
                                                <td>
                                                    {{x.Reason}}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
