@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@font-face{
    font-family: digital;
    src: url(../font/digital.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    font-size: 14px;
}
tr,
th {
    padding: 1rem;
    height: 23px;
    color: #00ADEF;
}

h3.title {
    margin: 0 0 0 10px;
    color: #fff;
    font-size: 16px;
}
.table1{
    position: absolute;
    left: 63%;
    top: 30%;
}

.wrapper {
    position: relative;
    background-image: url(../img/bg.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0.5rem 0 1rem;
}

.svg2{
    top: 24%;
    height: 170px;
}
.content-box {
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    border: solid 0.5px #01adef;
    box-shadow: 0 0 10px 0 #00b9d6;
    width: 300px;
    height: 85%;
    position: absolute;
    left: 64%;
    top: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box2{
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    border: solid 0.5px #01adef;
    box-shadow:0 0 10px 0 #00b9d6;
    width: 150px;
    height: 85%;
    position: absolute;
    left: 87%;
    top: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-3 {
    width: 150px;
    height: 95%;
    top: 21%;
    left: 60%;
}
.box-4 {
    left: 74%;
    top: 15%;
    width: 150px;
    height: 89%;
}
.content-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 0 2rem;
    justify-content: space-between;
}
.content-item h4, .content-item span{
    color: #00ADEF;
    font-weight: 400;
}
.table2 {
    border: 2px solid  #00ADEF;
}
.xuatan {
    position: absolute;
    top: -15px;
}
.svgtext{
    font-size: 20px;
    font-family: initial;
    font-weight: 900;
}
.iframe1{
    width: 61%;
    padding: 0.3rem;
    position: absolute;
    height: 195px;
    top: 14%;
    background-color: black;
}
.content2{
    height: 230px;
}
.iframe2{
    width: 52%;
    margin-top: 1rem;
    height: 190px;
    background-color: black;
}
.iframe4 {    
    width: 566px;
    position: absolute;
    left: -8%;
    top: 13%;
    height: 190px;
    background-color: black;
}
text{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clock{
    position: absolute;
    right: 22.5%;
    top: 5px;
    font-size: 35px;
    text-align: center;
    font-family: digital;
    letter-spacing: 5px;
    /* color: #17D4FE; */
    color: #00FF00;
    font-weight: bold;
}
.content2{
    margin-top: 10px;
}
.spani{
    display: flex;
}
.spani i{
    margin-right: 10px;
}
.content-item span{

    color:#00FF00;
    font-size: 18px;
}
.content-item  i {
    font-size: 18px;
    color:#fff;
}
.box2r{
    padding: 0 1rem;
}