<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .p0 {
        padding: 0px;
    }

    #contentMain {
        position: relative;
    }

    .search-box {
        position: absolute;
        z-index: 12;
        width: calc(100% - 60px);
        right: 70px;
        top: 70px;
    }

    /*tbody {
        min-height: 600px;
        height: 600px;
    }*/

    .search-box .bordered {
        border: 1px solid #80808057 !important;
        box-shadow: 1px 3px 8px 0px #888888c2;
    }

    table tfoot {
        position: sticky;
        background: white;
        z-index: 1;
    }

    table tfoot {
        inset-block-end: 0; /* "bottom" */
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    .tab .tab-content {
        border: 1px solid #d3d3d3;
        padding: 15px;
        float: left;
        width: 100%;
    }
    body:not(.modal-open) .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 1032 !important;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />
<div class="btn-group actions d-flex pull-right pt5 pb-1 mt-btn-index">
    <!--<div class="text-center pr-2" ng-show="!isSearch">
        <a class="btn btn-icon-only btn-circle btn-outline gold-custom" ng-click="showSearch()">
            <span><i class="fa fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>-->
    <div class="text-center mt30 pr30">
        <a class="" ng-click="showSearch()">
            <span><i class="fas fa-search fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center mt30 pr30">
        <a class="" ng-click="exportExcel()">
            <span><i class="fas fa-file-excel fs30" style="color: green"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_EXCEL' | translate}}</p>
    </div>
    <div class="text-center mt30 pr30">
        <a class="" ng-click="showSchedule()">
            <span><i class="fas fa-calendar text-purple fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CALENDAR' | translate}}</p>
    </div>
    <div class="text-center mt30 pr30">
        <a class="" ng-click="add()">
            <span><i class="fa-solid fa-plus text-#be4bdb fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
    <div class="text-center pr-2" style="margin-top: 17px;">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question " aria-hidden="true"></i></span>
        </a>
    </div>

    <!--<div class="text-center pr-2">
        <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="addCardJob()">
            <span><i class="fa fa-trello"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD_CAR' | translate}}</p>
    </div>-->
</div>
<div id="searchBox1" class="search-box" ng-show="isSearch">
    <div class="table-toolbar">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="col-md-12 pr-0" style="height:20px">
                    <i ng-click="showSearch()" class="fas fa-times fs25 pull-right text-danger" role="button" title="Ẩn tìm kiếm"></i>
                </div>

                <div class="row">
                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_LBL_SEARCH_STARTTIME' | translate}}</label>
                        <div class="input-group date br24">
                            <input type="text" autocomplete="off" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="{{'PROJECT_CURD_TXT_SEARCH_STARTTIME' | translate}}..." ng-model="model.FromDate" id="FromTo">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_LBL_SEARCH_ENDTIME' | translate}}</label>
                        <div class='input-group date br24'>
                            <input type='text' autocomplete="off" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="model.ToDate" placeholder="{{'PROJECT_CURD_TXT_SEARCH_ENDTIME' | translate}}..." id='DateTo' />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 pr-0" ng-if="model.SearchTab == 'PRODUCT'">
                        <label class="fw600 text-underline">{{'Thiết bị và vật tư' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select ng-model="model.ProductCode" on-select="selectProduct($item)" ng-change="changleSelect('ProductCode')" style="width: 100%" name="ProductCode">
                                <ui-select-match placeholder="{{'Thiết bị và vật tư' | translate}}">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listProducts | filter:$select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ProductCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2" ng-if="model.SearchTab == 'PRODUCT'">
                        <label class="fw600 text-underline">{{'Kiểu xuất nhập' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select ng-model="model.PortType" theme="bootstrap" ng-disabled="IsHide" on-select="changleSelect('PortType',$item)">
                                <ui-select-match placeholder="{{'Loại phiếu' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listPortType | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn" ng-hide="IsHide">
                                <button type="button" ng-click="model.PortType=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 pr-0" ng-if="model.SearchTab == 'PAYMENT'">
                        <label class="fw600 text-underline">{{'Dự án' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.ProjectCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'Dự án' | translate}}...">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listProject | filter: $select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-5 pr-0" ng-if="model.SearchTab == 'SERVICE'">
                        <label class="fw600 text-underline">{{'Dự án' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.ProjectCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'Dự án' | translate}}...">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listProject | filter: $select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0" ng-if="model.SearchTab == 'SERVICE'">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.StatusObject" theme="bootstrap">
                                <ui-select-match placeholder="{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}..."><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listStatusPro | filter: $select.search">
                                    <i class="{{x.Icon}}"></i>{{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="model.SearchTab == 'PRODUCT'">
                    <div class="col-md-6 pr-0">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_TAB_CUSTOMER_CURD_CUSCODE' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.CustomerCode" theme="bootstrap" on-select="changleSelect('CustomerCode')">
                                <ui-select-match placeholder="{{'PROJECT_CURD_TAB_CUSTOMER_CURD_COMBO_CUSCODE' | translate}}...">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listCustomers | filter: $select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.CustomerCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_LBL_MAIN_SUPPLIER' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="model.SupplierCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'PROJECT_CURD_LBL_MAIN_SUPPLIER' | translate}}...">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listSuppliers | filter: $select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.SupplierCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="model.SearchTab == 'PRODUCT'">
                    <div class="col-md-6 pr-0">
                        <label class="fw600 text-underline">{{'Dự án' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.ProjectCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'Dự án' | translate}}...">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listProject | filter: $select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.StatusObject" theme="bootstrap">
                                <ui-select-match placeholder="{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}..."><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listStatusPro | filter: $select.search">
                                    <i class="{{x.Icon}}"></i>{{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class="" ng-click="search()">
                                    <span><i class="fas fa-search pt15 fs35"></i></span>
                                </a>
                                <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" ng-if="model.SearchTab == 'PAYMENT'">
                    <div class="col-md-3 pr-0">
                        <label class="fw600 text-underline">{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}</label>
                        <div class="input-group br24-nobtn">
                            <ui-select tagging ng-model="model.StatusObject" theme="bootstrap">
                                <ui-select-match placeholder="{{'PROJECT_CURD_COMBO_PROJECT_STATUS' | translate}}..."><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listStatusPro | filter: $select.search">
                                    <i class="{{x.Icon}}"></i>{{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <label class="fw600 text-underline">{{'Danh mục tài chính' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select tagging ng-model="model.CatCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'Chọn danh mục' | translate}}...">
                                    {{$select.selected.Title}}
                                </ui-select-match>
                                <ui-select-choices ui-disable-choice="x.HasChild"
                                                   repeat="x.Code as x in treeData | filter: $select.search" style="z-index: 100">
                                    <div style="padding-left: {{15 * x.Level}}px">
                                        <i ng-show="x.HasChild" class="fa fa-folder-open icon-state-warning"></i>
                                        <i ng-show="!x.HasChild" class="fa fa-folder text-info"></i>
                                        {{x.Title}}
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.CatCode=''" class="btn btn-default no-shadow"
                                        style="">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="fw600 text-underline">{{'FAE_CURD_SEARCH_LBL_TYPE' | translate}}</label>
                        <div class='input-group search-group br24'>
                            <ui-select tagging ng-model="model.AetType" theme="bootstrap">
                                <ui-select-match placeholder="{{'FAE_CURD_SEARCH_TXT_TYPE' | translate}}">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listAetType | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AetType='';"
                                        class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="model.SearchTab == 'PAYMENT'">
                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'Tổng tiền từ' | translate}}</label>
                        <div class="">
                            <div class="">
                                <input ng-model="model.SurplusStart" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'PROJECT_CURD_LBL_BUGET_START' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                                <!--<span class="input-group-btn">
                                    <button type="button" ng-click="model.BudgetStart=''" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'Tổng tiền đến' | translate}}</label>
                        <div class="">
                            <input ng-model="model.SurplusEnd" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'PROJECT_CURD_LBL_BUGET_END' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.BudgetEnd=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class="" ng-click="search()">
                                    <span><i class="fas fa-search pt15 fs35"></i></span>
                                </a>
                                <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="model.SearchTab == 'SERVICE'">
                    <div class="col-md-6 pr-0">
                        <label class="fw600 text-underline">{{'Danh mục dịch vụ' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select ng-model="model.ServiceCode" on-select="selectService($item)" ng-change="changleSelect('ServiceCode')" style="width: 100%" name="ServiceCode">
                                <ui-select-match placeholder="{{'Dịch vụ' | translate}}">
                                    {{$select.selected.Name}}
                                    <span ng-if="$select.selected.Code"> - [{{$select.selected.Code}}]</span>
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listServices | filter:$select.search">
                                    {{x.Name}}<span ng-if="x.Code"> - [{{x.Code}}]</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ServiceCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'Tổng tiền từ' | translate}}</label>
                        <div class="">
                            <div class="">
                                <input ng-model="model.SurplusStart" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'PROJECT_CURD_LBL_BUGET_START' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                                <!--<span class="input-group-btn">
                    <button type="button" ng-click="model.BudgetStart=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'Tổng tiền đến' | translate}}</label>
                        <div class="">
                            <input ng-model="model.SurplusEnd" class="form-control br24 ng-pristine ng-untouched ng-valid ng-not-empty" type="text" placeholder="{{'PROJECT_CURD_LBL_BUGET_END' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                            <!--<span class="input-group-btn">
                <button type="button" ng-click="model.BudgetEnd=''" class="btn btn-default no-shadow">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>-->
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10">
                                <a class="" ng-click="search()">
                                    <span><i class="fas fa-search pt15 fs35"></i></span>
                                </a>
                                <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab" role="tabpanel">
    <ul class=" nav nav-tabs ui-tabs-scrollable scroll-nav" ng-class="{'show-drop-down': !hideDropDown}" role="tablist">
        <li role="presentation" class="active">
            <div href="#Project" aria-controls="home" role="button" data-toggle="tab" ng-click="switchTab('PRODUCT')">
                {{'Thiết bị và vật tư' | translate}}
            </div>
        </li>
        <li role="presentation" class="stepNext">
            <div href="#Project" aria-controls="home" role="button" data-toggle="tab" ng-click="switchTab('SERVICE')">
                {{'PROJECT_TAB_SERVICE' | translate}}
            </div>
        </li>
        <li href="#Project" role="presentation" class="stepNext">
            <div aria-controls="home" role="button" data-toggle="tab" ng-click="switchTab('PAYMENT')">
                {{'PROJECT_CURD_TAB_PAYMENT' | translate}}
            </div>
        </li>
    </ul>
    <div class="tab-content pt10">
        <div role="tabpanel" class="tab-pane fade in active" id="Project" ng-click="chkProject()">
            <div class="row">
                <div class="col-md-12">
                    <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label>
                    <span class="pull-right pl-2 pr-2 text-success">[{{'PROJECT_SRIP_PH_TOTAL_NUMBERS' | translate}} {{allContract}}]</span>
                    <span class="pull-right text-blue pl-2">[{{'PROJECT_SRIP_PH_COMPLETED' | translate}} {{assignSuccess}}]</span>
                    <span class="pull-right text-danger">[{{'PROJECT_SRIP_PH_PROCESSING' | translate}} {{assignNotSuccess}}]</span>
                </div>
            </div>
            <table class="table dataTable table-hover table-striped"
                   datatable
                   ng-show="IsTranslate"
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblData">
                <!--<tfoot>
                    <tr>
                        <th colspan="1" class=""></th>
                        <th colspan="2" class="pl10">
                            <span> {{'Số dư tài chính' | translate}} : </span>
                            <span ng-class="{'text-success': TotalPaymentSurplus >= 0, 'text-danger': TotalPaymentSurplus < 0}">{{TotalPaymentSurplus | number : fractionSize}} </span>
                        </th>
                        <th colspan="1" class="pl10">
                            {{'Số dư sản phẩm' | translate}} :
                            <span ng-class="{'text-success': TotalProductSurplus >= 0, 'text-danger': TotalProductSurplus < 0}">{{TotalProductSurplus | number : fractionSize}}</span>
                        </th>
                        <th colspan="1" class=""></th>
                        <th colspan="2" class=""></th>
                        <th colspan="1" class="pl10">
                            {{'Số dư dịch vụ' | translate}} :
                            <span ng-class="{'text-success': TotalServiceSurplus >= 0, 'text-danger': TotalServiceSurplus < 0}">{{TotalServiceSurplus | number : fractionSize}}</span>
                        </th>
                        <th colspan="1" class=""></th>
                        <th colspan="3" class="">
                        </th>
                        <th colspan="2" class="pl10">
                            {{'Tổng dư' | translate}} :
                            <span ng-class="{'text-success': TotalAllSurplus >= 0, 'text-danger': TotalAllSurplus < 0}">{{TotalAllSurplus | number : fractionSize}}</span>
                        </th>
                    </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        let isDown = false;
        let startX;
        let scrollLeft;

        $('.table-scrollable').mousedown(function (e) {
            isDown = true;
            startX = e.pageX - $('.table-scrollable').offset().left;
            scrollLeft = $('.table-scrollable').scrollLeft();
        });
        $('.table-scrollable').mouseleave(function () {
            isDown = false;
        });
        $('.table-scrollable').mouseup(function () {
            isDown = false;
        });
        $('.table-scrollable').mousemove(function (e) {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - $('.table-scrollable').offset().left;
            const walk = (x - startX) * 1; //scroll-fast
            $('.table-scrollable').scrollLeft(scrollLeft - walk);
            console.log(walk);
        });
    }, 1000);

</script>
