<style>
    .modal-header{
        background-color: white;
    }
    .modal-title{
        color: black;
    }
    .fa.fa-line-chart{
        color: black;
    }
</style>
<div class="modal-header">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-line-chart  "></i>
    <span class="modal-title custom-title " id="modal-title"> {{'CJ_LBL_TRACKING_PROGRESS' | translate}}</span>
</div>
<div class="row">
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pr30" style="margin-top: 12px;">
            <a data-dismiss="modal" ng-click="excelExport()" style="color: green">
                <i class="fas fa-file-excel fs30"></i>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_EXCEL' | translate}}</p>
        </div>
        <div class="text-center pr30" style="margin-top: 12px;">
            <a data-dismiss="modal" ng-click="pdfExport()" style="color: red">
                <i class="fas fa-file-pdf fs30"></i>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_PDF' | translate}}</p>
        </div>
    </div>
    <div class="col-md-12">
        <div id="contractGantt" dhx-gantt style='height: 600px;'>
        </div>
    </div>
</div>
