@using ESEIM.Utils
@{
    ViewData["Title"] = ViewData["UserJoinParty"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<!-- Thêm đoạn mã này vào phần head của trang HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/views/admin/UserJoinParty/controller.js" type="text/javascript"></script>
