<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>
<div class="table-toolbar">
    <div class="btn-group pull-right actions" style="margin-top: -50px;">
        <div class="text-center pr10">
            <a ng-click="cancel()" class="btn btn-icon-only btn-outline btn-boder1">
                <span><i class="fa fa-arrow-left"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_BACK' | translate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="pt20" id="index-calendar">
            <div class="col-md-12 tab pb40" role="tabpanel">
                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div href="#Section1" aria-controls="home" role="button" data-toggle="tab">1. {{'CM_CURD_TAB_CM_CANDIDATE_INFORMATION' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Section2" aria-controls="profile" role="button" data-toggle="tab">
                                2. {{'CM_CURD_TAB_CM_CANDIDATE_INFORMATION_ADDITIONAL' | translate}}
                            </div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#Section3" aria-controls="messages" role="button" data-toggle="tab">3. {{'CM_CURD_TAB_CM_REGISTER_TO_WORK' | translate}}</div>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                            <div ng-include="'../views/admin/candidatesManagement/candidate-basic.html'"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <div ng-include="'../views/admin/candidatesManagement/advanced-info.html'"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <div ng-include="'../views/admin/candidatesManagement/duration.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

