
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header white-custom height-50 ">
    <i class="fa fa-plus-circle icon-insert " style="line-height: 30px"></i>
    <span class="modal-title pt15" id="modal-title"> {{'GKW_TITLE_EDIT' | translate}}</span>
</div>
<div class=" pt-0 pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt0 pb-0">
                <div class="form-group">
                    <textarea type="text" class="form-control" rows="6" ng-model="model.Keyword" name="Keyword" autofocus placeholder="{{'GKW_CURD_TXT_KEYWORK' | translate}}..." />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="padding-right: 15px;">
    <div class="pull-right actions d-flex">
        <div class="fs30 pr20" ng-click="cancel()" style="margin-right: 10px; margin-top: 18px;">
            <a>
                <span><i class="fas fa-times pull-right h28 w28"style="--fa-primary-color: red; margin-right: 6%; text-align: center;"></i></span>
            </a>
            <p class="text-underline mb-0 fs9 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="fs30" ng-click="submit()">
            <a style="background-color: white !important;border-radius: 0 !important; border: 0px solid #4b9bd2 !important">
                <span><i class="fa-solid fa-plus"></i></span>
            </a>
            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>

