<style>
    .tabs-left, .tabs-right {
        border-bottom: none;
        padding-top: 2px;
    }

    [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        transform: translate(0);
    }

    [data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
        transition-duration: .8s;
    }

    [data-aos^=fade][data-aos^=fade] {
        opacity: 0;
        transition-property: opacity,transform;
    }

    .mb-5, .my-5 {
        margin-bottom: 3rem !important;
    }

    .tabs-left {
        border-right: 1px solid #ddd;
    }

    .tabs-right {
        border-left: 1px solid #ddd;
    }

        .tabs-left > li, .tabs-right > li {
            float: none;
            margin-bottom: 2px;
        }

    .tabs-left > li {
        margin-right: -1px;
    }

    .tabs-right > li {
        margin-left: -1px;
    }

    .tabs-left > li.active > a,
    .tabs-left > li.active > a:hover,
    .tabs-left > li.active > a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;
    }

    .tabs-right > li.active > a,
    .tabs-right > li.active > a:hover,
    .tabs-right > li.active > a:focus {
        border-bottom: 1px solid #ddd;
        border-left-color: transparent;
    }

    .tabs-left > li > a {
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        display: block;
    }

    .tabs-right > li > a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
    }

    .left_-85 {
        left: -33px;
        margin-top: -85px;
        position: absolute !important;
    }

    .left_0 {
        left: 0%;
    }

    .left_30 {
    }

    .margin_bottom_10 {
        margin-bottom: -10px;
    }

    .font_size_350 {
        font-size: 350%;
        color: #ffffff;
        margin-top: 10px;
    }

    .font_size_250 {
        font-size: 250%;
        color: #ffffff;
        margin-top: 10px;
    }

    .app-menu-sub {
        margin-left: 30px;
    }

    .title {
        color: #fff;
        /*font-weight: bold;*/
    }

    .tab-menu-li-active {
        /*transform: rotate(90deg);*/
        transform-origin: left top;
        /*margin-left: 28px;*/
        width: 100px;
    }

    .tab-menu-li-no-active {
        /*transform: rotate(90deg);*/
        transform-origin: left top;
        /*margin-left: 29px;*/
        width: 130px;
        /*margin-top: 125px;*/
    }

    .tab-menu-li {
        /*transform: rotate(90deg);*/
        transform-origin: left top;
        /*margin-left: 29px !important;*/
        width: 150px;
        /*margin-top: 10px;*/
    }

    .tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
        font-weight: 900 !important;
        padding-bottom: 5px !important;
        padding-top: 5px !important;
    }

    .tab-menu-li-bottom {
        /*transform: rotate(90deg);*/
        transform-origin: left top;
        /*margin-left: 29px !important;*/
        width: 100px;
        /*margin-top: 78px;*/
    }

    .padding-notification {
        padding-left: 10px;
        padding-right: 10px;
    }

    .box-shadow-bottom {
        box-shadow: 0 4px 2px -2px #c1c1c1b8;
    }

    .page-sidebar .page-sidebar-menu > li > a {
        border: none !important;
        /*border-top: 2px solid #0030929e !important;*/
    }

    .ozoho-apps-category ul li {
        position: relative;
        display: inline-block;
        padding: 10px 3px 10px;
        width: 49%;
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 1px solid #f5f5f5;
        /* border-right: 1px solid #f5f5f5; */
        vertical-align: bottom;
        transition: 0.5s ease;
    }

    .icon-category {
        width: 35px;
        height: 35px;
    }

    .border-right {
        border-right: 1px solid #dee2e6 !important;
    }

    .ozoho-apps-category > h4 {
        text-align: center;
        margin-bottom: 5px;
        min-height: auto;
        text-decoration: underline;
    }

    .ozoho-apps-category ul li:hover {
        border-bottom: 1px solid #5ab46c;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
    }

    .font-secondary, h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
        font-family: "Oswald", arial, sans-serif;
    }

    .h4, h4 {
        font-size: 15px;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    .title1 {
        color: #00ADEF;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .spani {
        display: flex;
        /*border-bottom: 0.3px solid #01adef;*/
        justify-content: space-between;
        font-size: 15px;
        padding:13px
    }

    .spani1 {
        width: 100%;
        display: flex;
        padding: 6px 10px;
        justify-content: space-between;
    }

        .spani1 i {
            color: #0000FF;
            margin-right: 15px;
            padding-top: 5px;
        }

        .spani1 span {
            font-size: 16px;
        }

    .spani3 {
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

    .spani2 {
        width: 50%;
        display: flex;
        padding: 6px 10px;
        /*justify-content:space-between;*/
    }

        .spani2 i {
            color: #0000FF;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 15px;
        }

        .spani2 span,
        .spani3 span {
            font-size: 16px;

        }

    .dashboard-stat2 {
        box-shadow: 0px 0px 10px 0px grey;
        border: solid 0.01px grey;
        height: 375px;
        background: transparent url(https://d4.violet.vn/uploads/blogs/735961/layout/forum_10.gif) repeat center top;
    }

    .report {
        color: #00ADEF;
        display: flex;
        cursor: pointer;
    }

        .report:hover {
            color: red;
        }

    .border-box-dashboard {
        height: 375px !important;
        width: 50% !important;
        margin: 0 0.5% 0 1.5%;
    }

    .color-text-cms {
        color: #000;
    }

    .text-header-box {
    }

    .text-header-box-act-employee {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    .text-content-box-act-emp {
        color: #000;
        margin-right: 5px;
        font-size: 13px;
    }

    label {
        font-weight: 600;
        font-size: 13px;
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    rect.Object_Label {
        fill: #fff;
    }

    rect.draw2d_ResizeHandle {
        display: none;
    }

    .nameMenu {
        font-family: " Oswald", arial, sans-serif;
        text-decoration: underline;
        text-align: center;
        /*margin: 20px;*/
        font-size: 16px;
        color: #000;
        font-weight: 600;
        line-height: 1.2;
        margin-top: -30px;
    }

    body {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .row {
        margin-left: 0;
        margin-right: 0
    }

    .app-content {
        width: 100%
    }

    .report span {
        font-size: 15px;
        font-weight: 100;
        color:#000
    }

    .report i {
        margin-top: 4px;
    }

    .title1 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        font-weight: 600
    }

    .gach {
        border-bottom: 1px solid grey;
    }

    .title2 {
        color: #000;
        font-size: 20px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        margin-left: -25px;
        font-weight:600
    }

    .scroll_content_custom {
        top: 0
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    .app-content {
        width: 100%;
    }

    .content-wrapper {
        margin-top: 80px;
    }
</style>

<div class="row border-responsive ohzoho-soft" id="contentMain">
    <div class="row">
        <div class="col-md-12 col-lg-12 box-item mb-5 border-right aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <h4 class="nameMenu">{{'SSH_LBL_SYSTEM_INSTALLATION' | translate}}</h4>
            <div class="ozoho-apps-category text-center">
                <ul>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/IconManager';"><img src="/images/iconDashBoard/list_96c93c87.png" class="icon-category"><a href="/Admin/IconManager" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_MANAGEMENT_ICONS' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/CommonSetting';"><img src="/images/iconDashBoard/admin_person_user_man_2839_97f261c0.png" class="icon-category"><a href="/Admin/CommonSetting" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_SETTING_PROPERTIES' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/GalaxyKeyword';"><img src="/images/iconDashBoard/licensing_550404e9.png" class="icon-category"><a href="/Admin/GalaxyKeyword" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_KEYWORD_MANAGEMENT' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/JcObjectType';"><img src="/images/iconDashBoard/survey_e0662c06.png" class="icon-category"><a href="/Admin/JcObjectType" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_OBJECT_TYPE' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/CatActivity';"><img src="/images/iconDashBoard/maintenance_234f2014.png" class="icon-category"><a href="/Admin/CatActivity" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_ACTIVITY_CATELOGY' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px" onclick="window.location='/Admin/SettingStatusObject';"><img src="/images/iconDashBoard/083-process-1.png" class="icon-category"><a href="/Admin/SettingStatusObject" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">{{'SSH_LBL_SETTING_STATUS_OBJECT' | translate}}</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px">
                        <img src="/images/iconDashBoard/083-process-1.png" class="icon-category">
                        <a href="/Admin/TokenManager" data-toggle="modal">
                            <span>&nbsp;</span>
                            <label class="color-hyperlink" style="cursor:pointer">{{'SSH_LBL_TOKEN_MANAGER' | translate}}</label>
                        </a>
                    </li>
                    <li class="pull-left pl-3" style="margin-bottom:8px">
                        <img src="/images/iconDashBoard/086-process-2.png" class="icon-category">
                        <a href="/Admin/LucenceManager" data-toggle="modal">
                            <span>&nbsp;</span>
                            <label class="color-hyperlink" style="cursor:pointer">{{'Quản lý Lucence' | translate}}</label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>