<link href="../../css/message-box/style.css" rel="stylesheet" />
<div class="message-header" style="background-color: white;">
    <!--<img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <div class="message-title" id="message-title" style="color: black"><i class="fa fa-save"></i>  {{'COM_LBL_SAVE_UPDATE' | translate}}</div>
</div>
<div class="message-body">
    <div class="col-md-9">
        <span class="fs14">{{message}}</span>
    </div>
</div>
<div class="message-footer d-flex pt-0" id="message-confirm">
    <div class="pr10" style="display: inline-block; margin-right: 10px;">
        <a class="fs30" ng-click="ok()">
            <i class="fas fa-check"></i>
        </a>
        <p> {{'COM_BTN_CONFIRM' | translate}}</p>
    </div>
    <div>
        <a class="fs30" ng-click="cancel()">
            <i class="fas fa-times"></i>
        </a>
        <p>{{'COM_CONFIRM_CANCEL' | translate}}</p>
    </div>
</div>
