<link href="../../css/message-box/style.css" rel="stylesheet" />
<div class="message-header" style="background-color: white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <div class="message-title" id="message-title" style="color: black"><img src="../../images/message/question_card.png" style="height:20px;" />  {{'COM_LBL_PLS_CONFIRM' | translate}}</div>
</div>
<div class="message-body">
    <div class="col-md-9">
        <span class="fs14">{{message}}</span>
    </div>
</div>
<div class="message-footer pt-0">
    <div class="pr10">
        <a ng-click="ok()" class="fs30" >
            <span><i class="fas fa-check"></i></span>
        </a>
        <p class="text-underline fs12 mb5 pt3">{{'COM_BTN_CONFIRM' | translate}}</p>
    </div>
</div>
