<link href="../../css/message-box/style.css" rel="stylesheet" />
<div class="message-header" style="background-color: white">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <div class="message-title" id="message-title" style="color: black">{{'COM_BTN_CONFIRM' | translate}}</div>
</div>
<div class="message-body" style="height: 80px;">
    <!--<div class="portlet-body form">-->
    <!-- <div class="form-body">-->
    <!--<div class="col-md-2">
        <img src="../../images/message/success.png" class="h-40" />
    </div>-->
    <div class="col-md-9">
        <span>{{message}}</span>
    </div>
    <!--</div>-->
    <!--</div>-->
    <div class="btn-group pull-right actions d-flex">
        <div class="text-center mt10">
            <a ng-click="ok()">
                <span><i class="fa fa-check fs30"></i></span>
            </a>
            <p class="text-underline fs9 mb8 pt5">{{'COM_BTN_CONFIRM' | translate}}</p>
        </div>
    </div>
</div>



