<style>
    .table-toolbar-vicem {
        padding: 5px;
        background-color: #fff;
        border-radius: 4px !important;
        /* border: 1px solid #c1bfbf; */
        margin-top: 7%;
        height: 100%;
        width: 640px;
    }
</style>
<div class="tab-pane active " ng-controller="monitor2" id="urencoVehicle">
    <div class="table-toolbar-vicem">
        <div class="col-md-12" style="display:inline;padding: 0px;">
            <div class="col-md-3 " style="padding-top:8px;padding-left: 0px;padding-right: 0px;">
                <div class="input-group">
                    <div class="form-group">
                        <input placeholder="Mã đầu kéo" style="width:95%;height:37px;top:1px;left:0px;padding-right:1px"
                            list="go_to_field_id12" type="text" class="form-control" name="browser" id="idlistpark12">
                        <datalist id="go_to_field_id12"></datalist>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top:8px;padding-left: 0px;padding-right: 9px;">
                <div class="bs-component">
                    <div class="input-group date pick-date" id="datetimepicker31">
                        <input class="form-control" data-val="true" name="NextTimeCheck"
                            placeholder="Thời gian xuất phát từ" type="text" style="height: 37px;" id="date31">
                        <span class="input-group-addon cursor">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-4" style="padding-top:8px;padding-left: 0px;padding-right: 8px;">
                <div class="bs-component">
                    <div class="input-group date pick-date" id="datetimepicker32">
                        <input class="form-control" data-val="true" name="NextTimeCheck" placeholder="Đến" type="text"
                            style="height: 37px;" id="date32">
                        <span class="input-group-addon cursor">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" style="padding-left:0px">
                <button class="btn btn-circle btn-icon-only  btn-info" onclick="searchTractor(this)"
                    style="background: #286091;height: 37px; width: 40px; padding: 3px; margin-bottom: 0px;margin-top:8px;"><i
                        class="fa fa-search"></i></button>
            </div>

        </div>
        <br />
        <div id="TractorList" style=" margin-top: 15px;">
            <div class="col-md-12" style=" margin-top: 15px;margin-bottom: 10px;" id="btnpp">
                <h4 style="text-align:center;font-weight:bold; margin-top:0px">DANH SÁCH CHUYẾN ĐI</h4>
            </div>
            <div class="row">

                <table class="table table-hover" style="height: 475px; table-layout: fixed;">
                    <thead>
                        <tr class="" style="display: block;">
                            <th style="font-weight:bold;width:95px">Mã chuyến</th>
                            <th style="text-align: center;font-weight:bold;width:100px">Mã đơn hàng</th>
                            <th style="text-align: center;font-weight:bold;width:100px">Số xe</th>
                            <th style="text-align: center;font-weight:bold;width:100px">Trạng thái</th>
                            <th style="text-align: center;font-weight:bold;width:100px">Cửa hàng</th>
                        </tr>
                    </thead>
                    <tbody id="contenttractor" style="height:400px;display:block;overflow-x:scroll;overflow-y:scroll">
                    </tbody>
                </table>

            </div>
        </div>
        <!-- <div class="col-md-12 padding-top-offset-5" style="margin-top: 10px;" id="RemoocInfo" hidden>
            <h4 style="text-align:center;  font-weight:bold;margin-top:0">THÔNG TIN ĐẦU KÉO</h4>
        </div>
        <div id="tractorInfo" hidden style=" margin-top: 20px;">
    
        </div>
        <div id="TractorHistory" hidden>
            <div class="col-md-12 padding-top-offset-5" style="margin-bottom: 10px;">
                <h4 style="    font-weight: bold;text-align:center;margin-top:0">HIỂN THỊ LỊCH SỬ</h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="" style="display:block">
                        <th style="font-weight:bold;width:95px">Mã chuyến</th>
                        <th style="width:100px">Số mooc</th>
                        <th style="width:230px">Thời gian đi</th>
                        <th style="width:230px">Thời gian đến</th>
                        <th style="width:150px">Tài xế</th>
                    </tr>
                </thead>
                <tbody id=" " style="display:block;height:270px;overflow-x:scroll;overflow-y:scroll"></tbody>
            </table>
        </div> -->
    </div>
</div>