@using ESEIM.Utils;
@using III.Admin.Controllers;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    SessionUserLogin userSession = null;
    try
    {
        userSession = HttpContextAccessor.HttpContext.Session.Get<SessionUserLogin>("UserSession");
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex.Message);
    }
}
        
<div class="header-nav" id="myHeader" style="margin-left: 0rem">
    <div class="container flex-row">
        <div class="ms-2 item-menu" style="font-size:27px" id="Home">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home icon"></i>
            </a>
        </div>
        <div class="ms-2 item-menu" id="Help">
            <a class="nav-link" href="#">
                <span>PHẢN ÁNH KIẾN NGHỊ</span>
            </a>
        </div>

        <div class="ms-2 item-menu" id="Help">
            <a class="nav-link" href="#">
                <span>THỦ TỤC HÀNH CHÍNH</span>
            </a>
        </div>

        <div class="ms-2 item-menu" id="Help">
            <a class="nav-link" href="#">
                <span>HỖ TRỢ</span>
            </a>
        </div>
        

        @if (!User.Identity.IsAuthenticated || userSession == null)
        {
            //nút đăng nhập đăng ký
            <div class="ms-2 item-menu" style="color: white">
                <a class="nav-link" href="#">
                    <span>TÀI KHOẢN</span>
                </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Login">Đăng nhập</a></li>
                        <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Register">Đăng ký</a></li>
                    </ul>
            </div>
        }else{

            <div class="ms-2 item-menu" style="color: white">
                <a class="nav-link" href="#">
                        <span>@userSession.FullName</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item fs-4" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            Đăng xuất
                        </a>
                        <form id="logout-form" asp-controller="UserProfile" asp-action="Logout" method="post" style="display: none;">
                            @Html.AntiForgeryToken()
                        </form>
                    </li>
                    <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Admin">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Index">Lý lịch đảng viên</a></li>
                </ul>
            </div>
        }
    </div>
    
</div>
<div class="nav-toggle">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
        </a>
</div>

<style>
    .item-menu {
        position: relative;
        display: inline-block;
    }

    /* Style for the dropdown links */
    .nav-link {
        padding: 10px;
        text-decoration: none;
        color: black;
        display: block;
    }
    /* Style for the dropdown menu */
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #dadce0;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    /* Style for the dropdown items */
    .dropdown-item {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
    }

    /* Show the dropdown menu on hover */
    .item-menu:hover .dropdown-menu {
        display: block;
    }
</style>
<script>
function myFunction() {
  var x = document.getElementById("myHeader");
  if (x.className === "header-nav") {
    x.className += " show";

  } else {
    x.className = "header-nav";
  }
}
</script>
