<div class="header" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);justify-content:space-between;display:flex;">
    <div class="relative content" style="padding-left:30px;width:600px">
        <div class="logo-text">
            <a asp-area="" asp-controller="Home" asp-action="index" class="logo">
                <img width='90' src="~/images/logo/logo1.png" alt="" />
            </a>
            <span><h1 style="display:inline-block; font-size:30px;font-weight:600;color:#903938">HỒ SƠ ĐĂNG KÝ VÀO ĐẢNG</h1></span>
        </div>
    </div>
    <div class="" style="padding-right: 30px;text-align: center;">
        <a><img src="~/images/default/no_user.png" style="widtd:70px;height:70px;border-radius:50%"/></a>
        <div>Tên người dùng</div>
    </div>
</div>