<style>

</style>
<footer class="footer fixed-bottom">
<div class="div-brand">

 <a href="tel:0935743575" class="nut-goi nut-action">

 <div><span class="tooltext">Gọi ngay</span></div>

 </a>

 <a href="http://zalo.me/0935743575" target="_blank" class="nut-zalo nut-action">

 <div><span class="tooltext">Chat với chúng tôi qua Zalo</span></div>

 </a>

 <a href="https://m.me/elamwebnhatrang/" target="_blank" class="nut-face nut-action">

 <div><span class="tooltext">Facebook Messenger</span></div>

 </a>

</div>
    <div class="footer-bottom">
        <div>
            <div class="add">
                <p>Địa chỉ: Số 4 Vũ Trọng Khánh, Mỗ Lao, Hà Đông<p>
            </div>
            <div class="add">
                <p> Website: <a href="https://hiza.hanoi.gov.vn/">www.hiza.hanoi.gov.vn</a> </p>
            </div>
            <div class="add">
                <a href="tel:+84433560426">Tổng đ&agrave;i hỗ trợ: +84 4 3356 0426</a>
            </div>
            <div class="add">
                <a href="mailto:vanthu_bqlkcncx@hanoi.gov.vn"> Email: vanthu_bqlkcncx@hanoi.gov.vn</a>
            </div>
        </div>
    </div>
</footer>