<footer class="footer fixed-bottom">
    <div class="footer-bottom">
        <div>
            <div class="add">
                <p>Địa chỉ: Số 4 Vũ Trọng Khánh, Mỗ Lao, Hà Đông<p>
            </div>
            <div class="add">
                <p> Website: <a href="https://hiza.hanoi.gov.vn/">www.hiza.hanoi.gov.vn</a> </p>
            </div>
            <div class="add">
                <p>Tổng đ&agrave;i hỗ trợ: +84 4 3356 0426</p>
            </div>
            <div class="add">
                <p> Email: vanthu_bqlkcncx@hanoi.gov.vn</p>
            </div>
        </div>
    </div>
</footer>