@using ESEIM.Utils;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="header" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);justify-content:space-between;display:flex;">
    <div class="relative content" style="padding-left:30px">
        <div class="logo-text" style="display : flex">
            <a asp-area="" asp-controller="Home" asp-action="index" class="logo">
                <img width='80' src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Communist_Party_of_Vietnam_flag_logo.svg/360px-Communist_Party_of_Vietnam_flag_logo.svg.png" alt="" />
            </a>
            <h1 class="ms-3" style="font-size:30px;font-weight:600;color:#903938; width:500px">ĐẢNG ỦY CÁC KHU CÔNG NGHIỆP VÀ CHẾ XUẤT HÀ NỘI</h1>
        </div>        
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        var userSession = HttpContextAccessor.HttpContext.Session.Get<SessionUserLogin>("UserSession");

        <div class="" style="padding-right: 30px;text-align: center;">
            <a><img src="@userSession.Picture" style="widtd:70px;height:70px;border-radius:50%" /></a>
            <div>@userSession.FullName</div>
        </div>
    }
    else{
        //nút đăng nhập đăng ký
        <div class="" style="padding-right: 30px;text-align: center;">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color:black">
                    Tài khoản
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Login">Đăng nhập</a></li>
                    <li><a class="dropdown-item fs-4" asp-controller="UserProfile" asp-action="Register">Đăng ký</a></li>
                </ul>
            </div>
        </div>
    }
   
</div>