<div class="tab-bar col-2 " style="height:100vh;background-color:#FFF;box-shadow: 1px 3px 8px 0px #888888c2;padding-left:0;padding-right:0;">
    <div class="" style="padding-top:10px">
        <ul class="page-sidebar-menu" style="padding-left: 0rem">
            <li class="nav-item" style="" id="Home">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home icon"></i>
                    <span>TRANG CHỦ</span>
                </a>
            </li>
            <li class="nav-item" id="Help">
                <a class="nav-link" href="#">
                    <i class="fa fa-question-circle icon"></i>
                    <span>HỖ TRỢ</span>
                </a>
            </li>
            
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item" style="" id="User">
                    <a class="nav-link" asp-controller="UserProfile" asp-action="UserInfo">
                        <i class="fa fa-user icon"></i>
                        <span>THÔNG TIN CÁ NHÂN</span>
                    </a>
                </li>

                <li class="nav-item" id="Resume">
                    <a class="nav-link" asp-controller="UserProfile" asp-action="Index">
                        <i class="fa fa-info-circle icon"></i>
                        <span>LÝ LỊCH ĐẢNG VIÊN</span>
                    </a>
                </li>
                <li class="nav-item" id="Resume">
                    <a class="nav-link" asp-controller="UserProfile" asp-action="Admin">
                        <i class="fa fa-info-circle icon"></i>
                        <span>DANH SÁCH ĐẢNG VIÊN</span>
                    </a>
                </li>

                <li class="nav-item" id="iconut">
                    <a class="nav-link"  asp-controller="UserProfile" asp-action="Logout">
                        <i class="fa fa-sign-out icon"></i>
                        <span>THOÁT</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<style>
    .nav-item {
        margin: 1rem;
    }

    .nav-item {
        display: block;
        margin: 0;
        padding: 15px;
        border: 0px;
        font-size: 18px
    }

        .nav-item:hover {
            font-size:20px;
            transition: font-size 0.3s;
            color: #903938;
        }

    .active {
        background-color: #CE7A58;
        color: #fff;
    }

    .nav-link {
        padding-left: 10px;
        font-weight:600;
    }
   .icon{   
       padding-right:7px;
   }

    .left-menu{
        
    }
</style>
