<footer class="footer">
    <div class="footer-bottom"> 
    <div> 
     <div class="add"> 
      <p>Cơ quan chủ quản: Văn ph&ograve;ng Ch&iacute;nh phủ</p> 
     </div> 
     <div class="add"> 
      <p>www.dichvucong.gov.vn</p> 
     </div> 
     <div class="add"> 
      <p>Tổng đ&agrave;i hỗ trợ: 18001096</p> 
     </div> 
     <div class="add"> 
      <p> Email: dichvucong@chinhphu.vn</p> 
     </div> 
    </div> 
   </div> 
  </footer>