@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using ESEIM.Utils;

<div class="header" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);justify-content:end;display:flex">
    <div class="relative content" style="padding-right:10px">
        <div class="nav-toggle">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<style>
    relative:{
        background-color:red;
    }
</style>
