<footer class="footer">
    <div class="footer-bottom"> 
    <div> 
     <div class="add">
                <p>Ban Quản lý các khu công nghiệp và chế xuất Hà Nội (HIZA)</p>
            </div> 
     <div class="add">
                <a href="http://hiza.gov.vn">www.hiza.gov.vn</a>
            </div> 
     <div class="add"> 
      <p>Tổng đ&agrave;i hỗ trợ: +84 4 3356 0426</p> 
     </div> 
     <div class="add"> 
      <p> Email: vanthu_bqlkcncx@hanoi.gov.vn</p> 
     </div> 
    </div> 
   </div> 
  </footer>