


<div class="header" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);justify-content:space-between;display:flex">
    <div class="relative content" style="padding-left:30px">
        @* <div class="logo-text" style="display : flex">
            <div class="flag">
                <ul>
                    <i class="star"></i>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <h1 class="ms-3" style="font-size:30px;font-weight:600;color:#903938; width:500px">ĐẢNG ỦY CÁC KHU CÔNG NGHIỆP VÀ CHẾ XUẤT HÀ NỘI</h1> *@
        </div>        
    </div>
    
   
</div>