<div class="tab-bar col-2 " style="height:100vh;background-color:#f5f5f5;box-shadow: 1px 3px 8px 0px #888888c2;padding-left:0;padding-right:0;">
    <div class="" style="padding-top:10px">
        <ul class="page-sidebar-menu" style="padding-left: 0rem">
            <li class="nav-item" style="" id="Home">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home icon"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="nav-item" style="" id="User">
                <a class="nav-link" href="#">
                    <i class="fa fa-user icon"></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>
            <li class="nav-item active" id="Resume">
                <a class="nav-link" href="#">
                    <i class="fa fa-info-circle icon"></i>
                    <span>Lý lịch đảng viên</span>
                </a>
            </li>
            <li class="nav-item" id="Help">
                <a class="nav-link" href="#">
                    <i class="fa fa-question-circle icon"></i>
                    <span>Hỗ trợ</span>
                </a>
            </li>
            <li class="nav-item" id="iconut">
                <a class="nav-link" href="#">
                    <i class="fa fa-sign-out icon"></i>
                    <span>Thoát</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<style>
    .nav-item {
        margin: 1rem;
    }

    .nav-item {
        display: block;
        margin: 0;
        padding: 15px;
        border: 0px;
    }

        .nav-item:hover {
            background-color: #CE7A58;
            color: #fff;
        }

    .active {
        background-color: #CE7A58;
        color: #fff;
    }

    .nav-link {
        padding-left: 10px;
    }
   .icon{   
       padding-right:7px;
   }

    .left-menu{
        
    }
</style>
