

<style>
    .heightw {
        height: 30px;
    }
</style>
<div>
    <div class="modal-header header d-flex pt10" style="background:white;font-size: 15px; height:35px">
        
        <span class="bold black " id="modal-title" style="padding:0px"><img class="w20" src="/images/icons/botinformation.png" alt="" /> {{'Cấu hình Mail' | translate}}</span>
    </div>
    <!--<div class="modal-header header d-flex pt10" style="background:white;font-size: 15px; height:35px">
        <span style="padding:0px" class="modal-title" id="modal-title"><img class="w20" src="/images/icons/botinformation.png" alt="" />&nbsp;&nbsp;{{'REPORT_SUMMARY_ALL_INF' | translate}}</span>--><!--URL_LIST_TXT_DOMAIN_CONFIGURATION-->
    <!--</div>-->
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <div class="modal-body" id="modal-body">
        <div class="form-body pt-0 pb-0">
            <div class="row mt-action-5">
                <form name="addforms" class="form-horizontal" method="post" ng-validate="validationOptions">
                    <div class="col-md-12 pt-0 pl-0 pr-0">
                        <div class="table-toolbar table_body">
                            <div class="col-md-12 p-0">

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="col-md-12">
                                            <i class="fa fa-barcode" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'Email'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" name="AttrCode" class="form-control heightw br24" ng-model="model.Email" placeholder="{{'Email'|translate}}..." ng-disabled="isUpdate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-0 pr-0">
                                    <div class=" ">
                                        <div class="col-md-12">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'Password'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control heightw br24" ng-model="model.Password" name="AttrName" placeholder="{{'password'|translate}}..." />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 p-0">
                                <div class="col-md-9">
                                    <div class=" ">
                                        <div class="col-md-12">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'STMP SERVER'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control heightw br24" ng-model="model.SMTPServer" name="AttrName" placeholder="{{'STMP SERVER'|translate}}..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-0 pr-0">
                                    <div class=" ">
                                        <div class="col-md-12">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'STMP PORT'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control heightw br24" ng-model="model.SMTPPort" name="AttrName" placeholder="{{'STMP PORT'|translate}}..." />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 p-0">
                                <div class="col-md-9">
                                    <div class="">
                                        <div class="col-md-12">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'POP3 Server'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control heightw br24" ng-model="model.POP3Server" name="AttrName" placeholder="{{'POP3 Server'|translate}}..." />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 p-0">
                                    <div class=" ">
                                        <div class="col-md-12">
                                            <i class="fa fa-th-list" aria-hidden="true"></i>
                                            <label class="control-label require bold">{{'POP3 Port'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control heightw br24" ng-model="model.POP3Port" name="AttrName" placeholder="{{'POP3 Port'|translate}}..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 nowrap mt25 text-center">
                                    <div class="pull-right" ng-show="!isUpdate">
                                        <a class1="btn btn-icon-only btn-outline btn-de btn-boder1" ng-click="submit()">
                                            <span><i class="fa-solid fa-plus fs30"></i></span>
                                        </a>
                                        <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>-->
                                    </div>

                                    <div class="pull-right" ng-show="isUpdate">
                                        <a class1="btn btn-icon-only btn-outline btn-de btn-boder1" ng-click="submit()">
                                            <span><i class="fa-solid fa-plus fs30"></i></span>
                                        </a>
                                        <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 mt10">
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblDataSubject"></table>
            </div>
            <!--<table class="table dataTable table-hover table-striped" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" id="tblData"></table>-->
        </div>
    </div>
</div>
