@media (min-width:992px) and (max-width:1200px) {
    .modal-60 {
        width: 90%;
    }
}

@media (min-width:1200px) and (max-width:1300px) {
    .modal-60 {
        width: 75%;
    }
}

@media (min-width:1300px) and (max-width:1500px) {
    .modal-60 {
        width: 70%;
    }
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 30px;
    line-height: 0.75;
    color: red;
    margin-right: 8px;
}

.custom-button-add-item {
    background-color: #e63c5f;
    color: white;
    box-shadow: 3px 3px 3px #d8678d !important;
    margin-bottom: 5px;
    border-color: #e63c5f;
}

.table thead {
    background: #f8f5f1;
}

#map {
    height: 220px;
}

.gm-style .gm-style-iw {
    font-size: 10px !important;
}

.gm-fullscreen-control {
    display: none;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

.active:hover {
    background-color: white !important;
    cursor: pointer;
}

.my-custom-scrollbar {
    position: relative;
    max-height: 150px;
    height: auto;
    overflow-y: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.ui-tabs-scrollable > .nav-button {
    position: absolute;
    width: 25px;
    height: 35px;
    line-height: 35px;
    top: 0;
    color: #428bca;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
    background-color: #fff;
    z-index: 10;
}

.spacer {
    height: 305px !important;
}

.ui-tabs-scrollable > .spacer > div:first-child > .nav-tabs > li > a {
    height: 35px;
}

.ui-tabs-scrollable > .spacer > div:first-child > .nav-tabs > li.active > a {
    height: 35px;
    bottom: -2px;
    padding: 10px;
}

.ui-tabs-scrollable > .spacer > div:first-child > .tab-content > .active {
    height: 250px;
}

.scroll-tab-card {
    max-height: 275px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    /*width: 5px;*/
}

.item-job-card {
    border-radius: 6px;
    background-color: #ebebeb;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
    font-size: 12px;
}

.imgdeleteJob {
    width: 20px;
    margin-left: 9px;
}

.mt-checkbox > span:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btn-custom-tab-color {
    background: #cecbcb;
    padding: 8px 10px 7px !important;
}
@media only screen and (max-width: 1366px){
    .btn-custom-tab-color {
        background: #cecbcb;
        padding: 6px 3px 6px !important;
    }
}

.circular--portrait {
    /*position: relative;*/
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

    .circular--portrait img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*#cke_description .cke_inner {
    min-height: 460px !important;
}

    #cke_description .cke_inner div {
        min-height: 310px !important;
    }*/

.btn-border-black {
    border: 1px solid #000;
}

.btn-border-black-grey {
    border: 0.5px solid #c3b9b9
}

@media (min-width: 1500px) {
    .width-level {
        width: 28% !important;
    }

    .width-worktype {
        width: 33% !important;
    }

    .width-checkbox {
        width: 28% !important;
    }
}

@media (min-width:1200px) and (max-width:1450px) {

    .width-level {
        width: 28% !important;
    }

    .width-worktype {
        width: 31% !important;
    }

    .width-checkbox {
        width: 30% !important;
    }
}

.mt-checkbox > span:after {
    left: 6px !important;
    top: 3px !important;
    width: 5px;
    height: 10px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg );
}

.check-box-act > span:after {
    left: 10px !important;
    top: 6px !important;
    width: 5px;
    height: 10px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg );
}

.custom-session-user {
    background: #06223f;
    padding: 8px;
    border-radius: 5px;
    margin-top: 12px;
    width: 100%;
}

@-webkit-keyframes blinker {
    from {
        opacity: 0;
    }

    to {
        color: blue;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.width-85 {
    width: 85% !important;
}

.width-15 {
    width: 15% !important;
}
.tab-card .nav-tabs {
    margin-bottom: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

    .tab-card .nav-tabs li {
        border-right: 1px solid #ddd;
        flex-shrink: 0;
    }

        .tab-card .nav-tabs li:last-child {
            border-right: 0px solid #ddd;
        }

        .tab-card .nav-tabs li div {
            color: black;
            background: white;
            border-radius: 0;
            margin-right: -1px;
            padding: 4px 18px;
            font-weight: 600;
        }

.nav-tabs li:first-child div {
    border-radius: 5px 0 0 0px;
}

.tab-card .nav-tabs li.active > div,
.tab-card .nav-tabs > li.active > div:focus,
.tab-card .nav-tabs > li.active > div:hover {
    color: black;
    background: white;
    border-top: 1px solid #d3d3d3;
    font-weight: 600;
    border-right: 1px solid #d3d3d3;
    border-top-right-radius: 5px;
    border-left: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
}

.tab-card .nav-tabs li:last-child.active div:before {
    border-left: 17px solid #5c9fb9 !important;
}

.tab-card .tab-content {
    font-size: 14px;
    border: 1px solid #d3d3d3;
    border-top: none;
    padding: 15px;
}