<style>
    @media(max-width:992px) {
        .modal-50 {
            width: 75% !important;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-50 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-50 {
            width: 60% !important;
        }
    }

    @media (min-width:1501px) {
        .modal-50 {
            width: 50% !important;
        }
    }
    .message-center {
        top: 13%;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'Thêm thuộc tính tài sản' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt5">
                <div class="row">
                    <div class="col-md-4" ng-class="{ 'has-error': errorPackAttrType}">
                        <label class="control-label require">{{'Kiểu đóng gói' | translate}}</label>
                        <div class="input-group">
                            <ui-select tagging ng-model="model.PackAttrType" theme="bootstrap" ng-change="selectChange('PackAttrType')">
                                <ui-select-match placeholder="{{'Kiểu đóng gói' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstPackType | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addPackAttrType()" class="btn no-shadow  green-custom" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorPackAttrType" class="label-color validation-message">
                            {{'Kiểu đóng gói không được để trống' | translate}}
                        </span>
                    </div>
                    <div class="col-md-4" ng-class="{ 'has-error': errorPackAttrGroup}">
                        <label class="control-label require">{{'Nhóm đóng gói' | translate}}</label>
                        <div class="input-group">
                            <ui-select tagging ng-model="model.PackAttrGroup" theme="bootstrap" ng-change="selectChange('PackAttrGroup')">
                                <ui-select-match placeholder="{{'Nhóm đóng gói' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstPackGroup | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addPackAttrGroup()" class="btn no-shadow  green-custom" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorPackAttrGroup" class="label-color validation-message">
                            {{'Nhóm đóng gói không được để trống' | translate}}
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require">{{'Mã thuộc tính' | translate}}</label>
                                <input class="form-control" name="PackAttrCode" ng-model="model.PackAttrCode" placeholder="{{'Mã thuộc tính' | translate}}..." ng-disabled="isUpdate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="width: 30%;">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require">{{'Tên thuộc tính' | translate}}</label>
                                <input class="form-control" name="PackAttrName" ng-model="model.PackAttrName" placeholder="{{'Tên thuộc tính' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require">{{'Giá trị' | translate}}</label>
                                <input class="form-control" name="PackAttrValue" ng-model="model.PackAttrValue" placeholder="{{'Giá trị' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" ng-class="{ 'has-error': errorPackAttrUnit}">
                        <label class="control-label">{{'Đơn vị' | translate}}</label>
                        <div class="input-group">
                            <ui-select tagging ng-model="model.PackAttrUnit" theme="bootstrap" ng-change="selectChange('PackAttrUnit')">
                                <ui-select-match placeholder="{{'Đơn vị' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstUnitPack | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addPackAttrUnit()" class="btn no-shadow  green-custom" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorPackAttrUnit" class="label-color validation-message">
                            {{'Đơn vị không được để trống' | translate}}
                        </span>
                    </div>
                    <div class="col-md-2 pl-0" ng-class="{ 'has-error': errorPackAttrDataType}">
                        <label class="control-label">{{'Kiểu dữ liệu' | translate}}</label>
                        <div class="input-group">
                            <ui-select tagging ng-model="model.PackAttrDataType" theme="bootstrap" ng-change="selectChange('PackAttrDataType')">
                                <ui-select-match placeholder="{{'Kiểu dữ liệu' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in lstAttrDataType | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addPackAttrDataType()" class="btn no-shadow  green-custom" style="">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorPackAttrDataType" class="label-color validation-message">
                            {{'Kiểu dữ liệu không được để trống' | translate}}
                        </span>
                    </div>
                    <div class="col-md-1 pl-0" style="width: 11.33%;">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">{{'Kích thước' | translate}}</label>
                                <input class="form-control" name="PackAttrSize" ng-model="model.PackAttrSize" placeholder="{{'Kích thước' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 pl-0">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center pr10 pull-right" ng-click="submit()">
                                <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-save"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                            <div class="text-center pr10 pull-right" ng-click="cancelEdit()" ng-show="isUpdate">
                                <a class="btn btn-icon-only btn-circle btn-outline red-custom">
                                    <span><i class="fa fa-times"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>
