
<style>

    div span {
        padding-left: 10px;
        font-size: 17px;
    }

    .fas {
        padding-top: 7px;
        font-size: 15px;
        color: #61BD50;
        margin-right: 0.7rem;
    }

    .rowdiv {
        display: flex;
        padding: 6px 0px;
    }

    button.close {
        position: absolute;
        top: 2;
        right: 5;
        cursor: pointer;
    }

    .foot {
        padding-left: 40px;
    }

    .nowrap {
        white-space: nowrap;
    }

    .tab {
        border-bottom: 0.2px solid gray;
        font-weight: 500;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .detail_contain{
        height:100%;
    }

</style>

<div class="detail_contain">
    <div class="modal-headerr" style="position: relative;border-bottom: 0.2px solid grey;">
        <h5 style="text-align: center; padding: 10px 0px ;font-size: 18px;" class="modal-title" id="exampleModalLongTitle">Chi tiết hoạt động</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i style="font-size: 25px;" class="fas fa-chevron-left remove"></i>
        </button>
    </div>

    <div class="modal-body">
        <form class="form-modall">

            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-project-diagram"></i>
                    Mã hoạt động :
                </span>
                <span class="actIntCode" style="font-weight: 500;">
                    ACT_034
                </span>
            </div>



        </form>
        <form class="form-modall">

            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-file-signature"></i>
                    Tên hoạt động :
                </span>
                <span class="actIntName" style="font-weight: 500;">
                    Báo cáo nghiệp vụ vận tải
                </span>
            </div>

        </form>
        <form class="form-modall">
            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-history"></i>
                    Thời lượng :
                </span>
                <span class="actIntTimer">

                </span>
            </div>
        </form>
        <form class="form-modall">
            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-hockey-puck"></i>
                    Nhóm :
                </span>
                <span class="actIntGroup">
                    Nhóm luồng vận tải
                </span>
            </div>

        </form>
        <form class="form-modall">
            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-sliders-h"></i>
                    Loại :
                </span>
                <span class="actIntType">
                    Loại luồng vận tải
                </span>
            </div>
        </form>
        <form class="form-modall">
            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-chart-line"></i>
                    Trạng thái :
                </span>
                <span class="actIntStatus">
                    Không hoạt động
                </span>
            </div>


        </form>
        <form class="form-modall">
            <div class="rowdiv">

                <span class="nowrap" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-map-marked-alt"></i>
                    Địa điểm :
                </span>
                <span class="actIntLocation">
                    Thành phố Hồ Chí Minh
                </span>
            </div>



        </form>
    </div>
    <div class="modal-footerr" style="margin-left: 15px;border-top: 0.3px solid grey;">
        <form class="form-modall  user">
            <div class="rowdiv">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-users-cog"></i>
                    Người Và Bộ Phận
                </span>

            </div>
            <!-- <div class="rowdiv foot">
                <span class="nowrap">
                Nhân viên :
            </span>
                <span>Nguyễn Hoàng Duy</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Trạng thái :
            </span>
                <span>Làm việc</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Vai trò :
            </span>
                <span>Nhân viên</span>
            </div> -->



        </form>

        <form class="form-modall result">
            <div class="rowdiv">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-database"></i>
                    Dữ liệu kết quả
                </span>

            </div>
            <!-- <div class="rowdiv foot">
                <span class="nowrap">
                STT :
            </span>
                <span>001</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Tên thuộc tính :
            </span>
                <span>Làm việc</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Giá trị :
            </span>
                <span>10</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Đơn vị :
            </span>
                <span> VND</span>
            </div> -->



        </form>

        <form class="form-modall">
            <div class="rowdiv">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-fighter-jet"></i>
                    Lệnh đến và đi
                </span>

            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                    Hoạt động :
                </span>
                <span>Báo cáo</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                    Lệnh :
                </span>
                <span>Làm việc</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                    Duyệt :
                </span>
                <span>Nhân viên</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                    Xác nhận :
                </span>
                <span>Nhân viên</span>
            </div>



        </form>

        <form class="form-modall object">
            <div class="rowdiv">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-cogs"></i>
                    Đối tượng vận hành
                </span>

            </div>
            <!-- <div class="rowdiv foot">
                <span class="nowrap">
                STT :
            </span>
                <span>001</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Đối tượng xử lý :
            </span>
                <span>Làm việc</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Giao xử lý :
            </span>
                <span>Nhân viên</span>
            </div> -->



        </form>

        <form class="form-modall">
            <div class="rowdiv document">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-file-alt"></i>
                    Hồ sơ
                </span>

            </div>
            <!-- <div class="rowdiv foot">
                <span class="nowrap">
                Tên tệp :
            </span>
                <span>Tệp abc.docx</span>
            </div>
            <div class="rowdiv foot">
                <span class="nowrap">
                Mẫu :
            </span>
                <span>1</span>
            </div> -->




        </form>

        <form class="form-modall">
            <div class="rowdiv">

                <span class="tab" style="white-space: nowrap;display: flex;">
                    <i class="fas fa-comment-medical"></i>
                    Mô tả
                </span>

            </div>
            <div class="rowdiv foot">
                <span class="description">

                </span>

            </div>
        </form>



    </div>


</div>