@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Hủy Tài Sản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

    var sessionLanguage = HttpContextAccessor.HttpContext.Session;
    byte[] value;
    var idObject = 0;
    if (sessionLanguage.IsAvailable)
    {
        var boolValue = sessionLanguage.TryGetValue("IdObject", out value);
        if (boolValue)
        {
            byte[] temp = new byte[4];
            if (BitConverter.IsLittleEndian)
            {
                temp = Enumerable.Reverse(value).ToArray();
            }
            idObject = BitConverter.ToInt32(temp, 0);
        }
    }
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    var isAllData = session.IsAllData;
}
@section plugin_script {
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/ckeditor/ckeditor.js"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM_CANCLE" ng-controller="Ctrl_ESEIM_CANCLE">
    <div ng-view></div>
</div>
<script src="~/views/admin/assetCancel/controller.js" type="text/javascript"></script>
<script src="~/views/admin/cardJob/controller.js" type="text/javascript"></script>
<script src="~/views/admin/project/controller.js" type="text/javascript"></script>
<script src="~/views/admin/customer/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contract/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contractPo/controller.js" type="text/javascript"></script>
<script src="~/views/admin/sendRequestWorkPrice/controller.js" type="text/javascript"></script>
<script src="~/views/admin/attributeManager/controller.js" type="text/javascript"></script>
<script src="~/views/admin/materialProduct/controller.js" type="text/javascript"></script>
<script src="~/views/admin/supplier/controller.js" type="text/javascript"></script>
<script src="~/views/admin/edmsRepository/controller.js" type="text/javascript"></script>
<script src="~/views/admin/filePlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/workflowPlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/workflowActivity/controller.js" type="text/javascript"></script>
<script src="~/views/admin/payDecision/controller.js" type="text/javascript"></script>
<script>
    var idObject = @idObject;
    var isAllData = "@(isAllData)";
</script>
