<style>
    .video {
        width: 100%
    }

    .audio {
        width: 100%;
        margin-top: 20px;
    }
</style>
<div class="modal-header black" style="background-color: white !important;">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-play-circle icon-insert"></i>
    <span class="modal-title" id="modal-title">LMS_PLAY_VIDEO_AUDIO</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <video class="video" controls ng-if="model.Type=='video'">
            <source src="{{model.Source}}" type="video/mp4">
        </video>

        <audio class="audio" controls ng-if="model.Type=='audio'">
            <source src="{{model.Source}}" type="audio/mpeg">
        </audio>
    </div>
</div>
