<style>
    .modal-body {
        padding-bottom: 0px !important;
    }

    .ui-select-multiple .ui-select-match-item {
        padding: 5px !important;
        font-size: 13px !important;
    }

    .close {
        color: red;
        width: 23px !important;
    }

    .ui-select-match-close {
        margin-top: 0px !important;
    }

    .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 30px !important;
    }

    ._3dza {
        margin-right: 5px;
        padding: 2px;
    }

    ._6kld {
        border-radius: 25px;
        height: 40px;
        width: 40px;
        /*opacity: 50%;*/
    }

    .check-color {
        display: inline;
        top: 12px;
        left: 12px;
        /*color: white;*/
        font-size: 15px;
        position: relative;
    }

    .close-modal {
        z-index: 9990;
        position: absolute;
        padding: 0px;
        border-radius: 50px;
    }

    .close-modal {
        position: absolute;
        top: -25px;
        right: -25px;
        display: block;
        width: 50px;
        height: 50px;
        border-color: #ff5ca1;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/XKHq6urW1tb////w8PDV1dXp6elDeZ9WAAAAEHRSTlMACkZ5FnA+QUAZSXMHFT8XTiEbVAAAAAFiS0dEEwy7XJYAAAAHdElNRQflDAEGMgLw4uMaAAAAAW9yTlQBz6J3mgAAATNJREFUSMe1l9tygzAMRM21kAtdMO3/f2ohTDpQJFn1Jvtmxmdk2UZehSCqKCv8qiqL4Fbd4KSmdqEtFLVJ9AOGOhPtkVCvs5cUC1w09ppmgauI3jzoqtuZvXtZ4J4dV4r9HxbI2Ctl1xxndNTuxJJ346w+M+Fj2l0O3BGBn6GHPHggAm+h61x4rS1CzcE4HcfTKExq5FWPMc778RyjRC91Uvg6xQO9sHESphWhlNKZ9/Qc/yzkqTJUSNAqiyoANq2zS9KwaYvV4Q0zWQN+0CZrwRttsG+DmWUzG8Ycle+SUNeT+jGcv+SXMK3wFoNvKWWyDFEFMOTCtvGy1fLPjW3cNHWveGK5x52yFZyh4awUZ+Io+8gZV84y+05MNetcm5AydHaDYtqyIYmu+sxvyh7ytYM/qPe1AtpYDhcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMTItMDFUMDY6NTA6MDIrMDA6MDDiIsyiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTEyLTAxVDA2OjUwOjAyKzAwOjAwk390HgAAAABJRU5ErkJggg==);
    }
</style>
<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-header no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-plus-circle fs18 black icon-insert"></i>
    <span class="modal-title custom-title black" id="modal-title">{{'WWS_WEEK_WORK_PLAN' | translate}}</span> <!--WS_CURD_TITLE-->
</div>

<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row mt-action-5">
                    <div class="form-group pt10">
                        <!--<div class="col-lg-3 col-md-12 text-left pr-0">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'WWS_WEEK_TITLE' | translate}}</label>-->
                        <!--COM_LBL_TITLE-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600 require">{{'WWS_WEEK_TITLE' | translate}}</label> <!--COM_LBL_TITLE-->
                            <!--<textarea class="form-control" placeholder="{{'WWS_WEEK_TITLE' | translate}}.." rows="1" ng-model="model.Content" name="Content"></textarea>-->
                            <textarea id="Content" class="form-control br24" style="height:100px" placeholder1="Tiêu đề" placeholder="{{'COM_ITEM_VALIDATE_TITLE' | translate}}.." rows="2" ng-model="model.Content" name="Content"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <!--<div class="col-lg-3 col-md-12 text-left pr-0">
        <i class="fa fa-users" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'Nhân sự kế hoạch' | translate}}</label>-->
                        <!--COM_LBL_PLAN_MEMBER-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600 require">{{'WWS_WEEK_PERSONNEL_PLANNING' | translate}}</label> <!--COM_LBL_PLAN_MEMBER-->
                            <div class="input-group br24-nobtn">
                                <ui-select class="list-user" ng-model="model1.ListUser" multiple theme="bootstrap" style="height: 85px;overflow: auto;border-radius: 5px;" on-select="addUser($item)" on-remove="removeUser($item)">
                                    <ui-select-match placeholder="{{'WWS_WEEK_PERSONNEL_PLANNING' | translate}}...">{{$item.GivenName}}</ui-select-match> <!--COM_TXT_PLAN_MEMBER-->
                                    <ui-select-choices repeat="x.UserName as x in listUser | filter:$select.search">
                                        {{x.GivenName}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt10">
                        <!--<div class="col-lg-3 col-md-12 text-left pr-0">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'Nội dung công việc' | translate}}</label>-->
                        <!--WS_LBL_WORK_CONTENT-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600 require">{{'WWS_WEEK_CONTENT_WORKING' | translate}}</label> <!--WS_LBL_WORK_CONTENT-->
                            <textarea id="WorkContent" class="form-control" style="height:100px" placeholder="{{'WWS_WEEK_CONTENT_WORKING' | translate}}.." rows="2" ng-model="model.WorkContent" name="WorkContent"></textarea> <!--WS_TXT_WORK_CONTENT-->
                        </div>
                    </div>
                    <div class="form-group pt10">
                        <!--<div class="col-lg-3 col-md-12 text-left pr-0">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'Trạng Thái' | translate}}</label>-->
                        <!--COM_LBL_STATUS-->
                        <!--</div>-->
                        <div class="col-md-7">
                            <label class="control-label fw600">{{'WWS_WEEK_STATUS' | translate}}</label> <!--COM_LBL_STATUS-->
                            <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorType}">
                                <ui-select tagging ng-model="model1.Status" theme="bootstrap" ng-disabled="!isUserInList" on-select="changeStatus($item)">
                                    <ui-select-match placeholder="{{'WWS_WEEK_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match> <!--COM_TXT_STATUS-->
                                    <ui-select-choices repeat="x.Code as x  in listStatus | filter: $select.search">
                                        <span class="bold fs11">{{x.Name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model1.Status='';" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 input-group search-group" style="padding-top: 7px;">
                                <span class="check-box-act">
                                    <!--<input style="-webkit-transform: scale(2);" type="checkbox" name="" value="" />-->
                                    <span class="pull-right fs9">
                                        <a class="fs11 pt5 text-underline ng-binding" ng-click="viewLogStatus()">{{'WWS_WEEK_LOG' | translate}}</a> <!--WS_LBL_LOG_APPROVED-->
                                    </span>
                                    <label style="padding-left: 10px;" for="music">{{countUserApproved}}/{{listUserApproved.length}}</label>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label fw600">{{'WWS_WEEK_BACKGROUND_COLOR' | translate}}</label> <!--COM_LBL_BACKGROUND-->
                            <table cols="6" class="_3dz6 uiGrid _51mz" alignh="center" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr class="_51mx">
                                        <td role="button" tabindex="0" class="_3dz9_51m-hCent" ng-repeat="x in listColor" ng-click="selectColor(x.Id)">
                                            <div class="_3dza">
                                                <div aria-label="Candy" class="_6kld" style="background-color:{{x.BackgroundColor}};background-image:{{x.BackgroundImage}}">
                                                    <span class="check-color" ng-show="x.Check">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<div class="col-lg-3 col-md-5 text-left pr-0 mt10">
        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
        <label class="control-label require fw600">{{'Bắt đầu' | translate}}</label>-->
                        <!--WS_CRUD_START_DATE-->
                        <!--</div>-->
                        <div class="col-lg-6 col-md-12 mt10">
                            <label class="control-label require fw600">{{'WWS_WEEK_START' | translate}}</label> <!--WS_CRUD_START_DATE-->
                            <div class="input-group date br24" id="startDate">
                                <input type="text" ng-model="model.StartDate" name="StartDate" class="form-control" placeholder="{{'WWS_CRUD_START_DATE' | translate}}..." /> <!--WS_CRUD_START_DATE-->
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <!--<div class="col-lg-2 col-md-5 text-left pr-0 mt10">
        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
        <label class="control-label require fw600">{{'Kết thúc' | translate}}</label>-->
                        <!--WS_CRUD_END_DATE-->
                        <!--</div>-->
                        <div class="col-lg-6 col-md-12 mt10">
                            <label class="control-label require fw600">{{'WWS_WEEK_END' | translate}}</label> <!--WS_CRUD_END_DATE-->
                            <div class="input-group date br24" id="endDate">
                                <input type="text" ng-model="model.EndDate" name="EndDate" class="form-control" placeholder="{{'WWS_CRUD_END_DATE' | translate}}..." />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <!--<div class="col-md-3 text-left">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600">{{'Địa điểm' | translate}}</label>-->
                        <!--WS_LBL_WORK_PLACE-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600">{{'WWS_WEEK_ADDRESS' | translate}}</label> <!--WS_LBL_WORK_PLACE-->
                            <textarea class="form-control br24" placeholder="{{'WWS_WEEK_ADDRESS' | translate}}.." rows="1" ng-model="model.Location" name="Location"></textarea> <!--WS_TXT_WORK_PLACE-->
                        </div>
                    </div>

                    <div class="form-group pt10">
                        <!--<div class="col-md-3 text-left">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'Tài liệu' | translate}}</label>-->
                        <!--COM_LBL_DOCUMENT-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600">{{'WWS_WEEK_DOCUMENT' | translate}}</label> <!--COM_LBL_DOCUMENT-->
                            <div class="col-md-12 input-group search-group br24" ng-class="{ 'has-error': errorType}">
                                <ui-select tagging ng-model="model2.CmsItemCode" on-select="changeCmsItem($item)" theme="bootstrap">
                                    <ui-select-match placeholder="{{'WWS_WEEK_DOCUMENT_SEL' | translate}}...">{{$select.selected.Name}}</ui-select-match> <!--COM_COMBO_DOCUMENT-->
                                    <ui-select-choices repeat="x.Code as x  in listCmsItem | filter: $select.search" refresh="reloadCmsItem($select.search)">
                                        <span class="bold fs11">{{x.Name}}</span>
                                        <div class="row mt15" ng-if="$last">
                                            <button class="btn btn-xs btn-success"
                                                    style="width: 100%;"
                                                    ng-click="loadMore($select, $event);"
                                                    ng-disabled="loading">
                                                Load more...
                                            </button>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model2.CmsItemCode='';" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button" style="background-color: #339933; color:white" ng-click="addCmsItem(model2)" class="btn btn-default no-shadow start-date">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group pt10">
                        <!--<div class="col-lg-3 col-md-12 text-left">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <label class="control-label fw600 require">{{'Danh sách Tài liệu' | translate}}</label>-->
                        <!--COM_TABLE_DOCUMENT-->
                        <!--</div>-->
                        <div class="col-md-12">
                            <label class="control-label fw600">{{'WWS_WEEK_DOCUMENT_LIST' | translate}}</label> <!--COM_TABLE_DOCUMENT-->
                            <ul>
                                <li ng-repeat="x in listRef">
                                    <div class="col-md-12 pt10">
                                        <div style="display: inline-block"><img class="mr5" style="width: 14px;" src="../../../images/iconDashBoard/icon_Text-Worksheet.png"></div>
                                        <div style="display: inline-block"><a ng-click="viewCms(x.CmsItemCode)">{{x.CmsItemName}}</a></div>
                                        <div class="pull-right"><button title="Xóa" ng-click="deleteCmsItem(x)" style="width: 25px; height: 25px; padding: 0px" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="modal-footer">
                        <div class=" text-center pr20 pt20">
                            <a data-dismiss="modal" ng-click="cancel()" class="fs30">
                                <span><i class="fas fa-times pull-right h28 w28" style="--fa-primary-color: red;"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                        <div class="text-center">
                            <a class="fs30" ng-click="submit()">
                                <span><i class="fa-solid fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt5">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>-->
                    <div class="modal-footer d-flex pt-0" style="float: right;">
                        <div class="pr10" style="display: inline-block; margin-right: 10px;">
                            <a class="fs30" ng-click="submit()">
                                <i class="fas fa-check"></i>
                            </a>
                            <p> {{'COM_BTN_CONFIRM' | translate}}</p>
                        </div>
                        <div>
                            <a class="fs30" ng-click="cancel()">
                                <i class="fas fa-times" style="color: red"></i>
                            </a>
                            <p>{{'COM_CONFIRM_CANCEL' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<div class="modal-footer">
    <div class=" text-center pr20 pt20">
        <span class=" text-center pr20 pt20">
            <a data-dismiss="modal" class="fs30" href="javascript:;" ng-click="cancel()">
                <span><i class="fas fa-times" style="--fa-primary-color: red;"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </span>
        <span class="text-center">
            <a ng-click="submit()" class="fs30" href="javascript:;">
                <span><i class="fa-solid fa-plus"></i></span>
            </a>
            <p>{{submitBtnLabel}}</p>
        </span>
    </div>
</div>-->


