<div class="modal-header h-30 no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="fa fa-plus-circle black icon-insert  "></i>
    <span class="modal-title black custom-title pt10" id="modal-title">{{'Theo dõi trạng thái'|translate}}</span>
</div>
<button type="button" class="close-modal ng-scope" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
</button>
<div class="modal-body" style="padding-bottom: 0px;">
    <div class="table-responsive pt10" style="height: 250px; overflow-y: scroll;">
        <table class="table table-bordered" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="col-md-1 text-center" style="width: 3%;">STT</th>
                    <th class="col-md-4 text-center">{{'STRE_LBL_LOG_UPDATE_BY' | translate}}</th>
                    <th class="col-md-4 text-center">{{'STRE_LBL_LOG_STATUS' | translate}}</th>
                    <th class="col-md-2 text-center">{{'STRE_LBL_LOG_UPDATE_TIME' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in lstStatus">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{x.CreatedBy}}</td>
                    <td>{{x.Status}}</td>
                    <td>{{x.CreatedTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">

</div>
