<style>
    * {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative;
            text-align: initial
        }

    .form-card {
        text-align: left;
        padding: 0 10px;
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform textarea {
        padding: 8px 15px 8px 15px;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        border: 1px solid #ccc;
    }

    #msform input {
        padding: 8px 15px 8px 15px;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #ccc;
            outline-width: 0
        }

    #msform .action-button {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        width: 40px;
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        background-color: #ffffff !important;
        border-color: #121312;
        color: #131212 !important;
        width: 40px;
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative;
        background-color: #ffffff;
    }

    .fs-title {
        font-size: 25px;
        color: #4868aa;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #4868aa;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        overflow: hidden;
        color: #4868aa;
        padding-left: 2%
    }

        #progressbar .active {
            color: #009432;
        }

        #progressbar .active2 {
            color: deeppink;
        }


        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: calc(100%/5);
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar > #payment {
            list-style-type: none;
            font-size: 15px;
            width: 0;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar > .end {
            list-style-type: none;
            font-size: 15px;
            width: 0 !important;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar > .check:last-of-type {
            list-style-type: none;
            font-size: 15px;
            width: 0 !important;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f040"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f00c"
        }



        #progressbar li:before {
            width: 53px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 0px auto;
            padding: 2px;
            margin-left: 0
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #009432;
        }

        #progressbar li.active2:before,
        #progressbar li.active2:after {
            background: deeppink;
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .app-content.content.container-fluid.scroll_content_custom {
        width: 100%
    }

    .card {
        width: 100%
    }

    .form-card > .row {
        padding-left: 15px;
        padding-right: 30px;
    }

    #msform input {
        background-color: #fff
    }

    strong {
        margin-left: -73%;
        white-space: nowrap;
        font-size: 13px;
    }

        strong > .wf-name {
            margin-left: -16% !important;
            white-space: nowrap;
            font-size: 13px;
        }


    .input-group-addon, .input-group-btn {
        vertical-align: top;
    }

    input#datefrom, input#dateto {
        margin-top: 0
    }

    .portlet.light.bordered {
        margin-right: 15px;
        border: 1px solid #e7ecf1 !important;
        background: #f8f9f9 !important
    }

    .table > thead > tr > th {
        vertical-align: middle;
        height: 60px;
        border-bottom: 2px solid #e7ecf1;
    }

    #left1 {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .btn {
        cursor: pointer
    }

    .pt2 {
        padding-top: 2px
    }

    .div-disabled {
        pointer-events: none;
        opacity: 0.5;
        background: #CCC;
    }

    .undiv-disabled {
        pointer-events: initial;
        opacity: 1;
        background: #CCC;
    }

    .txt {
        text-align: initial
    }

    .dis {
        pointer-events: none;
        opacity: 0.5;
    }

    .dis2 {
        pointer-events: none;
    }

    .btnn {
        background-color: #ffffff !important;
        height: 50px;
        width: 70px;
        color: #131212 !important;
        box-shadow: 0px 0px 7px 0px grey !important;
    }

    .vtc {
        vertical-align: middle;
        padding-top: 8px;
    }

    .log {
        width: 100%;
        background: #fff;
        height: 50px;
        border: 1px solid;
        border-color: #ccc;
    }

    .table-scrollable {
        min-height: unset !important
    }

    .table-custom {
        min-height: unset !important;
        border: none
    }

    .portlet.light.bordered {
        border: none !important
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        height: 40px
    }

    button.btn.btn-default.no-shadow {
        height: 40px
    }

    span.btn.btn-default.form-control.ui-select-toggle {
        font-weight: 700;
        padding-top: 10px;
    }

    .cl {
        color: #000
    }

    .input-group > .form-control {
        height: 40px !important;
        font-weight: 700;
    }

    .name {
        top: 12%;
        margin-left: 55px;
        font-size: 10px;
        position: absolute;
    }

    .dateapr {
        position: absolute;
        margin-left: 55px;
        top: 32%;
        font-size: 10px;
    }
</style>
<style>
    .table-detail .table-scrollable {
        height: auto;
    }

    /*Style tab*/
    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
        height: 40px;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12" style="padding-left:0">
            <div class="card px-0 pb-0 mb-3">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <ul id="progressbar" class="pl15" ng-if="lstStep =='' || lstStep ==undefined ||lstStep ==null">
                            <li class="" id="account"><strong>Khởi tạo</strong></li>
                            <li id="personal"><strong>Trưởng phòng duyệt</strong></li>
                            <li id="payment"><strong>Tổng GĐ duyệt</strong></li>
                        </ul>
                        <ul id="progressbar" class="pl15" ng-if="lstStep !=''">
                            <li id="account" class="{{x.IntsCode}} check" ng-repeat="x in lstStep">
                                <div ng-if="$index != lstStep.length-1 && x.UpdateBy != null  && x.UpdateBy !='' &&x.UpdateBy !=undefined " class="name d-flex">
                                    <span style="color:#000;font-weight:700">Duyệt bởi&nbsp;: &nbsp;</span>
                                    <span style="color:#8B4513;font-weight:700">{{x.UpdateBy}}</span>
                                </div>
                                <div ng-if="$index != lstStep.length-1 && x.UpdateTime !='' && x.UpdateTime !=null &&x.UpdateTime !=undefined " class="dateapr d-flex">
                                    <span style="color:#000;font-weight:700">Lúc&nbsp;: &nbsp;</span>
                                    <span style="color:#009432;font-weight:700">{{x.UpdateTime|date:'dd/MM/yyyy'}}</span>
                                </div>
                                <strong><span class="wf-name"></span>{{x.Name}}</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="btn-group actions d-flex pull-right pr15">
                            <div class="text-center pl10 margin-right-10  add dis" ng-click="add()">
                                <a class="fs30" name="next">
                                    <span><i class="fa-solid fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_ADD' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 edit dis" ng-click="edit()">
                                <a class="fs30" name="next">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_UPDATE' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 cancel" ng-click="cancel()">
                                <a class="fs30" name="next">
                                    <i class="fas fa-window-close"></i>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_CANCEL' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 save" ng-click="addHeader()" ng-show="addtab">
                                <a class="fs30" name="next">
                                    <span><i class="fa-solid fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 save" ng-click="editHeader()" ng-show="edittab">
                                <a class="fs30" name="next">
                                    <span><i class="fa-solid fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 cancel" ng-click="exportExcel()">
                                <a class="fs30">
                                    <i class="fas fa-file-excel"></i>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_EXCEL' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 save" ng-click="isShowHeader=false" ng-show="isShowHeader">
                                <a class="fs30" name="next">
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_HIDDEN_SHOW' | translate}}</p>
                            </div>
                            <div class="text-center pl10 margin-right-10 save" ng-click="isShowHeader=true" ng-show="!isShowHeader">
                                <a class="fs30" name="next">
                                    <i class="fas fa-chevron-up"></i>
                                </a>
                                <p class="text-underline fs13 mb5 pt3 cl">{{'COM_BTN_HIDDEN_SHOW' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions" ng-show="isShowHeader">
                    <div class="portlet light bordered input-search mb5">
                        <div class="portlet-body">
                            <div class="row pt5 mb5">
                                <div class="row pt5">
                                    <div class="col-lg-3 pl30">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <i class="fas fa-calculator fs16 pr5"></i>
                                                <label class="fw600 text-underline require">{{'PR_PLAN_NUMBER' | translate}}</label>
                                                <div class="input-group">
                                                    <input ng-model="model.PlanNumber" ng-disabled="isSave" name="PlanNumber" class="form-control br24" type="text" placeholder="{{'PR_PLAN_NUMBER' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <i class="fas fa-file-signature fs16 pr5"></i>
                                                <label class="fw600 text-underline require">{{'PR_PLAN_TITLE' | translate}}</label>
                                                <div class="input-group">
                                                    <input ng-model="model.Title" class="form-control br24" name="Title" type="text" placeholder="{{'PR_PLAN_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-class="{ 'has-error': errorWorkflowCat}">
                                        <i class="fas fa-stream fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PR_WORK_FLOW_CAT'| translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.WorkflowCat" theme="bootstrap" ng-change="changeSelect('WorkflowCat')" ng-disabled="isSave">
                                                <ui-select-match placeholder="{{'PR_WORK_FLOW_CAT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstWorkflow | filter:$select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.WorkflowCat=''" class="btn btn-default no-shadow" ng-disabled="isSave">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorWorkflowCat" class="label-color validation-message">
                                            {{'PR_WORK_FLOW_CAT_MSG_NOT_EMPTY' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row pt5">
                                    <div class="col-md-3 pl30" ng-class="{ 'has-error': errorStatus}">
                                        <i class="fas fa-key fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PR_APPROVE_REJECT' | translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.Status" theme="bootstrap" ng-change="changeStatus()">
                                                <ui-select-match placeholder="{{'PR_APPROVE_REJECT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstStatusAct | filter:$select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorStatus" class="label-color validation-message">
                                            {{'PR_STATUS_MSG_NOT_EMPTY' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-4 pt23 ">
                                        <div class="log br24 d-flex">
                                            <div class="p5 width-80-per">
                                                <div ng-repeat="x in loghis">
                                                    <span class="nowrap">
                                                        -
                                                        <span class="bold pr3 text-green">{{x.CreatedBy}}</span><span class="pr3"> {{'PR_STATUS_UPDATED' | translate}} </span>
                                                        <span class="bold pr3 text-green">{{x.StatusName}}</span><br />
                                                    </span>
                                                    <span class=" pr3">- {{'PR_TIME_UPDATED' | translate}} : </span><span class="bold pr3">{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                                </div>
                                            </div>
                                            <span class="width-20-per text-green text-right text-underline bold fs11 pull-right pt30 pr10" role="button" ng-click="showLog()">{{'PR_SHOW_LOG' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-comment fs16 pr5"></i>
                                        <label class="fw600 text-underline">{{'PR_NOTE' | translate}}</label>
                                        <textarea class="form-control br24" ng-model="model.Note" rows="2" cols="50" style="background-color:#fff"></textarea>
                                    </div>
                                </div>
                                <div class="row pt5">
                                    <div class="col-lg-2 ml15">
                                        <i class="fas fa-user fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PR_CREATED_BY' | translate}}</label>
                                        <div class="input-group">
                                            <input class="form-control br24" name="UserCreated" ng-model="model.UserCreated" type="text" placeholder="{{'PR_CREATED_BY' | translate}}..." />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fas fa-calendar fs16 pr5"></i>
                                        <label class="fw600 text-underline require">{{'PR_CRETED_TIME'| translate}}</label>
                                        <div class="input-group">
                                            <input class="form-control br24" name="PlanDate" ng-model="model.sPlanDate" type="text" placeholder="{{'PR_CRETED_TIME' | translate}}..." id="planDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb5" ng-show="showAct">
                                    <div class="col-md-3 pl30">
                                        <i class="fas fa-key fs16 pr5"></i>
                                        <label class="fw600 text-underline">{{'PR_ACTIVITY_REPEAT' | translate}}</label>
                                        <div class="input-group br24">
                                            <ui-select tagging ng-model="model.ActRepeat" theme="bootstrap" ng-change="changeStatus()">
                                                <ui-select-match placeholder="{{'PR_ACTIVITY_REPEAT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.IntsCode as x in lstActRepeat | filter:$select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.ActRepeat=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="portlet light bordered input-search mt15 detail" ng-disabled="true">
                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <div href="#profileDetailTab" aria-controls="home" role="button" data-toggle="tab">{{'PR_DETAIL_RECRUITMENT' | translate}}</div>
                            </li>
                            <li role="presentation" class="disabled stepNext">
                                <div href="#extendCriteria" aria-controls="profile" role="button" data-toggle="tab">
                                    {{'PR_CRITERIA_EXTEND' | translate}}
                                </div>
                            </li>
                        </ul>

                        <div class="tab-content pt10">
                            <div role="tabpanel" class="tab-pane fade in active" id="profileDetailTab">
                                <div ng-include="'../views/admin/planRecruitment/detail.html'"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="extendCriteria">
                                <div ng-include="'../views/admin/planRecruitment/tabAttribute.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

