<style>
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    #contentMain {
        position: relative;
    }

    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(75% - 50px);
        right: 70px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>
<div class="btn-group actions pt5 pb-1 pull-right d-flex" style="margin-top: -50px;">
    <!--<div class="text-center pr-2" ng-show="!isSearch">
        <a class="btn btn-icon-only btn-circle btn-outline gold-custom" ng-click="showSearch()">
            <span><i class="fa fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>-->
    <div class="text-center mt10 pr30">
        <a class="" ng-click="showSearch()">
            <span><i class="fas fa-search fs30"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question " aria-hidden="true"></i></span>
        </a>
    </div>
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="col-md-12" style="height:20px">
                    <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                </div>
                <div class="row d-flex">
                    <div class="col-lg-2 col-md-4 flex-basis-200">
                        <label class="fw600 text-underline ng-binding">{{'FREE_STORAGE_START_TIME' | translate}}</label>
                        <div class="input-group br24">
                            <input ng-model="model.FromDate" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="{{'FREE_STORAGE_START_TIME' | translate}}..." id="FromTo" ng-keydown="($event.keyCode == 13) &amp;&amp; reload()">
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 flex-basis-200">
                        <label class="fw600 text-underline ng-binding">{{'FREE_STORAGE_END_TIME' | translate}}</label>
                        <div class="input-group br24">
                            <input ng-model="model.ToDate" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="{{'FREE_STORAGE_END_TIME' | translate}}..." id="DateTo" ng-keydown="($event.keyCode == 13) &amp;&amp; reload()">
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 flex-grow-full">
                        <label class="fw600 text-underline">{{'FREE_STORAGE_USER_IMPORT' | translate}}</label>
                        <div class='input-group br24'>
                            <div class="input-group search-group">
                                <ui-select ng-model="model.UserImport" theme="bootstrap" on-select="reload()">
                                    <ui-select-match placeholder="{{'FREE_STORAGE_USER_IMPORT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listUserImport | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.UserImport=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 flex-grow-full">
                        <div class="form-group">
                            <label class="fw600 text-underline">{{'FREE_STORAGE_TICKET_IMPORT' | translate}}</label>
                            <div class="input-group br24">
                                <ui-select tagging ng-model="model.TicketCode" theme="bootstrap" ng-change="changeTicket()">
                                    <ui-select-match placeholder="{{'FREE_STORAGE_TICKET_IMPORT' | translate}}...">{{$select.selected.Code}} - {{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listTicketCode | filter: $select.search">
                                        {{x.Code}} - {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.TicketCode='';" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" style="width: 12%;">
                        <div class="btn-group actions " style="margin-top:15px;">
                            <div class="text-center pt10 pr10">
                                <a ng-click="search()" class="">
                                    <span><i class="fas fs30 fa-search"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblListProduct">
            <thead>
                <tr>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_QR_CODE' | translate}}</th>
                    <th class="col-md-2 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_PROD_NAME' | translate}}</th>
                    <th class="col-md-2 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_IMPORT_TICKET' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORA_LIST_COL_USER_IMP' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_DATE_IMP' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_COST' | translate}}</th>
                    <!--<th class="col-md-1 text-center fw600 text-underline nowrap">{{'FREE_STORAGE_LIST_COL_IMP_QUANTITY' | translate}}</th>-->
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_CURRENCY' | translate}}</th>
                    <!--<th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_QUANTITY_SET' | translate}}</th>
            <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_QUANTITY_NEED_SET' | translate}}</th>-->
                    <th class="col-md-1 text-center fw600 text-underline">{{'Số lượng xếp' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'Thứ tự' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_UNIT' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'Vị trí vật lý' | translate}}</th>
                    <th class="col-md-1 text-center fw600 text-underline">{{'FREE_STORAGE_LIST_COL_ARRANGE' | translate}}</th>
                </tr>
            </thead>
            <tfoot class="dataTables_wrapper">
                <tr>
                    <td colspan="12">
                        <div class="dataTables_paginate paging_full_numbers">
                            <ul class="pagination">
                                <li class="paginate_button first"
                                    ng-class="{disabled: currentPage == 0}"
                                    ng-click="firstPage()">
                                    <a>First</a>
                                </li>
                                <li class="paginate_button previous"
                                    ng-class="{disabled: currentPage == 0}">
                                    <a ng-click="prevPage()">Previous</a>
                                </li>
                                <li class="paginate_button"
                                    ng-if="(pagedItems.length >= 6 && pagedItems.length <= 7 && currentPage == pagedItems.length - 1) || (pagedItems.length > 7 && currentPage > 2)"
                                    ng-click="firstPage()">
                                    <a>{{1}}</a>
                                </li>
                                <li class="paginate_button"
                                    ng-if="pagedItems.length == 7 && currentPage == pagedItems.length - 1"
                                    ng-click="n = 1;setPage()">
                                    <a>{{2}}</a>
                                </li>
                                <li class="paginate_button disabled" id="tblData_ellipsis"
                                    ng-if="pagedItems.length > 7 && currentPage > 3">
                                    <a>…</a>
                                </li>
                                <li class="paginate_button"
                                    ng-repeat="n in range(pagedItems.length, currentPage - gap, currentPage + gap) "
                                    ng-class="{active: n === currentPage}"
                                    ng-click="setPage()"
                                    ng-if="n + 1 >= 0">
                                    <a ng-bind="n + 1" ng-if="n + 1 >= 1">1</a>
                                </li>
                                <li class="paginate_button active"
                                    ng-if="pagedItems.length === 0">
                                    <a>1</a>
                                </li>
                                <li class="paginate_button disabled" id="tblData_ellipsis"
                                    ng-if="pagedItems.length > 7 && currentPage < pagedItems.length - 3">
                                    <a>…</a>
                                </li>
                                <li class="paginate_button"
                                    ng-if="pagedItems.length == 7 && currentPage == 0"
                                    ng-click="n = pagedItems.length - 2;setPage()">
                                    <a>{{pagedItems.length - 1}}</a>
                                </li>
                                <li class="paginate_button"
                                    ng-if="(pagedItems.length >= 6 && pagedItems.length <= 7 && currentPage == 0) || (pagedItems.length > 7 && currentPage < pagedItems.length - 2)"
                                    ng-click="lastPage()">
                                    <a>{{pagedItems.length}}</a>
                                </li>
                                <li class="paginate_button next"
                                    ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a ng-click="nextPage()">Next</a>
                                </li>
                                <li class="paginate_button last"
                                    ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a ng-click="lastPage()">Last</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody ng-repeat="x in pagedItems[currentPage]">
                <tr>
                    <td class="text-center"><img src='data:image/png;base64,{{x.QrCode}}' ng-click="viewQrCode(x.ProductQRCode)" height="40" width="40" /></td>
                    <td class="bold text-green">{{x.ProductCode}} - {{x.ProductName}}</td>
                    <td class="bold text-green">{{x.TicketName}}</td>
                    <td class="text-center">{{x.UserImport}}</td>
                    <td class="text-center">{{x.TimeTicketCreate}}</td>
                    <td class="text-center text-danger bold">{{x.SalePrice | currency:"":0}}</td>
                    <!--<td class="text-center">{{x.Quantity}}</td>-->
                    <td class="text-center">{{x.Currency}}</td>
                    <!--<td class="text-center">{{x.QuantityIsSet}}</td>
            <td class="text-center">{{x.Remain}}</td>-->
                    <td class="text-center">{{x.QuantityMap}}</td>
                    <td class="text-center">{{x.ProductNo}}</td>
                    <td class="text-center">{{x.Unit}}</td>
                    <td class="text-center">{{x.Position}}</td>
                    <td class="text-center">
                        <button title="Xếp kho" ng-click="orderProductVatCo($index)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45)" class="btn btn-icon-only btn-circle btn-outline blue"><img src="../../../images/wareHouse/orderStore.png" height="25" width="25" /></button>
                        <!--<button ng-show="!IsEnabledImportLot" title="Xóa" ng-click="deleteDetail(x.Id)" style="width: 25px; height: 25px; padding: 0px" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
