<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 20px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .line {
        width: 50px;
        border: 2px solid #ccc;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            .tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }

            .tab .nav-tabs li div {
                color: white;
                background: #696e72;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 30px;
                border-top: 1px solid #d3d3d3;
                border-bottom: 1px solid #d3d3d3;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        border-right: 1px solid #d3d3d3;
    }

    .tab .nav-tabs li div:hover {
        background: #5c9fb9;
    }

        .tab .nav-tabs li div:hover:before {
            border-left: 15px solid #5c9fb9;
        }

    .tab .nav-tabs li:last-child div:hover:before {
        border-left: 15px solid #5c9fb9;
    }

    .tab .nav-tabs li.active div:after,
    .tab .nav-tabs li div:after {
        content: "";
        border-left: 17px solid #5c9fb9;
        border-top: 16px solid transparent;
        border-bottom: 17px solid transparent;
        position: absolute;
        top: 1px;
        right: -18px;
        z-index: 1;
    }

    .tab .nav-tabs li div:after {
        border-left: 17px solid #fff;
    }

    .tab .nav-tabs li.active div:before {
        border-left: 17px solid #5c9fb9;
    }

    .tab .nav-tabs li div:before {
        border-bottom: 15px solid rgba(0, 0, 0, 0);
        border-left: 15px solid #696e72;
        border-top: 15px solid rgba(0, 0, 0, 0);
        content: "";
        position: absolute;
        right: -15px;
        top: 2px;
        z-index: 2;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus,
    .tab .nav-tabs > li.active > div:hover {
        border: none;
        color: #fff;
        background: #5c9fb9;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        /*font-weight: 600;*/
    }

    .tab .nav-tabs li:last-child.active div:after,
    .tab .nav-tabs li:last-child div:after {
        content: "";
        border-left: 19px solid #5c9fb9;
        border-top: 17px solid transparent;
        border-bottom: 18px solid transparent;
        position: absolute;
        top: 1px;
        right: -18px;
        z-index: 1;
    }

    .tab .nav-tabs li:last-child div:after {
        border-left: 17px solid #fff;
    }

    .tab .nav-tabs li:last-child div:before {
        border-bottom: 17px solid rgba(0, 0, 0, 0);
        border-left: 15px solid #696e72;
        border-top: 16px solid rgba(0, 0, 0, 0);
        content: "";
        position: absolute;
        right: -15px;
        top: 2px;
        z-index: 2;
    }

    .tab .nav-tabs li:last-child.active div:before {
        border-left: 17px solid #5c9fb9 !important;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }

    .form .form-body, .portlet-form .form-body {
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    #cke_description .cke_inner {
        min-height: 430px !important;
    }

        #cke_description .cke_inner div {
            min-height: 310px !important;
        }

    .btn-custom-tab-color {
        background: #cecbcb;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <span class="modal-title custom-title " id="modal-title">{{'Sửa thể hiện hoạt động'|translate}}</span>
</div>
<div class="modal-body userFormAreaHeader" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt-0 pl-0 pr-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require">Mã hoạt động</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="model.ActivityCode" name="ActivityCode" placeholder="Mã hoạt động..." ng-readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require">Tên hoạt động</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder="Tên hoạt động..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12 pl-0">
                                    <label class="control-label require">Thời lượng</label>
                                    <input type="text" class="form-control" ng-model="model.Duration" name="Duration" placeholder="Thời lượng..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" ng-class="{'has-error' : errorUnit}">
                                <label class="control-label require">Đơn vị tính</label>
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.Unit" theme="bootstrap" ng-change="changeSelect('Unit')">
                                        <ui-select-match placeholder="Đơn vị tính...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in lstUnit | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addUnit()" class="btn no-shadow  green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorUnit" class="label-color validation-message">
                                    Đơn vị tính không được bỏ trống
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error' : errorGroup}">
                                <div class="col-md-12 pl-0">
                                    <label class="control-label require">Nhóm</label>
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Group" theme="bootstrap" ng-change="changeSelect('Group')">
                                            <ui-select-match placeholder="Nhóm...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in lstGroup | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="addGroup()" class="btn no-shadow green-custom" style="">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorGroup" class="label-color validation-message">
                                        Nhóm không được bỏ trống
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error' : errorType}">
                                <div class="col-md-12 pr-0">
                                    <label class="control-label require">Loại</label>
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Type" theme="bootstrap" ng-change="changeSelect('Type')">
                                            <ui-select-match placeholder="Loại...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in lstType | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="addType()" class="btn no-shadow green-custom" style="">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorType" class="label-color validation-message">
                                        Loại không được bỏ trống
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error' : errorMileStone}">
                                <div class="col-md-12 pr-0">
                                    <label class="control-label require">Mốc</label>
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.MileStone" theme="bootstrap" ng-change="changeSelect('MileStone')">
                                            <ui-select-match placeholder="Mốc...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in lstMileStone | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="addMileStone()" class="btn no-shadow green-custom" style="">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorMileStone" class="label-color validation-message">
                                        Mốc không được bỏ trống
                                    </span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error' : errorStatus}">
                            <div class="col-md-12">
                                <label class="control-label require">Trạng thái</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.Status" theme="bootstrap" ng-change="changeSelect('Status')">
                                        <ui-select-match placeholder="Trạng thái...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in lstStatus | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addStatus()" class="btn no-shadow green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorStatus" class="label-color validation-message">
                                    Trạng thái không được bỏ trống
                                </span>
                            </div>
                            <span class="fs12 text-success pull-right pr-2">Log ...</span>
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-top: 22px; width: 12%;">
                        <button class="btn red-custom">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            {{'Hình vẽ' | translate}}
                        </button>
                    </div>
                    <div class="col-md-5" style="width: 42%;">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">Địa điểm</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="model.Located" name="Located" placeholder="Địa điểm..." />
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-1" style="padding-top: 22px; width: 9.3%;" ng-show="!isAdded">
                        <button class="btn green-custom" ng-click="submit()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {{'Thêm mới' | translate}}
                        </button>
                    </div>-->
                    <div class="col-md-1" style="padding-top: 22px; width: 9.3%;">
                        <button class="btn green-custom" ng-click="submit()">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            {{'Lưu lại' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <div href="#Section1" aria-controls="home" role="button" data-toggle="tab">Người và bộ phận</div>
            </li>
            <li role="presentation" class="disabled stepNext">
                <div href="#Section2" aria-controls="profile" role="button" data-toggle="tab">
                    Dữ liệu kết quả
                </div>
            </li>
            <li role="presentation" class="disabled stepNext">
                <div href="#Section3" aria-controls="messages" role="button" data-toggle="tab">Lệnh đến và đi</div>
            </li>
            <li role="presentation" class="disabled stepNext">
                <div href="#Section6" aria-controls="messages" role="button" data-toggle="tab">Đối tượng vận hành</div>
            </li>
            <li role="presentation" class="disabled stepNext">
                <div href="#Section5" aria-controls="messages" role="button" data-toggle="tab" style="padding-left: 50px;">Hồ sơ</div>
            </li>

            <li role="presentation" class="disabled stepNext">
                <div href="#Section4" aria-controls="messages" role="button" data-toggle="tab" style="padding-left: 50px;">Mô tả</div>
            </li>

        </ul>
        <div class="tab-content" style="padding: 15px 15px 3px 15px;">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div ng-include="'../views/admin/workflowActivity/assign-user-to-activity.html'"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div ng-controller="attr-data">
                    <div class="row pb5">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{ 'has-error': errorAttrCode}">
                                <div class="col-md-12 nowrap">
                                    <label class="control-label require">&nbsp;{{'Thuộc tính' | translate}}</label>
                                </div>
                                <div class="col-md-12 pl-0">
                                    <div class="input-group">
                                        <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.AttrCode" theme="bootstrap" on-select="changeAttr($item)">
                                            <ui-select-match placeholder="{{'Thuộc tính' | translate}}...">{{$select.selected.AttrName}}</ui-select-match>
                                            <ui-select-choices repeat=" x.AttrCode as x in lstAttrData | filter: $select.search">
                                                {{x.AttrName}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <span ng-show="errorAttrCode" class="label-color validation-message">
                                        {{'Thuộc tính không được bỏ trống' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12 nowrap">
                                    <label class="control-label require">&nbsp;{{'Giá trị' | translate}}</label>
                                </div>
                                <div class="col-md-12 pl-0">
                                    <input class="form-control" name="Value" ng-model="model.Value" type="text" placeholder="{{'Giá trị' | translate}}..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-md-12 nowrap">
                                    <label class="control-label require">&nbsp;{{'Đơn vị' | translate}}</label>
                                </div>
                                <div class="col-md-12 pl-0">
                                    <div class="input-group">
                                        <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Unit" theme="bootstrap" ng-disabled="true">
                                            <ui-select-match placeholder="{{'Đơn vị' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in lstUnitAttr | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn green-custom" ng-click="submitAttr()" style="margin-top: 23px;">
                            {{'Thêm mới' | translate}}
                        </button>
                    </div>
                    <div class="table-responsive pt10" style="height: 340px; overflow-y: scroll;">
                        <table class="table table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center" style="width: 3%;">STT</th>
                                    <th class="col-md-9 text-center">{{'Tên thuộc tính' | translate}}</th>
                                    <th class="col-md-1 text-center">{{'Giá trị' | translate}}</th>
                                    <th class="col-md-1 text-center">{{'Đơn vị' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in lstResult" style="background: {{x.Background}}">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>
                                        <span class="bold">. {{x.AttrName}}</span><br />
                                        <span>{{x.CreatedBy}} - {{x.CreatedTime}}</span>
                                    </td>
                                    <td>{{x.Value}}</td>
                                    <td>{{x.Unit}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
                <div ng-controller="command">
                    <table class="table table-bordered" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th class="col-md-6 text-center">{{'Hoạt động' | translate}}</th>
                                <th class="col-md-2 text-center">{{'Lệnh' | translate}}</th>
                                <th class="col-md-2 text-center">{{'Duyệt' | translate}}</th>
                                <th class="col-md-2 text-center">{{'Xác nhận' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in lstActInst">
                                <td>{{x.Name}}</td>
                                <td><input type="text" class="form-control" ng-model="model.ActivityCode" name="ActivityCode" placeholder="Nhập lệnh..." /></td>
                                <td>
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Status" theme="bootstrap">
                                        <ui-select-match placeholder="{{'Duyệt' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices style="height: auto" repeat="x.Code as x in lstApprove | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Status" theme="bootstrap">
                                        <ui-select-match placeholder="{{'Xác nhận' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices style="height: auto" repeat="x.Code as x in lstConfirm | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section4">
                <textarea class="form-control fs14" id="description" rows="22" ng-model="model.Desc"></textarea>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section6">
                <div ng-controller="object-operation">
                    <div class="row">
                        <form name="formObjectOperation" class="form-horizontal" method="post">
                            <div class="col-md-12">
                                <div class="col-md-12 pl-0">
                                    <div class="col-md-3 pl-0">
                                        <label class="label-control">Loại đối tượng</label>
                                        <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.ObjectType" on-select="objTypeChange(model.ObjectType)" theme="bootstrap">
                                            <ui-select-match placeholder="{{'Loại đối tượng' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices style="height: auto" repeat="x.Code as x in lstObjType | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-4 pl-0">
                                        <label class="label-control">Đối tượng</label>
                                        <div class="input-group">
                                            <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.ObjectInst" theme="bootstrap">
                                                <ui-select-match placeholder="{{'Đối tượng' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices style="height: auto" repeat="x.Code as x in lstObj | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pt30">
                                        <label class="mt-checkbox" style="margin-bottom: 0; width: 30px;display:inline; font-size:13px">
                                            <input type="checkbox" ng-model="model.ObjEntry" ng-checked="model.ObjEntry"> Đối tượng chính
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-md-2 pt20" style="width: 12% !important">
                                        <button class="btn btn-blue" ng-click="addObject()">{{'Thêm mới' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive pt10" style="height: 340px; overflow-y: scroll;">
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" style="width: 3%;">STT</th>
                                        <th class="col-md-9 text-center">{{'Đối tượng xử lý' | translate}}</th>
                                        <th class="col-md-2 text-center">{{'Giao xử lý' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in lstObjectProcess">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="">
                                            {{x.ObjectCode}}--{{x.ObjectName}}<br />
                                            <span ng-show="x.ObjEntry">Xử lý chính , &nbsp;</span>
                                            <span ng-show="x.Beshare">Giao xử lý , &nbsp;</span>
                                            <span>{{x.Status}}</span>, &nbsp;
                                            <span>{{x.CreatedBy}}</span>, &nbsp;
                                            <span>{{x.CreatedTime}}</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="sendToActivity(x.ObjectCode, x.ObjType )">
                                                <span><i role="button" class="fa fa-share" aria-hidden="true"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section5">
                <div class="row" style="height: 365px; overflow:scroll;">
                    <div class="col-md-12 pb-1">
                        <div class="col-md-5">
                            <label class="control-label">{{'COM_FILE'|translate}}</label>
                            <div class="input-group input-file">
                                <i class="fa fa-upload"></i>
                                <input class="form-control border-left-4radius inputFile pl30" style="pointer-events:none" name="File" placeholder="{{'COM_FILE' | translate}}...">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Tải tệp</span>
                                    <input class="form-control" id="fileAttachment" custom-on-change-cardjob="loadAttachment" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                                </span>
                            </div>
                            <span class="pull-right">
                                <a class="pull-right fs12 text-success" ng-click="fileManage()" href="javascript:void(0)">{{'Chọn tệp'| translate}}...</a>
                            </span>
                        </div>
                        <div class="col-md-1" style="padding-top: 22px;">
                            <button class="btn green-custom" ng-click="insertFile()">
                                <i class="fa fa-plus"></i>
                                {{'Thêm' | translate}}
                            </button>
                        </div>

                        <!--<input type="file" id="fileAttachment" custom-on-change-cardjob="loadAttachment" style="display: none" />
                        <a class="pull-right text-danger" ng-click="addAttachment()" href="javascript:void(0)">{{'Tải tệp'| translate}}...</a>
                        <a class="pull-right pr-2 text-success" ng-click="fileManage()" href="javascript:void(0)">{{'Chọn tệp từ server'| translate}}...</a>-->
                    </div>
                    <div class="table-toolbar table_toolbar">
                        <div class="col-md-12" ng-repeat="attachment in attachments">
                            <div class="col-md-12 pl-0 pb10">
                                <div class="col-md-12 pr-0">
                                    <i style="color: {{attachment.Color}};font-size: 15px;" class="{{attachment.Icon}} pr5 pull-left" aria-hidden="true"></i><label class="bold col-md-10 pl-0"><a title="{{attachment.FileName}}" ng-click="viewFile(attachment.FileCode, attachment.FileUrl)">{{attachment.FileName.substring(0, 100)}}<span ng-if="attachment.FileName.length > 100">...</span></a></label>
                                </div>
                                <div class="col-md-12">
                                    <span class="gray">{{attachment.CreatedTime | fomartDateTime}} - {{attachment.MemberId}}- <a title="{{attachment.FileName}}" ng-click="downloadAttach(attachment.FileUrl, attachment.FileCode, attachment.Type)">{{'COM_BTN_DOWLOAD' | translate}}</a> - <a ng-click="deleteAttachment(attachment.FileCode, attachment.Type)" class="gray">{{'COM_BTN_DELETE' | translate}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
