
<div ng-controller="employee">
    <div class="text-center pr-2" style="margin-left: 1730px;">
        <a ng-click="viewCmsDetail('DSNS_TKNS')" class="fs30">
            <span><i class="fas fa-question fs30 " aria-hidden="true"></i></span>
        </a>
    </div>
    <span class="text-danger mb20">{{'COM_SET_LBL_NOTE_INDEX' | translate}}</span>
    <table class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataEmployee"></table>
</div>