<style>
    .width_90 {
        width: 90px;
    }
    .tab-content {
        width: 100%;
        min-height: 235px;
        /*overflow-y: scroll;
        overflow-x: hidden;*/
    }
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .sizelable {
        font-size: 15px;
        margin-top: 10px;
        color: red;
        font-weight: bold;
    }

    .boxGreen {
        width: 20px;
        height: 20px;
        background: #2ecc71;
        margin-right: 5px;
    }

    .boxRed {
        width: 20px;
        height: 20px;
        background: #e74c3c;
        margin-right: 5px;
    }

    .boxYellow {
        width: 20px;
        height: 20px;
        background: #f1c40f;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 0px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mt23 {
        margin-top: 23px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #fff;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #4868aa;
    }

    #payment:after {
        height: 0px;
    }

    .border-black {
        border: 1px solid #000;
    }

    .name {
        top: 12%;
        margin-left: 60%;
        font-size: 10px;
        position: absolute;
    }

    .dateapr {
        position: absolute;
        margin-left: 60%;
        top: 32%;
        font-size: 10px;
    }
</style>
<style>
    #info {
        border: 1px solid #ffdede;
        box-shadow: 0px 1px 0px 1px rgb(197, 214, 224) !important;
    }

    .font-in-tab {
        /* border-radius: 4px !important; */
        border: 1px solid #e7ecf1;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    tags-input .tags {
        height: 60px;
        max-height: 60px;
        border-radius: 24px;
    }

    .nav-tabs {
        margin-bottom: 0px !important;
    }


    @media (max-width:1200px) {
        .modal-60 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-60 {
            width: 60% !important;
        }
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: purple;
        background: white;
        border-top: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 700 !important;
        border-bottom: 6px solid #ff9800 !important;
    }

    .tab .tab-content {
        border: 1px solid #d3d3d3;
        padding: 15px;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
        border-bottom-width: 0px !important;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            /*.tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }*/

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                /*border-bottom: 1px solid #d3d3d3;*/
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        /*border-right: 1px solid #d3d3d3;*/
    }

    ::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #eaeaea;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
        background-color: #F5F5F5;
    }
</style>
<link rel="stylesheet" href="../../../css/admin/workflowActivity/workflow-ticket.css" />
<!--<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <span class="modal-title custom-title " id="modal-title"> {{'ASSETIMPRO_TITLE_UPDATE_TIKET_MAINTE' | translate}}</span>
</div>-->
<div class="modal-body font-in-tab" id="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt10 pl-0 pr-0">
                <div class="row ">
                    <div class="col-lg-12 mb10">
                        <div ng-include="'../views/admin/workflowPlugin/wf-plugin.html'"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label require custom-title-code-bold">&nbsp;{{'ASSETIMPRO_CURD_LBL_TICKET_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" name="Ticketcode" class="form-control br24 text-box-asset" data-ng-model="model.TicketCode" placeholder="{{'ASSETIMPRO_CURD_TXT_TICKET_CODE' | translate}}..." ng-readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-comment"></i>
                                <label class="control-label require custom-title-code-bold">&nbsp;{{'ASSETIMPRO_CURD_LBL_TICKET_NAME' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input class="form-control br24 text-box-asset" name="Title" ng-model="model.Title" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_TICKET_NAME' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-building"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_BRANCH' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Branch" theme="bootstrap" ng-change="changeSelect('Branch',model.Branch)">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in listOrganization | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorBranch" class="label-color validation-message">
                                    {{'ASSETIMPRO_MSG_ERR_BRANCH_NULL' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorDepartTransfer}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-th-list"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_UNIT_TRANSFER' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.DepartTransfer" theme="bootstrap" on-select="changleSelect('DepartTransfer')">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_UNIT_TRANSFER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in listDepartTransfer | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorDepartTransfer" class="label-color validation-message">
                                    {{'ASSETIMPRO_MSG_ERR_UNIT_MAIN_NULL' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_FROM_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class='br24'>
                                    <input type='text' id='StartTime' class="form-control br24" name="StartTime" ng-model="model.StartTime" placeholder="{{'ASSETIMPRO_CURD_TXT_FROM_DATE' | translate}}..." autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorUserTransfer}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_USER_IMPROVEMENT' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.UserTransfer" theme="bootstrap" ng-change="changeSelect('UserTransfer',model.UserTransfer)">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_USER_IMPROVEMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listUserTransfer | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorUserTransfer" class="label-color validation-message">
                                    {{'ASSETIMPRO_MSG_ERR_USER_IMPROVEMENT_NULL' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_LOCATION_TRANSFER' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input class="form-control br24" name="LocationTransfer" ng-model="model.LocationTransfer" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_LOCATION_TRANSFER' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_LOCATION_RECEIVED' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input class="form-control br24" name="LocationReceived" ng-model="model.LocationReceived" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_LOCATION_RECEIVED' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorStoreCode}">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'ASSETIMPRO_LBL_WF_CAT' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.WorkflowCat" theme="bootstrap" ng-change="loadDiagramWF(model.WorkflowCat)">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_LBL_WF_CAT' | translate}}..."><b class="text-brown">{{$select.selected.Name}}</b></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in lstWorkflow | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <label class="control-label">{{'ASSETIMPRO_CURD_TXT_STATUS' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.StatusTemp" theme="bootstrap" ng-change="changeStatus()">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_STATUS' | translate}}..."><p><span>{{$select.selected.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{$select.selected.Name}}</span> cho hoạt động <span class="fw600 text-green">{{$select.selected.ObjectRelative}}</span><span class="fw600 text-green">[{{$select.selected.CreatedTime}}]</span></p></ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listStatusLog | filter: $select.search" ui-disable-choice="true">
                                            <span>{{x.CreatedBy}}</span> đã cập nhật trạng thái <span class="text-primary fw600">{{x.Name}}</span> cho hoạt động <span class="fw600 text-green">{{x.ObjectRelative}} [{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}]</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: -5px !important;">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-money"></i>
                                <label class="control-label">&nbsp;{{'ASSETIMPRO_TAB_CATEGORY_LBL_SUM_MONEY' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="col-md-9 p-0">
                                    <input class="form-control br24 text-danger" style="font-weight:bold;" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" name="TotalMoney" ng-model="model.TotalMoney" placeholder="{{'Tổng tiền' | translate}}..." num-thousand='true' awnum num-int='21' />
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="form-group" ng-class="{ 'has-error': errorCurrency}">
                                        <div class="input-group br24-nobtn">
                                            <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Currency" theme="bootstrap" on-select="changleSelect('Currency')">
                                                <ui-select-match placeholder="{{'ASSETMPRO_LBL_CURRENCY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in ListCurrency | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorCurrency" class="label-color validation-message">
                                            {{'ASSETIMPRO_VALIDATE_UNIT_MONEY' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorUnitMaintenance}">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-th-list"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_UNIT_MAINTENANCE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group br24-nobtn">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.UnitMaintenance" theme="bootstrap" ng-change="changeSelect('UnitMaintenance',model.UnitMaintenance)">
                                        <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_UNIT_MAINTENANCE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in listUnitMaintenance | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorUnitMaintenance" class="label-color validation-message">
                                    {{'ASSETIMPRO_MSG_ERR_INT_IMPROVEMENT_NULL' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSETIMPRO_CURD_LBL_TO_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class='br24'>
                                    <input type='text' id='ReceivedTime' class="form-control br24" name="ReceivedTime" ng-model="model.ReceivedTime" placeholder="{{'ASSETIMPRO_CURD_TXT_TO_DATE' | translate}}..." autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 nowrap">
                                <i class="fa fa-comment"></i>
                                <label class="control-label">&nbsp;{{'ASSETIMPRO_CURD_LBL_NOTE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <textarea name="Note" rows="5" class="form-control" ng-model="model.Note" type="text" placeholder=" {{'ASSETIMPRO_CURD_TXT_NOTE' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row ">
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        <label class="control-label require custom-title-code-bold">{{'ASSETIMPRO_CURD_LBL_TICKET_CODE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="Ticketcode" class="form-control text-box-asset" data-ng-model="model.TicketCode" placeholder="{{'ASSETIMPRO_CURD_TXT_TICKET_CODE' | translate}}..." ng-readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-comment"></i>
                                        <label class="control-label require custom-title-code-bold">{{'ASSETIMPRO_CURD_LBL_TICKET_NAME' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control text-box-asset" name="Title" ng-model="model.Title" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_TICKET_NAME' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 nowrap">
                                <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                                    <div class="col-md-12">
                                        <i class="fa fa-building"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_BRANCH' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.Branch" theme="bootstrap" ng-change="changeSelect('Branch',model.Branch)">
                                                <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in listOrganization | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorBranch" class="label-color validation-message">
                                            {{'ASSETIMPRO_MSG_ERR_BRANCH_NULL' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorDepartTransfer}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_UNIT_TRANSFER' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.DepartTransfer" theme="bootstrap" ng-change="changeSelect('DepartTransfer',model.DepartTransfer)">
                                                <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_UNIT_TRANSFER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in listDepartTransfer | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorDepartTransfer" class="label-color validation-message">
                                            {{'ASSETIMPRO_MSG_ERR_UNIT_MAIN_NULL' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_FROM_DATE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class='input-group date'>
                                            <input type='text' id='StartTime' class="form-control input-date" name="StartTime" ng-model="model.StartTime" placeholder="{{'ASSETIMPRO_CURD_TXT_FROM_DATE' | translate}}..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_LOCATION_TRANSFER' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control" name="LocationTransfer" ng-model="model.LocationTransfer" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_LOCATION_TRANSFER' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorUserTransfer}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_USER_IMPROVEMENT' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.UserTransfer" theme="bootstrap" ng-change="changeSelect('UserTransfer',model.UserTransfer)">
                                                <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_USER_IMPROVEMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listUserTransfer | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorUserTransfer" class="label-color validation-message">
                                            {{'ASSETIMPRO_MSG_ERR_USER_IMPROVEMENT_NULL' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorUnitMaintenance}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_UNIT_MAINTENANCE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.UnitMaintenance" theme="bootstrap" ng-change="changeSelect('UnitMaintenance',model.UnitMaintenance)">
                                                <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_UNIT_MAINTENANCE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in listUnitMaintenance | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorUnitMaintenance" class="label-color validation-message">
                                            {{'ASSETIMPRO_MSG_ERR_INT_IMPROVEMENT_NULL' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_TO_DATE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class='input-group date'>
                                            <input type='text' id='ReceivedTime' class="form-control input-date" name="ReceivedTime" ng-model="model.ReceivedTime" placeholder="{{'ASSETIMPRO_CURD_TXT_TO_DATE' | translate}}..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_LOCATION_RECEIVED' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control" name="LocationReceived" ng-model="model.LocationReceived" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_LOCATION_RECEIVED' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorStatus}">
                                    <div class="col-md-12 ">
                                        <i class="fa fa-flag"></i>
                                        <label class="control-label">&nbsp;{{'ASSETIMPRO_CURD_LBL_STATUS' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.Status" theme="bootstrap" ng-change="changeSelect(model.Status)" disabled="true">
                                                <ui-select-match placeholder="Trạng thái..."><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listStatus | filter: $select.search">
                                                    <i class="{{x.Icon}}"></i>{{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <label class="control-label">{{'ASSETIMPRO_CURD_LBL_NOTE' | translate}}</label>
                                <textarea name="Note" rows="2" class="form-control" ng-model="model.Note" type="text" placeholder="{{'ASSETIMPRO_CURD_TXT_NOTE' | translate}}..."></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div id="content" class="sizelable">
                                        {{'ASSETIMPRO_CURD_LBL_SUM_MONEY' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 nowrap">
                        <div class="col-md-12 pr-0 pl-0">
                            <div class="form-group" ng-class="{ 'has-error': errorObjActCode}">
                                <div class="col-md-12">
                                    <i class="fa fa-comment"></i>
                                    <label class="control-label require">{{'ASSETIMPRO_CURD_LBL_CATEGORY_ACTIVITY' | translate}}</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.ObjActCode" theme="bootstrap" on-select="changleSelect('ObjActCode')">
                                            <ui-select-match placeholder="{{'ASSETIMPRO_CURD_TXT_CATEGORY_ACTIVITY' | translate}}...">{{$select.selected.CatName}}</ui-select-match>
                                            <ui-select-choices repeat=" x.Code as x in listObjActCode | filter: $select.search">
                                                {{x.CatName}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <span ng-show="errorObjActCode" class="label-color validation-message">
                                        {{'ASSETIMPRO_MSG_ERR_CATEGORY_ACTIVITY_NULL' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pr-0 pl-0" style="margin-top: 2%">
                            <label class="">&emsp;&emsp;&ensp; {{'ASSETIMPRO_CURD_LBL_LIST_UPLOAD_FILE' | translate}}</label>
                            <div class="col-md-12 boder-box h-100-srcoll">
                                <table class="table table-bordered" id="tblFileRequest">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5 text-center fw600 text-underline">{{'ASSETIMPRO_CURD_LBL_NAME_FILE' | translate}}</th>
                                            <th class="col-md-1 text-center fw600 text-underline">{{'ASSETIMPRO_CURD_LBL_DELETED' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in model.listFile">
                                            <td class="text-center"><a>{{x.Name}}</a></td>
                                            <td class="text-center">
                                                <i role="button" class="fa fa-minus-circle" title="{{'COM_BTN_DELETE' | translate}}" ng-click="deleteFile(x.Id)" style="color:red !important;font-size: 25px;padding-top:5px"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 pr10" style="margin-top: 6%">
                            <div class="btn-group actions d-flex pull-right">
                                <div class="text-center pr10">
                                    <a data-dismiss="modal" ng-click="deleteList()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                        <span><i class="glyphicon glyphicon-remove"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_DELETE' | translate}}</p>
                                </div>
                                <div class="text-center pr10">
                                    <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="addFile()">
                                        <span><i class="fa fa-upload"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'ASSETIMPRO_BTN_UPLOAD_FILE' | translate}}</p>
                                </div>
                                <div class="text-center pr30">
                                    <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </form>
        <div class="row">
            <div class="btn-group pull-right actions d-flex">
                <div class="text-center pr20 pt20">
                    <a data-dismiss="modal" ng-click="deleteList()" class="fs30 ">
                        <span><i class="fas fa-times pull-right h28 w28 " style="--fa-primary-color: red;"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_DELETE' | translate}}</p>
                </div>
                <div class="text-center pr20 pt5">
                    <a ng-click="print()" class="fs30" style="background: #fff;">
                        <span><i class="fas fa-print black"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt4"> {{'In phiếu' | translate}}</p>
                </div>
                <div class="text-center pr20">
                    <a ng-click="submit()" class="fs30 ">
                        <span><i class="fa-solid fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt5"> {{'COM_BTN_SAVE' | translate}}</p>
                </div>
            </div>
        </div>
            <div class="col-lg-12 ">

                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div href="#1" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASSETIMPRO_CURD_LBL_ASSET' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#2" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'ASSETIMPRO_TAB_CATEGORY_IMPROVEMENT_IN_ADD' | translate}}</div>
                        </li>
                        <li role="presentation" class="disabled stepNext">
                            <div href="#3" aria-controls="home" role="button" data-toggle="tab" class="ng-binding">{{'COM_FILE' | translate}}</div>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="1">
                            <div disable="tests" ng-include="'../views/admin/assetImprovement/addasset.html'"></div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="2">
                            <div disable="tests" ng-include="'../views/admin/assetImprovement/assetcategory.html'"></div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="3">
                            <div ng-include="'../views/admin/filePlugin/file-plugin.html'"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--<div class="tabbable">
            <uib-tabset active="active">
                <uib-tab index="0" heading="{{'ASSETIMPRO_TAB_ASSET_IMPROVEMENT_IN_ADD' | translate}}">
                    <div ng-include="'../views/admin/assetImprovement/addasset.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="{{'ASSETIMPRO_TAB_CATEGORY_IMPROVEMENT_IN_ADD' | translate}}">
                    <div ng-include="'../views/admin/assetImprovement/assetcategory.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>-->
    </div>
</div>