<style>
    .pos .ui-select-bootstrap .ui-select-toggle {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        padding-left: 5px !important
    }

    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #user .tags {
        max-height: 200px;
        height: 140px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        max-height: 100px;
        height: 100px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
        overflow: auto
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    #box-documentType .tags {
        max-height: 200px;
        height: 140px;
    }

    #documentType .tags {
        max-height: 90px;
        height: 90px;
    }

    #box .file-body {
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    #tblFileRequest tbody tr td {
        max-width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (min-width:768px) and (max-width:1200px) {
        .modal-70 {
            width: 80% !important;
        }
    }

    @media (min-width:1200px) and (max-width:1500px) {
        .modal-70 {
            width: 70% !important;
        }
    }

    .userFormAreaHeader {
        border-radius: 4px !important;
        border: 0px solid #e7ecf1 !important;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
        background: none;
    }

    /* Thiết lập nút bật tắt */
    .toggle-switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 50px;
    }

    /* Ẩn input checkbox */
    .toggle-switch input {
    display: none;
    }

    /* Tạo nút trượt */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Màu nền của nút */
    border-radius: 30px; /* Viền cong */
    -webkit-transition: .4s;
    transition: .4s;
    }

    /* Khi input được kiểm tra (checked), thay đổi màu nền của nút */
    .toggle-switch input:checked + .slider {
    background-color: #2196F3; /* Màu nền khác */
    }

    /* Tạo một nút trượt bật tắt */
    .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* Màu của nút trượt */
    border-radius: 50%; /* Viền cong để tạo hình tròn */
    -webkit-transition: .4s;
    transition: .4s;
    }

    /* Khi input được kiểm tra (checked), di chuyển nút trượt đến phía phải */
    .toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    }

    .toggle-container {
    display: flex;
    align-items: center;
    }
</style>

<div class="modal-header white-custom">
    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    </button>
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'PAUP_EDIT_ITEM' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row mb5">
                    <div class="form-group col-lg-8" ng-class="{'has-error' : errorQuantityImp}">
                        <label class="fw600 text-underline">{{'PAUP_EDIT_ITEM' | translate}}</label>
                        <div class='mr5'>
                            <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty br24 bold"
                            ng-model="modelHeader.TicketTitle" placeholder="{{'PAUP_EDIT_ITEM' | translate}}..."/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 ml20" ng-class="{ 'has-error': errorTypeCode}">
                        <label class="fw600 text-underline">{{'PAUP_EDIT_ITEM' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="modelHeader.Status" theme="bootstrap">
                                <ui-select-match placeholder="{{'PAUP_EDIT_ITEM' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listStatus | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelHeader.Status='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb5">
                    <div class="form-group col-lg-6">
                        <label class="fw600 text-underline">{{'SCP_COL_CREATED_BY' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="modelHeader.TicketCreator" theme="bootstrap">
                                <ui-select-match placeholder="{{'SCP_COL_CREATED_BY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Id as x in listEmployee | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelHeader.TicketCreator='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 ml20">
                        <label class="fw600 text-underline">{{'SCP_COL_CREATED_TIME' | translate}}</label>
                        <div class="input-group br24">
                            <input class="form-control" type="text" placeholder="{{'SCP_COL_CREATED_TIME' | translate}}..." ng-model="modelHeader.TicketTimeCreator" id="TicketCreateTime" ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelHeader.TicketTimeCreator=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb5">
                    <div class="form-group col-lg-6">
                        <label class="fw600 text-underline">{{'PAUP_IMPLEMENTER' | translate}}</label>
                        <div class="input-group br24">
                            <ui-select tagging ng-model="modelHeader.Packager" theme="bootstrap">
                                <ui-select-match placeholder="{{'PAUP_IMPLEMENTER' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Id as x in listEmployee | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelHeader.Packager='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 ml20">
                        <label class="fw600 text-underline">{{'PAUP_DATE_IMPLEMENT' | translate}}</label>
                        <div class="input-group br24">
                            <input class="form-control" type="text" placeholder="{{'PAUP_DATE_IMPLEMENT' | translate}}..." ng-model="modelHeader.PackagerTime" id="ExecuteTime" ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelHeader.PackagerTime=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb5">
                    <div class="col-md-10" style="height: 100%;">
                        <div class="form-group" ng-class="{'has-error' : errorQuantityImp}">
                            <label class="fw600 text-underline">{{'SCP_CURD_LBL_NOTE' | translate}}</label>
                            <div class="input-group br24">
                                <textarea class="form-control br24" ng-model="modelHeader.Noted" placeholder="{{'SCP_CURD_LBL_NOTE' | translate}}..." rows="6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 150px;">
                        <div class="col-md-12 text-center">
                            <div class="col-md-12 pl-0 pr-0 d-flex justify-content-center flex-column align-items-center">
                                <label class="fw600 text-underline mt10">{{'PAUP_ITEM_INSTOCK' | translate}}</label>
                                <label>
                                    <input type="checkbox" class="fw600" ng-model="InStock" ng-checked="InStock" ng-click="changeListProduct()" style="height: 25px; width: 25px;">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb5">
                    <div class="col-md-12">
                        <i class="fa fa-plus-circle icon-insert"></i>
                        <label class="fw600 text-underline">{{'PAUP_DETAILS_LIST' | translate}}</label>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="toggle-container">
                            <label class="fw600 text-underline">Cập nhật, dỡ</label>
                            <label class="toggle-switch">
                                <input type="checkbox" ng-model="IsUpdate" ng-checked="IsUpdate" ng-click="updateDetail()">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div> -->
                </div>
                <div class="tabbable">
                    <div class="row mb5">
                        <div class="col-md-12 tab-common">
                            <uib-tabset active="active">
                                <uib-tab index="0" heading="{{headingAdd | translate}}" select="chooseAdd()">
                                    <div ng-include="'../views/admin/palletsAndPackages/addProduct.html'"></div>
                                </uib-tab>
                                <uib-tab index="1" heading="{{headingUpdate | translate}}" select="chooseUpdate()">
                                    <div ng-include="'../views/admin/palletsAndPackages/editProduct.html'"></div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>

                <div class="row mb5 mt10">
                    <div class="btn-group actions pull-right d-flex pt15">
                        <div class="text-center pr10">
                            <a ng-click="submit()" class="fs30">
                                <span><i class="fa-solid fa-floppy-disk"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

