@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    var isAllData = session.IsAllData;
    var userId = session.UserId;
}
<script>
    var isAllData = "@(isAllData)";
    var userId = "@(userId)";
</script>
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/accountLogin/controller.js" type="text/javascript"></script>
