@using ESEIM.Utils

@{
    ViewData["Title"] = ViewData["CrumbCmsItem"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_script{
    <script src="~/lib/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
}
@section plugin_style{
    <link href="~/css/admin/cardJob/board.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}

<div id="contentMain" ng-app="App_ESEIM_EDU_EXAM" ng-controller="Ctrl_ESEIM_EDU_EXAM">
    <div ng-view></div>
</div>
<script src="~/views/admin/eduExam/controller.js" type="text/javascript"></script>
