<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{'DB_LBL_DOCUMENT' | translate}}</title>
    <style>
        text {
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        tspan {
            font-weight: 900;
        }
    </style>
</head>

<body>
    <svg id="svg-hold" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="170" version="1.1" width="175" style="overflow: hidden; position: absolute;" class="ui-draggable ui-draggable-handle">
        <rect x="7" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;"></rect>
        <rect x="7" y="0" width="175" height="140" rx="0" ry="0" fill="#1A1A1A" stroke="#1b1b1b" class="draw2d_shape_basic_Rectangle" stroke-opacity="1" stroke-width="1" fill-opacity="1" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: move;"></rect>
        
        <text x="-20" y="-120" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,53.7656,142)">
            <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="0" dx="0">{{'DB_LBL_BUSINESS | translate'}}</tspan>
        </text>
        <image x="19" y="28" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
        <image x="96" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
    

        

    </svg>
    <svg id="svg-hold" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="170" version="1.1" width="175" style="overflow: hidden; position: absolute;" class="ui-draggable ui-draggable-handle">
        <rect x="7" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;"></rect>
        <rect x="7" y="0" width="175" height="140" rx="0" ry="0" fill="#1A1A1A" stroke="#1b1b1b" class="draw2d_shape_basic_Rectangle" stroke-opacity="1" stroke-width="1" fill-opacity="1" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: move;"></rect>
        
        <text x="-20" y="-120" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,53.7656,142)">
            <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="0" dx="0">{{'DB_LBL_BUSINESS' | translate}}</tspan>
        </text>
        <image x="19" y="28" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
        <image x="96" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
    

        

    </svg>
    <svg id="svg-hold" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="170" version="1.1" width="175" style="overflow: hidden; position: absolute;" class="ui-draggable ui-draggable-handle">
        <rect x="7" y="0" width="170" height="140" rx="0" ry="0" fill="#000000" stroke="#000000" class="draw2d_shape_composite_Group" stroke-opacity="0" stroke-width="1" fill-opacity="0" stroke-dasharray="none" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: default;"></rect>
        <rect x="7" y="0" width="175" height="140" rx="0" ry="0" fill="#1A1A1A" stroke="#1b1b1b" class="draw2d_shape_basic_Rectangle" stroke-opacity="1" stroke-width="1" fill-opacity="1" stroke-dasharray="none" opacity="1" transform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: move;"></rect>
        
        <text x="-20" y="-120" text-anchor="start" font-family="&quot;Arial&quot;" font-size="12px" stroke="#000000" fill="#00adef" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font-family: Arial; font-size: 12px; font-weight: normal; opacity: 1;" stroke-scale="true" class="draw2d_shape_basic_Label" font-weight="normal" fill-opacity="1" stroke-opacity="0" stroke-width="0" opacity="1" transform="matrix(1,0,0,1,53.7656,142)">
            <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="0" dx="0">{{'DB_LBL_BUSINESS' | translate}}</tspan>
        </text>
        <image x="19" y="28" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
        <image x="96" y="29" width="70" height="95" preserveAspectRatio="none" xlink:href="../../../lib/inOut/img/1.svg" class="draw2d_shape_basic_Image" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: inline-block; width: 70px; height: 95px; opacity: 1; cursor: move;"></image>
    </svg>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $('#svg-hold').draggable();
    </script>
</body>

</html>