@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Xuất tài sản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_script {
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/assetRecordDelivery/controller.js" type="text/javascript"></script>
