<style>
    
    html body.fixed-navbar {
        padding-top: 0rem !important; 
    }
    .form{
        display:none;
      
    }
    
    .container {
        width: 100%;
    }


    .iframe1 {
        width: 61%;
        padding: 0.3rem;
        position: absolute;
        height: 195px;
        top: 14%;
        background-color: black;
    }

    .svg2 {
        top: 24%;
        height: 170px;
    }

    .content-box {
        background-image: url('../../../lib/inout/img/bg.png');
        background-position: center;
        background-size: cover;
        border: solid 0.5px #01adef;
        box-shadow: 0 0 10px 0 #00b9d6;
        width: 300px;
        height: 85%;
        position: absolute;
        left: 64%;
        top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-box2 {
        background-image: url('../../../lib/inout/img/bg.png');
        background-position: center;
        background-size: cover;
        border: solid 0.5px #01adef;
        box-shadow: 0 0 10px 0 #00b9d6;
        width: 150px;
        height: 85%;
        position: absolute;
        left: 87%;
        top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-3 {
        width: 150px;
        height: 95%;
        top: 6%;
        left: 60%;
    }

    .box-4 {
        left: 74%;
        top: 15%;
        width: 150px;
        height: 89%;
    }

    .content2 {
        height: 230px;
    }

    .iframe2 {
        width: 52%;
        margin-top: 1rem;
        height: 190px;
        background-color: black;
    }

    .iframe4 {
        width: 566px;
        position: absolute;
        left: -12%;
        top: 15%;
        height: 190px;
        background-color: black;
    }

    text {
        font-size: 16px;
        /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    }

    .clock {
        position: absolute;
        right: 23%;
        top: 15px;
        font-size: 35px;
        text-align: center;
        /*font-family: digital;*/
        letter-spacing: 5px;
        color: #00FF00;
        font-weight: bold;
    }

    .content2 {
        margin-top: 10px;
    }

    h3.title {
        margin: 0 0 0 10px;
        color: #fff;
        font-size: 16px;
    }

    .content-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        padding: 0 2rem;
        justify-content: space-between;
    }

        .content-item h4, .content-item span {
            color: #00ADEF;
            font-weight: 400;
        }

        .content-item span {
            color: #00FF00;
            font-size: 18px;
        }

        .content-item i {
            font-size: 18px;
            color: #fff;
            padding-right: 10px;
        }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }






    @media (min-width: 1920px) {
        .wrapper {
            height: 900px;
        }
    }

    @media (min-width: 1600px) {

        .wrapper {
            padding-left: 5%;
        }
    }

    @media only screen and (min-width: 1300px) and (max-width: 1400px) {
        .iframe4 {
            left: -11%;
        }

        .iframe1 {
            width: 68%;
        }

        .content-box {
            left: 69%;
            width: 235px;
        }

        .iframe2 {
            width: 58%;
        }

        .box-3 {
            left: 62%;
            width: 165px;
        }

        .box-4 {
            left: 74%;
            width: 148px;
            top: 12%;
        }

        .iframe4 {
            left: -13%;
            top: 12%;
            width: 571px;
        }

        .clock {
            right: 16.5%;
        }
    }

    @media (max-width: 1200px) {
        .wrapper {
            height: auto;
        }

        .content2 {
            margin-top: 11rem;
        }

        .content-box {
            left: 20px;
            top: 100%;
        }

        .content-box2 {
            top: 100%;
            left: 50%;
        }

        .box-3, .box-4 {
            top: 35%;
        }

        .box-3 {
            left: 80%;
        }

        .box-4 {
            left: 32%;
            top: 23%;
        }

        .iframe1 {
            width: 100%;
        }
    }

    .content-item i{
        padding-right:0px !important;
    }
    .span i {
        padding-right: 0px !important;
        margin-right: 0px !important;
    }
    @media only screen and (max-width: 1024px) {
        .wrapper {
            height: 2400px;
            padding: 10px 5px;
        }

        .clock {
            right: 30px;
        }

        .content-box, .content-box2 {
            left: 3px;
            top: 110%;
            width: 49%;
        }

        .content-box2 {
            left: 51%;
        }

        .content2 {
            margin-top: 12rem;
        }

        .vp_left, .vp_right {
            width: 100% !important;
        }

        .content2 {
            flex-wrap: wrap;
        }

        .box-3 {
            top: 20%;
            left: 51%;
        }

        .box-4 {
            left: 51%;
            margin-top: 78px;
            height: 188px;
        }

        .iframe4 {
            left: 0;
            width: 50%;
            margin-top: 4rem;
        }

        .iframe2 {
            width: 50%;
        }

        .xuatan {
            top: 40px;
        }

        .content-item {
            padding: 0 6rem;
        }
    }

    @media only screen and (max-width: 768px) {
        .span i {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }
        .wrapper {
            height: 2200px;
        }

        .content-box, .content-box2 {
            top: 107%;
            width: 47%;
            left: 0%;
        }

        .content-box2 {
            left: 53%;
        }

        .content2 {
            margin-top: 14rem;
            flex-wrap: wrap;
        }

        .vp_left, .vp_right {
            width: 100% !important;
            padding: 0px;
        }

        .iframe4 {
            width: 73%;
            left: 0;
        }

        .iframe2 {
            width: 50%;
        }

        .box-3 {
            left: 60%;
            top: 26%;
            width: 26%;
        }

        .box-4 {
            height: 900%;
            width: 20%;
            left: 76%;
            top: 55%;
        }

        .content-item {
            padding: 0 3rem;
        }

        .box2r {
            padding: 0 1rem;
        }
    }

    @media only screen and (max-width: 414px) {
        .span i {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }
        .clock {
            font-size: 20px;
            right: 11.5%;
            padding:5px;
        }
        h3.title{
            font-size:13px;
        }

        .content-box2 {
            left: 53%;
        }

        .content2 {
            margin-top: 16rem;
        }
        

        .iframe2 {
            width: 100%;
        }

        .box-3 {
            top: 107%;
            margin-top: 2rem;
        }

        .vp_right {
            margin-top: 16rem;
        }
        .iframe4 {
            width: 100%;
            margin-top:18%;
        }

        .box-4 {
            height: 900%;
            top: 118%;
            margin-top: 20rem;
        }

        .box-3, .box-4 {
            left: 0%;
            width: 100%;
        }

        .content-item {
            padding: 0 .5rem;
        }

        .box2r {
            padding: 0 3.5rem;
        }

        .box2rr {
            padding: 0 .5rem;
        }
        h4{
            padding-left:0px !important;
        }
    }

    @media only screen and (max-width: 375px) {
        .clock {
            right: 4.5%;
        }
        .span i {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }
    }

    @media (min-width : 1200px) {
        .container {
           max-width: 100%;
        }
    }
    .clock{
        top:-3px;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 100% !important;
    }

    .fs16 {
        font-size: 13px !important;
    }

    h4 {
        font-size: 13px !important;
    }

    .fas {
        font-size: 10px !important;
    }

    .fs14 {
        margin-top: -5px;
        font-size: 13px !important;
        font-weight: 700;
    }

    .row {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .col-lg-3.col-md-3.col-sm-12.col-xs-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .span i{
        padding-right:0px !important;
        margin-right:0px !important;
    }
    .content-item span {
        color: #00FF00;
        font-size: 13px !important;
    }
    @font-face {
        font-family: 'robotomono-regular';
        src: url('../../../lib/mobile/font/robotomono-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: robotomono-regular !important;
    }
</style>
<div class="wrapper">
    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
    <div style="position: relative;height:230px; width: 100%;">
        <iframe id="if1" class="iframe1" src="/views/admin/dashBoard/if3.html"></iframe>
        <div class="content-box">
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Đi Vào</h4>
                </div>
                <span id="clintotal">0 </span>
                <span id="clintotal">0 </span>
            </div>
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Đi Ra</h4>
                </div>
                <span id="clouttotal">0 </span>
                <span id="clouttotal">0 </span>
            </div>
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Về Muộn</h4>
                </div>
                <span id="clvmtotal">0 </span>
                <span id="clvmtotal">0 </span>
            </div>
        </div>
        <div class="content-box2 ">
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CN</h4>
                </div>
                <span id="cncl">0 </span>
            </div>
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CBPX</h4>
                </div>
                <span id="cbpxcl">0 </span>
            </div>
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CBVP</h4>
                </div>
                <span id="cbvpcl">0 </span>
            </div>
        </div>
        <h3 id="cualo" class="title"></h3>
    </div>
    <div style="position: relative;height:230px; width: 100%;" class="content2">
        <iframe class="iframe1" src="/views/admin/dashBoard/if1.html"></iframe>
        <div class="content-box">
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Đi Vào</h4>
                </div>
                <span id="mbintotal">0</span>
            </div>
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Đi Ra</h4>
                </div>
                <span id="mbouttotal">0</span>
            </div>
            <div class="content-item">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>Về Muộn</h4>
                </div>
                <span>0</span>
            </div>
        </div>
        <div class="content-box2">
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CN</h4>
                </div>
                <span id="cnmb">0</span>
            </div>
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CBPX</h4>
                </div>
                <span id="cbpxmb">0</span>
            </div>
            <div class="content-item box2r box2rr">
                <div class="spani">
                    <i class="fas fa-user-friends"></i>
                    <h4>CBVP</h4>
                </div>
                <span id="cbvpmb">0</span>
            </div>
        </div>
        <h3 id="matbang" class="title"></h3>
    </div>
    <div style="display: flex; justify-content: space-between; padding-bottom: 1rem; " class="content2">
        <div style="position: relative;height: 200px;width: 49%;" class="vp_left">
            <h3 id="vanphong" class="title"></h3>
            <iframe class="iframe2" src="/views/admin/dashBoard/if2.html"></iframe>
            <div class="content-box box-3">
                <div class="content-item box2r">
                    <div class="spani">
                        <i class="fas fa-user-friends"></i>
                        <h4>Đi Vào</h4>
                    </div>
                    <span id="totalvpin">0</span>
                </div>
                <div class="content-item box2r">
                    <div class="spani">
                        <i class="fas fa-user-friends"></i>
                        <h4>Đi Ra</h4>
                    </div>
                    <span id="totalvpout">0</span>
                </div>
            </div>
        </div>
        <div style="position: relative;width: 49.5%;top:1rem" class="vp_right">
            <iframe class="iframe4" src="/views/admin/dashBoard/if4.html"></iframe>
            <h3 id="nhaan" class="title xuatan"></h3>
            <div class="content-box box-4">
                <div class="content-item box2r">
                    <div class="spani">
                        <i class="fas fa-user-friends"></i>
                        <h4>T1</h4>
                    </div>
                    <span id="na1total">0</span>
                </div>
                <div class="content-item box2r">
                    <div class="spani">
                        <i class="fas fa-user-friends"></i>
                        <h4>T2</h4>
                    </div>
                    <span id="na2total">0</span>
                </div>
            </div>
        </div>
    </div>
</div>
