<style>
    .app-content {
        width: 100%;
    }
    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }
    tags-input .tags {
        height: 60px;
        max-height: 60px;
        border-radius: 24px;
    }
    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(90% - 50px);
        right: 75px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }
</style>

<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />


<div class="btn-group pull-right pt5 pb-1 actions d-flex" style="margin-top: -50px;">
    <div class="text-center pr-2" >
        <a class="fs30" ng-click="showSearch()">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class=" fs30 p-0" ng-click="add()">

            <span><i class="fa-solid fa-plus"></i></span>

        </a>

        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
</div>
    <div id="searchBox" ng-show="isSearch">
        <div class="table-toolbar">
            <div class="portlet light bordered mb5 mt15">
                <div class="portlet-body">
                    <div class="row mb5">
                        <div class="col-md-12" style="height:20px">
                            <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times pull-right h28 w28 close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                        </div>
                        </div>
                        <div class="row pt5 mb5">
                            <div class="col-md-3 pr-0">
                                <div class="col-md-12 pl-0">
                                    <label class="control-label bold text-underline">{{'Mã/tên khu vực' | translate}}</label>
                                </div>
                                <div class="col-md-12 pl-0">
                                    <div class="input-group br24">
                                        <input name="ZoneName" class="form-control" ng-model="model.ZoneName" type="text" placeholder="{{'Mã/tên khu vực' | translate}}...">
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.ZoneName=''" class="btn btn-default no-shadow end-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="form-group">
                                    <div class="col-md-12 pl-0">
                                        <label class="control-label bold text-underline">{{'Trạng thái' | translate}}</label>
                                    </div>
                                    <div class="col-md-12 pl-0">
                                        <div class="input-group search-group br24">
                                            <ui-select tagging ng-model="model.ZoneStatus" theme="bootstrap">
                                                <ui-select-match placeholder="{{'Trạng thái' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in lstStatus | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.ZoneStatus=''" class="btn btn-default no-shadow end-date">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 pr-0">
                                <div class="col-md-12 pl-0">
                                    <label class="control-label bold text-underline">{{'Địa chỉ' | translate}}</label>
                                </div>
                                <div class="col-md-12 pl-0">
                                    <div class="input-group br24">
                                        <input name="ZoneName" class="form-control" ng-model="model.ZoneAddress" type="text" placeholder="{{'Địa chỉ' | translate}}...">
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.ZoneAddress=''" class="btn btn-default no-shadow end-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1 pull-right pr-0 pl-0">
                                <div class="btn-group actions " style="margin-top:15px;">
                                    <div class="text-center pr10">
                                        <a ng-click="search()" class="fs30">
                                            <span><i class="fas fa-search"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <div class="row">
                <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
            </div>
            <table class="table dataTable table-hover table-striped"
                   datatable
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblData"></table>
