<style>
    .tabs {
    }

        .tabs input[type=radio] {
            display: none;
        }

        .tabs label {
            transition: background 0.4s ease-in-out, height 0.2s linear;
            display: inline-block;
            cursor: pointer;
            color: #428bca;
            width: 20%;
            height: 3em;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: #fff;
            text-align: center;
            line-height: 3em;
            margin-left:-3px;
            border-bottom:1px solid grey
        }

            .tabs label:last-of-type {
            }

            .tabs label:hover {
                background: #fff;
                color: #000;
                border-bottom:#fff;

            }

    @media screen and (max-width: 1600px) {
        .tabs label {
            width: 15%;
        }
    }

    @media screen and (max-width: 900px) {
        .tabs label {
            width: 20%;
        }
    }

    @media screen and (max-width: 600px) {
        .tabs label {
            width: 100%;
            display: block;
            border-bottom: 2px solid #C7C6C4;
            border-radius: 0;
        }
    }

    @media screen and (max-width: 600px) {
        .tabs {
            margin: 0;
        }
    }

    #tab1:checked + label,
    #tab2:checked + label,
    #tab3:checked + label,
    #tab4:checked + label {
        background: #fff;
        color: #000;
        border: 1px solid grey;
        border-bottom: none;
    }

    .tab-content {
        position: absolute;
        top: -9999px;
        padding: 10px;
    }

    .tab-content-wrapper {
        background: #fff;
        border-top: #fff 1px solid;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    @media screen and (max-width: 600px) {
        .tab-content-wrapper,
        .tab1-content-wrapper {
            border: none;
            border-radius: 0;
        }
    }

    #tab1:checked ~ .tab-content-wrapper #tab-content-1,
    #tab2:checked ~ .tab-content-wrapper #tab-content-2,
    #tab3:checked ~ .tab-content-wrapper #tab-content-3,
    #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
        position: relative;
        top: 0px;
    }
    .menu{
        margin-bottom:0;
    }
    .tab-content-wrapper {
        margin-left: -3px;
        border:1px solid grey;
        border-top: #fff 1px solid;
    }
</style>
<div class="tabs">
    
    <input type="radio" name="tab" id="tab1" checked="checked">
    <label for="tab1" class="menu">
        <i class="fas fa-home fs16" aria-hidden="true"></i>
        Home
    </label>
    <input type="radio" name="tab" id="tab2">
    <label for="tab2" class="menu">
        <i class="fas fa-home fs16" aria-hidden="true"></i>
        Portfolio
    </label>
    <input type="radio" name="tab" id="tab3">
    <label for="tab3" class="menu">
        <i class="fas fa-home fs16" aria-hidden="true"></i>

        Archives
    </label>
    <input type="radio" name="tab" id="tab4">
    <label for="tab4" class="menu">
        <i class="fas fa-home fs16" aria-hidden="true"></i>

        Contact
    </label>

    <div class="tab-content-wrapper">
        <div id="tab-content-1" class="tab-content">

            <p>
                Tab 1
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. In bibendum consequat imperdiet. Duis eros ex, vestibulum vel fermentum ut, gravida at turpis. Etiam porta sem dolor, at finibus metus
                consequat a. Aliquam erat volutpat. Donec sollicitudin metus quis magna faucibus, vitae ultrices libero ultrices. Sed ut dui vitae velit laoreet commodo. Nam suscipit purus a ultricies auctor.
            </p>
        </div>
        <div id="tab-content-2" class="tab-content">

            <p>
                Tab2
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. In bibendum consequat imperdiet. Duis eros ex, vestibulum vel fermentum ut, gravida at turpis. Etiam porta sem dolor, at finibus metus
                consequat a. Aliquam erat volutpat.
            </p>
        </div>
        <div id="tab-content-3" class="tab-content">

            <p>Tab3
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. In bibendum consequat imperdiet. Duis eros ex, vestibulum vel fermentum ut, gravida at turpis. Etiam porta sem dolor, at finibus metus
                consequat a. Aliquam erat volutpat. Donec sollicitudin metus quis magna faucibus, vitae ultrices libero ultrices. Sed ut dui vitae velit laoreet commodo. Nam suscipit purus a ultricies auctor.
            </p>
        </div>
        <div id="tab-content-4" class="tab-content">

            <p>Tab 4
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur mattis nibh, non ornare neque. In bibendum consequat imperdiet. Duis eros ex, vestibulum vel fermentum ut, gravida at turpis. Etiam porta sem dolor, at finibus metus
                consequat a. Aliquam erat volutpat.
            </p>
        </div>
    </div>
</div>