@model III.Admin.Controllers.NotepadController.LectureInfo;
@{
    ViewData["Title"] = "View Lecture";
}
<body>
    <link href="~/lib/assets/global/plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/site/site.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/font-awesome-5.13/css/all.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/admin/site/helper.css" rel="stylesheet" />
    <script src="~/lib/robust/core/libraries/jquery.min.js" type="text/javascript"></script>

    @Html.HiddenFor(m => m.Content)
    <div id="content"></div>
    <script>
        var content = $('#Content').val();
        $('#content').html(content);
    </script>
</body>
