<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-80 {
            width: 80%;
        }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .modal-80 {
            width: 70%;
        }
    }

    @media (min-width:1400px) {
        .modal-80 {
            width: 60%;
        }
    }


    /*CSS form Tab*/
    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
            border-top-right-radius: 5px;
        }

            .tab .nav-tabs li div {
                color: black;
                background: white;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 20px;
                border-bottom: none;
                font-weight: 600;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
    }

    .tab .nav-tabs li.active > div, .tab .nav-tabs > li.active > div:focus {
        border: none;
        color: green;
        background: white;
        border-top: 2px solid #e7505a;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }
    /*CSS form Tab*/
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'LMS_PRACTICE_TEST_LBL_UPDATE_EXAM' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require bold"><i class="fa fa-barcode"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_TITLE' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control text-important" name="Title" ng-model="model.Title" type="text" placeholder="{{'LMS_PRACTICE_TEST_LBL_TITLE' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pl-0">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require fw600 nowrap"><i class="fa fa-clock-o"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_TIME' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control fw600" name="Duration" ng-model="model.Duration" type="number" placeholder="{{'LMS_PRACTICE_TEST_LBL_TIME_MINUTE' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 pl-0">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label fw600"><i class="fa fa-sticky-note-o"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_NOTE' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" ng-model="model.Note" type="text" placeholder="{{'LMS_PRACTICE_TEST_LBL_NOTE' | translate}}..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label bold"><i class="fa fa-list"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_INHERITANCE_EXAM' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <ui-select class="" tagging ng-model="model.ExamInheritance" theme="bootstrap" ng-change="changeSelect('ExamInheritance')">
                                        <ui-select-match placeholder="{{'LMS_PRACTICE_TEST_LBL_INHERITANCE_EXAM' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x  in listExamInheritance | filter: $select.search">
                                            <span class="bold fs11">{{x.Name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ExamInheritance=''" class="btn btn-default no-shadow">
                                            <span class="fa fa-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label require bold"><i class="fa fa-question-circle"></i>&nbsp;{{'LMS_PRACTICE_TEST_LBL_QUESTION' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group" ng-class="{ 'has-error': errorQuestion}">
                                    <ui-select class="" tagging ng-model="model.QuestionCode" theme="bootstrap" ng-change="changeSelect('QuestionCode')">
                                        <ui-select-match placeholder="{{'LMS_PRACTICE_TEST_TXT_SELECT_QUESTION' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x  in listQuestion | filter: $select.search">
                                            <span class="bold fs11">{{x.Name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addQuestion()" class="btn btn-default no-shadow green-custom">
                                            <span class="fa fa-arrow-down"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorQuestion" class="label-color validation-message">
                                    {{'LMS_PRACTICE_TEST_LBL_QUESTION_NOT_EXIST' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="pull-right mt25">
                            <div class="btn-group actions d-flex">
                                <div class="text-center" ng-click="submit()">
                                    <div class="btn btn-icon-only btn-boder1">
                                        <span><i class="fa fa-save"></i></span>
                                    </div>
                                    <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 mb15">
            <div class="table-responsive">
                <table class="table table-bordered" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1" style="width: 5%;">{{'LMS_PRACTICE_TEST_LBL_ORDER' | translate}}</th>
                            <th class="text-center col-md-2 nowrap">{{'LMS_PRACTICE_TEST_LBL_QUESTION' | translate}}</th>
                            <th class="text-center col-md-6 nowrap">{{'LMS_PRACTICE_TEST_LBL_CONTENT' | translate}}</th>
                            <th class="text-center col-md-1 nowrap">{{'LMS_PRACTICE_TEST_LBL_OPERATION' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listDetail">
                            <td class="text-center pt15 bold">{{$index+1}}</td>
                            <td class="text-left pl20 text-green">{{x.Title}}</td>
                            <td class="text-left pl20 text-green">{{x.Content}}</td>
                            <td class="text-center nowrap">
                                <a title="Xóa" ng-click="deleteQuestion(x.Id)"><i class="fas fa-trash fs15" style="--fa-primary-color: red;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
