<style>
    .app-content {
        width: 100%;
    }

    .breadcrumb > li {
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-decoration: underline;
    }

    .mColor {
        /*color: red;
        font-weight: bold;*/
        white-space: pre-wrap;
    }

    #contentMain {
        position: relative;
    }
    #searchBox {
        position: absolute;
        z-index: 12;
        width: calc(90% - 50px);
        right: 10px;
        top: 10px;
    }

        #searchBox .bordered {
            border: 1px solid #80808057 !important;
            box-shadow: 1px 3px 8px 0px #888888c2;
        }

    @keyframes blinker-one {
        0% {
            opacity: 0;
        }
    }

    @-webkit-keyframes blinkerAct {
        from {
            opacity: 0;
        }

        to {
            color: blue;
        }
    }

    .blink-act {
        text-decoration: blink;
        -webkit-animation-name: blinkerAct;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }
    #breadcrumbIndex {
        display: none;
    }

    #breadcrumb-container #breadcrumbIndex {
        display: block;
    }
    .filterBtnGroup {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: space-evenly;
        justify-content: space-evenly;
    }
    .filterBtnGroup button {
        border: none;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<link href="../../../css/admin/site/search-control.css" rel="stylesheet" />

<div id="breadcrumbIndex"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/DashBoard"><i class="fa fa-home"></i>{{'LMS_PRACTICE_TEST_LBL_HOME_PAGE' | translate}}</a></li><li class="breadcrumb-item"><a href="/Admin/LmsDashBoard">{{'LMS_PRACTICE_TEST_LBL_SYS_STUDY' | translate}}</a></li><li class="breadcrumb-item">{{'LMS_PRACTICE_TEST_LBL_BANK_EXAM' | translate}}</li></ol></div>
<div class="btn-group actions pt5 pb-1 pull-right d-flex mr5" style="margin-top: -50px;">
    <div class="text-center pr-2">
        <a class="fs30" ng-click="showSearch()">
            <span><i class="fas fa-search"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
    </div>
    <div class="text-center pr-2">
        <a class="fs30" ng-click="add()">
            <span><i class="fa-solid fa-plus"></i></span>
        </a>
        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
    </div>
    <!--<div class="text-center" ng-show="!isShow">
        <a class="fs30"  ng-click="collapse()">
            <span><i class="fas fa-expand-wide"></i></span>
        </a>
    </div>
    <div class="text-center" ng-show="isShow">
        <a class="fs30"ng-click="expand()">
            <span><i class="fas fa-expand-wide"></i></span>
        </a>
    </div>-->
</div>
<div id="searchBox" ng-show="isSearch">
    <div class="table-toolbar pr10">
        <div class="portlet light bordered mb5 mt10">
            <div class="portlet-body">
                <div class="row pt5 mb5">
                    <div class="col-md-12">
                        <i ng-click="showSearch()" style="margin-top:9px !important; margin-right:5px !important; font-size:25px" class="fas fa-times  pull-right h28 w28  close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                    </div>
                </div>
                <div class="row pb5">
                    <div class="col-md-6 pr-0">
                        <label class="fw600 text-underline">{{'LMS_PRACTICE_TEST_LBL_KEY_WORK' | translate}}</label>
                        <div class="br24">
                            <input ng-model="model.Keyword" class="form-control br24 " type="text" placeholder="{{'LMS_PRACTICE_TEST_LBL_KEY_WORK' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        </div>
                    </div>
                    <div class="col-md-1 pr-0">
                        <label class="fw600 text-underline">{{'LMS_PRACTICE_TEST_LBL_FROM_DATE' | translate}}</label>
                        <div class="br24">
                            <input type="text" autocomplete="off" class="form-control br24" placeholder="{{'LMS_PRACTICE_TEST_LBL_FROM_DATE' | translate}}..." ng-model="model.FromDate" id="FromDate">
                        </div>
                    </div>
                    <div class="col-md-1 pr-0">
                        <label class="fw600 text-underline">{{'LMS_PRACTICE_TEST_LBL_TO_DATE' | translate}}</label>
                        <div class="br24">
                            <input type="text" autocomplete="off" class="form-control br24" placeholder="{{'LMS_PRACTICE_TEST_LBL_TO_DATE' | translate}}..." ng-model="model.ToDate" id="ToDate">
                        </div>
                    </div>
                    <div class="col-md-2 pr-0">
                        <label class="fw600 text-underline">{{'LMS_PRACTICE_TEST_LBL_SUBJECTS' | translate}}</label>
                        <div class="input-group search-group br24">
                            <ui-select tagging ng-model="model.Subject" theme="bootstrap">
                                <ui-select-match placeholder="{{'LMS_PRACTICE_TEST_LBL_SUBJECTS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x  in listSubject | filter: $select.search">
                                    <span class="bold fs11">{{x.Name}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Category='';" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!--<div class="col-md-1 pr-0">
                        <label class="fw600 text-underline">{{'Được giao' | translate}}</label>
                        <div class="input-group">
                            <div class="text-center mt10">
                                <i class="fas fa-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="model.OnlyAssignment != true" ng-click="model.OnlyAssignment = true"></i>

                                <i class="fas fa-check-square" style="color:cornflowerblue;font-size: 25px;margin-right: 10px;" ng-if="model.OnlyAssignment == true" ng-click="model.OnlyAssignment = false"></i>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-md-1" style="width: 5%;">
                        <div class="btn-group pt20 actions d-flex">
                            <div class="text-center mr10">
                                <a class="fs30" ng-click="search()">
                                    <span><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row" ng-show="!isShow">
        <div class="col-md-7">
            <div class="fs14 d-flex">
                <div class="mColor"><label><i class="fa fa-warning"></i>{{'LMS_PRACTICE_TEST_MSG_TOYAL_EXAM' | translate}}</label> <b>{{totalAssignments}}</b>.</div>
                <div class="filterBtnGroup flex-grow-full">
                    <button class="br24" style="background: green" ng-click="searchAssignmentOnly()">{{'LMS_MNU_PRACTICE_ASSIGNMENT' | translate}} [{{countAssignment}}]</button>
                    <button class="br24" style="background: orange" ng-click="searchShareAndEditable()">{{'LMS_MNU_PRACTICE_STORE' | translate}} [{{countVoluntary}}]</button>
                </div>
            </div>
            <!--<table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData"></table>-->
            <table class="table dataTable table-hover table-striped"
                   datatable
                   dt-options="dtOptionsExam"
                   dt-columns="dtColumnsExam"
                   dt-instance="dtInstanceExam"
                   id="tblDataExam"></table>
        </div>
        <div class="col-md-5">
            <style>
                .fc-time {
                    display: none;
                }

                .fc-event-event-custom {
                    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
                    border: none !important;
                    width: 92%;
                    margin-left: 4% !important;
                }

                .fc-content {
                    font-size: 12px !important;
                }
            </style>
            <div class="calendar-wrap" ng-if="IsTranslate">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <!--<div class="row mt20">
        <div class="col-md-12" style="height: 350px; overflow-y: auto">
            <table class="table dataTable table-hover table-striped"
                   datatable
                   dt-options="dtOptionsExam"
                   dt-columns="dtColumnsExam"
                   dt-instance="dtInstanceExam"
                   id="tblDataExam"></table>
        </div>
    </div>-->
    <script>
        setTimeout(function () {
            let isDown = false;
            let startX;
            let scrollLeft;

            $('.table-scrollable').mousedown(function (e) {
                isDown = true;
                startX = e.pageX - $('.table-scrollable').offset().left;
                scrollLeft = $('.table-scrollable').scrollLeft();
            });
            $('.table-scrollable').mouseleave(function () {
                isDown = false;
            });
            $('.table-scrollable').mouseup(function () {
                isDown = false;
            });
            $('.table-scrollable').mousemove(function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $('.table-scrollable').offset().left;
                const walk = (x - startX) * 1; //scroll-fast
                $('.table-scrollable').scrollLeft(scrollLeft - walk);
                console.log(walk);
            });
        }, 1000);

    </script>
