<style>
    .node {
        height: 50px;
        width: 50px;
        font-size: 27px;
        font-weight: bold;
        color: white;
        border-width: 7px;
        /* border: solid; */
        border-radius: 30px;
        padding-top: 5px;
        margin-left: -26px;
        margin-top: -10px;
        background: bisque;
    }

    .text-node {
        font-size: 12px !important;
        font-weight: bold;
    }

    .next_icon {
        font-size: 40px;
        color: #817aec;
        margin-top: 12px;
        /*margin-left: 30px;*/
    }

    .scroll_right {
        overflow-x: scroll;
        height: 100px;
        overflow-y: hidden;
    }

    .width_165 {
        width: 165px;
    }

    .icon {
        font-size: 45px;
        margin-top: 10px;
    }

    .check {
        background: #03bb03 !important;
    }

    .pause {
        background: #e6ad0c !important;
    }

    .waitting {
        background: #676363 !important;
    }

    .text_check {
        color: #03bb03 !important;
    }

    .text_pause {
        color: #e6ad0c !important;
    }

    .border_bottom {
        border-bottom: groove;
        margin-bottom: 0px !important;
    }
    .style_icon {
        width: 8%;
        float: left;
    }
    .style_content {
        width: 95%;
        float: right;
    }
    .float_left_30 {
        width: 30%;
        float: left;
    }
    .right_25 {
        width: 25%;
    }
    .right_30 {
        width: 30%;
    }
    .style_time {
        background: #f70909;
        border-radius: 5px;
        padding-left: 10px;
        color: white;
        font-weight: bold !important;
        padding-right: 10px;
    }
    style_time_status {
        padding-left: 10px;
        font-weight: bold;
    }
    .font_size_7 {
        font-size: 7px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title text-limit" id="modal-title"> {{'Theo dõi luồng' | translate}}</span>
</div>
<div class="modal-body userFormAreaHeader form-horizontal" style="height:650px;">
    <div class="portlet-body form">
        <div class="col-md-12 pt25 pr20 pl30" style="">
            <div class="col-md-12">
                <div class="row ml-0 mr-0" ng-repeat="x in lstAct">
                    <div class="form-group mr-0 ml-0" style="margin-bottom:0px !important; ">
                        <div class="style_icon">
                            <label class="node text-center check" ng-if="!x.IsLock">{{x.Level}}</label>
                            <label class="node text-center waitting" ng-if="x.IsLock">{{x.Level}}</label>
                        </div>
                        <div class="form-group style_content pt5">
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;{{'Hoạt động' | translate}}: {{x.ActInstName}}</label>
                            </div>
                            <div class="row">
                                <label class="float_left_30 bold text_check" ng-if="!x.IsLock"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'Trạng thái' | translate}}: {{x.Status}}</label>
                                <label class="float_left_30 bold " ng-if="x.IsLock"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'Trạng thái' | translate}}: {{x.Status}}</label>
                            </div>
                            <div class="row">
                                <label class="bold green-custom br4" ng-if="!x.IsLock">{{'Thời gian'|translate}}: &nbsp;{{x.Duration}} &nbsp;{{x.Unit}}</label>
                                <label class=" style_time bold" ng-if="x.IsLock">{{'Thời gian'|translate}}: &nbsp;{{x.Duration}} &nbsp;{{x.Unit}}</label>
                            </div>
                            <label class="bold" style="margin-left: -2%; margin-bottom: 0px;" ng-if="$index < (lstAct.length-1)">_______________________________________________________________________________________________________________________________</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
