
<style>
    /* CSS cho cột gutter */
.gutter-column {
    cursor: col-resize; /* Biểu tượng con trỏ cho việc kéo thả cột */
    background: #f5f5f5; /* Màu nền của cột gutter */
    border-left: 1px solid #ddd; /* Đường viền trái của cột gutter */
    border-right: 1px solid #ddd; /* Đường viền phải của cột gutter */
    width: 10px; /* Độ rộng mặc định của cột gutter */
}

    .pos .ui-select-bootstrap .ui-select-toggle {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        padding-left: 5px !important
    }


    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #user .tags {
        max-height: 200px;
        height: 140px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        max-height: 100px;
        height: 100px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
        overflow: auto
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    #box-documentType .tags {
        max-height: 200px;
        height: 140px;
    }

    #documentType .tags {
        max-height: 90px;
        height: 90px;
    }

    #box .file-body {
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    #tblFileRequest tbody tr td {
        max-width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (min-width:768px) and (max-width:1200px) {
        .modal-70 {
            width: 80% !important;
        }
    }

    @media (min-width:1200px) and (max-width:1500px) {
        .modal-70 {
            width: 70% !important;
        }
    }

    .userFormAreaHeader {
        border-radius: 4px !important;
        border: 0px solid #e7ecf1 !important;
        box-shadow: 0 2px 3px 2px rgb(0 0 0 / 3%) !important;
        padding-top: 5px;
        margin-bottom: 5px;
        background: none;
    }
    .ui-resizable-handle{
        border-right: 1px solid silver;
    }
</style>

<div class="modal-header white-custom">
    

    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'QUẢN LÍ CHI PHÍ DỊCH VỤ' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="col-md-12">
        <div class="col-md-2">
            <label class="fw600 text-underline">{{'SCP_CURD_LBL_SEFFECTIVE_DATE' | translate}}</label>
            <!-- <div class="input-group">
                <div class="input-group date br10">
                    <input ng-model="model.BeginTime" id="BeginTime" autocomplete="off" class="form-control" type="text" placeholder="{{'SCP_CURD_LBL_SEFFECTIVE_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.BeginTime=''" class="btn btn-default no-shadow start-date">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </span>
                </div>
            </div> -->
            <div class='input-group br24 date'>
                <input type='text' class="form-control input-date" autocomplete="off"
                    style="height: 33px;" ng-model="model.BeginTime" id="BeginTime" 
                    placeholder="{{'SCP_CURD_LBL_SEFFECTIVE_DATE' | translate}}..." 
                    ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.BeginTime=''" class="btn btn-default no-shadow start-date">
                        <span class="fa fa-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label class="fw600 text-underline">{{'SCP_CURD_LBL_SEXPIRY_DATE' | translate}}</label>
            <!-- <div class="input-group br10">
                <div class='input-group date'>
                    <input ng-model="model.EndTime" id="EndTime" autocomplete="off" class="form-control" type="text" placeholder="{{'SCP_CURD_LBL_SEXPIRY_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.EndTime=''" class="btn btn-default no-shadow start-date">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </span>
                </div>
            </div> -->
            <div class='input-group br24 date'>
                <input type='text' class="form-control input-date" autocomplete="off"
                    style="height: 33px;" ng-model="model.EndTime" id="EndTime" 
                    placeholder="{{'SCP_CURD_LBL_SEXPIRY_DATE' | translate}}..." 
                    ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.EndTime=''" class="btn btn-default no-shadow start-date">
                        <span class="fa fa-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="fw600 text-underline">{{'SCP_LBL_CUS_TYPE' | translate}}</label>
            <!-- <div class="input-group search-group br10">
                <ui-select tagging ng-model="model.OrganizationCode" theme="bootstrap" on-select="setIsOrganization()">
                    <ui-select-match placeholder="{{'SCP_LBL_CUS_TYPE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listOrganization | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.OrganizationCode='';" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div> -->
            <div class="input-group br24">
                <ui-select tagging ng-model="model.OrganizationCode" theme="bootstrap" on-select="setIsOrganization()">
                    <ui-select-match placeholder="{{'SCP_LBL_CUS_TYPE' | translate}}">{{$select.selected.Name | translate}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listOrganization | filter: $select.search">
                        {{x.Name | translate}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.OrganizationCode='';" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-4" ng-if="isOrganization">
            <label class="fw600 text-underline">{{'SCP_LBL_CUS_NAME' | translate}}</label>
            <!-- <div class="input-group search-group br10">
                <ui-select ng-model="model.ObjectCode" theme="bootstrap">
                    <ui-select-match placeholder="{{'SCP_LBL_CUS_NAME' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listServiceUser | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ObjectCode='';" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div> -->
            <div class="input-group br24">
                <ui-select tagging ng-model="model.ObjectCode" theme="bootstrap">
                    <ui-select-match placeholder="{{'SCP_LBL_CUS_NAME' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listServiceUser | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ObjectCode='';" class="btn btn-default no-shadow" style="">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-3" ng-if="!isOrganization">
            <label class="fw600 text-underline">{{'SCP_LBL_NAME' | translate}}</label>
            <!-- <div class="input-group search-group br10">
                <ui-select ng-model="model.ObjectCode" theme="bootstrap">
                    <ui-select-match placeholder="{{'SCP_LBL_NAME' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listServiceEmployee | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ObjectCode='';" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div> -->
            <div class="input-group br24">
                <ui-select tagging ng-model="model.ObjectCode" theme="bootstrap">
                    <ui-select-match placeholder="{{'SCP_LBL_CUS_NAME' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listServiceEmployee | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ObjectCode='';" class="btn btn-default no-shadow" style="">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>

    </div>

    <div class="col-md-12 mb10">
        <div class="form-group">
            <div class="col-md-4">
                <label class="fw600 text-underline ">{{'SCG_COL_PAYMENT_STATUS' | translate}}</label>
                <!-- <div class="input-group search-group br10">
                    <ui-select tagging ng-model="model.PaymentStatus" theme="bootstrap">
                        <ui-select-match placeholder="{{'SCG_COL_PAYMENT_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Name as x in listPaymentStatus | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.PaymentStatus='';" class="btn btn-default no-shadow end-date">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div> -->
                <div class="input-group br24">
                    <ui-select tagging ng-model="model.PaymentStatus" theme="bootstrap">
                        <ui-select-match placeholder="{{'SCG_COL_PAYMENT_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Name as x in listPaymentStatus | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.PaymentStatus='';" class="btn btn-default no-shadow" style="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="btn-group actions pull-right d-flex pt15"  style="margin-right: 105px;">
                <div class="text-center pr10">
                    <a ng-click="add()" class="fs30">
                        <span><i class="fas fa-plus" class="fs30"></i></span>
                    </a>
                    <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                </div>
            </div>
            <div class="btn-group actions pull-right d-flex pt15 " style="margin-right: 0px;">
                <div class="text-center pr10">
                    <a ng-click="exportToPdf()" class="fs30">
                        <span><i class="fa-solid fa-file-pdf" class="fs30"></i></span>
                    </a>
                    <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                </div>
            </div>
            <div class="btn-group actions pull-left d-flex pt15">
                <div class="text-center pr10">
                    <a ng-click="search()" class="fs30">
                        <span><i class="fas fa-search"></i></span>
                    </a>
                    <!--<p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData">
</table>
<script>
    setTimeout(function () {
        let isDown = false;
        let startX;
        let scrollLeft;

        $('.table-scrollable').mousedown(function (e) {
            isDown = true;
            startX = e.pageX - $('.table-scrollable').offset().left;
            scrollLeft = $('.table-scrollable').scrollLeft();
        });
        $('.table-scrollable').mouseleave(function () {
            isDown = false;
        });
        $('.table-scrollable').mouseup(function () {
            isDown = false;
        });
        $('.table-scrollable').mousemove(function (e) {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - $('.table-scrollable').offset().left;
            const walk = (x - startX) * 1; //scroll-fast
            $('.table-scrollable').scrollLeft(scrollLeft - walk);
            console.log(walk);
        });
    }, 1000);

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" onload="jsPDFLoaded()"></script>